Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update mobile-enable-maps.md
  ce/field-service/mobile-enable-maps.md
Owners: @shellyhaverkamp

Update mobile-upgrade-project.md
  ce/field-service/mobile-upgrade-project.md
Owners: @shellyhaverkamp

Update mobile-push-notifications.md
  ce/field-service/mobile-push-notifications.md
Owners: @shellyhaverkamp

Update field-service-mobile-intune.md
  ce/field-service/field-service-mobile-intune.md
Owners: @shellyhaverkamp

Update geofencing.md
  ce/field-service/geofencing.md
Owners: @shellyhaverkamp

Update mobile-deeplink.md
  ce/field-service/mobile-deeplink.md
Owners: @shellyhaverkamp

Update mobile-workflow-to-flow.md
  ce/field-service/mobile-workflow-to-flow.md
Owners: @shellyhaverkamp

Category: Release feature Workitem: https://dev.azure.com/dynamicscrm/OneCRM/_workitems/edit/2541217 Description: TW of enhancements in diagnostics for unified routing
  ce/customer-service/media/agent-assignment-trace.png
  ce/customer-service/unified-routing-diagnostics.md
Owners: @shubhadaj

Interim
  ce/customer-service/unified-routing-diagnostics.md
Owners: @shubhadaj

RELEASE NOTES UPDATES
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

RELEASE NOTES UPDATES FOR URS
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Update urs-bug-fixes.md
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Add files via upload
  ce/field-service/media/field-service-guides-integration-over.png
Owners: @shellyhaverkamp

Update mixed-reality-guides-integration.md
  ce/field-service/mixed-reality-guides-integration.md
Owners: @shellyhaverkamp

Update mixed-reality-guides-integration.md
  ce/field-service/mixed-reality-guides-integration.md
Owners: @shellyhaverkamp

Update mobile-powerapp-booking-maps.md
  ce/field-service/mobile-powerapp-booking-maps.md
Owners: @shellyhaverkamp

Add files via upload
  ce/field-service/media/EnableBookingMaps.png
Owners: @shellyhaverkamp

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update queue-entities.md
  ce/customerengagement/on-premises/developer/queue-entities.md
Owners: none

Updated the note
  ce/sales/work-predictive-opportunity-scoring.md
Owners: none

Made minor updates
  ce/sales/work-predictive-opportunity-scoring.md
Owners: none

Minor updates
  ce/sales/work-predictive-opportunity-scoring.md
Owners: none

Updated screenshots
  ce/sales/add-additional-filters.md
  ce/sales/media/forecast-hierarchy.png
  ce/sales/media/hierarchy-filters-preview.png
Owners: none

Reverted changes to existing content
  ce/sales/add-additional-filters.md
Owners: none

Edits
  ce/customer-service/csw-search-knowledge-articles.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

Update teams-use-suggested-contacts.md
  ce/customer-service/teams-use-suggested-contacts.md
Owners: @shubhadaj

Update teams-use-suggested-contacts.md
  ce/customer-service/teams-use-suggested-contacts.md
Owners: @shubhadaj

moving the file from shared to includes folder
  ce/includes/share-feedback.md
Owners: none

Additional tw
  ce/customer-service/media/routing-diagnostics-summary.png
  ce/customer-service/unified-routing-diagnostics.md
Owners: @shubhadaj

content improve
  ce/sales/deprecations-sales.md
  ce/sales/troubleshooting.md
Owners: none

Edits for quality
  ce/customer-service/media/routing-diagnostics-summary.png
  ce/customer-service/unified-routing-diagnostics.md
Owners: @shubhadaj

Interim
  ce/customer-service/unified-routing-diagnostics.md
Owners: @shubhadaj

Removed incorrect files
  ce/customer-service/share-feedback.md
  ce/shared/feedback/media/feedback-page.png
  ce/shared/feedback/media/submit-feedback.png
  ce/shared/feedback/share-feedback.md
Owners: @shubhadaj

Deleted unnecessary files from media folder
  ce/customer-service/cs-share-feedback
  ce/customer-service/media/feedback-page.png
  ce/customer-service/media/submit-feedback.png
Owners: @shubhadaj

Fixed grammatical/spelling to be inline with acrolinx suggestions
  ce/customerengagement/on-premises/developer/queue-entities.md
Owners: none

Added preview disclaimer
  ce/sales/intro-saleshub.md
Owners: none

Added more content
  ce/sales/intro-saleshub.md
Owners: none
