Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

davetechlocator
  ce/field-service/media/technician-locator-hero.jpg
  ce/field-service/reminders-arrival-time.md
Owners: @shellyhaverkamp

Update windows-mobile-app.md
  ce/mobile-app/windows-mobile-app.md
Owners: @mduelae, @KumarVivek

davetechlocator
  ce/field-service/media/new-edit-portal.jpg
  ce/field-service/media/portaleditor_exp.jpg
  ce/field-service/media/recurrance-flow.jpg
  ce/field-service/reminders-arrival-time.md
Owners: @shellyhaverkamp

Add files via upload
  ce/mobile-app/sign-in.md
Owners: @mduelae, @KumarVivek

Update windows-mobile-app.md
  ce/mobile-app/windows-mobile-app.md
Owners: @mduelae, @KumarVivek

Delete sign-in.md
  ce/mobile-app/sign-in.md
Owners: @mduelae, @KumarVivek

daveTechLocator
  ce/field-service/media/technician-locator-mobile-cancel.jpg
  ce/field-service/media/technician-locator-mobile-complete.jpg
  ce/field-service/media/technician-locator-mobile-en-route.jpg
  ce/field-service/media/technician-locator-mobile-scheduled.jpg
  ce/field-service/reminders-arrival-time.md
Owners: @shellyhaverkamp

Update windows-mobile-app.md
  ce/mobile-app/windows-mobile-app.md
Owners: @mduelae, @KumarVivek

Update windows-mobile-app.md
  ce/mobile-app/windows-mobile-app.md
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/mobile-app/media/add-new-record-15.png
  ce/mobile-app/media/add-record-button.png
  ce/mobile-app/media/add-to-pinned-button.png
  ce/mobile-app/media/choose-your-app-3.png
  ce/mobile-app/media/d365winodsapp-9.png
  ce/mobile-app/media/download-offline-updates-18.png
  ce/mobile-app/media/enter-email-address-2.png
  ce/mobile-app/media/go-back-to-appspage-7.png
  ce/mobile-app/media/later-download-offline-updates-21.png
  ce/mobile-app/media/nonprod-4.png
  ce/mobile-app/media/offline-mode-turn-off-24.png
  ce/mobile-app/media/offline-notification-19.png
  ce/mobile-app/media/offline-updates-wifibutton-20.png
  ce/mobile-app/media/offlinemode-notification-23.png
  ce/mobile-app/media/pinned-button.png
  ce/mobile-app/media/recent-items-icon.png
  ce/mobile-app/media/reconfigure-25.png
  ce/mobile-app/media/remove-from-pinned-12.png
  ce/mobile-app/media/save-new-record-16.png
  ce/mobile-app/media/scannerbutton.png
  ce/mobile-app/media/select-view-13.png
  ce/mobile-app/media/select-view-14.png
  ce/mobile-app/media/show-nonprod-apps-5.png
  ce/mobile-app/media/sign-out-8.png
  ce/mobile-app/media/toggle-on-6.png
  ce/mobile-app/media/workoffline-legend-22.png
  ce/mobile-app/media/wp-edit-record-17.png
  ce/mobile-app/media/wp-pinned-records-11.png
  ce/mobile-app/media/wp-record-set-nav-button.png
  ce/mobile-app/media/wp_sitemap-10.png
  ce/mobile-app/media/wpsignin-1.png
Owners: @mduelae, @KumarVivek

Update windows-mobile-app.md
  ce/mobile-app/windows-mobile-app.md
Owners: @mduelae, @KumarVivek

Update email-troubleshooting.md
  ce/marketing/email-troubleshooting.md
Owners: @shellyhaverkamp

Update TOC.md
  ce/mobile-app/TOC.md
Owners: @mduelae, @KumarVivek

Update reminders-arrival-time.md
  ce/field-service/reminders-arrival-time.md
Owners: @shellyhaverkamp

commit
  ce/customer-service/add-chat-widget.md
  ce/customer-service/persistent-chat.md
Owners: @shubhadaj

update
  ce/customer-service/persistent-chat.md
Owners: @shubhadaj

ADO 2146385
  .openpublishing.redirection.json
Owners: none

date update
  ce/sales-enterprise/ts-email.md
Owners: @shubhadaj

Update ts-email.md
  ce/sales-enterprise/ts-email.md
Owners: @shubhadaj

commit
  ce/unified-service-desk/media/advanced-find-icon.PNG
  ce/unified-service-desk/oc-usd/customer-summary.md
Owners: @shubhadaj

commit
  ce/unified-service-desk/oc-usd/customer-summary.md
Owners: @shubhadaj

SP added
  ce/linkedin/add-sales-navigator-controls-forms.md
  ce/linkedin/faqs-linkedin.md
  ce/linkedin/integrate-sales-navigator.md
  ce/linkedin/sync-linkedin-leads.md
Owners: @shellyhaverkamp

master
  ce/mobile-app/setup-mobile-offline-for-admin.md
  ce/mobile-app/work-in-offline-mode.md
Owners: @mduelae, @KumarVivek

commit
  ce/app-profile-manager/app-profile-manager.md
Owners: none

commit
  ce/customer-service/proactive-chat.md
Owners: @shubhadaj

commit
  ce/app-profile-manager/app-profile-manager.md
Owners: none

Update TOC.md
  ce/sales-enterprise/TOC.md
Owners: @shubhadaj

Included review comments
  ce/customer-service/add-chat-widget.md
  ce/customer-service/oc-manage-sessions.md
  ce/customer-service/persistent-chat.md
Owners: @shubhadaj

Update csw-enable-ai-suggested-cases-knowledge-articles.md
  ce/customer-service/csw-enable-ai-suggested-cases-knowledge-articles.md
Owners: @shubhadaj

Update windows-mobile-app.md
  ce/mobile-app/windows-mobile-app.md
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/mobile-app/media/more-settings-button.png
Owners: @mduelae, @KumarVivek

Update windows-mobile-app.md
  ce/mobile-app/windows-mobile-app.md
Owners: @mduelae, @KumarVivek

Update windows-mobile-app.md
  ce/mobile-app/windows-mobile-app.md
Owners: @mduelae, @KumarVivek

Update windows-mobile-app.md
  ce/mobile-app/windows-mobile-app.md
Owners: @mduelae, @KumarVivek

daveSyncConflictsFinal
  ce/field-service/media/mobile-powerapp-sync-conflict-navigate.png
  ce/field-service/media/mobile-powerapp-sync-conflict.png
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

edits
  ce/field-service/TOC.md
  ce/field-service/mobile-powerapp-reporting.md
Owners: @shellyhaverkamp

Update mobile-powerapp-reporting.md
  ce/field-service/mobile-powerapp-reporting.md
Owners: @shellyhaverkamp

fixing links
  ce/field-service/mobile-powerapp-reporting.md
Owners: @shellyhaverkamp

Update mobile-powerapp-reporting.md
  ce/field-service/mobile-powerapp-reporting.md
Owners: @shellyhaverkamp

Update TOC.md
  ce/field-service/TOC.md
Owners: @shellyhaverkamp
