Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update view-understand-data-through-drill-down.md
  ce/sales-enterprise/view-understand-data-through-drill-down.md
Owners: @shubhadaj

general layout update
  ce/marketing/create-deploy-marketing-pages.md
  ce/marketing/media/marketing-pages-general-layout2.png
Owners: @shellyhaverkamp

early access update
  ce/marketing/customer-journey.md
  ce/marketing/marketing-forms.md
  ce/marketing/toc.md
Owners: @shellyhaverkamp

Update view-understand-data-through-drill-down.md
  ce/sales-enterprise/view-understand-data-through-drill-down.md
Owners: @shubhadaj

Update view-understand-data-through-drill-down.md
  ce/sales-enterprise/view-understand-data-through-drill-down.md
Owners: @shubhadaj

Do not update
  ce/marketing/entity-mapping.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

date update
  ce/portals/create-theme.md
Owners: @shubhadaj

Create getFormContext.md
  ce/sales-enterprise/developer/reference/custom-actions/getFormContext.md
Owners: @shubhadaj

Update TOC.md
  ce/sales-enterprise/TOC.md
Owners: @shubhadaj

Update migration.md
  ce/mobile-app/migration.md
Owners: @mduelae, @KumarVivek

Update migration.md
  ce/mobile-app/migration.md
Owners: @mduelae, @KumarVivek

Update migration.md
  ce/mobile-app/migration.md
Owners: @mduelae, @KumarVivek

Update migration.md
  ce/mobile-app/migration.md
Owners: @mduelae, @KumarVivek

Update configure-manage-drill-downs.md
  ce/sales-enterprise/configure-manage-drill-downs.md
Owners: @shubhadaj

Update configure-manage-drill-downs.md
  ce/sales-enterprise/configure-manage-drill-downs.md
Owners: @shubhadaj

Update mobile-faq.md
  ce/field-service/mobile-faq.md
Owners: @shellyhaverkamp

Update configure-manage-drill-downs.md
  ce/sales-enterprise/configure-manage-drill-downs.md
Owners: @shubhadaj

Update configure-manage-drill-downs.md
  ce/sales-enterprise/configure-manage-drill-downs.md
Owners: @shubhadaj

Update deploy-dynamics-365-app-for-outlook.md
  ce/outlook-app/deploy-dynamics-365-app-for-outlook.md
Owners: @mduelae, @KumarVivek

Update faq.md
  ce/outlook-app/faq.md
Owners: @mduelae, @KumarVivek

Update view-understand-data-through-drill-down.md
  ce/sales-enterprise/view-understand-data-through-drill-down.md
Owners: @shubhadaj

Update TOC.md
  ce/sales-enterprise/TOC.md
Owners: @shubhadaj

RELEASE NOTES: Added S1 and S6 SPL
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update TOC.md
  ce/sales-enterprise/TOC.md
Owners: @shubhadaj

updating TOC
  ce/sales-enterprise/TOC.md
  ce/sales-enterprise/developer/reference/custom-actions/context.md
Owners: @shubhadaj

Update TOC.md
  ce/sales-enterprise/TOC.md
Owners: @shubhadaj

Update faqs-sales.md
  ce/sales-enterprise/faqs-sales.md
Owners: @shubhadaj

copy edits
  ce/sales-enterprise/TOC.md
  ce/sales-enterprise/activate-upload-simple-columns-data-forecast.md
  ce/sales-enterprise/add-additional-filters.md
  ce/sales-enterprise/configure-forecast.md
  ce/sales-enterprise/configure-manage-drill-downs.md
  ce/sales-enterprise/view-understand-data-through-drill-down.md
Owners: @shubhadaj

Update activate-upload-simple-columns-data-forecast.md
  ce/sales-enterprise/activate-upload-simple-columns-data-forecast.md
Owners: @shubhadaj

Update add-additional-filters.md
  ce/sales-enterprise/add-additional-filters.md
Owners: @shubhadaj

Update configure-forecast.md
  ce/sales-enterprise/configure-forecast.md
Owners: @shubhadaj

Update configure-manage-drill-downs.md
  ce/sales-enterprise/configure-manage-drill-downs.md
Owners: @shubhadaj

Update view-understand-data-through-drill-down.md
  ce/sales-enterprise/view-understand-data-through-drill-down.md
Owners: @shubhadaj

Update activate-upload-simple-columns-data-forecast.md
  ce/sales-enterprise/activate-upload-simple-columns-data-forecast.md
Owners: @shubhadaj

Update add-additional-filters.md
  ce/sales-enterprise/add-additional-filters.md
Owners: @shubhadaj

Update configure-forecast.md
  ce/sales-enterprise/configure-forecast.md
Owners: @shubhadaj

Update configure-manage-drill-downs.md
  ce/sales-enterprise/configure-manage-drill-downs.md
Owners: @shubhadaj

Update view-understand-data-through-drill-down.md
  ce/sales-enterprise/view-understand-data-through-drill-down.md
Owners: @shubhadaj

Update add-additional-filters.md
  ce/sales-enterprise/add-additional-filters.md
Owners: @shubhadaj

Update configure-forecast.md
  ce/sales-enterprise/configure-forecast.md
Owners: @shubhadaj
