Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Fixed warning
  ce/customer-service/voice-channel-install.md
Owners: @shubhadaj

Update field-service-customize-scripts.md
  ce/field-service/field-service-customize-scripts.md
Owners: @shellyhaverkamp

edits
  ce/field-service/field-service-customize-columns-fields.md
  ce/field-service/field-service-customize-scripts.md
Owners: @shellyhaverkamp

Category: New content Workitem: https://dev.azure.com/dynamicscrm/OneCRM/_workitems/edit/2507150/ Description: Added navigation information for Customer Service admin center
  ce/customer-service/Configure-sms-channel-twilio.md
  ce/customer-service/add-web-resource-real-time-translation.md
  ce/customer-service/average-wait-time.md
  ce/customer-service/channels.md
  ce/customer-service/community-create-websites.md
  ce/customer-service/configure-custom-channel.md
  ce/customer-service/configure-facebook-channel.md
  ce/customer-service/configure-microsoft-teams.md
  ce/customer-service/configure-post-conversation-survey.md
  ce/customer-service/configure-pre-chat-survey.md
  ce/customer-service/configure-reconnect-chat.md
  ce/customer-service/configure-sms-channel-acs.md
  ce/customer-service/configure-sms-channel.md
  ce/customer-service/configure-twitter-channel.md
  ce/customer-service/configure-wechat-channel.md
  ce/customer-service/configure-work-classification.md
  ce/customer-service/create-message-templates.md
  ce/customer-service/create-quick-replies.md
  ce/customer-service/data-masking-settings.md
  ce/customer-service/define-status-reason-transitions-case-management.md
  ce/customer-service/download-email-chat-transcripts.md
  ce/customer-service/embed-chat-widget-portal.md
  ce/customer-service/enable-formatted-messages.md
  ce/customer-service/enable-personal-quick-replies.md
  ce/customer-service/extend-omnichannel.md
  ce/customer-service/manage-skills.md
  ce/customer-service/overview-unified-routing.md
  ce/customer-service/persistent-chat.md
  ce/customer-service/presence-custom-presence.md
  ce/customer-service/proactive-chat.md
  ce/customer-service/setup-skills-assign-agents.md
  ce/customer-service/update-resolved-canceled-cases.md
  ce/customer-service/voice-channel-azure-bot-service.md
  ce/customer-service/voice-channel-call-overflow.md
  ce/customer-service/voice-channel-configure-transcripts.md
  ce/customer-service/voice-channel-ivr-bots.md
  ce/customer-service/voice-channel-multi-language-contact-center.md
  ce/customer-service/voice-channel-outbound-calling.md
  ce/customer-service/voice-channel-survey.md
  ce/customer-service/voice-channel-usage.md
Owners: @shubhadaj

Addressed build warnings
  ce/customer-service/card-support-in-channels.md
  ce/customer-service/enable-formatted-messages.md
  ce/customer-service/setup-skills-assign-agents.md
Owners: @shubhadaj

Additional warnings fixed
  ce/customer-service/omnichannel-provision-license.md
  ce/customer-service/setup-skills-assign-agents.md
Owners: @shubhadaj

Incorporated engg feedback
  ce/sales/forecast-configure-advanced-settings.md
  ce/sales/media/forecast-default-group.png
  ce/sales/media/forecast-default-kanban.png
  ce/sales/media/forecast-default-records-view.png
  ce/sales/media/forecast-default-view.png
  ce/sales/select-default-forecast.md
Owners: none

Formatting issues
  ce/customer-service/setup-skills-assign-agents.md
Owners: @shubhadaj

More updates
  ce/sales/forecast-configure-advanced-settings.md
  ce/sales/select-default-forecast.md
  ce/sales/toc.yml
Owners: none

Rewrote steps
  ce/customer-service/setup-skills-assign-agents.md
Owners: @shubhadaj

Addressed build warnings
  ce/customer-service/configure-custom-channel.md
  ce/customer-service/configure-twitter-channel.md
  ce/customer-service/data-masking-settings.md
  ce/customer-service/voice-channel-azure-bot-service.md
Owners: @shubhadaj

Updated links
  ce/sales/forecast-configure-advanced-settings.md
Owners: none

Update configure-pre-chat-survey.md
  ce/customer-service/configure-pre-chat-survey.md
Owners: @shubhadaj

Update configure-reconnect-chat.md
  ce/customer-service/configure-reconnect-chat.md
Owners: @shubhadaj

Update configure-sms-channel.md
  ce/customer-service/configure-sms-channel.md
Owners: @shubhadaj

Update overview-unified-routing.md
  ce/customer-service/overview-unified-routing.md
Owners: @shubhadaj

Addressed formatting issues
  ce/customer-service/setup-skills-assign-agents.md
Owners: @shubhadaj

Update channels.md
  ce/customer-service/channels.md
Owners: @shubhadaj

Update overview-unified-routing.md
  ce/customer-service/overview-unified-routing.md
Owners: @shubhadaj

fixing toc
  ce/field-service/field-service-customize-columns-fields.md
  ce/field-service/field-service-customize-forms.md
  ce/field-service/field-service-customize-scripts.md
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

removing reference to forms doc
  ce/field-service/field-service-customize-columns-fields.md
Owners: @shellyhaverkamp

oops
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

Update toc.yml
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

RELEASE NOTES UPDATES
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

RELEASE NOTES
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update urs-bug-fixes.md
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Update configure-sms-channel-acs.md
  ce/customer-service/configure-sms-channel-acs.md
Owners: @shubhadaj

edit for task 12827
  ce/sales/sales-mobile/use-dictation.md
Owners: none

Update configure-sms-channel-acs.md
  ce/customer-service/configure-sms-channel-acs.md
Owners: @shubhadaj

Update voice-channel-region-availability.md
  ce/customer-service/voice-channel-region-availability.md
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/customize-entity-labels.png
Owners: @shubhadaj

Update customize-customer-summary.md
  ce/customer-service/customize-customer-summary.md
Owners: @shubhadaj

Update customize-customer-summary.md
  ce/customer-service/customize-customer-summary.md
Owners: @shubhadaj

Update customize-customer-summary.md
  ce/customer-service/customize-customer-summary.md
Owners: @shubhadaj

Delete customize-entity-labels.png
  ce/customer-service/media/customize-entity-labels.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/customize-entity-labels.png
Owners: @shubhadaj

Update customize-customer-summary.md
  ce/customer-service/customize-customer-summary.md
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/knowledge-search-analytics-dashboard.png
Owners: @shubhadaj

Update knowledge-search-analytics-cs.md
  ce/customer-service/knowledge-search-analytics-cs.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
