Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update real-time-marketing-developer-push.md
  ce/marketing/real-time-marketing-developer-push.md
Owners: @shellyhaverkamp

Update teams-webinar.md
  ce/marketing/teams-webinar.md
Owners: @shellyhaverkamp

Update teams-webinar.md
  ce/marketing/teams-webinar.md
Owners: @shellyhaverkamp

Create teams-webinar-settings.png
  ce/marketing/media/teams-webinar-settings.png
Owners: @shellyhaverkamp

RELEASE NOTES UDPATES FOR FS
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update field-service-work-hours-calendar-api.md
  ce/field-service/field-service-work-hours-calendar-api.md
Owners: @shellyhaverkamp

edit for task 12286
  ce/sales-professional/configure-email.md
Owners: none

removed preview tags from text, PNG. applied edits
  ce/unified-service-desk/admin/whats-new-unified-service-desk-administrators.md
  ce/unified-service-desk/edge-webview2-process.md
  ce/unified-service-desk/media/edge-webview2-process-hosted-control-setting-preview.PNG
  ce/unified-service-desk/media/edge-webview2-process-hosted-control-setting.PNG
  ce/unified-service-desk/what-s-new-in-unified-service-desk.md
Owners: @shubhadaj

changed entity record(s) to record; updated PNGs
  ce/customer-service/media/oc-conversation-active.PNG
  ce/customer-service/media/oc-conversation-open1.png
  ce/customer-service/media/oc-conversation-state.png
  ce/customer-service/oc-conversation-state.md
Owners: @shubhadaj

removed note; corrected "cofigured" ->"configured"
  ce/customer-service/oc-conversation-state.md
Owners: @shubhadaj

updated lang codes link, order of precedence topic
  ce/unified-service-desk/edge-webview2-process.md
Owners: @shubhadaj

Update configure-email.md
  ce/sales-professional/configure-email.md
Owners: none

updated ms.date
  ce/unified-service-desk/edge-webview2-process.md
Owners: @shubhadaj

Update dynamics-365-sales-mobile-app.md
  ce/sales-enterprise/sales-mobile/dynamics-365-sales-mobile-app.md
Owners: @shubhadaj

Update prereq-sales-mobile.md
  ce/sales-enterprise/sales-mobile/prereq-sales-mobile.md
Owners: @shubhadaj

Review feedback
  ce/customer-service/integrate-KM-with-PVA.md
Owners: @shubhadaj

For 2277850, 2269835
  ce/customer-service/define-service-level-agreements.md
  ce/customer-service/set-up-record-routing.md
Owners: @shubhadaj

Update unified-interface-playbook.md
  ce/customerengagement/on-premises/admin/unified-interface-playbook.md
Owners: none

tried unordered list for entity record table
  ce/app-profile-manager/application-tab-templates.md
Owners: none

removed breaks
  ce/app-profile-manager/application-tab-templates.md
Owners: none

Update create-edit-fields.md
  ce/customerengagement/on-premises/customize/create-edit-fields.md
Owners: none

Trial platform faqs for Beethoven
  ce/includes/trial-platform-faqs.md
Owners: none

For 2304092
  ce/customer-service/try-customer-service.md
Owners: @shubhadaj

Interim
  ce/customer-service/try-customer-service.md
Owners: @shubhadaj

Updated for style guide, language
  ce/includes/trial-platform-faqs.md
Owners: none

Added some more FAQs from template
  ce/includes/trial-platform-faqs.md
Owners: none

More edits
  ce/customer-service/try-customer-service.md
Owners: @shubhadaj

Interim
  ce/customer-service/try-customer-service.md
Owners: @shubhadaj

Interim
  ce/customer-service/try-customer-service.md
Owners: @shubhadaj

Updated topic title
  ce/customer-service/try-customer-service.md
Owners: @shubhadaj

Added toc entry
  ce/customer-service/toc.yml
Owners: @shubhadaj

2267763
  ce/customer-service/users-user-profiles.md
Owners: @shubhadaj

edited table rows
  ce/app-profile-manager/application-tab-templates.md
Owners: none

Update application-tab-templates.md
  ce/app-profile-manager/application-tab-templates.md
Owners: none

Improvements
  ce/customer-service/media/enable-unified-routing.png
  ce/customer-service/media/unified-routing-site-map.png
  ce/customer-service/set-up-record-routing.md
Owners: @shubhadaj

updated content on adaptive cards
  ce/customer-service/asynchronous-channels.md
Owners: @shubhadaj

incorporated review feedback
  ce/customer-service/csw-overview.md
Owners: @shubhadaj

Added content for 2285411
  ce/customer-service/attach-skills.md
  ce/customer-service/create-queues-oca.md
  ce/customer-service/create-workstreams-oca.md
  ce/customer-service/entity-channel.md
  ce/customer-service/multiple-ws-entity-record-routing.md
  ce/customer-service/routing-rules.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

updated content.
  ce/customer-service/asynchronous-channels.md
Owners: @shubhadaj

updated adaptive cards topic
  ce/customer-service/asynchronous-channels.md
Owners: @shubhadaj
