Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

updated
  ce/sales-enterprise/TOC.md
  ce/sales-enterprise/get-srated-sales-premium.md
  ce/sales-enterprise/overview-premium-capabilities.md
  ce/sales-enterprise/overview.md
Owners: @shubhadaj

Commit
  ce/unified-service-desk/admin/connect-dynamics-365-instance-using-unified-service-desk-client.md
Owners: @shubhadaj

Update mobile-power-app-system-offline.md
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

Update inspections-advanced.md
  ce/field-service/inspections-advanced.md
Owners: @shellyhaverkamp

Update inspections-advanced.md
  ce/field-service/inspections-advanced.md
Owners: @shellyhaverkamp

Added content for Transfer conversation
  ce/customer-service/monitor-conversations.md
Owners: @shubhadaj

Metadata changes
  ce/customer-service/monitor-conversations.md
Owners: @shubhadaj

Minor edits
  ce/customer-service/monitor-conversations.md
Owners: @shubhadaj

Fixed build errors
  ce/sales-enterprise/product-catalog-settings.md
Owners: @shubhadaj

Fixed build errors
  ce/sales-enterprise/TOC.md
  ce/sales-enterprise/add-products-enhanced-experience.md
  ce/sales-enterprise/add-products-qoi-enhanced.md
  ce/sales-enterprise/configure-product-catalog-settings.md
  ce/sales-enterprise/customize-add-products-dialog-box.md
  ce/sales-enterprise/enable-enhanced-add-product-experience.md
  ce/sales-enterprise/set-up-product-catalog-walkthrough.md
Owners: @shubhadaj

Fixed table issue
  ce/sales-enterprise/configure-product-catalog-settings.md
Owners: @shubhadaj

Update add-products-enhanced-experience.md
  ce/sales-enterprise/add-products-enhanced-experience.md
Owners: @shubhadaj

Update add-products-enhanced-experience.md
  ce/sales-enterprise/add-products-enhanced-experience.md
Owners: @shubhadaj

Update set-idle-time-threshold.md
  ce/customer-service/set-idle-time-threshold.md
Owners: @shubhadaj

Added telemetry events
  ce/customer-service/developer/reference/events/lcw-onmessagereceived.md
Owners: @shubhadaj

Adding recommended topics
  ce/docfx.json
Owners: none

Create assistant.md
  ce/outlook-app/User/assistant.md
Owners: @mduelae, @KumarVivek

Update assistant.md
  ce/outlook-app/User/assistant.md
Owners: @mduelae, @KumarVivek

Update assistant.md
  ce/outlook-app/User/assistant.md
Owners: @mduelae, @KumarVivek

Update assistant.md
  ce/outlook-app/User/assistant.md
Owners: @mduelae, @KumarVivek

Update assistant.md
  ce/outlook-app/User/assistant.md
Owners: @mduelae, @KumarVivek

Made it more generic
  ce/customerengagement/on-premises/includes/applies-not-to-9-1.md
Owners: none

Update assistant.md
  ce/outlook-app/User/assistant.md
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/assistant-menu.png
Owners: @mduelae, @KumarVivek

Update assistant.md
  ce/outlook-app/User/assistant.md
Owners: @mduelae, @KumarVivek

Update assistant.md
  ce/outlook-app/User/assistant.md
Owners: @mduelae, @KumarVivek

Delete assistant-menu.png
  ce/outlook-app/media/assistant-menu.png
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/assistant-menu.png
Owners: @mduelae, @KumarVivek

updates
  ce/outlook-app/User/assistant.md
Owners: @mduelae, @KumarVivek

Interim
  ce/customer-service/enable-skill-routing-create-rating-model.md
  ce/customer-service/intelligent-skill-model.md
  ce/customer-service/overview-unified-routing.md
Owners: @shubhadaj

Commit
  ce/customer-service/troubleshoot-omnichannel-customer-service.md
Owners: @shubhadaj

Update TOC.md
  ce/sales-enterprise/TOC.md
Owners: @shubhadaj

Fixed Toc Issue
  ce/sales-enterprise/TOC.md
Owners: @shubhadaj

Fixed broken toc link
  ce/sales-enterprise/TOC.md
Owners: @shubhadaj

Added content for security defaults
  ce/customer-service/troubleshoot-omnichannel-customer-service.md
Owners: @shubhadaj

Incorporated comments from Bharath
  ce/sales-enterprise/TOC.md
  ce/sales-enterprise/add-products-enhanced-experience.md
  ce/sales-enterprise/add-products-qoi-enhanced.md
  ce/sales-enterprise/configure-product-catalog-settings.md
  ce/sales-enterprise/customize-add-products-dialog-box.md
Owners: @shubhadaj

Formatting issues
  ce/customer-service/customer-service-hub-user-guide-merge-cases.md
Owners: @shubhadaj

For 2188998
  ce/customer-service/customer-service-hub-user-guide-merge-cases.md
Owners: @shubhadaj

Formatting changes
  ce/customer-service/customer-service-hub-user-guide-merge-cases.md
Owners: @shubhadaj

Alt text warning
  ce/customer-service/customer-service-hub-user-guide-merge-cases.md
Owners: @shubhadaj
