Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

edit for task 12346
  ce/sales-enterprise/access-deal-manager.md
  ce/sales-enterprise/customize-deal-manager.md
  ce/sales-enterprise/deal-manager-known-issues.md
  ce/sales-enterprise/deal-manager-overview.md
  ce/sales-enterprise/deal-manager-seller-overview.md
  ce/sales-enterprise/enable-deal-manager-preview.md
  ce/sales-enterprise/grant-access-deal-manager.md
  ce/sales-enterprise/personalize-deal-manager.md
  ce/sales-enterprise/toc.yml
Owners: @shubhadaj

Update real-time-marketing-known-issues.md
  ce/marketing/real-time-marketing-known-issues.md
Owners: @shellyhaverkamp

Update
  ce/marketing/media/teams-follow-up-get-started.png
  ce/marketing/teams-how-to-follow-up.md
Owners: @shellyhaverkamp

Update teams-how-to-follow-up.md
  ce/marketing/teams-how-to-follow-up.md
Owners: @shellyhaverkamp

Update teams-journey.md
  ce/marketing/teams-journey.md
Owners: @shellyhaverkamp

work stream --> workstream
  ce/customer-service/configure-sms-channel.md
Owners: @shubhadaj

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

review fixed
  ce/sales-enterprise/ts-inapp-marketing.md
Owners: @shubhadaj

Updates
  ce/sales-enterprise/sales-previews-in-trial.md
  ce/sales-enterprise/sales-trial-faq.md
  ce/sales-enterprise/sign-up-for-sales-trial.md
Owners: @shubhadaj

more updaes
  ce/sales-enterprise/sales-previews-in-trial.md
Owners: @shubhadaj

Edits
  ce/sales-enterprise/access-deal-manager.md
  ce/sales-enterprise/customize-deal-manager.md
  ce/sales-enterprise/deal-manager-known-issues.md
Owners: @shubhadaj

minor edit
  ce/sales-enterprise/sales-previews-in-trial.md
Owners: @shubhadaj

minor edit
  ce/sales-enterprise/sales-trial-faq.md
Owners: @shubhadaj

incorporated review feedback
  ce/customer-service/cs-region-availability-service-limits.md
Owners: @shubhadaj

Editorial comments
  ce/sales-enterprise/deal-manager-overview.md
  ce/sales-enterprise/deal-manager-seller-overview.md
  ce/sales-enterprise/enable-deal-manager-preview.md
  ce/sales-enterprise/media/powerapps-UI.PNG
  ce/sales-enterprise/personalize-deal-manager.md
Owners: @shubhadaj

Removed the unncessary file based on Ashutosh's feedback
  ce/customer-service/understand-omnichannel-customer-service-hub.md
Owners: @shubhadaj

Updated image size
  ce/sales-enterprise/media/appdesigner-subarea.PNG
Owners: @shubhadaj

Links
  ce/sales-enterprise/enable-deal-manager-preview.md
Owners: @shubhadaj

incorporated feedback
  ce/customer-service/integrate-KM-with-PVA.md
Owners: @shubhadaj

ADO 2365945
  .openpublishing.redirection.json
Owners: none

Interim
  ce/app-profile-manager/session-templates.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

renamed file
  ce/customer-service/modify-case-resolution-dialog.md
Owners: @shubhadaj

updated intro
  ce/sales-enterprise/sales-previews-in-trial.md
Owners: @shubhadaj

deleted history files
  .history/ce/customer-service/customer-service-hub-user-guide-modify-case-resolution-dialog_20210705105216.md
  .history/ce/customer-service/customer-service-hub-user-guide-modify-case-resolution-dialog_20210705133316.md
  .history/ce/customer-service/customer-service-hub-user-guide-modify-case-resolution-dialog_20210705134805.md
  .history/ce/customer-service/customer-service-hub-user-guide-modify-case-resolution-dialog_20210705134807.md
  .history/ce/customer-service/customer-service-hub-user-guide-modify-case-resolution-dialog_20210705134920.md
  .history/ce/customer-service/customer-service-hub-user-guide-modify-case-resolution-dialog_20210705134924.md
  .history/ce/customer-service/customer-service-hub-user-guide-modify-case-resolution-dialog_20210705134934.md
  .history/ce/customer-service/customer-service-hub-user-guide-modify-case-resolution-dialog_20210705135009.md
  .history/ce/customer-service/customer-service-hub-user-guide-modify-case-resolution-dialog_20210705135040.md
  .history/ce/customer-service/customer-service-hub-user-guide-modify-case-resolution-dialog_20210705135248.md
  .history/ce/customer-service/customer-service-hub-user-guide-modify-case-resolution-dialog_20210705135252.md
  .history/ce/customer-service/customer-service-hub-user-guide-modify-case-resolution-dialog_20210705135312.md
  .history/ce/customer-service/customer-service-hub-user-guide-modify-case-resolution-dialog_20210705135321.md
  .history/ce/customer-service/customer-service-hub-user-guide-modify-case-resolution-dialog_20210705135325.md
Owners: none

edits
  ce/customer-service/modify-case-resolution-dialog.md
Owners: @shubhadaj

updated toc
  ce/customer-service/toc.yml
Owners: @shubhadaj

Addressed warnings
  ce/customer-service/agent-dashboard-cs.md
Owners: @shubhadaj

fixed png extn
  ce/sales-enterprise/media/new-view-in-cola.png
  ce/sales-enterprise/media/sitemap-designer.png
  ce/sales-enterprise/sales-previews-in-trial.md
Owners: @shubhadaj

Update integrate-KM-with-PVA.md
  ce/customer-service/integrate-KM-with-PVA.md
Owners: @shubhadaj

added info
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

Update cs-region-availability-service-limits.md
  ce/customer-service/cs-region-availability-service-limits.md
Owners: @shubhadaj

Interim for 2285465
  ce/customer-service/configure-work-classification.md
Owners: @shubhadaj

updated content
  ce/customer-service/configure-bot-virtual-agent.md
  ce/customer-service/download-attachments-PVA-bot.md
Owners: @shubhadaj

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Redirect for mh-jaya
  .openpublishing.redirection.json
Owners: none

For bug 2357240
  ce/customer-service/agent-dashboard-cs.md
  ce/customer-service/system-requirements-omnichannel.md
Owners: @shubhadaj

Update fulfillment-pref.md
  ce/shared/urs/fulfillment-pref.md
Owners: none

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update toc.yml
  ce/marketing/toc.yml
Owners: @shellyhaverkamp
