Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

edit for task 12611
  ce/sales/linkedin-activities-sequence.md
  ce/sales/work-with-linkedin-activities.md
Owners: none

edit for task 12612
  ce/sales/view-disconnected-sequences.md
Owners: none

Delete cs-iot-central-associate-devices.png
  ce/customer-service/media/cs-iot-central-associate-devices.png
Owners: @shubhadaj

Delete cs-iot-device-page.png
  ce/customer-service/media/cs-iot-device-page.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/cs-iot-central-associate-devices.png
  ce/customer-service/media/cs-iot-device-page.png
Owners: @shubhadaj

Update cs-iot-central-associate-devices.md
  ce/customer-service/cs-iot-central-associate-devices.md
Owners: @shubhadaj

Update cs-iot-central-associate-devices.md
  ce/customer-service/cs-iot-central-associate-devices.md
Owners: @shubhadaj

Update cs-iot-central-associate-devices.md
  ce/customer-service/cs-iot-central-associate-devices.md
Owners: @shubhadaj

Update cs-iot-central-associate-devices.md
  ce/customer-service/cs-iot-central-associate-devices.md
Owners: @shubhadaj

Delete cs-iot-central-device-account.png
  ce/customer-service/media/cs-iot-central-device-account.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/cs-iot-central-device-account.png
Owners: @shubhadaj

Update quota-management.md
  ce/marketing/quota-management.md
Owners: @shellyhaverkamp

Update toc.yml
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

Update cs-iot-central-associate-devices.md
  ce/customer-service/cs-iot-central-associate-devices.md
Owners: @shubhadaj

Update cs-iot-receive-alerts.md
  ce/customer-service/cs-iot-receive-alerts.md
Owners: @shubhadaj

Delete cs-iot-central-alerts-4.png
  ce/customer-service/media/cs-iot-central-alerts-4.png
Owners: @shubhadaj

Delete cs-iot-central-alerts-5.png
  ce/customer-service/media/cs-iot-central-alerts-5.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/cs-iot-central-alerts-4.png
  ce/customer-service/media/cs-iot-central-alerts-5.png
Owners: @shubhadaj

Update cs-iot-receive-alerts.md
  ce/customer-service/cs-iot-receive-alerts.md
Owners: @shubhadaj

Update cs-iot-receive-alerts.md
  ce/customer-service/cs-iot-receive-alerts.md
Owners: @shubhadaj

Update cs-iot-central-associate-devices.md
  ce/customer-service/cs-iot-central-associate-devices.md
Owners: @shubhadaj

Update cs-iot-receive-alerts.md
  ce/customer-service/cs-iot-receive-alerts.md
Owners: @shubhadaj

Update configure-default-settings.md
  ce/field-service/configure-default-settings.md
Owners: @shellyhaverkamp

Update configure-default-settings.md
  ce/field-service/configure-default-settings.md
Owners: @shellyhaverkamp

Update configure-default-settings.md
  ce/field-service/configure-default-settings.md
Owners: @shellyhaverkamp

Update configure-default-settings.md
  ce/field-service/configure-default-settings.md
Owners: @shellyhaverkamp

Update configure-default-settings.md
  ce/field-service/configure-default-settings.md
Owners: @shellyhaverkamp

edit for task 12613
  ce/sales/configure-view-your-team-page.md
Owners: none

edit for task 12614
  ce/sales/adaptive-sequence.md
Owners: none

Update real-time-marketing-known-issues.md
  ce/marketing/real-time-marketing-known-issues.md
Owners: @shellyhaverkamp

Update teams-webinar.md
  ce/marketing/teams-webinar.md
Owners: @shellyhaverkamp

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

Edits
  ce/customer-service/configure-knowledge-search-control-productivity-pane.md
Owners: @shubhadaj

Tech review incorporation
  ce/customer-service/set-up-knowledge-management-embedded-knowledge-search.md
Owners: @shubhadaj

Update configure-view-your-team-page.md
  ce/sales/configure-view-your-team-page.md
Owners: none

Incorporated PR comments
  ce/customer-service/csw-search-knowledge-articles.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

edits
  ce/customer-service/csw-search-knowledge-articles.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Added content on filters
  ce/customer-service/integrate-KM-with-PVA.md
Owners: @shubhadaj

edits
  ce/customer-service/integrate-KM-with-PVA.md
Owners: @shubhadaj
