Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Update mobile-offline-capabilities.md
  ce/mobile-app/mobile-offline-capabilities.md
Owners: @mduelae, @KumarVivek

Update troubleshoot-field-service-solution-health.md
  ce/field-service/troubleshoot-field-service-solution-health.md
Owners: @shellyhaverkamp

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Marketing trial update
  ce/marketing/teams-how-to-follow-up.md
  ce/marketing/teams-journey.md
Owners: @shellyhaverkamp

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Expand how to install trial
  ce/marketing/media/teams-follow-up-button.png
  ce/marketing/media/teams-follow-up-get-started.png
  ce/marketing/media/teams-follow-up.png
  ce/marketing/teams-how-to-follow-up.md
  ce/marketing/teams-journey.md
Owners: @shellyhaverkamp

Update teams-journey.md
  ce/marketing/teams-journey.md
Owners: @shellyhaverkamp

Update teams-journey.md
  ce/marketing/teams-journey.md
Owners: @shellyhaverkamp

Update teams-webinar-follow-up.md
  ce/marketing/teams-webinar-follow-up.md
Owners: @shellyhaverkamp

Update teams-journey.md
  ce/marketing/teams-journey.md
Owners: @shellyhaverkamp

edits
  ce/customer-service/voice-channel-number-management.md
Owners: @shubhadaj

Additional TRI
  ce/customer-service/voice-channel-call-overflow.md
Owners: @shubhadaj

customization updates
  ce/sales-enterprise/customize-deal-manager.md
Owners: @shubhadaj

updates
  ce/customer-service/voice-channel-number-management.md
Owners: @shubhadaj

Updates to customizations note
  ce/sales-enterprise/customize-deal-manager.md
Owners: @shubhadaj

changes proposed by Erga
  ce/sales-enterprise/access-deal-manager.md
  ce/sales-enterprise/customize-deal-manager.md
  ce/sales-enterprise/deal-manager-overview.md
  ce/sales-enterprise/deal-manager-seller-overview.md
  ce/sales-enterprise/grant-access-deal-manager.md
  ce/sales-enterprise/personalize-deal-manager.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-number-management.md
  ce/customer-service/voice-channel-route-queues.md
Owners: @shubhadaj

Updated date
  ce/sales-enterprise/customize-deal-manager.md
Owners: @shubhadaj

Updates to preview features
  ce/sales-enterprise/grant-access-deal-manager.md
  ce/sales-enterprise/sales-previews-in-trial.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-agent-experience.md
  ce/customer-service/voice-channel-block-number.md
  ce/customer-service/voice-channel-number-management.md
  ce/customer-service/voice-channel-outbound-calling.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

For task 2391897
  ce/customer-service/configure-work-classification.md
  ce/customer-service/queues-omnichannel.md
Owners: @shubhadaj

for 2388963
  ce/customer-service/omnichannel-provision-license.md
  ce/customer-service/queues-omnichannel.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

Update configure-bot.md
  ce/customer-service/configure-bot.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Made ready for publish
  ce/customer-service/enable-consult.md
  ce/customer-service/oc-conversation-control.md
Owners: @shubhadaj

Revert "Merge branch 'teams-in-dynamics-lavanyakr' of https://github.com/MicrosoftDocs/dynamics-365-customer-engagement-pr into teams-in-dynamics-lavanyakr"
  ce/teams-integration/enable-teams-chat.md
Owners: none

Revert "Revert "Merge branch 'teams-in-dynamics-lavanyakr' of https://github.com/MicrosoftDocs/dynamics-365-customer-engagement-pr into teams-in-dynamics-lavanyakr""
  ce/teams-integration/enable-teams-chat.md
Owners: none

Revert "dummy commit"
  ce/sales-enterprise/add-products-enhanced-experience.md
Owners: @shubhadaj

Revert "Merge pull request #8321 from MicrosoftDocs/edit_12399"
  ce/teams-integration/enable-teams-chat.md
Owners: none

Revert "Merge branch 'teams-in-dynamics-lavanyakr' into edit_12399"
  ce/teams-integration/enable-teams-chat.md
Owners: none

Corrected minor typo
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Update toc.yml
  ce/customer-service/toc.yml
Owners: @shubhadaj

Update oc-conversation-control.md
  ce/customer-service/oc-conversation-control.md
Owners: @shubhadaj

TRI
  ce/customer-service/developer/reference/methods/setContextProvider.md
Owners: @shubhadaj

Added FAQs
  ce/teams-integration/enable-teams-chat.md
  ce/teams-integration/teams-collaboration-in-dymanics.md
  ce/teams-integration/teams-in-dynamics-faq.md
  ce/teams-integration/using-teams-chat-in-dynamics.md
Owners: none

Update voice-channel-region-availability.md
  ce/customer-service/voice-channel-region-availability.md
Owners: @shubhadaj

Further tweak
  ce/customer-service/developer/reference/methods/setContextProvider.md
Owners: @shubhadaj

Update voice-channel.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
