Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update create-and-edit-1n-relationships.md
  ce/customerengagement/on-premises/customize/create-and-edit-1n-relationships.md
Owners: none

Update create-and-edit-nn-many-to-many-relationships.md
  ce/customerengagement/on-premises/customize/create-and-edit-nn-many-to-many-relationships.md
Owners: none

Update map-entity-fields.md
  ce/customerengagement/on-premises/customize/map-entity-fields.md
Owners: none

Update set-managed-properties-relationships.md
  ce/customerengagement/on-premises/customize/set-managed-properties-relationships.md
Owners: none

Update query-visualize-hierarchical-data.md
  ce/customerengagement/on-premises/customize/query-visualize-hierarchical-data.md
Owners: none

Update integrate-external-data.md
  ce/customerengagement/on-premises/customize/integrate-external-data.md
Owners: none

Update create-edit-virtual-entities.md
  ce/customerengagement/on-premises/customize/create-edit-virtual-entities.md
Owners: none

Update virtual-entity-odata-provider-requirements.md
  ce/customerengagement/on-premises/customize/virtual-entity-odata-provider-requirements.md
Owners: none

Update virtual-entity-walkthrough-using-odata-provider.md
  ce/customerengagement/on-premises/customize/virtual-entity-walkthrough-using-odata-provider.md
Owners: none

Update virtual-entity-documentdb-provider-requirements.md
  ce/customerengagement/on-premises/customize/virtual-entity-documentdb-provider-requirements.md
Owners: none

Update define-alternate-keys-reference-records.md
  ce/customerengagement/on-premises/customize/define-alternate-keys-reference-records.md
Owners: none

Availability
  ce/marketing/real-time-marketing-ci-profile.md
  ce/marketing/real-time-marketing-install.md
  ce/marketing/real-time-marketing-known-issues.md
  ce/marketing/real-time-marketing-natural-language.md
  ce/marketing/real-time-marketing-outbound-text-messaging.md
  ce/marketing/real-time-marketing-overview.md
  ce/marketing/real-time-marketing-user-guide.yml
  ce/marketing/toc.yml
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Revert "Availability"
  ce/marketing/real-time-marketing-ci-profile.md
  ce/marketing/real-time-marketing-install.md
  ce/marketing/real-time-marketing-known-issues.md
  ce/marketing/real-time-marketing-natural-language.md
  ce/marketing/real-time-marketing-outbound-text-messaging.md
  ce/marketing/real-time-marketing-overview.md
  ce/marketing/real-time-marketing-user-guide.yml
  ce/marketing/toc.yml
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update real-time-marketing-ci-profile.md
  ce/marketing/real-time-marketing-ci-profile.md
Owners: @shellyhaverkamp

Update real-time-marketing-known-issues.md
  ce/marketing/real-time-marketing-known-issues.md
Owners: @shellyhaverkamp

Update real-time-marketing-overview.md
  ce/marketing/real-time-marketing-overview.md
Owners: @shellyhaverkamp

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update solutions-overview.md
  ce/customerengagement/on-premises/customize/solutions-overview.md
Owners: none

Update change-solution-publisher-prefix.md
  ce/customerengagement/on-premises/customize/change-solution-publisher-prefix.md
Owners: none

Authenticate troubleshoot
  ce/marketing/media/troubleshoot-domain-completed.png
  ce/marketing/media/troubleshoot-domain-envelope-from.png
  ce/marketing/media/troubleshoot-domain-whats-my-dns.png
  ce/marketing/toc.yml
  ce/marketing/troubleshoot-domain-authentication.md
Owners: @shellyhaverkamp

Update use-solutions-for-your-customizations.md
  ce/customerengagement/on-premises/customize/use-solutions-for-your-customizations.md
Owners: none

Update navigate-specific-solution.md
  ce/customerengagement/on-premises/customize/navigate-specific-solution.md
Owners: none

Update use-solution-explorer.md
  ce/customerengagement/on-premises/customize/use-solution-explorer.md
Owners: none

Update create-solution.md
  ce/customerengagement/on-premises/customize/create-solution.md
Owners: none

Update export-solution.md
  ce/customerengagement/on-premises/customize/export-solution.md
Owners: none

Update import-update-upgrade-solution.md
  ce/customerengagement/on-premises/customize/import-update-upgrade-solution.md
Owners: none

Update use-segmented-solutions-patches-simplify-updates.md
  ce/customerengagement/on-premises/customize/use-segmented-solutions-patches-simplify-updates.md
Owners: none

Update create-edit-web-resources.md
  ce/customerengagement/on-premises/customize/create-edit-web-resources.md
Owners: none

Update web-resource-properties-legacy.md
  ce/customerengagement/on-premises/customize/web-resource-properties-legacy.md
Owners: none

Update work-with-international-audience.md
  ce/customerengagement/on-premises/customize/work-with-international-audience.md
Owners: none

Update enable-additional-languages.md
  ce/customerengagement/on-premises/customize/enable-additional-languages.md
Owners: none

Update export-customized-entity-field-text-translation.md
  ce/customerengagement/on-premises/customize/export-customized-entity-field-text-translation.md
Owners: none

Update import-translated-entity-field-text.md
  ce/customerengagement/on-premises/customize/import-translated-entity-field-text.md
Owners: none

Update view-download-developer-resources.md
  ce/customerengagement/on-premises/customize/view-download-developer-resources.md
Owners: none

Update create-edit-main-forms.md
  ce/customerengagement/on-premises/customize/create-edit-main-forms.md
Owners: none

Update properties-dialog-box.md
  ce/customerengagement/on-premises/customize/properties-dialog-box.md
Owners: none

Update configure-interactive-dashboards.md
  ce/customerengagement/on-premises/customize/configure-interactive-dashboards.md
Owners: none

Update install-uninstall-app.md
  ce/customerengagement/on-premises/customize/install-uninstall-app.md
Owners: none

changed service to CSR manager
  ce/customer-service/configure-cs-historical-analytics-csh.md
Owners: @shubhadaj

chnage service to CSR manager
  ce/customer-service/enable-knowledge-search-insights.md
Owners: @shubhadaj
