Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Update real-time-marketing-install.md
  ce/marketing/real-time-marketing-install.md
Owners: @shellyhaverkamp

Update real-time-marketing-install.md
  ce/marketing/real-time-marketing-install.md
Owners: @shellyhaverkamp

Bookable resource updates
  ce/customer-service/users-user-profiles.md
Owners: @shubhadaj

Update field-service-version-history-resource-scheduling-optimization.md
  ce/field-service/field-service-version-history-resource-scheduling-optimization.md
Owners: @shellyhaverkamp

Update real-time-marketing-ci-profile.md
  ce/marketing/real-time-marketing-ci-profile.md
Owners: @shellyhaverkamp

retiring outlook-app content
  .openpublishing.redirection.json
  ce/outlook-app/toc.yml
  ce/outlook-app/v8/about-this-content.md
  ce/outlook-app/v8/deploy-dynamics-365-app-for-outlook.md
  ce/outlook-app/v8/dynamics-365-app-outlook-user-s-guide-v8.md
  ce/outlook-app/v8/whats-new-v8.md
Owners: @mduelae, @KumarVivek

Update inspections-reporting.md
  ce/field-service/inspections-reporting.md
Owners: @shellyhaverkamp

FAQ .md converted into yml
  .openpublishing.redirection.json
  ce/customerengagement/on-premises/admin/choose-records-synchronize-dynamics-365-outlook-exchange.md
  ce/customerengagement/on-premises/admin/frequently-asked-questions-synchronizing-records-dynamics-365-and-outlook.md
  ce/customerengagement/on-premises/admin/frequently-asked-questions-synchronizing-records-dynamics-365-and-outlook.yml
  ce/customerengagement/on-premises/admin/server-side-synchronization.md
  ce/customerengagement/on-premises/admin/set-personal-options-affect-tracking-synchronization-between-dynamics-365-outlook-exchange.md
  ce/customerengagement/on-premises/admin/system-settings-dialog-box-email-tab.md
  ce/customerengagement/on-premises/admin/toc.yml
  ce/customerengagement/on-premises/admin/track-outlook-email-by-moving-it-tracked-exchange-folder.md
  ce/customerengagement/on-premises/admin/troubleshoot-dynamics-365-problems.md
  ce/customerengagement/on-premises/admin/turn-duplicate-detection-rules-off-whole-organization.md
  ce/customerengagement/on-premises/admin/view-fields-synchronized-dynamics-365-outlook.md
Owners: none

correcting branding per licensing guide update
  ce/field-service/booking-lock-options.md
  ce/field-service/rso-configuration.md
  ce/field-service/rso-deployment.md
  ce/field-service/rso-faq.md
  ce/field-service/rso-get-install.md
  ce/field-service/rso-handling-resolving-booking-conflicts.md
  ce/field-service/rso-optimization-goal.md
  ce/field-service/rso-optimization-schedule.md
  ce/field-service/rso-optimization-scope.md
  ce/field-service/rso-overnight-scheduling.md
  ce/field-service/rso-overview.md
  ce/field-service/rso-predictive-travel.md
  ce/field-service/rso-proof-concept.md
  ce/field-service/rso-quickstart.md
  ce/field-service/rso-requirement-dependency.md
  ce/field-service/rso-schedule-optimization.md
  ce/field-service/rso-simulation.md
  ce/field-service/rso-single-resource-optimization.md
  ce/field-service/rso-travel-outside-working-hours.md
  ce/field-service/scheduling-analytics-reports.md
  ce/field-service/single-resource-optimization.md
Owners: @shellyhaverkamp

FAQ .md converted into yml
  ce/customerengagement/on-premises/admin/frequently-asked-questions-synchronizing-records-dynamics-365-and-outlook.yml
Owners: none

Update manage-gamification-in-dynamics-365-online.md
  ce/gamification/manage-gamification-in-dynamics-365-online.md
Owners: @shellyhaverkamp

faq converted into YML
  ce/field-service/mobile-faq-bookings-not-scheduled-to-me.md
  ce/field-service/mobile-faq-bookings-not-scheduled-to-me.yml
  ce/field-service/mobile-faq-bookings-not-showing.md
  ce/field-service/mobile-faq-bookings-not-showing.yml
  ce/field-service/mobile-faq-latest-version.md
  ce/field-service/mobile-faq-latest-version.yml
  ce/field-service/mobile-faq-sync-crash.md
  ce/field-service/mobile-faq-sync-crash.yml
  ce/field-service/mobile-faq.md
  ce/field-service/mobile-faq.yml
  ce/field-service/mobile-power-app-faq.md
  ce/field-service/mobile-power-app-faq.yml
  ce/field-service/rso-faq.md
  ce/field-service/rso-faq.yml
  ce/field-service/rso-optimization-goal.md
  ce/field-service/rso-proof-concept.md
  ce/field-service/rso-quickstart.md
  ce/field-service/toc.yml
  ce/field-service/troubleshoot-faq.md
  ce/field-service/troubleshoot-faq.yml
  ce/field-service/troubleshoot-field-service-solution-health.md
  ce/field-service/upgrade-field-service.md
  ce/marketing/deliverability-change-esp.md
  ce/marketing/toc.yml
Owners: @shellyhaverkamp

warning fixed
  ce/field-service/mobile-faq.yml
  ce/field-service/rso-overnight-scheduling.md
  ce/field-service/troubleshoot-faq.yml
  ce/marketing/toc.yml
Owners: @shellyhaverkamp

Update install-dynamics-365-report-authoring-extension.md
  ce/customerengagement/on-premises/analytics/install-dynamics-365-report-authoring-extension.md
Owners: none

Fix menu options
  ce/marketing/import-data.md
Owners: @shellyhaverkamp

edited topic for typos, removed animated gif
  ce/unified-service-desk/admin/walkthrough-configure-best-practices-analyzer.md
Owners: @shubhadaj

For 2269774
  ce/app-profile-manager/application-tab-templates.md
Owners: none

Sentence construction
  ce/app-profile-manager/application-tab-templates.md
Owners: none

Warning for Alt text DUplicate and missing fixed
  ce/field-service/booking-lock-options.md
  ce/field-service/rso-handling-resolving-booking-conflicts.md
  ce/field-service/rso-optimization-goal.md
  ce/field-service/rso-optimization-scope.md
  ce/field-service/rso-schedule-optimization.md
  ce/field-service/rso-single-resource-optimization.md
  ce/field-service/single-resource-optimization.md
  ce/field-service/upgrade-field-service.md
Owners: @shellyhaverkamp

Update download-email-chat-transcripts.md
  ce/customer-service/download-email-chat-transcripts.md
Owners: @shubhadaj

Updated contents retrieve
  ce/field-service/rso-faq.yml
Owners: @shellyhaverkamp

Update agent-display-name.md
  ce/customer-service/agent-display-name.md
Owners: @shubhadaj

Update proactive-chat.md
  ce/customer-service/proactive-chat.md
Owners: @shubhadaj

Astericks removed from H2
  ce/field-service/mobile-power-app-faq.yml
Owners: @shellyhaverkamp

Update average-wait-time.md
  ce/customer-service/average-wait-time.md
Owners: @shubhadaj

Update proactive-chat.md
  ce/customer-service/proactive-chat.md
Owners: @shubhadaj

Update add-chat-widget.md
  ce/customer-service/add-chat-widget.md
Owners: @shubhadaj

Update add-chat-widget.md
  ce/customer-service/add-chat-widget.md
Owners: @shubhadaj

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update customize-chat-widget.md
  ce/customer-service/customize-chat-widget.md
Owners: @shubhadaj

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

FAQ .md converted into yml
  ce/marketing/admin-best-practices.md
  ce/marketing/admin-guide.md
  ce/marketing/event-payment-gateway.md
  ce/marketing/get-ready-email-marketing.md
  ce/marketing/help-hub.md
  ce/marketing/install-manage-faq.md
  ce/marketing/install-manage-faq.yml
  ce/marketing/known-issues.md
  ce/marketing/mkt-settings-authenticate-domains.md
  ce/marketing/purchase-setup.md
  ce/marketing/quota-management.md
  ce/marketing/setup-troubleshooting.md
  ce/marketing/setup-troubleshooting.yml
  ce/marketing/toc.yml
  ce/marketing/troubleshoot-faq.md
Owners: @shellyhaverkamp

FAQ .md converted into yml
  ce/marketing/admin-best-practices.md
  ce/marketing/event-payment-gateway.md
  ce/marketing/setup-troubleshooting.yml
Owners: @shellyhaverkamp

Update setup-mobile-offline.md
  ce/mobile-app/setup-mobile-offline.md
Owners: @mduelae, @KumarVivek

Update setup-mobile-offline.md
  ce/mobile-app/setup-mobile-offline.md
Owners: @mduelae, @KumarVivek

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update universal-resource-scheduling-for-field-service.md
  ce/field-service/universal-resource-scheduling-for-field-service.md
Owners: @shellyhaverkamp

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
