Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update deprecate.md
  ce/voice-of-customer/deprecate.md
Owners: @shubhadaj

For Bug 2535303
  ce/customer-service/automatically-create-update-records.md
Owners: @shubhadaj

Corrected formatting
  ce/customer-service/automatically-create-update-records.md
Owners: @shubhadaj

Additional edits
  ce/customer-service/automatically-create-update-records.md
Owners: @shubhadaj

edits for task 2562426
  ce/customer-service/channel-integration-framework/faq-channel-integration-framework.md
  ce/customer-service/channel-integration-framework/reference/microsoft-ciframework.md
Owners: @shubhadaj

edit
  ce/customer-service/channel-integration-framework/faq-channel-integration-framework.md
Owners: @shubhadaj

Addressed policheck issue
  ce/customer-service/voice-channel-region-availability.md
Owners: @shubhadaj

Removed comments
  ce/customer-service/voice-channel-region-availability.md
Owners: @shubhadaj

Update toc.yml
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

Update toc.yml
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

Update toc.yml
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

updates
  ce/marketing/media/teams-webinar-meeting3.png
  ce/marketing/media/teams-webinar-meetings-settings.png
  ce/marketing/media/teams-webinar-settings.png
  ce/marketing/media/teams-webinar-webinar-settings.png
  ce/marketing/teams-webinar.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Merge related updates
  ce/sales/faqs-sales.md
  ce/sales/help-hub.yml
  ce/sales/security-roles-for-sales.md
Owners: none

Add hr to intro
  ce/sales/help-hub.yml
Owners: none

Removed HR
  ce/sales/help-hub.yml
Owners: none

removed SKUs
  ce/sales/security-roles-for-sales.md
Owners: none

Removed example
  ce/sales/security-roles-for-sales.md
Owners: none

updated paths to the links
  ce/customer-service/configure-bot-virtual-agent.md
Owners: @shubhadaj

render live chat widget topic edits
  ce/customer-service/render-live-chat-widget-mobile.md
Owners: @shubhadaj

edits
  ce/customer-service/render-live-chat-widget-mobile.md
Owners: @shubhadaj

MInor edits
  ce/customer-service/automatically-create-update-records.md
Owners: @shubhadaj

Corrected formatting issues
  ce/customer-service/automatically-create-update-records.md
Owners: @shubhadaj

wkw and call bug fixed
  ce/sales/call-using-microsoft-teams.md
  ce/sales/configure-who-knows-whom.md
  ce/sales/who-knows-whom.md
Owners: none

typo fix
  ce/sales/configure-who-knows-whom.md
Owners: none

warning fix
  ce/sales/faqs-sales-insights.md
Owners: none

Removed locale information
  ce/includes/cc-use-with-omnichannel.md
Owners: none

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

tech feedback
  ce/sales/configure-conversation-intelligence-call-data.md
  ce/sales/configure-keywords-competitors-sales-app.md
  ce/sales/configure-keywords-competitors.md
  ce/sales/configure-sales-team-level-settings.md
  ce/sales/configure-view-your-team-page-sales-app.md
  ce/sales/configure-view-your-team-page.md
  ce/sales/connect-dynamics365-sales-environment.md
  ce/sales/data-retention-deletion-policy-sales-app.md
  ce/sales/data-retention-deletion-policy.md
  ce/sales/digital-selling.md
  ce/sales/enable-preview-features-sales-app.md
  ce/sales/enable-preview-features-sales-insights-app.md
  ce/sales/fre-setup-ci-sales-app.md
  ce/sales/fre-setup-sales-insight-app.md
  ce/sales/prereq-sales-insights-app.md
Owners: none

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update dynamic-email-content.md
  ce/marketing/dynamic-email-content.md
Owners: @shellyhaverkamp

Update dynamic-email-content.md
  ce/marketing/dynamic-email-content.md
Owners: @shellyhaverkamp

Update dynamic-email-content.md
  ce/marketing/dynamic-email-content.md
Owners: @shellyhaverkamp

task 2535300
  ce/app-profile-manager/application-tab-templates.md
Owners: none

added preview tags
  ce/app-profile-manager/application-tab-templates.md
Owners: none
