Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update customize-add-products-dialog-box.md
  ce/sales-enterprise/customize-add-products-dialog-box.md
Owners: @shubhadaj

Interim commit
  ce/customer-service/developer/reference/entities/msdyn_ocliveworkitem.md
Owners: @shubhadaj

Added metadata
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

Added metadata
  ce/customer-service/smart-assist-scenario.md
Owners: @shubhadaj

updates
  ce/linkedin/install-sales-navigator.md
Owners: @shellyhaverkamp

metadata updates
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/unified-routing-work-distribution.md
Owners: @shubhadaj

Commit
  ce/customer-service/developer/reference/entities/msdyn_ocliveworkitem.md
  ce/customer-service/developer/reference/entities/msdyn_ocsession.md
Owners: @shubhadaj

Commit
  ce/customer-service/developer/reference/entities/msdyn_ocsession.md
Owners: @shubhadaj

ocsession bookmark
  ce/customer-service/developer/reference/entities/msdyn_ocsession.md
Owners: @shubhadaj

Bookmarks removed
  ce/customer-service/developer/reference/entities/msdyn_cdsentityengagementctx.md
  ce/customer-service/developer/reference/entities/msdyn_ocliveworkitemcontextitem.md
  ce/customer-service/developer/reference/entities/msdyn_ocsession.md
  ce/customer-service/developer/reference/entities/msdyn_omnichannelqueue.md
Owners: @shubhadaj

Commit
  ce/customer-service/developer/reference/entities/msdyn_ocliveworkitemcontextitem.md
Owners: @shubhadaj

Alt text corrected
  ce/customer-service/unified-routing-work-distribution.md
Owners: @shubhadaj

Update system-requirements-omnichannel.md
  ce/customer-service/system-requirements-omnichannel.md
Owners: @shubhadaj

Adding whats new for 9.1 article
  ce/customerengagement/on-premises/whats-new.md
Owners: none

TRI
  ce/customer-service/media/bot-insights.png
  ce/customer-service/omnichannel-insights-dashboard.md
Owners: @shubhadaj

Minor edits
  ce/customer-service/omnichannel-insights-dashboard.md
Owners: @shubhadaj

Create TOC.md
  ce/field-service/TOC.md
Owners: @shellyhaverkamp

Update teams-delete-data.md
  ce/teams-integration/teams-delete-data.md
Owners: none

Update omnichannel-insights-dashboard.md
  ce/customer-service/omnichannel-insights-dashboard.md
Owners: @shubhadaj

Update overview.md
  ce/marketing/overview.md
Owners: @shellyhaverkamp

REELASE NOTES - FS VERSION HISTORY UDPATES
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

restructuring
  ce/customerengagement/on-premises/deploy/TOC.md
  ce/customerengagement/on-premises/deploy/update-to-v91.md
  ce/customerengagement/on-premises/toc.yml
Owners: none

restructuring
  ce/customerengagement/on-premises/deploy/active-directory-network-requirements.md
  ce/customerengagement/on-premises/deploy/dynamics-365-report-authoring-extension-xml-config-file.md
  ce/customerengagement/on-premises/deploy/update-microsoft-dynamics-crm.md
  ce/customerengagement/on-premises/deploy/update-to-v91.md
  ce/customerengagement/on-premises/includes/applies-not-to-9-1.md
Owners: none

restructuring
  ce/customerengagement/on-premises/deploy/dynamics-365-reporting-extensions-xml-config-file.md
  ce/customerengagement/on-premises/deploy/install-dynamics-365-front-back-end-server-roles.md
  ce/customerengagement/on-premises/deploy/install-dynamics-365-reporting-extensions-command.md
  ce/customerengagement/on-premises/deploy/install-dynamics-365-server-command-prompt.md
  ce/customerengagement/on-premises/deploy/install-full-server-role-on-server.md
  ce/customerengagement/on-premises/deploy/install-microsoft-dynamics-365-reporting-extensions.md
  ce/customerengagement/on-premises/deploy/install-or-upgrade-language-packs.md
  ce/customerengagement/on-premises/deploy/install-or-upgrade-microsoft-dynamics-365-server.md
  ce/customerengagement/on-premises/deploy/install-report-authoring-extension-command-prompt.md
  ce/customerengagement/on-premises/deploy/install-using-command-prompt.md
  ce/customerengagement/on-premises/deploy/installing-on-premises-dynamics-365.md
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-server-xml-configuration-file.md
  ce/customerengagement/on-premises/deploy/plan-your-upgrade-to-microsoft-dynamics-365-server.md
  ce/customerengagement/on-premises/deploy/planning-requirements-for-sql-server-reporting-services.md
  ce/customerengagement/on-premises/deploy/sample-dynamics-365-reporting-extensions-xml-config-file.md
  ce/customerengagement/on-premises/includes/applies-not-to-9-1.md
Owners: none

Update frontline-worker-set-up.md
  ce/field-service/frontline-worker-set-up.md
Owners: @shellyhaverkamp

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Update search-knowledge-articles-csh.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

restructuring
  ce/customerengagement/on-premises/deploy/before-you-upgrade-issues-and-considerations.md
  ce/customerengagement/on-premises/deploy/sample-report-authoring-extension-xml-config-file.md
  ce/customerengagement/on-premises/deploy/sample-server-xml-config-file-pre-created-groups.md
  ce/customerengagement/on-premises/deploy/sample-server-xml-configuration-file.md
  ce/customerengagement/on-premises/deploy/sample-xml-config-webapp-organizationweb.md
  ce/customerengagement/on-premises/deploy/sample-xml-configuration-file-helpserver.md
Owners: none

Update search-knowledge-articles-csh.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Update deprecate.md
  ce/voice-of-customer/deprecate.md
Owners: @shubhadaj

daveOCVoiceGA
  ce/customer-service/TOC.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

Update search-knowledge-articles-csh.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Trial quota
  ce/marketing/toc.md
  ce/marketing/trial-signup.md
Owners: @shellyhaverkamp

Update search-knowledge-articles-csh.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Added new topic for recover edge process
  ce/unified-service-desk/admin/recover-edge-process-instance.md
Owners: @shubhadaj

TOC update for recover edge process instance
  ce/unified-service-desk/toc.yml
Owners: @shubhadaj

Commit
  ce/unified-service-desk/admin/recover-edge-process-instance.md
Owners: @shubhadaj

Replaced Edge Process to Edge WebView2 Process
  ce/unified-service-desk/admin/recover-edge-process-instance.md
Owners: @shubhadaj
