Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Update sales-trial-faq.md
  ce/sales/sales-trial-faq.md
Owners: none

outlook update
  ce/sales/enable-configure-sales-accelerator.md
  ce/sales/media/sa-enable-seller-availability.png
  ce/sales/media/sa-personal-settings-select-availability-settings-outlook.png
  ce/sales/personalize-sales-accelerator.md
Owners: none

link text update
  ce/teams-integration/enable-teams-chat.md
  ce/teams-integration/teams-collaboration-in-dynamics.md
  ce/teams-integration/using-teams-chat-in-dynamics.md
Owners: none

Update teams-chat-dynamics365-view.png
  ce/teams-integration/media/teams-chat-dynamics365-view.png
Owners: none

Updated topics for v2
  ce/sales/media/trial-get-started.png
  ce/sales/sales-trial-faq.md
Owners: none

Corrections for voice
  ce/customer-service/media/agents-insights-report.png
  ce/customer-service/toc.yml
Owners: @shubhadaj

Create query topic added
  ce/sales/customize-sales-accelerator-sellers.md
  ce/sales/enable-configure-sales-accelerator.md
  ce/sales/media/sa-personal-settings-enable-precreate-linked-activities.png
  ce/sales/personalize-sales-accelerator.md
  ce/sales/toc.yml
  ce/sales/view-disconnected-sequences.md
Owners: none

error fixed
  ce/sales/personalize-sales-accelerator.md
Owners: none

Corrected for grammar
  ce/customer-service/voice-channel-manage-phone-numbers.md
Owners: @shubhadaj

TOC entry enhanced
  ce/customer-service/toc.yml
Owners: @shubhadaj

Update copy-instance.md
  ce/admin/copy-instance.md
Owners: @jimholtz

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

Update use-teams-chat.md
  ce/customer-service/use-teams-chat.md
Owners: @shubhadaj

Update work-order-status-booking-status.md
  ce/field-service/work-order-status-booking-status.md
Owners: @shellyhaverkamp

Update use-teams-chat.md
  ce/customer-service/use-teams-chat.md
Owners: @shubhadaj

Update overview.md
  ce/marketing/overview.md
Owners: @shellyhaverkamp

Update toc.yml
  ce/marketing/toc.yml
Owners: @shellyhaverkamp

Update use-ai-suggested-contacts-teams.md
  ce/customer-service/use-ai-suggested-contacts-teams.md
Owners: @shubhadaj

Update configure-teams-collaboration.md
  ce/customer-service/configure-teams-collaboration.md
Owners: @shubhadaj

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

Delete teams-chat-more-commands.PNG
  ce/customer-service/media/teams-chat-more-commands.PNG
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/teams-chat-more-commands.png
Owners: @shubhadaj

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

Update steps
  ce/marketing/media/teams-webinar-check-in-element.png
  ce/marketing/media/teams-webinar-check-in-options.png
  ce/marketing/media/teams-webinar-event-or-session.png
  ce/marketing/media/teams-webinar-join-in-teams.png
  ce/marketing/teams-webinar.md
Owners: @shellyhaverkamp

Update work-order-status-booking-status.md
  ce/field-service/work-order-status-booking-status.md
Owners: @shellyhaverkamp

Update work-order-status-booking-status.md
  ce/field-service/work-order-status-booking-status.md
Owners: @shellyhaverkamp

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

Trial
  ce/marketing/teams-journey.md
  ce/marketing/troubleshoot-faq.md
Owners: @shellyhaverkamp

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

Delete teams-chat-more-commands.png
  ce/customer-service/media/teams-chat-more-commands.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/teams-chat-more-commands.png
Owners: @shubhadaj

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

Update use-teams-chat.md
  ce/customer-service/use-teams-chat.md
Owners: @shubhadaj

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/teams-start-linked-chat.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/teams-embedded-chat.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/teams-link-chat.png
  ce/customer-service/media/teams-unlink-chat.png
Owners: @shubhadaj

Update use-teams-chat.md
  ce/customer-service/use-teams-chat.md
Owners: @shubhadaj

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
