Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

TW skill finder model
  ce/customer-service/TOC.md
  ce/customer-service/add-chat-widget.md
  ce/customer-service/create-workstreams.md
  ce/customer-service/enable-skill-routing-create-rating-model.md
  ce/customer-service/intelligent-skill-model.md
  ce/customer-service/media/ur-skill-model.png
  ce/customer-service/overview-unified-routing.md
  ce/customer-service/set-up-routing-process.md
Owners: @shubhadaj

Correction
  ce/customer-service/TOC.md
Owners: @shubhadaj

Capacity profile
  ce/customer-service/TOC.md
  ce/customer-service/capacity-profiles.md
  ce/customer-service/routing-workstream-queues.md
Owners: @shubhadaj

email-update
  ce/marketing/email-design.md
  ce/marketing/known-issues.md
  ce/marketing/media/email-edit-header-fields.png
  ce/marketing/media/email-edit-header-fields3.png
  ce/marketing/media/email-edit-subject.png
  ce/marketing/media/email-edit-subject2.png
  ce/marketing/media/email-header-settings.png
  ce/marketing/media/email-template-dialog.png
  ce/marketing/media/email-template-dialog2.png
  ce/marketing/media/html-button2.png
  ce/marketing/media/new-email-button-location.png
  ce/marketing/media/new-email-button-location4.png
  ce/marketing/media/personalization-button.png
Owners: @shellyhaverkamp

edit for task 2216986
  ce/sales-enterprise/add-products-enhanced-experience.md
  ce/sales-enterprise/add-products-qoi-enhanced.md
  ce/sales-enterprise/configure-product-catalog-settings.md
  ce/sales-enterprise/customize-add-products-dialog-box.md
  ce/sales-enterprise/enable-enhanced-add-product-experience.md
Owners: @shubhadaj

Update email-templates.md
  ce/marketing/email-templates.md
Owners: @shellyhaverkamp

Add files via upload
  ce/field-service/media/all_flws.PNG
  ce/field-service/media/bookable_resource_form.PNG
  ce/field-service/media/br_form_edit_permissions.PNG
  ce/field-service/media/br_form_permissions.PNG
  ce/field-service/media/getstarted.png
  ce/field-service/media/getstarted_setup.png
  ce/field-service/media/setup_form.PNG
  ce/field-service/media/setup_form__new_characteristics.PNG
  ce/field-service/media/setup_form_add_users.png
  ce/field-service/media/setup_form_characteristics.PNG
  ce/field-service/media/setup_form_fs_profile.PNG
  ce/field-service/media/setup_form_mop.PNG
  ce/field-service/media/setup_form_security_roles.png
  ce/field-service/media/setup_form_territories.PNG
  ce/field-service/media/setup_form_view_all.PNG
Owners: @shellyhaverkamp

Update frontline-worker-set-up.md
  ce/field-service/frontline-worker-set-up.md
Owners: @shellyhaverkamp

Add files via upload
  ce/field-service/media/setup_form_unable_to_send_email.PNG
Owners: @shellyhaverkamp

Update auto update travel time notes
  ce/shared/urs/schedule-travel-time.md
Owners: none

Update frontline-worker-set-up.md
  ce/field-service/frontline-worker-set-up.md
Owners: @shellyhaverkamp

Add files via upload
  ce/field-service/media/quicksetup_securityroles.PNG
  ce/field-service/media/quicksetup_territories.PNG
Owners: @shellyhaverkamp

Rename frontline-worker- set-up-email-approval.md to frontline-worker-set-up-email-approval.md
  ce/field-service/frontline-worker-set-up-email-approval.md
Owners: @shellyhaverkamp

Update frontline-worker-set-up.md
  ce/field-service/frontline-worker-set-up.md
Owners: @shellyhaverkamp

Update frontline-worker-set-up.md
  ce/field-service/frontline-worker-set-up.md
Owners: @shellyhaverkamp

Add files via upload
  ce/field-service/media/email_template.PNG
Owners: @shellyhaverkamp

Update frontline-worker-set-up.md
  ce/field-service/frontline-worker-set-up.md
Owners: @shellyhaverkamp

Update set-up-bookable-resources.md
  ce/field-service/set-up-bookable-resources.md
Owners: @shellyhaverkamp

fixes
  ce/sales-enterprise/customize-add-products-dialog-box.md
Owners: @shubhadaj

Fixed build errors
  ce/sales-enterprise/customize-add-products-dialog-box.md
Owners: @shubhadaj

Set the date to release date
  ce/sales-enterprise/add-products-enhanced-experience.md
  ce/sales-enterprise/add-products-qoi-enhanced.md
  ce/sales-enterprise/configure-product-catalog-settings.md
  ce/sales-enterprise/customize-add-products-dialog-box.md
  ce/sales-enterprise/enable-enhanced-add-product-experience.md
Owners: @shubhadaj

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update frontline-worker-set-up.md
  ce/field-service/frontline-worker-set-up.md
Owners: @shellyhaverkamp

Update set-up-bookable-resources.md
  ce/field-service/set-up-bookable-resources.md
Owners: @shellyhaverkamp

Update frontline-worker-set-up.md
  ce/field-service/frontline-worker-set-up.md
Owners: @shellyhaverkamp

TW Capacity topic
  ce/customer-service/capacity-profiles.md
  ce/customer-service/configure-work-classification.md
  ce/customer-service/set-up-record-routing.md
  ce/customer-service/users-user-profiles.md
Owners: @shubhadaj

Update schedule-travel-time.md
  ce/shared/urs/schedule-travel-time.md
Owners: none

Update frontline-worker-set-up-email-approval.md
  ce/field-service/frontline-worker-set-up-email-approval.md
Owners: @shellyhaverkamp

Add files via upload
  ce/field-service/media/add_email_privileges_security_role.PNG
  ce/field-service/media/test_mailbox_config.PNG
Owners: @shellyhaverkamp

Update marketing-form-client-side-extensibility.md
  ce/marketing/developer/marketing-form-client-side-extensibility.md
Owners: @KumarVivek, @Nkrb

Update TOC.md
  ce/field-service/TOC.md
Owners: @shellyhaverkamp

updated for review feedback
  ce/unified-service-desk/edge-webview2-process.md
Owners: @shubhadaj

drafting
  ce/customerengagement/on-premises/admin/connect-on-prem-exchange-server-on-prem.md
Owners: none

new file for uci topics
  ce/customerengagement/on-premises/includes/applies-to-unified-interface.md
Owners: none

Update linkedin-configuration.md
  ce/marketing/linkedin-configuration.md
Owners: @shellyhaverkamp

Delete applies-to-unified-interface.md
  ce/customerengagement/on-premises/includes/applies-to-unified-interface.md
Owners: none

TW capacity
  ce/customer-service/capacity-profiles.md
  ce/customer-service/create-workstreams.md
Owners: @shubhadaj

Update events-settings.md
  ce/marketing/events-settings.md
Owners: @shellyhaverkamp

Update mobile-power-app-system-requirements.md
  ce/field-service/mobile-power-app-system-requirements.md
Owners: @shellyhaverkamp

edits to frontline worker setup
  ce/field-service/frontline-worker-set-up.md
Owners: @shellyhaverkamp
