Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update search-knowledge-articles-csh.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Update search-knowledge-articles-csh.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

TS section added
  ce/sales-enterprise/media/ts-forecasting-activate-opportunity-forecast-category-process.png
  ce/sales-enterprise/media/ts-forecasting-opportunity-forecast-category-process-conditions.png
  ce/sales-enterprise/ts-forecasts.md
Owners: @shubhadaj

toc updated
  ce/sales-enterprise/troubleshooting.md
Owners: @shubhadaj

Added content for spell checker
  ce/unified-service-desk/chrome-process.md
Owners: @shubhadaj

Interim commit
  ce/unified-service-desk/chrome-process.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-font-admin.md
  ce/customer-service/customer-service-hub-user-guide-email-font-admin.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-font-admin.md
  ce/customer-service/customer-service-hub-user-guide-email-font-admin.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-font-admin.md
  ce/customer-service/customer-service-hub-user-guide-email-font-admin.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-font-admin.md
  ce/customer-service/customer-service-hub-user-guide-email-font-admin.md
Owners: @shubhadaj

Commit
  ce/unified-service-desk/chrome-process.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-font-admin.md
  ce/customer-service/customer-service-hub-user-guide-email-font-admin.md
Owners: @shubhadaj

Added note for locales
  ce/unified-service-desk/chrome-process.md
Owners: @shubhadaj

Edited the content
  ce/unified-service-desk/admin/manage-options-unified-service-desk.md
  ce/unified-service-desk/chrome-process.md
Owners: @shubhadaj

Note indented
  ce/unified-service-desk/chrome-process.md
Owners: @shubhadaj

Updated for 1993885
  ce/customer-service/add-chat-widget.md
  ce/customer-service/configure-live-chat.md
  ce/customer-service/embed-chat-widget-portal.md
  ce/customer-service/plan-migration.md
  ce/customer-service/system-requirements-omnichannel.md
Owners: @shubhadaj

RELEASENOTES - VERSION HISTORY UPDATES FOR FS
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

updated UR27 version number
  ce/shared/urs/urs-bug-fixes.md
Owners: none

updated URS versions for UR27 and UR8
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Create voice-channel.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

Update voice-channel.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

RELEASE NOTES - FS VERSION HISTORY CHANGES
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update add-knowledge-base-search-control-forms.md
  ce/customer-service/add-knowledge-base-search-control-forms.md
Owners: @shubhadaj

Update add-knowledge-base-search-control-forms.md
  ce/customer-service/add-knowledge-base-search-control-forms.md
Owners: @shubhadaj

Update voice-channel.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

Update set-up-search-providers.md
  ce/customer-service/set-up-search-providers.md
Owners: @shubhadaj

Delete search-provider-details.png
  ce/customer-service/media/search-provider-details.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/search-provider-details.png
Owners: @shubhadaj

Update set-up-search-providers.md
  ce/customer-service/set-up-search-providers.md
Owners: @shubhadaj

Update add-knowledge-base-search-control-forms.md
  ce/customer-service/add-knowledge-base-search-control-forms.md
Owners: @shubhadaj

Update set-up-search-providers.md
  ce/customer-service/set-up-search-providers.md
Owners: @shubhadaj

Delete search-provider-agent.png
  ce/customer-service/media/search-provider-agent.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/search-provider-agent.png
Owners: @shubhadaj

added preview tag
  ce/customer-service/persistent-chat.md
Owners: @shubhadaj

update
  ce/customer-service/persistent-chat.md
Owners: @shubhadaj

commit
  ce/customer-service/persistent-chat.md
Owners: @shubhadaj

Update add-knowledge-base-search-control-forms.md
  ce/customer-service/add-knowledge-base-search-control-forms.md
Owners: @shubhadaj
