Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

customization
  ce/marketing/customize.md
Owners: @shellyhaverkamp

Bussiness units
  ce/marketing/business-units.md
Owners: @shellyhaverkamp

commit
  ce/customer-service/media/append-to-array-variable.png
  ce/customer-service/media/get-customer-records.png
  ce/customer-service/media/initialize-variable.png
  ce/customer-service/media/record-creation.png
  ce/customer-service/outbound-messaging.md
Owners: @shubhadaj

Interim
  ce/customer-service/add-timer-control-case-form-track-time-against-sla.md
  ce/customer-service/media/sla-timer-runtime.png
Owners: @shubhadaj

Update setup-mobile-offline.md
  ce/mobile-app/setup-mobile-offline.md
Owners: @mduelae, @KumarVivek

Update setup-mobile-offline.md
  ce/mobile-app/setup-mobile-offline.md
Owners: @mduelae, @KumarVivek

Update field-service-knowledge-management.md
  ce/field-service/field-service-knowledge-management.md
Owners: @shellyhaverkamp

Update cs-iot-connected-customer-service-architecture.md
  ce/customer-service/cs-iot-connected-customer-service-architecture.md
Owners: @shubhadaj

daveMapsandAddress
  ce/field-service/field-service-maps-address-locations.md
  ce/field-service/media/Accountnewaddress.png
  ce/field-service/media/FSMaddressrecoaccount.png
  ce/field-service/media/FSMaddressrecobookingworkorder.png
  ce/field-service/media/FSMaddressrecoworkorder.png
  ce/field-service/media/accountformaddress.png
  ce/field-service/media/accountformgeocoding.png
  ce/field-service/media/admin-enable-address-suggestions.png
  ce/field-service/media/workordergeocode.png
  ce/field-service/media/workordernewaddress.png
Owners: @shellyhaverkamp

Update customer-service-hub-user-guide-basics.md
  ce/customer-service/customer-service-hub-user-guide-basics.md
Owners: @shubhadaj

Update architecture-overview-channel-integration-framework.md
  ce/customer-service/channel-integration-framework/architecture-overview-channel-integration-framework.md
Owners: @shubhadaj

Update choose-between-versions.md
  ce/customer-service/channel-integration-framework/choose-between-versions.md
Owners: @shubhadaj

interim
  ce/customer-service/TOC.md
Owners: @shubhadaj

Update microsoft-dynamics-365-reporting-requirements.md
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-reporting-requirements.md
Owners: none

TRI
  ce/customer-service/bot-escalate-end-conversation.md
  ce/customer-service/configure-bot-virtual-agent.md
  ce/customer-service/link-customer-case-when-bot-escalates.md
Owners: @shubhadaj

Updated ToC
  ce/customer-service/TOC.md
Owners: @shubhadaj

Update install-dynamics-365-report-authoring-extension.md
  ce/customerengagement/on-premises/analytics/install-dynamics-365-report-authoring-extension.md
Owners: none

Updated for bug 2174107
  ce/customer-service/omnichannel-provision-license.md
Owners: @shubhadaj

Added latest file
  ce/customer-service/developer/reference/entities/msdyn_ocliveworkitem.md
Owners: @shubhadaj

daveMapsandAddress
  ce/field-service/field-service-maps-address-locations.md
  ce/field-service/media/admin-enable-bing-maps-on-forms.png
  ce/field-service/perform-initial-configurations-setup.md
Owners: @shellyhaverkamp

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

daveInspectionsEA1
  ce/field-service/inspections-advanced.md
  ce/field-service/inspections.md
  ce/field-service/media/ad-hoc-inspection-asset-related-tab.jpg
  ce/field-service/media/ad-hoc-inspection-customer-asset.png
  ce/field-service/media/ad-hoc-inspection-display-setting.png
  ce/field-service/media/ad-hoc-inspection-instance-completion.JPG
  ce/field-service/media/show-question-numbers.JPG
  ce/field-service/media/textbox-read-only.JPG
Owners: @shellyhaverkamp

Update TOC.md
  ce/teams-integration/TOC.md
Owners: none

Add files via upload
  ce/teams-integration/media/add-webiste-2.png
  ce/teams-integration/media/add-website.png
  ce/teams-integration/media/teams-apps.png
Owners: none

Update teams-install-app.md
  ce/teams-integration/teams-install-app.md
Owners: none

Update teams-install-app.md
  ce/teams-integration/teams-install-app.md
Owners: none

Update teams-install-app.md
  ce/teams-integration/teams-install-app.md
Owners: none

Update teams-install-app.md
  ce/teams-integration/teams-install-app.md
Owners: none

Update teams-install-app.md
  ce/teams-integration/teams-install-app.md
Owners: none

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
