Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

fixing build warning
  ce/field-service/field-service-mobile-app-user-guide.md
Owners: @shellyhaverkamp

Update urs-bug-fixes.md
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Update set-up-booking-rules.md
  ce/field-service/set-up-booking-rules.md
Owners: @shellyhaverkamp

removing limit
  ce/marketing/real-time-marketing-known-issues.md
Owners: @shellyhaverkamp

daveScheduleBoardWave2images
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-01-overview.png
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-02-Board-view-settings.png
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-02-Tab-contextual-actions.png
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-03-Tab-settings.png
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-04-dafault-Tab-settings.png
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-05-better-settings-experience.png
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-06-Detail-panel-Booking-selection.png
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-07-Booking-alerts-panel-Create-or-view-booking-alerts.png
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-08-Booking-alert-dismiss-or-snooze.png
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-09-support-for-custom-web-resource.png
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-10-support-for-full-screen-mode.png
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-11-support-for-move-bookings-and-print-schedule-board.png
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-12-support-for-get-driving-directions-to-a-booking.png
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-13-driving-directions-to-a-booking-bia-bing-maps.png
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-14-support-for-get-driving-directions-for-resource-route-on-a-day.png
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-14-support-for-get-driving-directions-for-resource-route.png
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-15-support-for-get-driving-directions-for-resource-route-on-a-day-via-bing-maps.png
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-16-support-Find-Availability.png
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-17-Schedule-assistant.png
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-18-Schedule-board-new-tab-creation-support.png
  ce/field-service/media/RS-2021-wave-2-ga-New-SB-Improvements-19-Schedule-board-new-tab-creation.png
  ce/shared/urs/preview-schedule-board.md
Owners: @shellyhaverkamp

Update preview-schedule-board.md
  ce/shared/urs/preview-schedule-board.md
Owners: none

Update preview-schedule-board.md
  ce/field-service/preview-schedule-board.md
Owners: @shellyhaverkamp

daveScheduleBoardWave2
  ce/field-service/media/schedule-board-new-opt-in-organization.PNG
  ce/shared/urs/preview-schedule-board.md
Owners: @shellyhaverkamp

Update preview-schedule-board.md
  ce/shared/urs/preview-schedule-board.md
Owners: none

Update preview-schedule-board.md
  ce/shared/urs/preview-schedule-board.md
Owners: none

Update preview-schedule-board.md
  ce/shared/urs/preview-schedule-board.md
Owners: none

Update preview-schedule-board.md
  ce/shared/urs/preview-schedule-board.md
Owners: none

Update csw-search-knowledge-articles.md
  ce/customer-service/csw-search-knowledge-articles.md
Owners: @shubhadaj

edits
  ce/customer-service/migrate-acs.md
Owners: @shubhadaj

edit
  ce/customer-service/toc.yml
Owners: @shubhadaj

edit
  ce/customer-service/migrate-acs.md
Owners: @shubhadaj

edit
  ce/customer-service/migrate-acs.md
Owners: @shubhadaj

edits
  ce/customer-service/migrate-acs.md
Owners: @shubhadaj

errors fixed
  ce/sales-enterprise/configure-assistant.md
  ce/sales-enterprise/configure-email-engagement.md
  ce/sales-enterprise/configure-predictive-lead-scoring.md
  ce/sales-enterprise/configure-predictive-opportunity-scoring.md
  ce/sales-enterprise/configure-relationship-analytics.md
  ce/sales-enterprise/configure-talking-points.md
  ce/sales-enterprise/configure-who-knows-whom.md
  ce/sales-enterprise/dynamics365-sales-insights-app-home-page.md
  ce/sales-enterprise/embedded-intelligence-gdpr.md
  ce/sales-enterprise/faqs-sales-insights.md
  ce/sales-enterprise/intro-admin-guide-sales-insights.md
  ce/sales-enterprise/uninstall-sales-insights.md
Owners: @shubhadaj

Update help-hub.md
  ce/sales-enterprise/help-hub.md
Owners: @shubhadaj

hub page update
  ce/sales-enterprise/admin-guide.md
  ce/sales-enterprise/developer/developer-guide.md
  ce/sales-enterprise/help-hub.md
  ce/sales-enterprise/troubleshooting.md
  ce/sales-enterprise/user-guide.md
Owners: @shubhadaj

update
  ce/sales-enterprise/admin-guide.md
  ce/sales-enterprise/faqs-sales-insights.md
  ce/sales-enterprise/help-hub.md
  ce/sales-enterprise/toc.yml
  ce/sales-enterprise/troubleshooting-sp.md
  ce/sales-enterprise/troubleshooting.md
  ce/sales-enterprise/user-guide.md
Owners: @shubhadaj

Interim
  ce/customer-service/toc.yml
Owners: @shubhadaj

edits
  ce/customer-service/migrate-acs.md
Owners: @shubhadaj

Added deprecation note about gamification
  ce/sales-enterprise/deprecations-sales.md
Owners: @shubhadaj

Fixed spacing
  ce/sales-enterprise/deprecations-sales.md
Owners: @shubhadaj

removing redirections
  .openpublishing.redirection.json
Owners: none

Update preview-schedule-board.md
  ce/shared/urs/preview-schedule-board.md
Owners: none

Update teams-webinar.md
  ce/marketing/teams-webinar.md
Owners: @shellyhaverkamp

RELEASE NOTES UPDATES
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update manage-marketing-environments.md
  ce/marketing/manage-marketing-environments.md
Owners: @shellyhaverkamp

Update manage-marketing-environments.md
  ce/marketing/manage-marketing-environments.md
Owners: @shellyhaverkamp

Update mkt-settings-authenticate-domains.md
  ce/marketing/mkt-settings-authenticate-domains.md
Owners: @shellyhaverkamp

Update email-a-b-testing.md
  ce/marketing/email-a-b-testing.md
Owners: @shellyhaverkamp

Images
  ce/marketing/email-a-b-testing.md
  ce/marketing/media/email-abtest-add-test.png
  ce/marketing/media/email-abtest-body-test.png
  ce/marketing/media/email-abtest-body.png
  ce/marketing/media/email-abtest-button.png
  ce/marketing/media/email-abtest-header-version.png
  ce/marketing/media/email-abtest-open-panel.png
  ce/marketing/media/email-abtest-panel.png
  ce/marketing/media/email-abtest-version-indicators.png
Owners: @shellyhaverkamp

Correction in example
  ce/customer-service/intraday-conversation-insights.md
Owners: @shubhadaj

For 2462385
  ce/customer-service/create-rules-automatically-route-cases.md
Owners: @shubhadaj

Formatting issues
  ce/customer-service/create-rules-automatically-route-cases.md
Owners: @shubhadaj

Reinstated the note
  ce/customer-service/create-rules-automatically-route-cases.md
Owners: @shubhadaj

Removed the incorrect screenshot
  ce/customer-service/media/agent-view-consult.png
  ce/customer-service/oc-conversation-control.md
Owners: @shubhadaj
