Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

oops added video
  ce/field-service/cfs-pull-device-data.md
Owners: @shellyhaverkamp

Update analytics-predictive-work-duration.md
  ce/field-service/analytics-predictive-work-duration.md
Owners: @shellyhaverkamp

Update reports.md
  ce/field-service/reports.md
Owners: @shellyhaverkamp

Update scheduling-analytics-reports.md
  ce/field-service/scheduling-analytics-reports.md
Owners: @shellyhaverkamp

cds updates
  ce/mobile-app/dynamics-365-phones-tablets-users-guide.md
  ce/mobile-app/overview.md
  ce/mobile-app/preview-setup-mobile-offline.md
  ce/mobile-app/set-up-dynamics-365-for-phones-and-dynamics-365-for-tablets.md
  ce/mobile-app/support-phones-tablets.md
  ce/mobile-app/troubleshooting-things-know-about-phones-tablets.md
  ce/mobile-app/work-in-offline-mode.md
Owners: @mduelae, @KumarVivek

Update troubleshoot-field-service-solution-health.md
  ce/field-service/troubleshoot-field-service-solution-health.md
Owners: @shellyhaverkamp

updates
  ce/teams-integration/teams-integration.md
Owners: none

revisions
  ce/field-service/field-service-mobile-app-user-guide.md
  ce/field-service/perform-initial-configurations-setup.md
  ce/field-service/quickstart-schedule-work-order.md
  ce/field-service/set-up-bookable-resources.md
  ce/field-service/view-user-accounts-security-roles.md
Owners: @shellyhaverkamp

fixing metadatas
  ce/field-service/field-service-mobile-app-user-guide.md
  ce/field-service/perform-initial-configurations-setup.md
  ce/field-service/quickstart-schedule-work-order.md
  ce/field-service/set-up-bookable-resources.md
Owners: @shellyhaverkamp

Minor corrections for accuracy
  ce/omnichannel/administrator/configure-bot-virtual-agent.md
  ce/omnichannel/administrator/context-variables-for-bot.md
Owners: none

commit
  ce/unified-service-desk/admin/whats-new-unified-service-desk-administrators.md
  ce/unified-service-desk/chrome-process.md
Owners: @shubhadaj

image and text update
  ce/sales-enterprise/sales-mobile/dynamics-365-sales-mobile-app.md
  ce/sales-enterprise/sales-mobile/enable-sales-mobile.md
  ce/sales-enterprise/sales-mobile/first-experience.md
  ce/sales-enterprise/sales-mobile/install-app.md
  ce/sales-enterprise/sales-mobile/media/android-install-step2.png
  ce/sales-enterprise/sales-mobile/media/android-install-step3.png
  ce/sales-enterprise/sales-mobile/media/android-install-step4.png
  ce/sales-enterprise/sales-mobile/media/android-install-step5.png
  ce/sales-enterprise/sales-mobile/media/ios-install-step3.png
  ce/sales-enterprise/sales-mobile/media/ios-install-step4.png
  ce/sales-enterprise/sales-mobile/media/sm-welcome-screen.png
  ce/sales-enterprise/sales-mobile/media/sm-welcome-screen1.png
  ce/sales-enterprise/sales-mobile/view-agenda.md
Owners: @shubhadaj

daveRSOFAQ
  ce/field-service/media/FSPStep1.png
  ce/field-service/media/FSPStep2.png
  ce/field-service/media/FSPStep3.png
  ce/field-service/media/FSPStep4.png
  ce/field-service/media/SRStep1.png
  ce/field-service/media/SRStep2.png
  ce/field-service/media/SRStep3.png
  ce/field-service/media/SRStep4_1.png
  ce/field-service/media/SRStep4_2.png
  ce/field-service/rso-faq.md
Owners: @shellyhaverkamp

Update rso-faq.md
  ce/field-service/rso-faq.md
Owners: @shellyhaverkamp

Update mobile-powerapp-location-auditing.md
  ce/field-service/mobile-powerapp-location-auditing.md
Owners: @shellyhaverkamp

Update cfs-pull-device-data.md
  ce/field-service/cfs-pull-device-data.md
Owners: @shellyhaverkamp

Update cfs-pull-device-data.md
  ce/field-service/cfs-pull-device-data.md
Owners: @shellyhaverkamp

Update mobile-powerapp-location-auditing.md
  ce/field-service/mobile-powerapp-location-auditing.md
Owners: @shellyhaverkamp

Update set-up-bookable-resources.md
  ce/field-service/set-up-bookable-resources.md
Owners: @shellyhaverkamp

Update view-user-accounts-security-roles.md
  ce/field-service/view-user-accounts-security-roles.md
Owners: @shellyhaverkamp

Update rso-configuration.md
  ce/field-service/rso-configuration.md
Owners: @shellyhaverkamp

edited the copy and scrubbed images
  ce/field-service/media/FSPStep2.png
  ce/field-service/media/FSPStep3.png
  ce/field-service/media/FSPStep4.png
  ce/field-service/media/SRStep2.png
  ce/field-service/media/SRStep3.png
  ce/field-service/rso-faq.md
Owners: @shellyhaverkamp

Update rso-configuration.md
  ce/field-service/rso-configuration.md
Owners: @shellyhaverkamp

Update rso-configuration.md
  ce/field-service/rso-configuration.md
Owners: @shellyhaverkamp

FS UCI RUv26 - Release notes
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

URS UR26 release notes
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Book based on config
  ce/shared/urs/quick-scheduling.md
Owners: none

commit
  ce/customer-service/channel-integration-framework/v2/automation-dictionary-keys-cif.md
Owners: @shubhadaj

commit
  ce/customer-service/channel-integration-framework/v2/automation-dictionary-keys-cif.md
Owners: @shubhadaj

commit
  ce/customer-service/channel-integration-framework/v2/automation-dictionary-keys-cif.md
Owners: @shubhadaj

commit
  ce/customer-service/channel-integration-framework/v2/automation-dictionary-keys-cif.md
Owners: @shubhadaj

commit
  ce/customer-service/channel-integration-framework/v2/automation-dictionary-keys-cif.md
Owners: @shubhadaj

commit
  ce/customer-service/channel-integration-framework/v2/automation-dictionary-keys-cif.md
Owners: @shubhadaj

commit
  ce/customer-service/channel-integration-framework/v2/automation-dictionary-keys-cif.md
Owners: @shubhadaj

commit
  ce/customer-service/channel-integration-framework/v2/automation-dictionary-keys-cif.md
Owners: @shubhadaj

commit
  ce/customer-service/channel-integration-framework/v2/automation-dictionary-keys-cif.md
Owners: @shubhadaj

Interim commit
  ce/omnichannel/TOC.md
  ce/omnichannel/agent/agent-usd/add-personalization-tab-usd-client.md
  ce/omnichannel/media/add-action-calls-from-lookup-records.png
  ce/omnichannel/media/add-newly-created-action-call.png
  ce/omnichannel/media/create-new-action-call-record.png
  ce/omnichannel/media/select-toolbar-buttons.png
Owners: none

commit
  ce/customer-service/channel-integration-framework/v2/automation-dictionary-keys-cif.md
Owners: @shubhadaj
