Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

edits
  ce/customer-service/channel-integration-framework/reference/microsoft-ciframework/renderSearchPage.md
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/renderSearchPage.md
Owners: @shubhadaj

incorporated PM review comments
  ce/customer-service/configure-ai-suggested-article-keywords-description.md
  ce/customer-service/cs-region-availability-service-limits.md
  ce/customer-service/work-knowledge-articles.md
Owners: @shubhadaj

For 2363301, 2260247
  ce/customer-service/configure-work-classification.md
  ce/customer-service/set-up-queues-manage-activities-cases.md
Owners: @shubhadaj

Updated ms.date
  ce/customer-service/configure-work-classification.md
  ce/customer-service/queues-omnichannel.md
Owners: @shubhadaj

PR review incorporation
  ce/customer-service/queues-omnichannel.md
  ce/customer-service/set-up-queues-manage-activities-cases.md
Owners: @shubhadaj

Update mobile-powerapp-copy-app-module.md
  ce/field-service/mobile-powerapp-copy-app-module.md
Owners: @shellyhaverkamp

Update software-requirements-for-microsoft-dynamics-365-server.md
  ce/customerengagement/on-premises/deploy/software-requirements-for-microsoft-dynamics-365-server.md
Owners: none

Update mobile-powerapp-geofence.md
  ce/field-service/mobile-powerapp-geofence.md
Owners: @shellyhaverkamp

Add files via upload
  ce/field-service/media/mobile-geofence-bookable-resource.png
Owners: @shellyhaverkamp

Update mobile-powerapp-geofence.md
  ce/field-service/mobile-powerapp-geofence.md
Owners: @shellyhaverkamp

Update mobile-powerapp-geofence.md
  ce/field-service/mobile-powerapp-geofence.md
Owners: @shellyhaverkamp

Update manage-marketing-environments.md
  ce/marketing/manage-marketing-environments.md
Owners: @shellyhaverkamp

Update manage-marketing-environments.md
  ce/marketing/manage-marketing-environments.md
Owners: @shellyhaverkamp

Update real-time-marketing-personalization.md
  ce/marketing/real-time-marketing-personalization.md
Owners: @shellyhaverkamp

images
  ce/marketing/media/real-time-marketing-personalization-default.png
  ce/marketing/media/real-time-marketing-personalization-related-example.png
  ce/marketing/media/real-time-marketing-personalization-related-table.png
  ce/marketing/media/real-time-marketing-personalization-test-default.png
  ce/marketing/media/real-time-marketing-personalization-test-sample.png
  ce/marketing/media/real-time-marketing-sms-personalize-button.png
  ce/marketing/media/real-time-marketing-sms-personalize-example.png
  ce/marketing/real-time-marketing-personalization.md
Owners: @shellyhaverkamp

more images
  ce/marketing/media/real-time-marketing-personalization-related-path.png
  ce/marketing/media/real-time-marketing-personalization-related-search.png
  ce/marketing/media/real-time-marketing-personalization-related-traverse.png
  ce/marketing/real-time-marketing-personalization.md
Owners: @shellyhaverkamp

changes to availability and KI doc
  ce/sales-enterprise/deal-manager-overview.md
  ce/sales-enterprise/deal-manager-seller-overview.md
Owners: @shubhadaj

Updated date
  ce/sales-enterprise/deal-manager-overview.md
  ce/sales-enterprise/deal-manager-seller-overview.md
Owners: @shubhadaj

Interim for 2413298
  ce/customer-service/configure-cs-historical-analytics-csh.md
  ce/customer-service/cs-historical-analytics-unified-routing.md
  ce/customer-service/intraday-agents-insights.md
  ce/customer-service/oc-historical-analytics-unified-routing.md
  ce/customer-service/summary-dashboard-cs.md
Owners: @shubhadaj

For 2363301, 2305864
  ce/customer-service/configure-work-classification.md
  ce/customer-service/set-up-record-routing.md
Owners: @shubhadaj

edits
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Minor edits
  ce/customer-service/configure-work-classification.md
Owners: @shubhadaj

Updated to improve acrolinx score
  ce/customer-service/configure-work-classification.md
Owners: @shubhadaj

Grammar
  ce/customer-service/configure-work-classification.md
Owners: @shubhadaj

Update real-time-marketing-personalization-default.png
  ce/marketing/media/real-time-marketing-personalization-default.png
Owners: @shellyhaverkamp

Update real-time-marketing-personalization-related-traverse.png
  ce/marketing/media/real-time-marketing-personalization-related-traverse.png
Owners: @shellyhaverkamp

Update real-time-marketing-personalization-related-path.png
  ce/marketing/media/real-time-marketing-personalization-related-path.png
Owners: @shellyhaverkamp

More images
  ce/marketing/media/real-time-marketing-personalization-condition-compare.png
  ce/marketing/media/real-time-marketing-personalization-condition-denmark-false.png
  ce/marketing/media/real-time-marketing-personalization-condition-denmark-true.png
  ce/marketing/media/real-time-marketing-personalization-condition-denmark.png
  ce/marketing/media/real-time-marketing-personalization-condition-setup.png
  ce/marketing/media/real-time-marketing-personalization-related-example.png
  ce/marketing/media/real-time-marketing-personalization-related-table.png
  ce/marketing/media/real-time-marketing-sms-personalize-button.png
  ce/marketing/real-time-marketing-personalization.md
Owners: @shellyhaverkamp

Update real-time-marketing-personalization-related-search.png
  ce/marketing/media/real-time-marketing-personalization-related-search.png
Owners: @shellyhaverkamp

Update real-time-marketing-personalization.md
  ce/marketing/real-time-marketing-personalization.md
Owners: @shellyhaverkamp

RELEASE NOTES UPDATES
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update image
  ce/marketing/media/real-time-marketing-personalization-test-sample.png
  ce/marketing/real-time-marketing-personalization.md
Owners: @shellyhaverkamp

For 2413298
  ce/customer-service/cs-historical-analytics-unified-routing.md
  ce/customer-service/media/cs-ha-unified-routing.png
  ce/customer-service/media/cs-routing-metrics-date.png
  ce/customer-service/media/cs-routing-metrics-queue.png
  ce/customer-service/media/oc-ha-unified-routing.png
  ce/customer-service/media/oc-routing-metrics-date.png
  ce/customer-service/media/oc-routing-metrics-queue.png
  ce/customer-service/oc-conversation-dashboard.md
  ce/customer-service/oc-historical-analytics-unified-routing.md
Owners: @shubhadaj

Added to ToC
  ce/customer-service/oc-conversation-dashboard.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

Text update
  ce/marketing/media/real-time-marketing-personalization-breadcrumbs.png
  ce/marketing/media/real-time-marketing-personalization-related-traverse.png
  ce/marketing/media/real-time-marketing-personalization-related-traverse2.png
  ce/marketing/real-time-marketing-personalization.md
Owners: @shellyhaverkamp

Update real-time-marketing-personalization.md
  ce/marketing/real-time-marketing-personalization.md
Owners: @shellyhaverkamp

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

edits
  ce/customer-service/channel-integration-framework/reference/microsoft-ciframework/renderSearchPage.md
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/renderSearchPage.md
Owners: @shubhadaj

updates for task 2337159
  ce/customer-service/channel-integration-framework/reference/microsoft-ciframework/renderSearchPage.md
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/renderSearchPage.md
Owners: @shubhadaj
