Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Update onedrive-business-manage-private-documents.md
  ce/customerengagement/on-premises/basics/onedrive-business-manage-private-documents.md
Owners: none

Update organize-lay-out-your-report-data.md
  ce/customerengagement/on-premises/basics/organize-lay-out-your-report-data.md
Owners: none

Update quick-create-enter-data-fast copy.md
  ce/customerengagement/on-premises/basics/quick-create-enter-data-fast copy.md
Owners: none

Update run-report.md
  ce/customerengagement/on-premises/basics/run-report.md
Owners: none

Update save-advanced-find-search.md
  ce/customerengagement/on-premises/basics/save-advanced-find-search.md
Owners: none

Update screen-reader.md
  ce/customerengagement/on-premises/basics/screen-reader.md
Owners: none

Update search-records.md
  ce/customerengagement/on-premises/basics/search-records.md
Owners: none

Update send-bulk-email-customers.md
  ce/customerengagement/on-premises/basics/send-bulk-email-customers.md
Owners: none

Update set-personal-options.md
  ce/customerengagement/on-premises/basics/set-personal-options.md
Owners: none

Update share-report-users-teams.md
  ce/customerengagement/on-premises/basics/share-report-users-teams.md
Owners: none

Update start-your-day-dashboard-chart.md
  ce/customerengagement/on-premises/basics/start-your-day-dashboard-chart.md
Owners: none

Update troubleshoot-reports.md
  ce/customerengagement/on-premises/basics/troubleshoot-reports.md
Owners: none

Update use-onedrive-business-manage-private-documents.md
  ce/customerengagement/on-premises/basics/use-onedrive-business-manage-private-documents.md
Owners: none

Update view-your-user-profile.md
  ce/customerengagement/on-premises/basics/view-your-user-profile.md
Owners: none

Update what-are-business-processes.md
  ce/customerengagement/on-premises/basics/what-are-business-processes.md
Owners: none

Update work-with-activities.md
  ce/customerengagement/on-premises/basics/work-with-activities.md
Owners: none

Update find-your-way-around-dynamics-365-customer-engagement-enterprise.md
  ce/customerengagement/on-premises/basics/find-your-way-around-dynamics-365-customer-engagement-enterprise.md
Owners: none

Update quick-create-enter-data-fast.md
  ce/customerengagement/on-premises/basics/quick-create-enter-data-fast.md
Owners: none

Update create-edit-chart.md
  ce/customerengagement/on-premises/basics/create-edit-chart.md
Owners: none

Update drill-down-chart.md
  ce/customerengagement/on-premises/basics/drill-down-chart.md
Owners: none

Update create-edit-chart.md
  ce/customerengagement/on-premises/basics/create-edit-chart.md
Owners: none

Update run-report.md
  ce/customerengagement/on-premises/basics/run-report.md
Owners: none

converting relative redir links
  .openpublishing.redirection.json
Owners: none

Update download-report.md
  ce/customerengagement/on-premises/basics/download-report.md
Owners: none

testing ms.custom
  ce/marketing/account-based-marketing.md
Owners: @shellyhaverkamp

removing test
  ce/marketing/account-based-marketing.md
Owners: @shellyhaverkamp

Links: Dynamics 365 CE - common-scheduler (2021-03)
  ce/common-scheduler/developer/create-custom-plugin-preferred-geospatial-data-provider.md
  ce/common-scheduler/developer/register-deploy-custom-plugin-preferred-geospatial-data-provider.md
  ce/common-scheduler/developer/sample-custom-plugin-google-geospatial-data-provider.md
  ce/common-scheduler/developer/use-preferred-geospatial-data-provider.md
  ce/common-scheduler/schedule-anything-with-universal-resource-scheduling.md
Owners: @shellyhaverkamp

Update import-export-data.md
  ce/customerengagement/on-premises/basics/import-export-data.md
Owners: none

Update export-excel-dynamic-worksheet.md
  ce/customerengagement/on-premises/basics/export-excel-dynamic-worksheet.md
Owners: none

Update export-excel-dynamic-worksheet.md
  ce/customerengagement/on-premises/basics/export-excel-dynamic-worksheet.md
Owners: none

Update export-excel-static-worksheet.md
  ce/customerengagement/on-premises/basics/export-excel-static-worksheet.md
Owners: none

Update export-excel-pivottable.md
  ce/customerengagement/on-premises/basics/export-excel-pivottable.md
Owners: none

Update add-email-recipient-as-a-row.md
  ce/outlook-app/User/add-email-recipient-as-a-row.md
Owners: @mduelae, @KumarVivek

Update track-message-or-appointment.md
  ce/outlook-app/User/track-message-or-appointment.md
Owners: @mduelae, @KumarVivek

Update use-delegate-access.md
  ce/outlook-app/User/use-delegate-access.md
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/da-tracked-successful.png
Owners: @mduelae, @KumarVivek

Update dynamics-365-app-outlook-user-s-guide.md
  ce/outlook-app/dynamics-365-app-outlook-user-s-guide.md
Owners: @mduelae, @KumarVivek

Update faq-email-tracking.md
  ce/outlook-app/User/faq-email-tracking.md
Owners: @mduelae, @KumarVivek

org settings
  ce/marketing/manage-teams.md
  ce/marketing/manage-users.md
  ce/marketing/open-settings.md
  ce/marketing/organization-settings.md
Owners: @shellyhaverkamp

settings update
  ce/marketing/business-management-settings.md
  ce/marketing/marketing-settings.md
  ce/marketing/mkt-settings-lead-score-options.md
Owners: @shellyhaverkamp

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
