Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update appointment-scheduling.md
  ce/field-service/appointment-scheduling.md
Owners: @shellyhaverkamp

Update routing-workstream-queues.md
  ce/customer-service/routing-workstream-queues.md
Owners: @shubhadaj

centering first image
  ce/field-service/media/mobile-2020-booking-maps.png
Owners: @shellyhaverkamp

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

adds booking maps to toc
  ce/field-service/TOC.md
Owners: @shellyhaverkamp

Update routing-workstream-queues.md
  ce/customer-service/routing-workstream-queues.md
Owners: @shubhadaj

Update routing-workstream-queues.md
  ce/customer-service/routing-workstream-queues.md
Owners: @shubhadaj

Update routing-workstream-queues.md
  ce/customer-service/routing-workstream-queues.md
Owners: @shubhadaj

Update create-workstreams.md
  ce/customer-service/create-workstreams.md
Owners: @shubhadaj

Adding moniker and revising for v9.1
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-reporting-requirements.md
Owners: none

Update appointment-scheduling.md
  ce/field-service/appointment-scheduling.md
Owners: @shellyhaverkamp

Adding moniker and revising for v9.1
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-reporting-requirements.md
Owners: none

Adding moniker and revising for v9.1
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-reporting-requirements.md
Owners: none

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update appointment-scheduling.md
  ce/field-service/appointment-scheduling.md
Owners: @shellyhaverkamp

Update appointment-scheduling.md
  ce/field-service/appointment-scheduling.md
Owners: @shellyhaverkamp

trying to fix rando error
  ce/field-service/mobile-powerapp-booking-maps.md
Owners: @shellyhaverkamp

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update TOC.md
  ce/customer-service/TOC.md
Owners: @shubhadaj

initial edits
  ce/field-service/appointment-scheduling.md
  ce/shared/urs/deprecations-scheduling.md
  ce/shared/urs/schedule-new-entity.md
Owners: @shellyhaverkamp

Update troubleshoot-faq.md
  ce/field-service/troubleshoot-faq.md
Owners: @shellyhaverkamp

Updated v9.0 to 9.1
  ce/customerengagement/on-premises/developer/TOC.yml
  ce/customerengagement/on-premises/developer/browse-your-metadata.md
  ce/customerengagement/on-premises/developer/choose-development-style.md
  ce/customerengagement/on-premises/developer/create-auto-number-attributes.md
  ce/customerengagement/on-premises/developer/customize-dev/query-and-edit-an-organization-theme.md
  ce/customerengagement/on-premises/developer/customize-entity-attribute-mappings.md
  ce/customerengagement/on-premises/developer/customize-entity-attribute-metadata.md
  ce/customerengagement/on-premises/developer/duplicaterule-entities.md
  ce/customerengagement/on-premises/developer/includes/current-web-api-base-uri.md
  ce/customerengagement/on-premises/developer/integration-dev/teams-integration-using-code.md
  ce/customerengagement/on-premises/developer/introduction-entity-attributes.md
  ce/customerengagement/on-premises/developer/model-business-process-flows.md
  ce/customerengagement/on-premises/developer/multi-select-picklist.md
  ce/customerengagement/on-premises/developer/programming-reference.md
  ce/customerengagement/on-premises/developer/run-duplicate-detection.md
  ce/customerengagement/on-premises/developer/supported-types-triggers-entities-actions-processes.md
  ce/customerengagement/on-premises/developer/use-webhooks.md
  ce/customerengagement/on-premises/developer/webapi/discover-url-organization-web-api.md
  ce/customerengagement/on-premises/developer/webapi/setup-postman-environment.md
  ce/customerengagement/on-premises/developer/webapi/web-api-versions.md
  ce/customerengagement/on-premises/developer/write-custom-azure-aware-plugin.md
Owners: none

Update set-up-bookable-resources.md
  ce/field-service/set-up-bookable-resources.md
Owners: @shellyhaverkamp

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update field-service-version-history-mobile.md
  ce/field-service/field-service-version-history-mobile.md
Owners: @shellyhaverkamp

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update urs-bug-fixes.md
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Update appointment-scheduling.md
  ce/field-service/appointment-scheduling.md
Owners: @shellyhaverkamp

fixing article formats
  ce/common-scheduler/TOC.md
  ce/common-scheduler/deprecations.md
  ce/shared/urs/urs-bug-fixes.md
Owners: @shellyhaverkamp

fixing publishing issues
  ce/field-service/appointment-scheduling.md
  ce/shared/urs/deprecations-scheduling.md
Owners: @shellyhaverkamp

fixing more
  ce/field-service/appointment-scheduling.md
  ce/shared/urs/deprecations-scheduling.md
  ce/shared/urs/schedule-new-entity.md
  ce/shared/urs/urs-bug-fixes.md
Owners: @shellyhaverkamp

Update choose-between-versions.md
  ce/customer-service/channel-integration-framework/choose-between-versions.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-basics.md
  ce/customer-service/customer-service-hub-user-guide-basics.md
Owners: @shubhadaj

Update architecture-overview-channel-integration-framework.md
  ce/customer-service/channel-integration-framework/architecture-overview-channel-integration-framework.md
Owners: @shubhadaj

Update cs-iot-connected-customer-service-architecture.md
  ce/customer-service/cs-iot-connected-customer-service-architecture.md
Owners: @shubhadaj

New admin experience
  ce/customer-service/configure-microsoft-teams.md
Owners: @shubhadaj

Updated metadata, synced with repo
  ce/customer-service/move-cs-enterprise-cs-professional.md
Owners: @shubhadaj

Update whats-new.md
  ce/customerengagement/on-premises/whats-new.md
Owners: none

Style and language edits
  ce/customer-service/move-cs-enterprise-cs-professional.md
Owners: @shubhadaj
