Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Update migration.md
  ce/mobile-app/migration.md
Owners: @mduelae, @KumarVivek

Update migration.md
  ce/mobile-app/migration.md
Owners: @mduelae, @KumarVivek

Update migration.md
  ce/mobile-app/migration.md
Owners: @mduelae, @KumarVivek

Update migration.md
  ce/mobile-app/migration.md
Owners: @mduelae, @KumarVivek

Update rso-deployment.md
  ce/field-service/rso-deployment.md
Owners: @shellyhaverkamp

Update migration.md
  ce/mobile-app/migration.md
Owners: @mduelae, @KumarVivek

Update upgrade-field-service.md
  ce/field-service/upgrade-field-service.md
Owners: @shellyhaverkamp

Update migration.md
  ce/mobile-app/migration.md
Owners: @mduelae, @KumarVivek

Update migration.md
  ce/mobile-app/migration.md
Owners: @mduelae, @KumarVivek

Added information about security roles
  ce/app-profile-manager/agent-scripts.md
  ce/app-profile-manager/app-profile-manager.md
  ce/app-profile-manager/application-tab-templates.md
  ce/app-profile-manager/associate-templates.md
  ce/app-profile-manager/automation-dictionary-keys.md
  ce/app-profile-manager/macros.md
  ce/app-profile-manager/notification-templates.md
  ce/app-profile-manager/overview.md
  ce/app-profile-manager/productivity-tools.md
  ce/app-profile-manager/security-roles.md
  ce/app-profile-manager/session-templates.md
  ce/app-profile-manager/settings.md
  ce/app-profile-manager/smart-assist.md
Owners: none

davePasswordFAQ
  ce/field-service/media/mobile-configuration-save-password.png
  ce/field-service/media/mobile-password-clear-data.png
  ce/field-service/media/mobile-save-password-prompt.png
  ce/field-service/mobile-faq.md
Owners: @shellyhaverkamp

TRI
  ce/app-profile-manager/security-roles.md
Owners: none

metadata, typos
  ce/app-profile-manager/security-roles.md
  ce/customer-service/csw-enable-ai-suggested-cases-knowledge-articles.md
  ce/customer-service/csw-view-ai-suggested-cases-knowledge-articles.md
Owners: @shubhadaj

Create entity-mapping.md
  ce/marketing/entity-mapping.md
Owners: @shellyhaverkamp

Update bookable-resource-multiple-roles.md
  ce/project-service/bookable-resource-multiple-roles.md
Owners: @shellyhaverkamp

Update bookable-resource-multiple-roles.md
  ce/project-service/bookable-resource-multiple-roles.md
Owners: @shellyhaverkamp

Update custompricingdimensionssolution.md
  ce/project-service/custompricingdimensionssolution.md
Owners: @shellyhaverkamp

Update field-references.md
  ce/project-service/field-references.md
Owners: @shellyhaverkamp

Update bookable-resource-pricing-dimension.md
  ce/project-service/bookable-resource-pricing-dimension.md
Owners: @shellyhaverkamp

Update transaction-category-pricing-dimension.md
  ce/project-service/transaction-category-pricing-dimension.md
Owners: @shellyhaverkamp

Update field-references.md
  ce/project-service/field-references.md
Owners: @shellyhaverkamp

cj update
  ce/marketing/customer-journey.md
  ce/marketing/media/customer-journey-audience-populate.png
  ce/marketing/media/customer-journey-audience-populate2.png
  ce/marketing/media/customer-journey-general.png
  ce/marketing/media/customer-journey-general2.png
Owners: @shellyhaverkamp

Update toc.md
  ce/marketing/toc.md
Owners: @shellyhaverkamp

Update TOC.md
  ce/customer-service/TOC.md
Owners: @shubhadaj

Create set-up-search-providers.md
  ce/customer-service/set-up-search-providers.md
Owners: @shubhadaj

entity mapping
  ce/marketing/entity-mapping.md
  ce/marketing/marketing-forms.md
  ce/marketing/media/entity-mapping-add-step.png
  ce/marketing/media/entity-mapping-create-process.png
  ce/marketing/media/entity-mapping-process-center.png
Owners: @shellyhaverkamp

Update entity-mapping.md
  ce/marketing/entity-mapping.md
Owners: @shellyhaverkamp

Added entry for automation dictionary in ToC
  ce/app-profile-manager/TOC.md
Owners: none

Restored the topics to the state they were before being moved into Power Apps docset.
  ce/customer-service/TOC.md
  ce/customer-service/customer-service-hub-user-guide-email-admin.md
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/timeline-faqs.md
Owners: @shubhadaj

Update set-up-search-providers.md
  ce/customer-service/set-up-search-providers.md
Owners: @shubhadaj

Update uci-add-facilities-equipment.md
  ce/customer-service/uci-add-facilities-equipment.md
Owners: @shubhadaj

Update uci-create-edit-service.md
  ce/customer-service/uci-create-edit-service.md
Owners: @shubhadaj

glados retirement
  ce/customerengagement/on-premises/admin/billing-support.md
  ce/customerengagement/on-premises/admin/overview.md
Owners: none

glados cleanup
  ce/customerengagement/on-premises/admin/performance-tuning-and-optimization.md
Owners: none

RELEASE NOTES: Updated version history
  ce/project-service/version-history-ps.md
Owners: @shellyhaverkamp

To publish
  ce/omnichannel/troubleshoot-using-solution-health-hub.md
Owners: none

Adding entity reference docs
  ce/omnichannel/developer/reference/entities/msdyn_actioninputparameter.md
  ce/omnichannel/developer/reference/entities/msdyn_authenticationsettings.md
  ce/omnichannel/developer/reference/entities/msdyn_chatquestionnaireresponse.md
  ce/omnichannel/developer/reference/entities/msdyn_chatquestionnaireresponseitem.md
  ce/omnichannel/developer/reference/entities/msdyn_entityroutingconfiguration.md
  ce/omnichannel/developer/reference/entities/msdyn_livechatconfig.md
  ce/omnichannel/developer/reference/entities/msdyn_livechatengagementctx.md
  ce/omnichannel/developer/reference/entities/msdyn_livechatwidgetlocation.md
  ce/omnichannel/developer/reference/entities/msdyn_liveworkstream.md
  ce/omnichannel/developer/reference/entities/msdyn_localizedsurveyquestion.md
  ce/omnichannel/developer/reference/entities/msdyn_occhannelconfiguration.md
  ce/omnichannel/developer/reference/entities/msdyn_occhannelstateconfiguration.md
  ce/omnichannel/developer/reference/entities/msdyn_ocliveworkitemparticipant.md
  ce/omnichannel/developer/reference/entities/msdyn_ocsentimentdailytopictrending.md
  ce/omnichannel/developer/reference/entities/msdyn_omnichannelqueue.md
  ce/omnichannel/developer/reference/entities/msdyn_omnichannelsyncconfig.md
  ce/omnichannel/developer/reference/entities/msdyn_personalsoundsetting.md
  ce/omnichannel/developer/reference/entities/msdyn_routingrequest.md
  ce/omnichannel/developer/reference/entities/overview.md
Owners: none

Adding entity reference docs
  ce/omnichannel/developer/reference/entities/msdyn_actionoutputparameter.md
  ce/omnichannel/developer/reference/entities/msdyn_agentscript.md
  ce/omnichannel/developer/reference/entities/msdyn_agentscriptstep.md
  ce/omnichannel/developer/reference/entities/msdyn_consoleapplicationsessiontemplate.md
  ce/omnichannel/developer/reference/entities/msdyn_customengagementctx.md
  ce/omnichannel/developer/reference/entities/msdyn_facebookengagementctx.md
  ce/omnichannel/developer/reference/entities/msdyn_lineengagementctx.md
  ce/omnichannel/developer/reference/entities/msdyn_macroactiontemplate.md
  ce/omnichannel/developer/reference/entities/msdyn_macroconnector.md
  ce/omnichannel/developer/reference/entities/msdyn_macrosession.md
  ce/omnichannel/developer/reference/entities/msdyn_macrosolutionconfiguration.md
  ce/omnichannel/developer/reference/entities/msdyn_ocbotchannelregistration.md
  ce/omnichannel/developer/reference/entities/msdyn_occustommessagingchannel.md
  ce/omnichannel/developer/reference/entities/msdyn_oclanguage.md
  ce/omnichannel/developer/reference/entities/msdyn_oclinechannelconfig.md
  ce/omnichannel/developer/reference/entities/msdyn_ocliveworkitemcharacteristic.md
  ce/omnichannel/developer/reference/entities/msdyn_ocoutboundconfiguration.md
  ce/omnichannel/developer/reference/entities/msdyn_ocoutboundmessage.md
  ce/omnichannel/developer/reference/entities/msdyn_ocprovisioningstate.md
  ce/omnichannel/developer/reference/entities/msdyn_ocrequest.md
  ce/omnichannel/developer/reference/entities/msdyn_ocsentimentdailytopic.md
  ce/omnichannel/developer/reference/entities/msdyn_ocsentimentdailytopickeyword.md
  ce/omnichannel/developer/reference/entities/msdyn_ocsessioncharacteristic.md
  ce/omnichannel/developer/reference/entities/msdyn_ocsessionsentiment.md
  ce/omnichannel/developer/reference/entities/msdyn_octag.md
  ce/omnichannel/developer/reference/entities/msdyn_octeamschannelconfig.md
  ce/omnichannel/developer/reference/entities/msdyn_octwitterapplication.md
  ce/omnichannel/developer/reference/entities/msdyn_octwitterhandle.md
  ce/omnichannel/developer/reference/entities/msdyn_ocwechatchannelconfig.md
  ce/omnichannel/developer/reference/entities/msdyn_ocwhatsappchannelaccount.md
  ce/omnichannel/developer/reference/entities/msdyn_ocwhatsappchannelnumber.md
  ce/omnichannel/developer/reference/entities/msdyn_omnichannelconfiguration.md
  ce/omnichannel/developer/reference/entities/msdyn_parameterdefinition.md
  ce/omnichannel/developer/reference/entities/msdyn_personalmessage.md
  ce/omnichannel/developer/reference/entities/msdyn_productivitypaneconfiguration.md
  ce/omnichannel/developer/reference/entities/msdyn_scenario.md
Owners: none

Update TOC.md
  ce/omnichannel/TOC.md
Owners: none

Update TOC.md
  ce/omnichannel/TOC.md
Owners: none

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
