Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Fixed alt text
  ce/customer-service/routing-trigger.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-timeline-overview.md
  ce/customer-service/customer-service-hub-user-guide-timeline-overview.md
Owners: @shubhadaj

Update track-contacts.md
  ce/outlook-app/User/track-contacts.md
Owners: @mduelae, @KumarVivek

Update TOC.md
  ce/outlook-app/TOC.md
Owners: @mduelae, @KumarVivek

Update track-contacts.md
  ce/outlook-app/User/track-contacts.md
Owners: @mduelae, @KumarVivek

Update track-without-set-regarding.md
  ce/outlook-app/User/track-without-set-regarding.md
Owners: @mduelae, @KumarVivek

Update support-matrix.md
  ce/outlook-app/User/support-matrix.md
Owners: @mduelae, @KumarVivek

Update track-message-or-appointment.md
  ce/outlook-app/User/track-message-or-appointment.md
Owners: @mduelae, @KumarVivek

Update track-contacts.md
  ce/outlook-app/User/track-contacts.md
Owners: @mduelae, @KumarVivek

Update admin-users-licenses-roles.md
  ce/marketing/admin-users-licenses-roles.md
Owners: @shellyhaverkamp

Update track-contacts.md
  ce/outlook-app/User/track-contacts.md
Owners: @mduelae, @KumarVivek

Update TOC.md
  ce/outlook-app/TOC.md
Owners: @mduelae, @KumarVivek

Update basic-navigation.md
  ce/outlook-app/User/basic-navigation.md
Owners: @mduelae, @KumarVivek

Update support-matrix.md
  ce/outlook-app/User/support-matrix.md
Owners: @mduelae, @KumarVivek

Update support-matrix.md
  ce/outlook-app/User/support-matrix.md
Owners: @mduelae, @KumarVivek

Update track-message-or-appointment.md
  ce/outlook-app/User/track-message-or-appointment.md
Owners: @mduelae, @KumarVivek

Update track-message-or-appointment.md
  ce/outlook-app/User/track-message-or-appointment.md
Owners: @mduelae, @KumarVivek

Update track-contacts.md
  ce/outlook-app/User/track-contacts.md
Owners: @mduelae, @KumarVivek

Update TOC.md
  ce/customer-service/TOC.md
Owners: @shubhadaj

Update TOC.md
  ce/customer-service/TOC.md
Owners: @shubhadaj

Update field-service-knowledge-management.md
  ce/field-service/field-service-knowledge-management.md
Owners: @shellyhaverkamp

TRI
  ce/customer-service/create-workstreams.md
  ce/customer-service/entity-channel.md
  ce/customer-service/media/enable-unified-routing.png
  ce/customer-service/set-up-record-routing.md
Owners: @shubhadaj

First cut at event documentation
  ce/marketing/real-time-marketing-event-triggers.md
Owners: @shellyhaverkamp

Additional page on custom events
  ce/marketing/real-time-marketing-custom-events.md
Owners: @shellyhaverkamp

fixed bookmarks
  ce/customer-service/developer/reference/entities/incident.md
  ce/customer-service/developer/reference/entities/msdyn_liveworkstream.md
  ce/customer-service/developer/reference/entities/msdyn_oclanguage.md
Owners: @shubhadaj

fixed bookmark issues
  ce/customer-service/developer/reference/entities/msdyn_liveworkstream.md
  ce/customer-service/developer/reference/entities/msdyn_oclanguage.md
Owners: @shubhadaj

Corrected hyperlinks
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/customer-service-hub-user-guide-timeline-overview.md
Owners: @shubhadaj

Interim
  ce/customer-service/create-chat-auth-settings.md
Owners: @shubhadaj

updated title
  ce/sales-enterprise/goals-overview.md
Owners: @shubhadaj

Corrected table formatting
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

Parallelism
  ce/customer-service/set-up-record-routing.md
Owners: @shubhadaj

Reverted the table formatting
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/timeline-posts-1a-rich-text.png
Owners: @shubhadaj

Updated for 2193122
  ce/customer-service/create-chat-auth-settings.md
Owners: @shubhadaj

Language, terminology
  ce/customer-service/routing-trigger.md
Owners: @shubhadaj

TRI for record routing
  ce/customer-service/create-chat-auth-settings.md
  ce/customer-service/set-up-record-routing.md
Owners: @shubhadaj

Update teams-install-app.md
  ce/teams-integration/teams-install-app.md
Owners: none

updated topic, added screenshots, renamed file.
  ce/customer-service/TOC.md
  ce/customer-service/add-skill-update-control.md
  ce/customer-service/add-timer-control-case-form-track-time-against-sla.md
  ce/customer-service/customize-forms-for-skills.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
