Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

edit
  ce/unified-service-desk/select-hosting-method-controls.md
Owners: @shubhadaj

edited ToC
  ce/unified-service-desk/toc.yml
Owners: @shubhadaj

metadesc edit
  ce/unified-service-desk/hosted-control-types-action-event-reference.md
  ce/unified-service-desk/toc.yml
Owners: @shubhadaj

reverted
  ce/unified-service-desk/ie-process.md
  ce/unified-service-desk/select-hosting-method-controls.md
Owners: @shubhadaj

added fwlink
  ce/customer-service/channel-integration-framework/toc.yml
Owners: @shubhadaj

edits
  ce/customer-service/channel-integration-framework/known-issues.md
  ce/customer-service/channel-integration-framework/toc.yml
Owners: @shubhadaj

edit
  ce/customer-service/channel-integration-framework/toc.yml
Owners: @shubhadaj

edit
  ce/customer-service/channel-integration-framework/toc.yml
Owners: @shubhadaj

Delete known-issues.md
  ce/customer-service/channel-integration-framework/known-issues.md
Owners: @shubhadaj

edits
  ce/unified-service-desk/admin/recover-internet-explorer-process-instance.md
  ce/unified-service-desk/admin/unified-service-desk-system-requirements.md
  ce/unified-service-desk/ie-process.md
  ce/unified-service-desk/select-hosting-method-controls.md
Owners: @shubhadaj

ADO 2422848
  .openpublishing.redirection.json
Owners: none

edit
  ce/unified-service-desk/ie-process.md
Owners: @shubhadaj

edit
  ce/unified-service-desk/ie-process.md
Owners: @shubhadaj

edits
  ce/unified-service-desk/admin/recover-internet-explorer-process-instance.md
  ce/unified-service-desk/admin/unified-service-desk-system-requirements.md
Owners: @shubhadaj

Fixed build issues
  ce/sales-enterprise/close-quote.md
  ce/sales-enterprise/toc.yml
  ce/sales-professional/create-quotes-sales-professional.md
Owners: @shubhadaj

edits
  ce/unified-service-desk/admin/internet-explorer-settings-bpa.md
  ce/unified-service-desk/admin/performance-enhancement-CRM-entity-page-loads.md
  ce/unified-service-desk/admin/recover-internet-explorer-process-instance.md
  ce/unified-service-desk/admin/unified-service-desk-system-requirements.md
  ce/unified-service-desk/ie-process.md
  ce/unified-service-desk/select-hosting-method-controls.md
Owners: @shubhadaj

relative path
  ce/unified-service-desk/admin/internet-explorer-settings-bpa.md
Owners: @shubhadaj

edits
  ce/unified-service-desk/admin/unified-service-desk-system-requirements.md
  ce/unified-service-desk/ie-process.md
Owners: @shubhadaj

edits
  ce/unified-service-desk/ie-process.md
  ce/unified-service-desk/select-hosting-method-controls.md
Owners: @shubhadaj

Update rso-deployment.md
  ce/field-service/rso-deployment.md
Owners: @shellyhaverkamp

initial edits
  ce/field-service/troubleshoot-faq.yml
Owners: @shellyhaverkamp

image
  ce/field-service/media/fr-image1.png
  ce/field-service/media/fr-image2.png
  ce/field-service/work-order-customer-account.md
Owners: @shellyhaverkamp

Update scheduling-self-customers.md
  ce/field-service/scheduling-self-customers.md
Owners: @shellyhaverkamp

Update configure-default-settings.md
  ce/field-service/configure-default-settings.md
Owners: @shellyhaverkamp

Update scheduling-self-customers.md
  ce/field-service/scheduling-self-customers.md
Owners: @shellyhaverkamp

Update field-service-customizations.md
  ce/field-service/field-service-customizations.md
Owners: @shellyhaverkamp

Update configure-default-settings.md
  ce/field-service/configure-default-settings.md
Owners: @shellyhaverkamp

Create community-get-started.md
  ce/customer-service/community-get-started.md
Owners: @shubhadaj

Update rso-faq.yml
  ce/field-service/rso-faq.yml
Owners: @shellyhaverkamp

Update support-phones-tablets.md
  ce/mobile-app/support-phones-tablets.md
Owners: @mduelae, @KumarVivek

Update community-get-started.md
  ce/customer-service/community-get-started.md
Owners: @shubhadaj

Update community-get-started.md
  ce/customer-service/community-get-started.md
Owners: @shubhadaj

Create community-overview.md
  ce/customer-service/community-overview.md
Owners: @shubhadaj

adds beethoven requirements
  ce/field-service/toc.yml
  ce/field-service/trial-faq.md
  ce/field-service/trial-signup.md
Owners: @shellyhaverkamp

SIGH trying to fix yaml
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

STILL TRYING TO FIX YAML
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

sigh
  ce/field-service/toc.yml
  ce/field-service/trial-signup.md
Owners: @shellyhaverkamp

and again
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

Commenting out links per 2424004
  ce/customerengagement/on-premises/admin/field-level-security.md
  ce/customerengagement/on-premises/admin/hierarchy-security.md
  ce/customerengagement/on-premises/admin/manage-product-catalog-configuration.md
  ce/customerengagement/on-premises/customize/create-edit-fields.md
  ce/customerengagement/on-premises/customize/define-rollup-fields.md
  ce/customerengagement/on-premises/customize/types-of-fields.md
Owners: none

removing breaking change
  ce/docfx.json
Owners: none
