Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update TOC.md
  ce/omnichannel/TOC.md
Owners: none

Update overview.md
  ce/omnichannel/developer/reference/entities/overview.md
Owners: none

Update overview.md
  ce/omnichannel/developer/reference/entities/overview.md
Owners: none

Update macros.md
  ce/omnichannel/administrator/macros.md
Owners: none

Update macros.md
  ce/omnichannel/administrator/macros.md
Owners: none

Add files via upload
  ce/omnichannel/media/flow-connector.png
  ce/omnichannel/media/flow-permissions.png
  ce/omnichannel/media/run-flow.png
Owners: none

Update automation-dictionary-keys.md
  ce/omnichannel/administrator/automation-dictionary-keys.md
Owners: none

Update automation-dictionary-keys.md
  ce/omnichannel/administrator/automation-dictionary-keys.md
Owners: none

Update macros.md
  ce/omnichannel/administrator/macros.md
Owners: none

Add files via upload
  ce/omnichannel/media/flow-permissions.png
Owners: none

Update inspections.md
  ce/field-service/inspections.md
Owners: @shellyhaverkamp

Update inspections.md
  ce/field-service/inspections.md
Owners: @shellyhaverkamp

Try channels update
  ce/omnichannel/media/new-trial-instance.png
  ce/omnichannel/try-channels.md
Owners: none

Title change in URS page of Schedule Board
  ce/common-scheduler/preview-schedule-board.md
Owners: @shellyhaverkamp

TRI
  ce/omnichannel/administrator/upgrade-omnichannel.md
  ce/omnichannel/media/upgrade-oc.png
  ce/omnichannel/media/upgrade-progress.png
Owners: none

added deactiveate forecast
  ce/sales-enterprise/TOC.md
  ce/sales-enterprise/activate-upload-simple-columns-data-forecast.md
  ce/sales-enterprise/deactivate-delete-forecast.md
  ce/sales-enterprise/media/forecast-deactivate-confirm-deactivate.png
  ce/sales-enterprise/media/forecast-deactivate-home-page.png
  ce/sales-enterprise/media/forecast-deactivate-inactive-tab.png
  ce/sales-enterprise/media/forecast-deactivate-select-deactivate.png
  ce/sales-enterprise/media/forecast-delete-confirm-delete.png
  ce/sales-enterprise/media/forecast-delete-select-delete.png
Owners: @shubhadaj

Update enhanced-email.md
  ce/sales-enterprise/enhanced-email.md
Owners: @shubhadaj

Minor edit
  ce/omnichannel/administrator/upgrade-omnichannel.md
Owners: none

Formatting issue addressed
  ce/omnichannel/administrator/context-variables-for-bot.md
  ce/omnichannel/supervisor/intraday-insights-dashboard.md
Owners: none

Some more formatting issues
  ce/omnichannel/administrator/context-variables-for-bot.md
Owners: none

Minor Clarification in Subgrid records as dialog setting
  ce/field-service/configure-default-settings.md
Owners: @shellyhaverkamp

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

restoring deleted file
  ce/omnichannel/developer/reference/entities/incident.md
Owners: none

Interim
  ce/omnichannel/supervisor/omnichannel-insights-dashboard.md
Owners: none

daveInstallNewFsm
  ce/field-service/field-service-mobile-app-user-guide.md
  ce/field-service/field-service-mobile-use.md
  ce/field-service/install-field-service.md
Owners: @shellyhaverkamp

Update TOC.md
  ce/omnichannel/TOC.md
Owners: none

Update configure-whatsapp-channel.md
  ce/omnichannel/administrator/configure-whatsapp-channel.md
Owners: none

Fixed warnings
  ce/omnichannel/TOC.md
  ce/omnichannel/administrator/automation-dictionary-keys.md
  ce/omnichannel/administrator/macros.md
  ce/omnichannel/developer/reference/entities/overview.md
Owners: none

Update macros.md
  ce/omnichannel/administrator/macros.md
Owners: none

daveInstallNewFsm
  ce/field-service/TOC.md
  ce/field-service/field-service-mobile-app-user-guide.md
  ce/field-service/field-service-mobile-use.md
Owners: @shellyhaverkamp

Update field-service-mobile-app-user-guide.md
  ce/field-service/field-service-mobile-app-user-guide.md
Owners: @shellyhaverkamp

Interim
  ce/omnichannel/supervisor/omnichannel-insights-dashboard.md
Owners: none

Update bring-your-own-channel.md
  ce/omnichannel/developer/how-to/bring-your-own-channel.md
Owners: none

daveInstallNewFsm
  ce/field-service/field-service-mobile-app-user-guide.md
  ce/field-service/install-field-service.md
Owners: @shellyhaverkamp

Update outbound-messaging.md
  ce/omnichannel/administrator/outbound-messaging.md
Owners: none

Add files via upload
  ce/omnichannel/media/outbound-configuration.png
  ce/omnichannel/media/outbound-message-flow2.png
Owners: none

Delete chat-custom-messages.md
  ce/omnichannel/administrator/chat-custom-messages.md
Owners: none

Update TOC.md
  ce/omnichannel/TOC.md
Owners: none

Update agent-display-name.md
  ce/omnichannel/administrator/agent-display-name.md
Owners: none

Update configure-pre-chat-survey.md
  ce/omnichannel/administrator/configure-pre-chat-survey.md
Owners: none
