Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Update TOC.md
  ce/customer-service/TOC.md
Owners: @shubhadaj

Update TOC.md
  ce/customer-service/TOC.md
Owners: @shubhadaj

Update mobile-power-app-system-offline.md
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

interim
  ce/customer-service/TOC.md
  ce/customer-service/assignment-methods.md
  ce/customer-service/configure-work-classification.md
  ce/customer-service/media/ur-prioritization-scenario.png
  ce/customer-service/queues-omnichannel.md
  ce/customer-service/set-up-record-routing.md
Owners: @shubhadaj

Update use-delegate-access.md
  ce/outlook-app/User/use-delegate-access.md
Owners: @mduelae, @KumarVivek

Update voice-channel-install.md
  ce/customer-service/voice-channel-install.md
Owners: @shubhadaj

daveOCVoiceGA
  ce/customer-service/voice-channel-first-call.md
  ce/customer-service/voice-channel-install.md
  ce/customer-service/voice-channel-ivr-bots.md
  ce/customer-service/voice-channel-route-queues.md
Owners: @shubhadaj

RELEASE NOTES- FS VERSION HISTORY CHANGES
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update mobile-power-app-system-offline.md
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

daveOCVoiceGA
  ce/customer-service/voice-channel-call-insights.md
  ce/customer-service/voice-channel-ivr-bots.md
  ce/customer-service/voice-channel-manage.md
  ce/customer-service/voice-channel-route-queues.md
Owners: @shubhadaj

Update mobile-power-app-system-offline.md
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

Update mobile-power-app-system-offline.md
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

daveOCVoiceGA
  ce/customer-service/TOC.md
  ce/customer-service/voice-channel-agent-experience.md
  ce/customer-service/voice-channel-faq.md
  ce/customer-service/voice-channel-ivr-bots.md
  ce/customer-service/voice-channel-route-queues.md
Owners: @shubhadaj

Update use-delegate-access.md
  ce/outlook-app/User/use-delegate-access.md
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/da-track-without-regarding.png
Owners: @mduelae, @KumarVivek

Delete da-track-without-regarding.png
  ce/outlook-app/media/da-track-without-regarding.png
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/da-track-without-regarding.png
Owners: @mduelae, @KumarVivek

Update use-delegate-access.md
  ce/outlook-app/User/use-delegate-access.md
Owners: @mduelae, @KumarVivek

Update use-delegate-access.md
  ce/outlook-app/User/use-delegate-access.md
Owners: @mduelae, @KumarVivek

Delete da-tracked-successful.png
  ce/outlook-app/media/da-tracked-successful.png
Owners: @mduelae, @KumarVivek

Delete view-in-app.png
  ce/outlook-app/media/view-in-app.png
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/view-in-app.png
Owners: @mduelae, @KumarVivek

add image n change link to Teams setup
  ce/field-service/media/mobile-offline-mop-latest.png
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

Update mobile-power-app-system-offline.md
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

Update track-message-or-appointment.md
  ce/outlook-app/User/track-message-or-appointment.md
Owners: @mduelae, @KumarVivek

Update mobile-power-app-system-offline.md
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

Add files via upload
  ce/outlook-app/media/set-regarding-row-seen-in-app.png
Owners: @mduelae, @KumarVivek

Update mobile-power-app-system-offline.md
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

Update mobile-power-app-system-offline.md
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

Update use-delegate-access.md
  ce/outlook-app/User/use-delegate-access.md
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/track-without-regarding-in-app.png
Owners: @mduelae, @KumarVivek

Update use-delegate-access.md
  ce/outlook-app/User/use-delegate-access.md
Owners: @mduelae, @KumarVivek

Update use-delegate-access.md
  ce/outlook-app/User/use-delegate-access.md
Owners: @mduelae, @KumarVivek

added a FAQ and image
  ce/field-service/media/mobile_reconfigure-signout.PNG
  ce/field-service/mobile-power-app-faq.md
Owners: @shellyhaverkamp

Update use-delegate-access.md
  ce/outlook-app/User/use-delegate-access.md
Owners: @mduelae, @KumarVivek

Update use-delegate-access.md
  ce/outlook-app/User/use-delegate-access.md
Owners: @mduelae, @KumarVivek

Update dynamics-365-app-outlook-user-s-guide.md
  ce/outlook-app/dynamics-365-app-outlook-user-s-guide.md
Owners: @mduelae, @KumarVivek

Create s-mime-email.md
  ce/outlook-app/User/s-mime-email.md
Owners: @mduelae, @KumarVivek

Update s-mime-email.md
  ce/outlook-app/User/s-mime-email.md
Owners: @mduelae, @KumarVivek

Update s-mime-email.md
  ce/outlook-app/User/s-mime-email.md
Owners: @mduelae, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
