Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Updated filename
  ce/customer-service/routing-work-distribution.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

Toc update
  ce/customer-service/toc.yml
Owners: @shubhadaj

further updates
  ce/customer-service/routing-work-distribution-oca.md
Owners: @shubhadaj

toc update
  ce/customer-service/toc.yml
Owners: @shubhadaj

updated metadata and titles
  ce/customer-service/add-facilities-equipment-cs-app.md
  ce/customer-service/add-facilities-equipment-ss-csh.md
  ce/customer-service/create-simple-selection-rule.md
  ce/customer-service/cs-iot-central-associate-devices.md
  ce/customer-service/cs-iot-parent-alerts-workflow.md
  ce/customer-service/cs-iot-receive-alerts.md
  ce/customer-service/customer-service-analytics.md
  ce/customer-service/customer-service-hub-user-guide-case-sla.md
  ce/customer-service/customer-service-hub-user-guide-convert-case-to-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-create-and-manage-parent-and-child-cases.md
  ce/customer-service/customer-service-hub-user-guide-dashboard.md
  ce/customer-service/customer-service-hub-user-guide-manage-timeline-activities.md
  ce/customer-service/extend-transformer-logic-template.md
  ce/customer-service/introduction-migration-entity-records.md
  ce/customer-service/manage-security-roles.md
  ce/customer-service/migrate-entity-records.md
  ce/customer-service/plan-migration.md
  ce/customer-service/restrict-resource-from-performing-service.md
  ce/customer-service/set-custom-icon-custom-case-origin.md
Owners: @shubhadaj

added metadesc
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/createsession.md
Owners: @shubhadaj

updated relative path
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/createsession.md
Owners: @shubhadaj

path
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/createsession.md
Owners: @shubhadaj

removed period
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/createsession.md
Owners: @shubhadaj

path update
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/createsession.md
Owners: @shubhadaj

Updates
  ce/sales-enterprise/enable-enhanced-add-product-experience.md
  ce/sales-enterprise/media/listview.png
  ce/sales-enterprise/media/new-view-in-cola.PNG
  ce/sales-enterprise/media/open-in-app-designer.png
  ce/sales-enterprise/media/sitemap-designer.PNG
  ce/sales-enterprise/media/trial-app-link.png
  ce/sales-enterprise/sales-previews-in-trial.md
Owners: @shubhadaj

Added toc entry
  ce/sales-enterprise/sales-previews-in-trial.md
  ce/sales-enterprise/toc.yml
Owners: @shubhadaj

edited intro
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/createsession.md
Owners: @shubhadaj

Fix toc issue
  ce/sales-enterprise/toc.yml
Owners: @shubhadaj

Toc issue fixed
  ce/sales-enterprise/toc.yml
Owners: @shubhadaj

added correlationId
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/createsession.md
Owners: @shubhadaj

edits
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/createsession.md
Owners: @shubhadaj

edits
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/createsession.md
Owners: @shubhadaj

edited intro line
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/createsession.md
Owners: @shubhadaj

edited intro line
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/createsession.md
Owners: @shubhadaj

ADO 2363187
  .openpublishing.redirection.json
Owners: none

updated createSession and notifyEvent methods
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/createsession.md
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/notifyevent.md
Owners: @shubhadaj

updated Type
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/createsession.md
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/notifyevent.md
Owners: @shubhadaj

removed def/indef articles
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/createsession.md
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/notifyevent.md
Owners: @shubhadaj

Incorporated Dev and PM comments
  ce/sales-enterprise/customize-deal-manager.md
  ce/sales-enterprise/deal-manager-overview.md
  ce/sales-enterprise/personalize-deal-manager.md
Owners: @shubhadaj

more updates
  ce/sales-enterprise/customize-deal-manager.md
Owners: @shubhadaj

edits
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/notifyevent.md
Owners: @shubhadaj

Update unified-routing-faqs.md
  ce/customer-service/unified-routing-faqs.md
Owners: @shubhadaj

Interim
  ce/customer-service/assignment-methods.md
  ce/customer-service/media/ur-prioritization-scenario.png
Owners: @shubhadaj

Update macros.md
  ce/app-profile-manager/macros.md
Owners: none

Update macros.md
  ce/app-profile-manager/macros.md
Owners: none

Admin SEO Updates
  ce/admin/admin-guide.md
Owners: @jimholtz

Update manage-online-instances.md
  ce/admin/manage-online-instances.md
Owners: @jimholtz

Update new-instance-management.md
  ce/admin/new-instance-management.md
Owners: @jimholtz

Update manage-sandbox-instances.md
  ce/admin/manage-sandbox-instances.md
Owners: @jimholtz

Update add-instance-subscription.md
  ce/admin/add-instance-subscription.md
Owners: @jimholtz

Update switch-instance.md
  ce/admin/switch-instance.md
Owners: @jimholtz

Update copy-instance.md
  ce/admin/copy-instance.md
Owners: @jimholtz

Update delete-instance.md
  ce/admin/delete-instance.md
Owners: @jimholtz

Update backup-restore-instances.md
  ce/admin/backup-restore-instances.md
Owners: @jimholtz
