Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

removed additional line after the table
  ce/customer-service/add-users-assign-roles.md
Owners: @shubhadaj

removed a colon
  ce/customer-service/monitor-conversations.md
Owners: @shubhadaj

removed colon
  ce/customer-service/monitor-conversations.md
Owners: @shubhadaj

reverted back the old structure
  ce/customer-service/add-users-assign-roles.md
Owners: @shubhadaj

CI setup
  ce/marketing/media/real-time-marketing-ci-profile-success.png
  ce/marketing/media/real-time-marketing-ci-setup.png
Owners: @shellyhaverkamp

CI setup
  ce/marketing/real-time-marketing-ci-profile.md
  ce/marketing/real-time-marketing-custom-events.md
Owners: @shellyhaverkamp

corrected table structure
  ce/customer-service/add-users-assign-roles.md
Owners: @shubhadaj

Update real-time-marketing-custom-events.md
  ce/marketing/real-time-marketing-custom-events.md
Owners: @shellyhaverkamp

correctd table structure
  ce/customer-service/add-users-assign-roles.md
Owners: @shubhadaj

Update real-time-marketing-event-triggers.md
  ce/marketing/real-time-marketing-event-triggers.md
Owners: @shellyhaverkamp

reverted to the old table
  ce/customer-service/add-users-assign-roles.md
Owners: @shubhadaj

Miscellaneous updates
  ce/customer-service/TOC.md
  ce/customer-service/entity-channel.md
  ce/customer-service/routing-trigger.md
  ce/customer-service/set-up-record-routing.md
Owners: @shubhadaj

added the row entry for Supervisor into the table
  ce/customer-service/add-users-assign-roles.md
Owners: @shubhadaj

Update images
  ce/marketing/media/real-time-marketing-ci-profile-success.png
  ce/marketing/media/real-time-marketing-ci-profile-success2.png
  ce/marketing/real-time-marketing-ci-profile.md
Owners: @shellyhaverkamp

Warnings fixed
  ce/customer-service/entity-channel.md
  ce/customer-service/set-up-record-routing.md
Owners: @shubhadaj

Update real-time-marketing-ci-profile.md
  ce/marketing/real-time-marketing-ci-profile.md
Owners: @shellyhaverkamp

Pic update
  ce/marketing/media/real-time-marketing-ci-profile-cart-event.png
  ce/marketing/real-time-marketing-ci-profile.md
Owners: @shellyhaverkamp

Update
  ce/marketing/media/real-time-marketing-ci-profile-cart-event2.png
  ce/marketing/real-time-marketing-ci-profile.md
Owners: @shellyhaverkamp

removed info about the lag
  ce/customer-service/monitor-conversations.md
Owners: @shubhadaj

Adding missing desc
  ce/customerengagement/on-premises/deploy/add-a-new-deployment-administrator.md
  ce/customerengagement/on-premises/deploy/deployment-administrators.md
Owners: none

edited topic
  ce/customer-service/monitor-conversations.md
Owners: @shubhadaj

Update schedule-anything-with-universal-resource-scheduling.md
  ce/common-scheduler/schedule-anything-with-universal-resource-scheduling.md
Owners: @shellyhaverkamp

Update connected-field-service.md
  ce/field-service/connected-field-service.md
Owners: @shellyhaverkamp

Added qualifier
  ce/customer-service/set-up-record-routing.md
Owners: @shubhadaj

edited topics for consistency
  ce/customer-service/monitor-conversations.md
  ce/customer-service/unified-routing-impact-on-APIs.md
Owners: @shubhadaj

added serial comma
  ce/customer-service/monitor-conversations.md
Owners: @shubhadaj

topic edit
  ce/customer-service/monitor-conversations.md
Owners: @shubhadaj

changed entity records to records
  ce/customer-service/monitor-conversations.md
Owners: @shubhadaj

added line break
  ce/customer-service/monitor-conversations.md
Owners: @shubhadaj

Update basic-navigation.md
  ce/outlook-app/User/basic-navigation.md
Owners: @mduelae, @KumarVivek

Known issue updates
  ce/marketing/real-time-marketing-asset-library.md
  ce/marketing/real-time-marketing-email.md
  ce/marketing/real-time-marketing-known-issues.md
Owners: @shellyhaverkamp

Update overview.md
  ce/outlook-app/overview.md
Owners: @mduelae, @KumarVivek

Update overview.md
  ce/outlook-app/overview.md
Owners: @mduelae, @KumarVivek

Update overview.md
  ce/outlook-app/overview.md
Owners: @mduelae, @KumarVivek

Update overview.md
  ce/outlook-app/overview.md
Owners: @mduelae, @KumarVivek

edit for task 2261200
  ce/field-service/mobile-2020-power-platform.md
Owners: @shellyhaverkamp

Update overview.md
  ce/outlook-app/overview.md
Owners: @mduelae, @KumarVivek

Update mobile-2020-power-platform.md
  ce/field-service/mobile-2020-power-platform.md
Owners: @shellyhaverkamp

Update rso-faq.md
  ce/field-service/rso-faq.md
Owners: @shellyhaverkamp

Update TOC.md
  ce/outlook-app/TOC.md
Owners: @mduelae, @KumarVivek
