Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

corrected build report errors
  ce/customer-service/agent-dashboard-cs.md
  ce/customer-service/configure-cs-historical-analytics-csh.md
  ce/customer-service/customer-service-analytics-insights-csh.md
  ce/customer-service/media/oc-bot-dashboard.png
  ce/customer-service/summary-dashboard-cs.md
Owners: @shubhadaj

updated description
  ce/customer-service/developer/reference/entities/msdyn_ocliveworkitem.md
Owners: @shubhadaj

Update role-persona-mapping.md
  ce/customer-service/role-persona-mapping.md
Owners: @shubhadaj

incorporated feedback comments
  ce/customer-service/role-persona-mapping.md
Owners: @shubhadaj

msdyn_ocliveworkitem desc update
  ce/customer-service/developer/reference/entities/msdyn_ocliveworkitem.md
Owners: @shubhadaj

updated typos
  ce/customer-service/role-persona-mapping.md
Owners: @shubhadaj

corrected typos
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

ADO 2242430
  .openpublishing.redirection.json
Owners: none

updated table entries
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

updated cross ref links
  ce/customer-service/unified-routing-diagnostics.md
Owners: @shubhadaj

TRI for unified routing
  ce/customer-service/create-workstreams.md
  ce/customer-service/queues-omnichannel.md
  ce/customer-service/set-up-routing-process.md
Owners: @shubhadaj

corrected typos
  ce/customer-service/download-attachments-PVA-bot.md
Owners: @shubhadaj

Interim
  ce/customer-service/entity-channel.md
  ce/customer-service/overview-skill-work-distribution.md
  ce/customer-service/routing-workstream-queues.md
  ce/customer-service/set-up-routing-process.md
Owners: @shubhadaj

RELEASE NOTES UPDATES FOR FIELD SERVICE
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Interim
  ce/customer-service/oc-admin-center.md
Owners: @shubhadaj

Corrected role name
  ce/app-profile-manager/security-roles.md
Owners: none

Interim
  ce/customer-service/intro-intraday-insights-dashboard.md
Owners: @shubhadaj

Update schedule-travel-time.md
  ce/shared/urs/schedule-travel-time.md
Owners: none

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update connected-field-service.md
  ce/field-service/connected-field-service.md
Owners: @shellyhaverkamp

Update omnichannel-provision-license.md
  ce/customer-service/omnichannel-provision-license.md
Owners: @shubhadaj

Update omnichannel-provision-license.md
  ce/customer-service/omnichannel-provision-license.md
Owners: @shubhadaj

Update Configure-sms-channel-twilio.md
  ce/customer-service/Configure-sms-channel-twilio.md
Owners: @shubhadaj

Update TOC.md
  ce/field-service/TOC.md
Owners: @shellyhaverkamp

daveUpdatePN
  ce/field-service/media/mobile-2020-push-notification-condition.png
  ce/field-service/media/mobile-2020-push-notification-step1.png
  ce/field-service/media/mobile-2020-push-notification-step2.png
  ce/field-service/media/mobile-2020-push-notification-step3.png
  ce/field-service/media/mobile-2020-push-notification-step4.png
  ce/field-service/media/mobile-push-notifications-create.png
  ce/field-service/mobile-power-app-push-notifications.md
Owners: @shellyhaverkamp

Update Configure-sms-channel-twilio.md
  ce/customer-service/Configure-sms-channel-twilio.md
Owners: @shubhadaj

Update Configure-sms-channel-twilio.md
  ce/customer-service/Configure-sms-channel-twilio.md
Owners: @shubhadaj

Update add-chat-widget.md
  ce/customer-service/add-chat-widget.md
Owners: @shubhadaj

Update add-chat-widget.md
  ce/customer-service/add-chat-widget.md
Owners: @shubhadaj

Update assignment-methods.md
  ce/customer-service/assignment-methods.md
Owners: @shubhadaj

Update assignment-methods.md
  ce/customer-service/assignment-methods.md
Owners: @shubhadaj

Update asynchronous-channels.md
  ce/customer-service/asynchronous-channels.md
Owners: @shubhadaj

Update capacity-profiles.md
  ce/customer-service/capacity-profiles.md
Owners: @shubhadaj

Update configure-automated-message.md
  ce/customer-service/configure-automated-message.md
Owners: @shubhadaj

Update configure-custom-channel.md
  ce/customer-service/configure-custom-channel.md
Owners: @shubhadaj

Update configure-facebook-channel.md
  ce/customer-service/configure-facebook-channel.md
Owners: @shubhadaj

Update configure-automated-message.md
  ce/customer-service/configure-automated-message.md
Owners: @shubhadaj

Update configure-pre-chat-survey.md
  ce/customer-service/configure-pre-chat-survey.md
Owners: @shubhadaj

Update configure-twitter-channel.md
  ce/customer-service/configure-twitter-channel.md
Owners: @shubhadaj

Update configure-wechat-channel.md
  ce/customer-service/configure-wechat-channel.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
