Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

RELEASE NOTES UPDATES
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

edit for task 12457
  ce/customer-service/configure-ai-suggested-article-keywords-description.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Screenshot updated
  ce/customer-service/media/route-to-queue-ruleset.png
Owners: @shubhadaj

Update voice-channel-ivr-bots.md
  ce/customer-service/voice-channel-ivr-bots.md
Owners: @shubhadaj

Update configure-ai-suggested-article-keywords-description.md
  ce/customer-service/configure-ai-suggested-article-keywords-description.md
Owners: @shubhadaj

incorporated PR edits
  ce/customer-service/configure-ai-suggested-article-keywords-description.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/media/v9-add-content-article.PNG
  ce/customer-service/media/v9-suggested-keywords-description-dialog.png
Owners: @shubhadaj

Updated screenshot; removed reference to feedback in private preview topics for voice
  ce/customer-service/configure-work-classification.md
  ce/customer-service/media/route-to-queue-ruleset.png
  ce/customer-service/voice-channel-azure-bot-service.md
  ce/customer-service/voice-channel-block-number.md
  ce/customer-service/voice-channel-call-overflow.md
  ce/customer-service/voice-channel-configure-transcripts.md
  ce/customer-service/voice-channel-install.md
  ce/customer-service/voice-channel-ivr-bots.md
  ce/customer-service/voice-channel-manage-phone-numbers.md
  ce/customer-service/voice-channel-multi-language-contact-center.md
  ce/customer-service/voice-channel-music.md
  ce/customer-service/voice-channel-outbound-calling.md
  ce/customer-service/voice-channel-region-availability.md
  ce/customer-service/voice-channel-requirements.md
  ce/customer-service/voice-channel-route-queues.md
  ce/customer-service/voice-channel-survey.md
  ce/customer-service/voice-channel-usage.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

tech review comments
  ce/customer-service/configure-knowledge-article-origin-allow-list.md
Owners: @shubhadaj

Update cc-preview-features-send-us-feedback.md
  ce/includes/cc-preview-features-send-us-feedback.md
Owners: none

ms.date change
  ce/customer-service/auto-close-conversation.md
  ce/customer-service/oc-conversation-state.md
Owners: @shubhadaj

reference added to overview
  ce/sales-enterprise/choose-layout-and-columns-forecast.md
  ce/sales-enterprise/close-opportunity-won-lost-sales.md
  ce/sales-enterprise/close-quote.md
  ce/sales-enterprise/configure-assistant.md
  ce/sales-enterprise/configure-email-engagement.md
  ce/sales-enterprise/configure-keywords-competitors.md
  ce/sales-enterprise/configure-predictive-opportunity-scoring.md
  ce/sales-enterprise/configure-relationship-analytics.md
  ce/sales-enterprise/configure-talking-points.md
  ce/sales-enterprise/configure-who-knows-whom.md
  ce/sales-enterprise/overview.md
Owners: @shubhadaj

edits
  ce/customer-service/auto-close-conversation.md
  ce/customer-service/oc-conversation-state.md
Owners: @shubhadaj

headings updated
  ce/sales-enterprise/overview.md
Owners: @shubhadaj

Some more updates
  ce/customer-service/media/manage-intake-rules.png
  ce/customer-service/set-up-record-routing.md
Owners: @shubhadaj

Update set-up-record-routing.md
  ce/customer-service/set-up-record-routing.md
Owners: @shubhadaj

added examples
  ce/customer-service/channel-integration-framework/reference/microsoft-ciframework/renderSearchPage.md
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/renderSearchPage.md
Owners: @shubhadaj

edits
  ce/customer-service/channel-integration-framework/reference/microsoft-ciframework/renderSearchPage.md
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/renderSearchPage.md
Owners: @shubhadaj

Added missing words in a sentence
  ce/marketing/set-up-event.md
Owners: @shellyhaverkamp

Incorporated PM comments
  ce/customer-service/cs-region-availability-service-limits.md
  ce/customer-service/customer-service-analytics-insights-csh.md
  ce/customer-service/enable-knowledge-search-insights.md
  ce/customer-service/oc-historical-analytics-reports.md
Owners: @shubhadaj

edits
  ce/customer-service/enable-knowledge-search-insights.md
Owners: @shubhadaj

edits
  ce/customer-service/cs-region-availability-service-limits.md
  ce/customer-service/customer-service-analytics-insights-csh.md
  ce/customer-service/enable-knowledge-search-insights.md
  ce/customer-service/oc-historical-analytics-reports.md
Owners: @shubhadaj

removed m-lanka as ms. author to resolve error
  ce/customer-service/oc-historical-analytics-reports.md
Owners: @shubhadaj

edits
  ce/customer-service/allow-agents-update-skills.md
  ce/customer-service/manage-skills.md
  ce/customer-service/overview-skill-work-distribution.md
  ce/customer-service/set-up-skill-based-routing.md
Owners: @shubhadaj

edits
  ce/customer-service/allow-agents-update-skills.md
Owners: @shubhadaj

edits
  ce/customer-service/overview-skill-work-distribution.md
Owners: @shubhadaj

edits
  ce/customer-service/allow-agents-update-skills.md
Owners: @shubhadaj

edit
  ce/customer-service/allow-agents-update-skills.md
Owners: @shubhadaj

edits
  ce/customer-service/allow-agents-update-skills.md
  ce/customer-service/overview-skill-work-distribution.md
Owners: @shubhadaj

edit
  ce/customer-service/overview-skill-work-distribution.md
Owners: @shubhadaj

added screenshot
  ce/customer-service/allow-agents-update-skills.md
  ce/customer-service/enable-update-skill-control.png
Owners: @shubhadaj

edits
  ce/customer-service/allow-agents-update-skills.md
  ce/customer-service/enable-update-skill-control.png
Owners: @shubhadaj

edits
  ce/customer-service/allow-agents-update-skills.md
  ce/customer-service/set-up-skill-based-routing.md
Owners: @shubhadaj

edits
  ce/customer-service/manage-skills.md
Owners: @shubhadaj

Added a note
  ce/mobile-app/secure-manage-phones-tablets.md
Owners: @mduelae, @KumarVivek

TW for 2417947
  ce/customer-service/configure-teams-collaboration.md
  ce/customer-service/media/teams-new-linked-chat.png
  ce/customer-service/use-ai-suggested-agents-teams.md
Owners: @shubhadaj

Update set-up-event.md
  ce/marketing/set-up-event.md
Owners: @shellyhaverkamp

daveFSMWindows
  ce/field-service/mobile-powerapp-windows.md
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

Update mobile-powerapp-windows.md
  ce/field-service/mobile-powerapp-windows.md
Owners: @shellyhaverkamp

daveFSMWIndows
  ce/field-service/media/mobile-2020-windows-account-form-with-barcode-field.JPG
  ce/field-service/media/mobile-2020-windows-after-capture.JPG
  ce/field-service/media/mobile-2020-windows-agenda-view.JPG
  ce/field-service/media/mobile-2020-windows-barcode-reader-launched.JPG
  ce/field-service/media/mobile-2020-windows-booking-form-with-status-dropdown.JPG
  ce/field-service/media/mobile-2020-windows-launch-device-camera-to-capture-image.JPG
  ce/field-service/media/mobile-2020-windows-login-screen.JPG
  ce/field-service/media/mobile-2020-windows-note-added-to-timeline.JPG
  ce/field-service/media/mobile-2020-windows-offline.jpg
  ce/field-service/media/mobile-2020-windows-timeline-control-to-add-images-and-videos.JPG
  ce/field-service/mobile-powerapp-windows.md
Owners: @shellyhaverkamp

edit for task 12459
  ce/customer-service/configure-knowledge-article-origin-allow-list.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
