Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update
  ce/marketing/media/teams-follow-up-get-started2.png
  ce/marketing/media/teams-follow-up-get-started3.png
  ce/marketing/media/teams-follow-up2.png
  ce/marketing/media/teams-follow-up3.png
  ce/marketing/teams-how-to-follow-up.md
  ce/marketing/teams-journey.md
  ce/marketing/teams-webinar-follow-up.md
Owners: @shellyhaverkamp

Add files via upload
  ce/customer-service/media/linked-teams-chat-settings.png
  ce/customer-service/media/unlink-chats-toggles.png
  ce/customer-service/media/unlink-teams-chat-record.png
Owners: @shubhadaj

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

Delete unlink-chats-toggles.png
  ce/customer-service/media/unlink-chats-toggles.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/unlink-chats-toggles.png
Owners: @shubhadaj

Update mobile-offline-capabilities.md
  ce/mobile-app/mobile-offline-capabilities.md
Owners: @mduelae, @KumarVivek

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

Update teams-use-suggested-contacts.md
  ce/customer-service/teams-use-suggested-contacts.md
Owners: @shubhadaj

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

edit
  ce/customer-service/channel-integration-framework/v2/add-cif-solution-dependent-solution.md
Owners: @shubhadaj

edit
  ce/customer-service/channel-integration-framework/v2/add-cif-solution-dependent-solution.md
Owners: @shubhadaj

edit
  ce/customer-service/developer/reference/methods/getAuthTokenProvider.md
  ce/customer-service/developer/reference/methods/removeAuthTokenProvider.md
  ce/customer-service/developer/reference/methods/setAuthTokenProvider.md
  ce/customer-service/developer/reference/methods/setContextProvider.md
Owners: @shubhadaj

edits
  ce/customer-service/developer/reference/methods/removeContextProvider.md
Owners: @shubhadaj

edit
  ce/customer-service/developer/reference/methods/getAuthTokenProvider.md
  ce/customer-service/developer/reference/methods/getContextProvider.md
  ce/customer-service/developer/reference/methods/removeContextProvider.md
Owners: @shubhadaj

edit
  ce/customer-service/developer/reference/methods/setContextProvider.md
Owners: @shubhadaj

edit
  ce/customer-service/send-context-starting-chat.md
Owners: @shubhadaj

edit
  ce/customer-service/send-context-starting-chat.md
Owners: @shubhadaj

feedback
  ce/sales/developer/reference/custom-actions-manual-forecasting.md
  ce/sales/developer/reference/custom-actions/events-context.md
  ce/sales/developer/reference/custom-actions/msdyn_ForecastApi.md
  ce/sales/toc.yml
Owners: none

Fixed minor issues
  ce/sales/view-and-manage-underlying-opportunities.md
Owners: none

Minor updates
  ce/sales/view-and-manage-underlying-opportunities.md
Owners: none

fixed link errors
  ce/sales/view-and-manage-underlying-opportunities.md
Owners: none

Update
  ce/sales/view-and-manage-underlying-opportunities.md
Owners: none

Updates
  ce/customer-service/enable-agent-reject-notifications.md
  ce/customer-service/manage-missed-notifications.md
  ce/customer-service/media/enable-missed-notifications.png
Owners: @shubhadaj

Update who-knows-whom.md
  ce/sales/who-knows-whom.md
Owners: none

Update create-manage-sequences.md
  ce/sales/create-manage-sequences.md
Owners: none

tech review comments incorporation
  ce/customer-service/integrate-KM-with-PVA.md
Owners: @shubhadaj

edits
  ce/customer-service/integrate-KM-with-PVA.md
Owners: @shubhadaj

edits
  ce/customer-service/integrate-KM-with-PVA.md
Owners: @shubhadaj

edits
  ce/customer-service/developer/reference/methods/removeAuthTokenProvider.md
  ce/customer-service/developer/reference/methods/setAuthTokenProvider.md
  ce/customer-service/send-auth-token-starting-chat.md
Owners: @shubhadaj

ADO 12758
  .openpublishing.redirection.json
  ce/sales/developer/exportpdf-api.md
Owners: none

Tech review comments incorporation
  ce/customer-service/configure-knowledge-search-control-productivity-pane.md
  ce/customer-service/media/add-ent-record.png
  ce/customer-service/media/edit-ent-record.png
Owners: @shubhadaj

edits
  ce/customer-service/enable-agent-reject-notifications.md
  ce/customer-service/manage-missed-notifications.md
Owners: @shubhadaj

edits
  ce/customer-service/configure-knowledge-search-control-productivity-pane.md
  ce/customer-service/media/add-ent-record.png
  ce/customer-service/media/edit-ent-record.png
  ce/customer-service/toc.yml
Owners: @shubhadaj

edits
  ce/customer-service/toc.yml
Owners: @shubhadaj

edits
  ce/customer-service/toc.yml
Owners: @shubhadaj

edits
  ce/customer-service/configure-knowledge-search-control-productivity-pane.md
Owners: @shubhadaj

edit
  ce/customer-service/channel-integration-framework/add-cif-solution-dependent-solution.md
  ce/customer-service/channel-integration-framework/architecture-overview-channel-integration-framework.md
Owners: @shubhadaj

Tweak
  ce/customerengagement/on-premises/developer/sample-add-products-bundle.md
Owners: none
