Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Additional changes from PM
  ce/customer-service/oc-manage-presence-status.md
  ce/customer-service/oc-notifications.md
Owners: @shubhadaj

new screenshot
  ce/customer-service/media/maximum-session-limit-notification.png
Owners: @shubhadaj

minor edits
  ce/customer-service/configure-knowledge-article-origin-allow-list.md
Owners: @shubhadaj

Update community-faqs.md
  ce/customer-service/community-faqs.md
Owners: @shubhadaj

edits
  ce/customer-service/oc-manage-presence-status.md
Owners: @shubhadaj

Update community-faqs.md
  ce/customer-service/community-faqs.md
Owners: @shubhadaj

Updated for record entity
  ce/customer-service/configure-assignment-rules.md
Owners: @shubhadaj

Update community-create-websites.md
  ce/customer-service/community-create-websites.md
Owners: @shubhadaj

Update community-create-websites.md
  ce/customer-service/community-create-websites.md
Owners: @shubhadaj

Removed CLA info
  ce/sales-enterprise/media/opportunity-new-view.PNG
  ce/sales-enterprise/media/sitemap-designer.png
  ce/sales-enterprise/sales-previews-in-trial.md
Owners: @shubhadaj

removed CLA reference
  ce/sales-enterprise/deal-manager-seller-overview.md
Owners: @shubhadaj

PR review edits
  ce/app-profile-manager/macros.md
  ce/customer-service/define-service-level-agreements.md
  ce/customer-service/search-control-for-subjects.md
Owners: @shubhadaj

edit
  ce/customer-service/channel-integration-framework/reference/microsoft-ciframework/renderSearchPage.md
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/renderSearchPage.md
Owners: @shubhadaj

Updated date
  ce/sales-enterprise/deal-manager-seller-overview.md
Owners: @shubhadaj

Minor edit
  ce/customer-service/define-service-level-agreements.md
Owners: @shubhadaj

tables added
  ce/sales-enterprise/overview.md
Owners: @shubhadaj

table format
  ce/sales-enterprise/overview.md
Owners: @shubhadaj

UI and content uodates
  ce/customer-service/csw-search-knowledge-articles.md
  ce/customer-service/media/csw-article-app-tab.png
  ce/customer-service/media/csw-article-filter.png
  ce/customer-service/media/csw-email-url.png
  ce/customer-service/media/csw-link-unlink-km.png
Owners: @shubhadaj

intros added
  ce/sales-enterprise/overview.md
Owners: @shubhadaj

TRI
  ce/customer-service/configure-cs-historical-analytics-csh.md
  ce/customer-service/cs-historical-analytics-unified-routing.md
  ce/customer-service/media/ur-cs-hist-queue-drill-down-view.png
  ce/customer-service/oc-historical-analytics-unified-routing.md
Owners: @shubhadaj

added content.
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

heading updated
  ce/sales-enterprise/nurture-sales-from-lead-order-sales.md
  ce/sales-enterprise/overview.md
  ce/sales-enterprise/toc.yml
Owners: @shubhadaj

Minor edits
  ce/app-profile-manager/macros.md
Owners: none

updated
  ce/sales-enterprise/overview.md
Owners: @shubhadaj

Update overview.md
  ce/sales-enterprise/overview.md
Owners: @shubhadaj

Update overview.md
  ce/sales-enterprise/overview.md
Owners: @shubhadaj

Update overview.md
  ce/sales-enterprise/overview.md
Owners: @shubhadaj

Update overview.md
  ce/sales-enterprise/overview.md
Owners: @shubhadaj

Forecasting features in wave2
  ce/sales-enterprise/enable-forecast-sharing.md
  ce/sales-enterprise/filter-users-from-forecast.md
Owners: @shubhadaj

Updated screenshot
  ce/sales-enterprise/media/listview.png
Owners: @shubhadaj

Update community-overview.md
  ce/customer-service/community-overview.md
Owners: @shubhadaj

Interim
  ce/customer-service/configure-teams-collaboration.md
  ce/customer-service/csw-enable-ai-suggested-cases-knowledge-articles.md
  ce/customer-service/media/ai-suggested-contacts-suggestions-dropdown.png
  ce/customer-service/use-ai-suggested-agents-teams.md
Owners: @shubhadaj

TRI
  ce/customer-service/configure-teams-collaboration.md
  ce/customer-service/media/confidence-score-with-explanation.png
  ce/customer-service/use-ai-suggested-agents-teams.md
Owners: @shubhadaj

More edits
  ce/customer-service/configure-teams-collaboration.md
Owners: @shubhadaj

edits
  ce/customer-service/use-ai-suggested-agents-teams.md
Owners: @shubhadaj

TRI
  ce/customer-service/use-effort-estimation-for-routing.md
  ce/customer-service/use-sentiment-prediction-for-routing.md
Owners: @shubhadaj

Outdated screenshot and label - Enable for mobile offline
  ce/mobile-app/setup-mobile-offline.md
Owners: @mduelae, @KumarVivek

Update community-forum-setup.md
  ce/customer-service/community-forum-setup.md
Owners: @shubhadaj

Update community-moderator-experience.md
  ce/customer-service/community-moderator-experience.md
Owners: @shubhadaj

Update community-moderator-experience.md
  ce/customer-service/community-moderator-experience.md
Owners: @shubhadaj
