Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update field-service-customization-best-practices.md
  ce/field-service/field-service-customization-best-practices.md
Owners: @shellyhaverkamp

Update field-service-customization-best-practices.md
  ce/field-service/field-service-customization-best-practices.md
Owners: @shellyhaverkamp

Update field-service-customization-best-practices.md
  ce/field-service/field-service-customization-best-practices.md
Owners: @shellyhaverkamp

Update field-service-customization-best-practices.md
  ce/field-service/field-service-customization-best-practices.md
Owners: @shellyhaverkamp

Update use-schedule-board-configure-service-activity.md
  ce/customer-service/use-schedule-board-configure-service-activity.md
Owners: @shubhadaj

edits
  ce/customer-service/channel-integration-framework/v2/migrate-config-data.md
Owners: @shubhadaj

Release notes updates
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

edits
  ce/customer-service/csw-enable-ai-suggested-cases-knowledge-articles.md
  ce/customer-service/csw-view-ai-suggested-cases-knowledge-articles.md
Owners: @shubhadaj

edits
  ce/customer-service/channel-integration-framework/v2/migrate-config-data.md
Owners: @shubhadaj

edit
  ce/customer-service/channel-integration-framework/v2/migrate-config-data.md
Owners: @shubhadaj

Config changes to reflect the default branch from master to main.
  .openpublishing.publish.config.json
Owners: none

preview note added
  ce/sales/manage-unassigned-records.md
Owners: none

PR edits
  ce/customer-service/csw-enable-ai-suggested-cases-knowledge-articles.md
  ce/customer-service/csw-view-ai-suggested-cases-knowledge-articles.md
Owners: @shubhadaj

Resolved validation warnings
  ce/customer-service/configure-teams-collaboration.md
Owners: @shubhadaj

peer review
  ce/sales/manage-unassigned-records.md
Owners: none

Edits
  ce/customer-service/csw-enable-ai-suggested-cases-knowledge-articles.md
Owners: @shubhadaj

Update manage-unassigned-records.md
  ce/sales/manage-unassigned-records.md
Owners: none

Added content for custom form KA entity
  ce/customer-service/configure-ai-suggested-article-keywords-description.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Merged SP content
  ce/sales-professional/add-products-opportunity-sp.md
  ce/sales/accounts-contacts.md
  ce/sales/add-product-quote-order-invoice.md
  ce/sales/add-products-enhanced-experience.md
  ce/sales/add-products-opportunity.md
  ce/sales/add-products-qoi-enhanced.md
  ce/sales/create-edit-lead-sales.md
  ce/sales/create-edit-opportunity-sales.md
  ce/sales/create-price-lists-price-list-items-define-pricing-products.md
  ce/sales/create-product-family.md
  ce/sales/create-product-sales.md
  ce/sales/create-unit-group-add-units-that-group.md
  ce/sales/import-data.md
  ce/sales/manage-activities.md
  ce/sales/nurture-sales-from-lead-order-sales.md
  ce/sales/opportunity-kanban-view.md
  ce/sales/qualify-lead-convert-opportunity-sales.md
  ce/sales/recalculate-opportunity.md
  ce/sales/set-up-product-catalog-walkthrough.md
  ce/sales/user-guide-learn-basics.md
Owners: none

Update manage-unassigned-records.md
  ce/sales/manage-unassigned-records.md
Owners: none

Update manage-playbook-templates.md
  ce/sales/manage-playbook-templates.md
Owners: none

TRI
  ce/customer-service/intraday-agents-insights.md
  ce/customer-service/intraday-conversation-insights.md
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

Update .acrolinx-config.edn
  .acrolinx-config.edn
Owners: none

Removing topic from PR
  ce/customer-service/configure-wechat-channel.md
Owners: @shubhadaj

Blob
  ce/marketing/custom-analytics.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Teams
  ce/marketing/known-issues.md
  ce/marketing/teams-webinar.md
Owners: @shellyhaverkamp

Merged SP content
  ce/sales/connect-with-sharepoint.md
  ce/sales/customize-add-products-dialog-box.md
  ce/sales/enable-automatic-generation-quotes-invoices.md
  ce/sales/enable-creation-of-orders-from-quotes.md
  ce/sales/enable-enhanced-add-product-experience.md
  ce/sales/enable-opportunity-close-customization.md
  ce/sales/import-data.md
  ce/sales/install-sample-data.md
  ce/sales/make-price-list-optional.md
  ce/sales/manage-excel-templates.md
  ce/sales/manage-word-templates.md
  ce/sales/toc.yml
Owners: none

Interim
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

ms.date update, updated note for correctness
  ce/customer-service/configure-post-conversation-survey.md
Owners: @shubhadaj

Updated overview
  ce/sales/overview.md
  ce/sales/user-guide-learn-basics.md
Owners: none

errors fixed
  ce/sales/admin-settings-overview.md
  ce/sales/create-edit-quote-sales.md
  ce/sales/toc.yml
Owners: none

Added note in auto generation
  ce/sales/enable-automatic-generation-quotes-invoices.md
Owners: none

toc error fixed
  ce/sales/toc.yml
Owners: none

error fix
  ce/sales/admin-settings-overview.md
Owners: none

ToC updated
  ce/sales/toc.yml
Owners: none

phase 2 update
  ce/sales/add-activity-campaign-using-app-marketing-sales.md
  ce/sales/add-marketing-list-sales-literature-product-campaign-using-app-marketing-sales.md
  ce/sales/change-color-scheme-logo.md
  ce/sales/create-edit-campaign-using-app-marketing-sales.md
  ce/sales/create-marketing-list-using-app-marketing-sales.md
  ce/sales/create-quick-campaign-using-app-marketing-sales.md
  ce/sales/create-quote-pdf.md
  ce/sales/enable-pdf-generation-quote.md
  ce/sales/get-started-app-marketing-sales.md
  ce/sales/manage-app.md
  ce/sales/manage-teams.md
  ce/sales/media/add-new-team-dialog-box.png
  ce/sales/media/app-designer-sales-professional.png
  ce/sales/media/application-management-sitemap.png
  ce/sales/media/edit-sales-professional-app-button.png
  ce/sales/toc.yml
  ce/sales/track-marketing-campaign-response-using-app-marketing-sales.md
  ce/sales/use-sales-hub-on-dynamics-365-mobile.md
Owners: none

Updated PDF and autogen docs
  ce/sales/create-quote-pdf.md
  ce/sales/enable-automatic-generation-quotes-invoices.md
Owners: none

Update scan-business-cards.md
  ce/sales/scan-business-cards.md
Owners: none

TRI; 2511603
  ce/customer-service/create-operating-hours.md
  ce/customer-service/intraday-conversation-insights.md
Owners: @shubhadaj

table update
  ce/sales/action-cards-reference.md
  ce/sales/activate-upload-simple-columns-data-forecast.md
  ce/sales/faqs-sales-insights.md
Owners: none
