Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update real-time-marketing-correlate-triggers.md
  ce/marketing/real-time-marketing-correlate-triggers.md
Owners: @shellyhaverkamp

bindingid
  ce/marketing/media/real-time-marketing-correlate-triggers-snippet.png
  ce/marketing/real-time-marketing-correlate-triggers.md
Owners: @shellyhaverkamp

Update open-forms-views-dialogs-reports-url.md
  ce/customerengagement/on-premises/developer/open-forms-views-dialogs-reports-url.md
Owners: none

Update manage-auto-save.md
  ce/customerengagement/on-premises/customize/manage-auto-save.md
Owners: none

Update manage-auto-save.md
  ce/customerengagement/on-premises/customize/manage-auto-save.md
Owners: none

Category: Content-Improvement Workitem: 2507156 Description: Acrolinx screening
  ce/customer-service/create-edit-service-csh.md
  ce/customer-service/resources-service-scheduling.md
  ce/customer-service/set-when-business-closed-csh.md
  ce/customer-service/uci-add-facilities-equipment.md
  ce/customer-service/uci-create-sites.md
Owners: @shubhadaj

Update toc.yml
  ce/customer-service/toc.yml
Owners: @shubhadaj

Deleted a topic- Rediection changes
  ce/customer-service/set-up-knowledge-management-embedded-knowledge-search.md
Owners: @shubhadaj

Initial updates
  ce/sales/configure-relationship-analytics.md
Owners: none

Fixed typo
  ce/sales/toc.yml
Owners: none

PR edits incorporated
  ce/customer-service/media/oceh-presence.png
  ce/customer-service/oc-manage-presence-status.md
Owners: @shubhadaj

edits
  ce/customer-service/oc-manage-presence-status.md
Owners: @shubhadaj

Category: New-Content for Task 2507150 Workitem: https://dev.azure.com/dynamicscrm/OneCRM/_workitems/edit/2507150 Description: Added navigation steps
  ce/customer-service/cs-admin-center.md
  ce/customer-service/media/customer-service-admin-center.png
  ce/customer-service/users-user-profiles.md
Owners: @shubhadaj

updated
  ce/sales/enable-duplicate-lead-detection.md
  ce/sales/manage-duplicate-leads.md
Owners: none

edits
  ce/customer-service/oc-manage-presence-status.md
Owners: @shubhadaj

updated
  ce/sales/manage-duplicate-leads.md
Owners: none

Category: New-Content Workitem: https://dev.azure.com/dynamicscrm/OneCRM/_workitems/edit/2382061/ Description: Updated consent info and added new section for consents
  ce/sales/configure-relationship-analytics.md
  ce/sales/media/office365-consent-form.png
Owners: none

Interim
  ce/customer-service/cs-admin-center.md
  ce/customer-service/media/agent-experience-overview.png
  ce/customer-service/media/customer-service-admin-center.png
  ce/customer-service/media/customer-support-overview.png
  ce/customer-service/media/operations-overview.png
  ce/customer-service/users-user-profiles.md
Owners: @shubhadaj

edits
  ce/customer-service/configure-knowledge-search-control-productivity-pane.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

edits
  ce/customer-service/configure-knowledge-search-control-productivity-pane.md
Owners: @shubhadaj

Interim
  ce/customer-service/cs-admin-center.md
  ce/customer-service/faq-customer-service-admin-center.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

Interim
  ce/customer-service/cs-admin-center.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

Category: New-Content Workitem: 2507156 Description: Added changes
  ce/customer-service/create-customer-service-schedule-define-work-hours.md
  ce/customer-service/create-entitlement-define-support-terms-customer.md
  ce/customer-service/create-operating-hours.md
  ce/customer-service/create-org-units-cs-scheduling.md
  ce/customer-service/define-service-level-agreements.md
  ce/customer-service/enable-sla-recalculation.md
  ce/customer-service/media/entitlement-csh.png
  ce/customer-service/set-up-entitlements-templates.md
  ce/customer-service/set-up-holiday-schedule.md
Owners: @shubhadaj

Update create-org-units-cs-scheduling.md
  ce/customer-service/create-org-units-cs-scheduling.md
Owners: @shubhadaj

Update set-when-business-closed-csh.md
  ce/customer-service/set-when-business-closed-csh.md
Owners: @shubhadaj

Update resources-service-scheduling.md
  ce/customer-service/resources-service-scheduling.md
Owners: @shubhadaj

Update add-facilities-equipment-ss-csh.md
  ce/customer-service/add-facilities-equipment-ss-csh.md
Owners: @shubhadaj

Update resource-categories-service-scheduling.md
  ce/customer-service/resource-categories-service-scheduling.md
Owners: @shubhadaj

edits
  ce/customer-service/set-up-knowledge-management-embedded-knowledge-search.md
Owners: @shubhadaj

Update create-edit-service-csh.md
  ce/customer-service/create-edit-service-csh.md
Owners: @shubhadaj

Update resources-service-scheduling.md
  ce/customer-service/resources-service-scheduling.md
Owners: @shubhadaj

Update add-facilities-equipment-ss-csh.md
  ce/customer-service/add-facilities-equipment-ss-csh.md
Owners: @shubhadaj

Update resource-categories-service-scheduling.md
  ce/customer-service/resource-categories-service-scheduling.md
Owners: @shubhadaj

Update create-edit-service-csh.md
  ce/customer-service/create-edit-service-csh.md
Owners: @shubhadaj

Update set-when-business-closed-csh.md
  ce/customer-service/set-when-business-closed-csh.md
Owners: @shubhadaj

Update uci-create-edit-service.md
  ce/customer-service/uci-create-edit-service.md
Owners: @shubhadaj

Update uci-add-facilities-equipment.md
  ce/customer-service/uci-add-facilities-equipment.md
Owners: @shubhadaj

Update uci-create-resource-groups.md
  ce/customer-service/uci-create-resource-groups.md
Owners: @shubhadaj

Update uci-create-sites.md
  ce/customer-service/uci-create-sites.md
Owners: @shubhadaj

Update create-org-units-cs-scheduling.md
  ce/customer-service/create-org-units-cs-scheduling.md
Owners: @shubhadaj
