Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Add files via upload
  ce/mobile-app/media/sign-in-screen-web-address.jpg
Owners: @mduelae, @KumarVivek

Delete optoutdata.png
  ce/mobile-app/media/optoutdata.png
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/mobile-app/media/optoutdata.png
Owners: @mduelae, @KumarVivek

Update opt-out-privacy-statement.md
  ce/mobile-app/opt-out-privacy-statement.md
Owners: @mduelae, @KumarVivek

Update opt-out-privacy-statement.md
  ce/mobile-app/opt-out-privacy-statement.md
Owners: @mduelae, @KumarVivek

Update opt-out-privacy-statement.md
  ce/mobile-app/opt-out-privacy-statement.md
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/mobile-app/media/enter-web-address-mobile.png
Owners: @mduelae, @KumarVivek

Update opt-out-privacy-statement.md
  ce/mobile-app/opt-out-privacy-statement.md
Owners: @mduelae, @KumarVivek

Update opt-out-privacy-statement.md
  ce/mobile-app/opt-out-privacy-statement.md
Owners: @mduelae, @KumarVivek

Update opt-out-privacy-statement.md
  ce/mobile-app/opt-out-privacy-statement.md
Owners: @mduelae, @KumarVivek

Update opt-out-privacy-statement.md
  ce/mobile-app/opt-out-privacy-statement.md
Owners: @mduelae, @KumarVivek

Update opt-out-privacy-statement.md
  ce/mobile-app/opt-out-privacy-statement.md
Owners: @mduelae, @KumarVivek

Update opt-out-privacy-statement.md
  ce/mobile-app/opt-out-privacy-statement.md
Owners: @mduelae, @KumarVivek

Update opt-out-privacy-statement.md
  ce/mobile-app/opt-out-privacy-statement.md
Owners: @mduelae, @KumarVivek

Update field-service-knowledge-management.md
  ce/field-service/field-service-knowledge-management.md
Owners: @shellyhaverkamp

Update work-order-resolutions.md
  ce/field-service/work-order-resolutions.md
Owners: @shellyhaverkamp

Update mobile-offline-capabilities.md
  ce/mobile-app/mobile-offline-capabilities.md
Owners: @mduelae, @KumarVivek

daveInspectionsWave1
  ce/field-service/inspections-advanced.md
  ce/field-service/inspections.md
Owners: @shellyhaverkamp

Create inspections-language-pack.png
  ce/field-service/media/inspections-language-pack.png
Owners: @shellyhaverkamp

Update inspections-advanced.md
  ce/field-service/inspections-advanced.md
Owners: @shellyhaverkamp

daveInspectionsWave1
  ce/field-service/inspections-advanced.md
  ce/field-service/inspections.md
Owners: @shellyhaverkamp

Manage email level subscriptions
  ce/marketing/gdpr.md
  ce/marketing/known-issues.md
  ce/marketing/media/subscription-duplicate-detection.png
  ce/marketing/media/subscription-scheduled-job.png
  ce/marketing/set-up-subscription-center.md
Owners: @shellyhaverkamp

revisions to inspections
  ce/field-service/inspections-advanced.md
  ce/field-service/inspections.md
Owners: @shellyhaverkamp

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Incorporated Venkateshs' review comments given over a call
  ce/customer-service/define-service-level-agreements.md
  ce/customer-service/media/troubleshoot-sla.png
  ce/customer-service/troubleshoot-sla-issues.md
Owners: @shubhadaj

Removed commented out text
  ce/customer-service/define-service-level-agreements.md
  ce/customer-service/set-up-holiday-schedule.md
Owners: @shubhadaj

Fixed merge conflict resolution error
  .openpublishing.redirection.json
Owners: none

added
  ce/sales-enterprise/ts-forecasts.md
Owners: @shubhadaj

updated
  ce/sales-enterprise/configure-microsoft-teams-dialer.md
Owners: @shubhadaj

updated comments
  ce/customer-service/migrate-entity-records.md
  ce/customer-service/plan-migration.md
Owners: @shubhadaj

updated description
  ce/customer-service/migrate-entity-records.md
Owners: @shubhadaj

Update plan-migration.md
  ce/customer-service/plan-migration.md
Owners: @shubhadaj

Update add-knowledge-base-search-control-forms.md
  ce/customer-service/add-knowledge-base-search-control-forms.md
Owners: @shubhadaj

Added metadata for cs help
  ce/sales-professional/export-data.md
  ce/sales-professional/manage-leads-sales-professional.md
Owners: none

Update add-knowledge-base-search-control-forms.md
  ce/customer-service/add-knowledge-base-search-control-forms.md
Owners: @shubhadaj

added metadata for cs
  ce/sales-enterprise/dashboards.md
  ce/sales-enterprise/sales-pipeline-chart.md
  ce/sales-enterprise/ts-sales-pipeline.md
  ce/sales-professional/activity-kanban-view-sp.md
  ce/sales-professional/add-kanban-control-sp.md
  ce/sales-professional/add-marketing-list-sales-literature-product-campaign-using-app-marketing-sp.md
  ce/sales-professional/add-product-quote-order-invoice-sp.md
  ce/sales-professional/add-products-enhanced-experience-sp.md
  ce/sales-professional/assign-records-sales-professional.md
  ce/sales-professional/create-edit-campaign-using-app-marketing-sp.md
  ce/sales-professional/create-invoices.md
  ce/sales-professional/create-marketing-list-using-app-marketing-sp.md
  ce/sales-professional/create-orders-sp.md
  ce/sales-professional/create-price-list.md
  ce/sales-professional/create-products.md
  ce/sales-professional/create-quick-campaign-using-app-marketing-sp.md
  ce/sales-professional/create-quote-pdf-sales-professional.md
  ce/sales-professional/create-quotes-sales-professional.md
  ce/sales-professional/create-unit-group-add-units.md
  ce/sales-professional/customize-opportunity-close-experience-sales-professional.md
  ce/sales-professional/define-lead-qualification-experience-sp.md
  ce/sales-professional/develop-sales-lead-to-cash-sales-professional.md
  ce/sales-professional/enable-automatic-generation-quotes-invoices.md
  ce/sales-professional/enable-creation-of-orders-from-quotes.md
  ce/sales-professional/enable-enhanced-add-product-experience-sp.md
  ce/sales-professional/enable-opportunity-close-customization-sales-professional.md
  ce/sales-professional/enable-pdf-generation-quote-sales-professional.md
  ce/sales-professional/gain-insights-dashboards-sales-professional.md
  ce/sales-professional/get-started-app-marketing-sp.md
  ce/sales-professional/import-data.md
  ce/sales-professional/make-price-list-optional-sp.md
  ce/sales-professional/manage-accounts-contacts.md
  ce/sales-professional/manage-activities.md
  ce/sales-professional/manage-opportunities-sales-professional.md
  ce/sales-professional/opportunity-kanban-view-sp.md
  ce/sales-professional/track-marketing-campaign-response-using-app-marketing-sp.md
Owners: @shubhadaj

Update add-knowledge-base-search-control-forms.md
  ce/customer-service/add-knowledge-base-search-control-forms.md
Owners: @shubhadaj

Update add-knowledge-base-search-control-forms.md
  ce/customer-service/add-knowledge-base-search-control-forms.md
Owners: @shubhadaj

Update add-knowledge-base-search-control-forms.md
  ce/customer-service/add-knowledge-base-search-control-forms.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
