Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update voice-channel-usage.md
  ce/customer-service/voice-channel-usage.md
Owners: @shubhadaj

Update voice-channel-outbound-calling.md
  ce/customer-service/voice-channel-outbound-calling.md
Owners: @shubhadaj

edit
  ce/customer-service/configure-bot.md
  ce/customer-service/voice-channel-contextual-transfer-external-ivr.md
Owners: @shubhadaj

edit
  ce/customer-service/voice-channel-contextual-transfer-external-ivr.md
Owners: @shubhadaj

edits
  ce/customer-service/configure-bot.md
  ce/customer-service/developer/reference/entities/msdyn_ocrecording.md
  ce/customer-service/voice-channel-contextual-transfer-external-ivr.md
Owners: @shubhadaj

typo
  ce/customer-service/voice-channel-bring-your-own-number.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-bring-your-own-number.md
Owners: @shubhadaj

Update intraday-conversation-insights.md
  ce/customer-service/intraday-conversation-insights.md
Owners: @shubhadaj

initial draft
  ce/shared/urs/preview-schedule-board.md
Owners: none

Update preview-schedule-board.md
  ce/shared/urs/preview-schedule-board.md
Owners: none

Interim
  ce/customer-service/media/image10.png
  ce/customer-service/media/image11.png
  ce/customer-service/voice-channel-first-call.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

Added text to note
  ce/customerengagement/on-premises/developer/configure-activity-feeds.md
Owners: none

Add files via upload
  ce/customer-service/media/teams-icon.png
Owners: @shubhadaj

Update use-teams-chat.md
  ce/customer-service/use-teams-chat.md
Owners: @shubhadaj

Update use-teams-chat.md
  ce/customer-service/use-teams-chat.md
Owners: @shubhadaj

Update trial-signup.md
  ce/field-service/trial-signup.md
Owners: @shellyhaverkamp

Update trial-signup.md
  ce/field-service/trial-signup.md
Owners: @shellyhaverkamp

Delete teams-chat-agent-overview.png
  ce/customer-service/media/teams-chat-agent-overview.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/teams-chat-agent-overview.png
Owners: @shubhadaj

Update toc.yml
  ce/customer-service/toc.yml
Owners: @shubhadaj

Update use-teams-chat.md
  ce/customer-service/use-teams-chat.md
Owners: @shubhadaj

Update use-teams-chat.md
  ce/customer-service/use-teams-chat.md
Owners: @shubhadaj

Update toc.yml
  ce/customer-service/toc.yml
Owners: @shubhadaj

Update toc.yml
  ce/customer-service/toc.yml
Owners: @shubhadaj

Update toc.yml
  ce/customer-service/toc.yml
Owners: @shubhadaj

Update use-teams-chat.md
  ce/customer-service/use-teams-chat.md
Owners: @shubhadaj

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

Update toc.yml
  ce/customer-service/toc.yml
Owners: @shubhadaj

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

edits
  ce/customer-service/toc.yml
  ce/customer-service/voice-channel-bring-your-own-number.md
  ce/customer-service/voice-channel-contextual-transfer-external-ivr.md
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
  ce/customer-service/voice-channel-music.md
  ce/customer-service/voice-channel-survey.md
Owners: @shubhadaj

edit
  ce/customer-service/voice-channel-ivr-bots.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-first-call.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-ivr-bots.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

toc update
  ce/customer-service/toc.yml
Owners: @shubhadaj

updated release date
  ce/customer-service/oc-view-ai-suggested-cases-articles.md
Owners: @shubhadaj

TASK 2453282
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/createsession.md
Owners: @shubhadaj
