Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update deploy-dynamics-365-app-for-outlook.md
  ce/outlook-app/deploy-dynamics-365-app-for-outlook.md
Owners: @mduelae, @KumarVivek

Delete select-mailboxes.png
  ce/outlook-app/media/select-mailboxes.png
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/select-mailboxes-1.png
  ce/outlook-app/media/select-mailboxes.png
Owners: @mduelae, @KumarVivek

Delete select-mailboxes-1.png
  ce/outlook-app/media/select-mailboxes-1.png
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/select-mailboxes-1.png
Owners: @mduelae, @KumarVivek

Update deploy-dynamics-365-app-for-outlook.md
  ce/outlook-app/deploy-dynamics-365-app-for-outlook.md
Owners: @mduelae, @KumarVivek

Update deploy-dynamics-365-app-for-outlook.md
  ce/outlook-app/deploy-dynamics-365-app-for-outlook.md
Owners: @mduelae, @KumarVivek

Event recovery items
  ce/marketing/media/event-recovery-items.png
  ce/marketing/set-up-event.md
Owners: @shellyhaverkamp

Create teams-webinar-follow-up.md
  ce/marketing/teams-webinar-follow-up.md
Owners: @shellyhaverkamp

Updated reference to sitemap
  ce/sales-enterprise/create-edit-goal-rollup-query-sales.md
Owners: @shubhadaj

Update TOC.md
  ce/customer-service/TOC.md
Owners: @shubhadaj

Update search-knowledge-articles-csh.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Update search-knowledge-articles-csh.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Update search-knowledge-articles-csh.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

updated date
  ce/customer-service/monitor-conversations.md
Owners: @shubhadaj

added image borders and alt text
  ce/customer-service/add-skill-update-control.md
Owners: @shubhadaj

added def article
  ce/customer-service/add-skill-update-control.md
Owners: @shubhadaj

updated toc
  ce/customer-service/TOC.md
Owners: @shubhadaj

added image border tags
  ce/customer-service/add-skill-update-control.md
Owners: @shubhadaj

Update search-knowledge-articles-csh.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

updated toc for entity ref
  ce/customer-service/TOC.md
Owners: @shubhadaj

updated toc
  ce/customer-service/TOC.md
Owners: @shubhadaj

updated topic and toc
  ce/customer-service/TOC.md
  ce/customer-service/add-skill-update-control.md
Owners: @shubhadaj

updated toc for dev exp. Renamed files
  ce/customer-service/TOC.md
  ce/customer-service/deactivate-queue-items.md
Owners: @shubhadaj

reordered toc
  ce/customer-service/TOC.md
Owners: @shubhadaj

TRI for notifications
  ce/customer-service/add-chat-widget.md
Owners: @shubhadaj

updated toc links and topic headings
  ce/customer-service/TOC.md
  ce/customer-service/deactivate-queue-items.md
Owners: @shubhadaj

updated toc
  ce/customer-service/TOC.md
Owners: @shubhadaj

removed locale info
  ce/customer-service/unified-routing-impact-on-APIs.md
Owners: @shubhadaj

updated overview topic of entity ref
  ce/customer-service/TOC.md
  ce/customer-service/developer/reference/entities/overview-entity-ref.md
Owners: @shubhadaj

changed skill update ctrl to skill ctrl; see also links.
  ce/customer-service/TOC.md
  ce/customer-service/add-skill-control.md
  ce/customer-service/deactivate-queue-items.md
  ce/customer-service/intro-intraday-insights-dashboard.md
  ce/customer-service/monitor-conversations.md
  ce/customer-service/unified-routing-impact-on-APIs.md
Owners: @shubhadaj

added spaces in see also links
  ce/customer-service/unified-routing-impact-on-APIs.md
Owners: @shubhadaj

Updated for clarity
  ce/customer-service/system-requirements-omnichannel.md
Owners: @shubhadaj

corrected see also links, updated topic content
  ce/customer-service/monitor-conversations.md
Owners: @shubhadaj

daveSelfScheduling
  ce/field-service/media/C2-Customer-Portal.png
  ce/field-service/media/SS-Email-Canceled.png
  ce/field-service/media/SS-Email-Complete.png
  ce/field-service/media/SS-Email-Invite.png
  ce/field-service/media/SS-Email-scheduled.png
  ce/field-service/media/SS-Portal-Login.png
  ce/field-service/media/SS-Portal-rescheduling.png
  ce/field-service/media/SS-Portal-scheduled.png
  ce/field-service/media/SS-Portal-scheduling.png
  ce/field-service/media/SS-Portal_Profile.png
  ce/field-service/media/SS-Process-sendemail.png
  ce/field-service/media/SS-email-rescheduled.png
  ce/field-service/media/SS_Authentication.png
  ce/field-service/media/SS_Email-cancel.jpg
  ce/field-service/media/SS_Hero-screens.png
  ce/field-service/media/SS_Incident_Type-displayname.png
  ce/field-service/media/SS_PortalDesigner.png
  ce/field-service/media/SS_Settings_Config.png
  ce/field-service/media/SS_Settings_Display.png
  ce/field-service/media/SS_Settings_SSS.png
  ce/field-service/media/SS_edit-portal.jpg
  ce/field-service/media/SS_email-Booking-Canceled.png
  ce/field-service/media/SS_paflow_flows.jpg
  ce/field-service/media/SS_paflow_solution.jpg
  ce/field-service/scheduling-self-customers.md
Owners: @shellyhaverkamp

Update deploy-dynamics-365-app-for-outlook.md
  ce/outlook-app/deploy-dynamics-365-app-for-outlook.md
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/select-mailboxes-1.png
  ce/outlook-app/media/select-mailboxes-confirm.png
  ce/outlook-app/media/select-mailboxes-test.png
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/verify-mailbox.png
Owners: @mduelae, @KumarVivek

Update deploy-dynamics-365-app-for-outlook.md
  ce/outlook-app/deploy-dynamics-365-app-for-outlook.md
Owners: @mduelae, @KumarVivek

CJ recovery items
  ce/marketing/customer-journey-recovery-items.md
  ce/marketing/customer-journey-tiles-reference.md
  ce/marketing/media/customer-journey-recovery-items-error.png
  ce/marketing/media/customer-journey-recovery-items-grid.png
  ce/marketing/set-up-event.md
  ce/marketing/toc.md
Owners: @shellyhaverkamp
