Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Update install-sales-navigator.md
  ce/linkedin/install-sales-navigator.md
Owners: @shellyhaverkamp

created new topic, updated ToC
  ce/customer-service/markdown-bring-your-own-channel.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

graphic updates
  ce/customer-service/oc-conversation-state.md
Owners: @shubhadaj

checked graphics, corrected typo
  ce/customer-service/oc-conversation-state.md
Owners: @shubhadaj

Update install-sales-navigator.md
  ce/linkedin/install-sales-navigator.md
Owners: @shellyhaverkamp

Update install-sales-navigator.md
  ce/linkedin/install-sales-navigator.md
Owners: @shellyhaverkamp

updated editor's comments
  ce/customer-service/agent-dashboard.md
  ce/customer-service/oc-bot-dashboard.md
  ce/customer-service/oc-conversation-dashboard.md
Owners: @shubhadaj

updated topics for PNG file changes
  ce/customer-service/media/oc-conversation-active1.png
  ce/customer-service/media/oc-conversation-state1.png
  ce/customer-service/media/oc-conversation-waiting1.png
  ce/customer-service/oc-conversation-state.md
Owners: @shubhadaj

Update mobile-powerapp-copy-app-module.md
  ce/field-service/mobile-powerapp-copy-app-module.md
Owners: @shellyhaverkamp

Update mobile-powerapp-copy-app-module.md
  ce/field-service/mobile-powerapp-copy-app-module.md
Owners: @shellyhaverkamp

Update manage-marketing-environments.md
  ce/marketing/manage-marketing-environments.md
Owners: @shellyhaverkamp

recreating changes from #7908
  ce/field-service/mobile-2020-power-platform.md
  ce/field-service/mobile-power-app-system-offline.md
  ce/field-service/mobile-power-app-system-requirements.md
Owners: @shellyhaverkamp

Update field-service-integration-overview.md
  ce/field-service/field-service-integration-overview.md
Owners: @shellyhaverkamp

Update field-service-integration-overview.md
  ce/field-service/field-service-integration-overview.md
Owners: @shellyhaverkamp

Update mobile-power-app-workflows.md
  ce/field-service/mobile-power-app-workflows.md
Owners: @shellyhaverkamp

Capitalization
  ce/marketing/admin-guide.md
  ce/marketing/developer/marketing-developer-guide.md
Owners: @shellyhaverkamp, @KumarVivek, @Nkrb

RELEASE NOTES UPDATES FOR FS
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

edited topic for review comments
  ce/customer-service/render-live-chat-widget-mobile.md
Owners: @shubhadaj

updated note
  ce/customer-service/render-live-chat-widget-mobile.md
Owners: @shubhadaj

daveServiceReports
  ce/field-service/media/mobile-2020-service-reports-enable-form.png
  ce/field-service/media/mobile-2020-service-reports-import.png
  ce/field-service/mobile-powerapp-reporting.md
Owners: @shellyhaverkamp

Update troubleshooting-things-know-about-phones-tablets.md
  ce/mobile-app/troubleshooting-things-know-about-phones-tablets.md
Owners: @mduelae, @KumarVivek

For 2296233
  ce/customer-service/routing-trigger.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

Title metadata
  ce/customer-service/routing-trigger.md
Owners: @shubhadaj

TRI
  ce/customer-service/toc.yml
Owners: @shubhadaj

updated content within the topic
  ce/customer-service/csw-overview.md
Owners: @shubhadaj

incorporated editor comments
  ce/customer-service/oc-conversation-topics-dashboard.md
  ce/customer-service/oc-queue-dashboard.md
Owners: @shubhadaj

For bug 2293458
  ce/customer-service/configure-live-chat.md
  ce/customer-service/faqs.md
Owners: @shubhadaj

For 2293667
  ce/customer-service/create-queues-oca.md
Owners: @shubhadaj

updated tables for the application types
  ce/app-profile-manager/application-tab-templates.md
Owners: none

removed space from table header
  ce/app-profile-manager/application-tab-templates.md
Owners: none

updated table column width
  ce/app-profile-manager/application-tab-templates.md
Owners: none

removed <br> to align table formatting
  ce/app-profile-manager/application-tab-templates.md
Owners: none

removed <br> in a table. Updated meta desc
  ce/app-profile-manager/application-tab-templates.md
Owners: none

corrected for bare urls. removed empty lines, trailing sp
  ce/app-profile-manager/application-tab-templates.md
Owners: none

applied code blocks for bare urls
  ce/app-profile-manager/application-tab-templates.md
Owners: none

commented text, used code block for bare url
  ce/app-profile-manager/application-tab-templates.md
Owners: none

update
  ce/sales-enterprise/sales-mobile/app-settings.md
  ce/sales-enterprise/sales-mobile/learn-basics-mobile-app.md
  ce/sales-enterprise/sales-mobile/use-sales-mobile-app.md
Owners: @shubhadaj

applied review feedback
  ce/customer-service/render-live-chat-widget-mobile.md
Owners: @shubhadaj

2295477
  ce/customer-service/entity-channel.md
  ce/customer-service/routing-trigger.md
Owners: @shubhadaj

Consistency
  ce/customer-service/toc.yml
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
