Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update community-moderator-experience.md
  ce/customer-service/community-moderator-experience.md
Owners: @shubhadaj

Update configure-knowledge-article-origin-allow-list.md
  ce/customer-service/configure-knowledge-article-origin-allow-list.md
Owners: @shubhadaj

URS UR9.3 release notes
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

RELEASE NOTES UPDATES
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Create customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

TRI
  ce/customer-service/add-timer-control-case-form-track-time-against-sla.md
  ce/customer-service/customer-service-hub-user-guide-case-sla.md
  ce/customer-service/enable-sla-recalculation.md
  ce/customer-service/media/sla-recalculate.png
Owners: @shubhadaj

bookmark corrected
  ce/customer-service/customer-service-hub-user-guide-case-sla.md
Owners: @shubhadaj

Corrected ToC entry
  ce/customer-service/toc.yml
Owners: @shubhadaj

ms.date update
  ce/customer-service/define-service-level-agreements.md
  ce/customer-service/enable-sla-recalculation.md
Owners: @shubhadaj

Corrected bookmark
  ce/customer-service/customer-service-hub-user-guide-case-sla.md
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/community-get-started.png
Owners: @shubhadaj

Update community-get-started.md
  ce/customer-service/community-get-started.md
Owners: @shubhadaj

Delete community-get-started.png
  ce/customer-service/media/community-get-started.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/community-get-started.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/community-categories-tab.png
  ce/customer-service/media/community-create-new-forum.png
  ce/customer-service/media/community-forum-quick-link.png
  ce/customer-service/media/community-new-forum-details.png
  ce/customer-service/media/community-new-forum-member.png
  ce/customer-service/media/community-publish-settings.png
  ce/customer-service/media/community-quick-create-category.png
  ce/customer-service/media/community-quick-create-forum.png
  ce/customer-service/media/community-select-create-contact.png
Owners: @shubhadaj

Update community-forum-setup.md
  ce/customer-service/community-forum-setup.md
Owners: @shubhadaj

Delete community-publish-settings.png
  ce/customer-service/media/community-publish-settings.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/community-publish-settings.png
Owners: @shubhadaj

Delete community-new-forum-member.png
  ce/customer-service/media/community-new-forum-member.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/community-new-forum-member.png
Owners: @shubhadaj

Update community-forum-setup.md
  ce/customer-service/community-forum-setup.md
Owners: @shubhadaj

Delete community-quick-create-forum.png
  ce/customer-service/media/community-quick-create-forum.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/community-quick-create-forum.png
Owners: @shubhadaj

Update community-forum-setup.md
  ce/customer-service/community-forum-setup.md
Owners: @shubhadaj

Update community-forum-setup.md
  ce/customer-service/community-forum-setup.md
Owners: @shubhadaj

Delete community-quick-create-forum.png
  ce/customer-service/media/community-quick-create-forum.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/community-quick-create-forum-member.png
Owners: @shubhadaj

Update community-overview.md
  ce/customer-service/community-overview.md
Owners: @shubhadaj

Update community-get-started.md
  ce/customer-service/community-get-started.md
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/community-add-moderator-response.png
  ce/customer-service/media/community-edit-comment.png
  ce/customer-service/media/community-manage-flags.png
  ce/customer-service/media/community-moderator-response-generic.png
  ce/customer-service/media/community-select-ideas-tab.png
  ce/customer-service/media/community-select-votes-tab.png
Owners: @shubhadaj

Update community-moderator-experience.md
  ce/customer-service/community-moderator-experience.md
Owners: @shubhadaj

Update community-moderator-experience.md
  ce/customer-service/community-moderator-experience.md
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/community-collection-in-progress.png
  ce/customer-service/media/community-collection-success.png
  ce/customer-service/media/community-review-finish.png
  ce/customer-service/media/community-select-forum-ideas.png
  ce/customer-service/media/community-select-ideas.png
  ce/customer-service/media/community-set-collection-details.png
  ce/customer-service/media/community-view-collections.png
Owners: @shubhadaj

Update community-moderator-experience.md
  ce/customer-service/community-moderator-experience.md
Owners: @shubhadaj
