Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

added toc and screenshots
  ce/sales-enterprise/customize-deal-manager.md
  ce/sales-enterprise/deal-manager-overview.md
  ce/sales-enterprise/enable-deal-manager-preview.md
  ce/sales-enterprise/media/deal-manager-menu.PNG
  ce/sales-enterprise/media/deal-manager-overview-v1.png
  ce/sales-enterprise/toc.yml
Owners: @shubhadaj

Added preview note
  ce/sales-enterprise/deal-manager-overview.md
Owners: @shubhadaj

fixed toc error
  ce/sales-enterprise/toc.yml
Owners: @shubhadaj

Added preview note
  ce/sales-enterprise/customize-deal-manager.md
  ce/sales-enterprise/deal-manager-overview.md
  ce/sales-enterprise/enable-deal-manager-preview.md
  ce/sales-enterprise/grant-access-deal-manager.md
Owners: @shubhadaj

fixed toc
  ce/sales-enterprise/toc.yml
Owners: @shubhadaj

RELEASE NOTES UPDATE
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update inspections-customer-assets.md
  ce/field-service/inspections-customer-assets.md
Owners: @shellyhaverkamp

Update toc.yml
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

Update inspections-customer-assets.md
  ce/field-service/inspections-customer-assets.md
Owners: @shellyhaverkamp

Update inspections-customer-assets.md
  ce/field-service/inspections-customer-assets.md
Owners: @shellyhaverkamp

Update inspections-customer-assets.md
  ce/field-service/inspections-customer-assets.md
Owners: @shellyhaverkamp

Update inspections-customer-assets.md
  ce/field-service/inspections-customer-assets.md
Owners: @shellyhaverkamp

Update inspections-advanced.md
  ce/field-service/inspections-advanced.md
Owners: @shellyhaverkamp

Update customer-service-hub-user-guide-email-font-admin.md
  ce/customer-service/customer-service-hub-user-guide-email-font-admin.md
Owners: @shubhadaj

Update trial-faq-platform.md
  ce/shared/trials/trial-faq-platform.md
Owners: none

FAQ update
  ce/marketing/known-issues.md
  ce/marketing/trial-faq.md
Owners: @shellyhaverkamp

TRI
  ce/customer-service/try-channels.md
  ce/customer-service/try-customer-service.md
Owners: @shubhadaj

added More info link
  ce/customer-service/markdown-bring-your-own-channel.md
Owners: @shubhadaj

direct line --> Direct Line as applicable
  ce/customer-service/bring-your-own-channel.md
Owners: @shubhadaj

updated path
  ce/customer-service/markdown-bring-your-own-channel.md
Owners: @shubhadaj

updated More info link
  ce/customer-service/bring-your-own-channel.md
  ce/customer-service/markdown-bring-your-own-channel.md
Owners: @shubhadaj

removed link and included text
  ce/customer-service/bring-your-own-channel.md
Owners: @shubhadaj

Added preview note
  ce/sales-enterprise/customize-deal-manager.md
  ce/sales-enterprise/enable-deal-manager-preview.md
  ce/sales-enterprise/grant-access-deal-manager.md
Owners: @shubhadaj

updated links and ToC
  ce/customer-service/markdown-bring-your-own-channel.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

updated See also links and ToC name
  ce/customer-service/bring-your-own-channel.md
  ce/customer-service/markdown-bring-your-own-channel.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

updated bookmark
  ce/customer-service/markdown-bring-your-own-channel.md
Owners: @shubhadaj

updated more info link
  ce/customer-service/markdown-bring-your-own-channel.md
Owners: @shubhadaj

updated bookmark
  ce/customer-service/markdown-bring-your-own-channel.md
Owners: @shubhadaj

updated asynchronous channels topic
  ce/customer-service/asynchronous-channels.md
Owners: @shubhadaj

enable --> set
  ce/customer-service/asynchronous-channels.md
Owners: @shubhadaj

Trial doc for SE
  ce/sales-enterprise/sales-trial-faq.md
  ce/sales-enterprise/sign-up-for-sales-trial.md
  ce/sales-enterprise/toc.yml
  ce/shared/trials/trial-faq-platform.md
Owners: @shubhadaj

updated preview tags/disclaimer
  ce/customer-service/asynchronous-channels.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

removed OC administration
  ce/customer-service/markdown-bring-your-own-channel.md
Owners: @shubhadaj

removed the def article
  ce/customer-service/markdown-bring-your-own-channel.md
Owners: @shubhadaj

Segregated questions
  ce/sales-enterprise/sales-trial-faq.md
Owners: @shubhadaj

added "for example"
  ce/customer-service/markdown-bring-your-own-channel.md
Owners: @shubhadaj

line edit
  ce/customer-service/markdown-bring-your-own-channel.md
Owners: @shubhadaj

Alex changes
  ce/customer-service/trial-faq.md
  ce/customer-service/try-customer-service.md
  ce/shared/trials/trial-faq-platform.md
Owners: @shubhadaj

Update field-service-version-history-resource-scheduling-optimization.md
  ce/field-service/field-service-version-history-resource-scheduling-optimization.md
Owners: @shellyhaverkamp

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
