Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Highlight Min. FS v7 OP plat. version
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Removed preview disclaimer
  ce/customer-service/create-knowledge-article-using-template.md
  ce/customer-service/troubleshoot-omnichannel-customer-service.md
Owners: @shubhadaj

updated note
  ce/customer-service/cs-iot-overview.md
Owners: @shubhadaj

updated TOC
  ce/unified-service-desk/oc-usd/omnichannel-usd-system-requirements.md
  ce/unified-service-desk/toc.yml
Owners: @shubhadaj

commit
  ce/customer-service/system-requirements-omnichannel.md
Owners: @shubhadaj

updated to improve acrolinx score
  ce/customer-service/cs-iot-overview.md
Owners: @shubhadaj

commit
  ce/unified-service-desk/media/advanced-find-icon.PNG
  ce/unified-service-desk/oc-usd/customer-summary.md
Owners: @shubhadaj

Commit
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/notifyevent.md
Owners: @shubhadaj

For bug 2146535
  ce/app-profile-manager/TOC.md
  ce/app-profile-manager/associate-templates.md
  ce/app-profile-manager/session-templates.md
  ce/customer-service/TOC.md
  ce/customer-service/work-streams-introduction.md
Owners: @shubhadaj

Removing duplicated file
  ce/customer-service/associate-templates.md
Owners: @shubhadaj

Updated cross-references
  ce/customer-service/troubleshoot-using-solution-health-hub.md
Owners: @shubhadaj

ADO 2150538
  .openpublishing.redirection.json
Owners: none

For bug 2148442
  ce/customer-service/create-operating-hours.md
Owners: @shubhadaj

Corrected for accuracy
  ce/customer-service/create-operating-hours.md
Owners: @shubhadaj

Add follow up work order documentation
  ce/field-service/media/mobile-follow-up-work-order.png
  ce/field-service/mobile-power-app-use.md
Owners: @shellyhaverkamp

Create customer-service-hub-user-guide-email-create-signature.md
  ce/customer-service/customer-service-hub-user-guide-email-create-signature.md
Owners: @shubhadaj

Create customer-service-hub-user-guide-email-insert-template.md
  ce/customer-service/customer-service-hub-user-guide-email-insert-template.md
Owners: @shubhadaj

Create customer-service-hub-user-guide-email-create-template.md
  ce/customer-service/customer-service-hub-user-guide-email-create-template.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-insert-template.md
  ce/customer-service/customer-service-hub-user-guide-email-insert-template.md
Owners: @shubhadaj

Create customer-service-hub-user-guide-email-attachments.md
  ce/customer-service/customer-service-hub-user-guide-email-attachments.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-overview.md
  ce/customer-service/customer-service-hub-user-guide-email-overview.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-overview.md
  ce/customer-service/customer-service-hub-user-guide-email-overview.md
Owners: @shubhadaj

Commit
  ce/customer-service/oc-conversation-state.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-create-template.md
  ce/customer-service/customer-service-hub-user-guide-email-create-template.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-create-template.md
  ce/customer-service/customer-service-hub-user-guide-email-create-template.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-create-template.md
  ce/customer-service/customer-service-hub-user-guide-email-create-template.md
Owners: @shubhadaj

Commit
  ce/customer-service/oc-conversation-state.md
Owners: @shubhadaj

commit
  ce/customer-service/oc-conversation-state.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-insert-template.md
  ce/customer-service/customer-service-hub-user-guide-email-insert-template.md
Owners: @shubhadaj

Create customer-service-hub-user-guide-email-convert-email-template.md
  ce/customer-service/customer-service-hub-user-guide-email-convert-email-template.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-insert-template.md
  ce/customer-service/customer-service-hub-user-guide-email-insert-template.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-overview.md
  ce/customer-service/customer-service-hub-user-guide-email-overview.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-overview.md
  ce/customer-service/customer-service-hub-user-guide-email-overview.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-overview.md
  ce/customer-service/customer-service-hub-user-guide-email-overview.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-overview.md
  ce/customer-service/customer-service-hub-user-guide-email-overview.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-overview.md
  ce/customer-service/customer-service-hub-user-guide-email-overview.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-overview.md
  ce/customer-service/customer-service-hub-user-guide-email-overview.md
Owners: @shubhadaj

Update email-faqs.md
  ce/customer-service/email-faqs.md
Owners: @shubhadaj

Update email-faqs.md
  ce/customer-service/email-faqs.md
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/email-edit-icon.png
  ce/customer-service/media/email-encode-value.png
  ce/customer-service/media/email-open-app-designer.png
  ce/customer-service/media/email-select-new-subarea.png
  ce/customer-service/media/email-template-recipient.png
  ce/customer-service/media/email-template-select-record.png
Owners: @shubhadaj
