Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update mobile-powerapp-windows.md
  ce/field-service/mobile-powerapp-windows.md
Owners: @shellyhaverkamp

Update mobile-powerapp-windows.md
  ce/field-service/mobile-powerapp-windows.md
Owners: @shellyhaverkamp

Update toc.yml
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

RELEASE NOTES UPDATES
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

daveC2homepage
  ce/customer-service/media/homepage-booking-confirmation-page.JPG
  ce/customer-service/media/homepage-booking-reschedule-page.JPG
  ce/customer-service/media/homepage-cancel-appointment-with-cancellations-reason.JPG
  ce/customer-service/media/homepage-empty-homepage-with-book-a-new-appo.JPG
  ce/customer-service/media/homepage-homepage-with-1-booking-in-travelling-state-which-has-link-to-tmt.JPG
  ce/customer-service/media/homepage-homepage-with-2-bookings-in-travelling-state.JPG
  ce/customer-service/media/homepage-homepage-with-upcoming-bookings.JPG
  ce/customer-service/media/homepage-modify-booking-page.JPG
  ce/customer-service/media/homepage-one-booking-in-travelling-and-1-in-progress.JPG
  ce/customer-service/media/homepage-past-bookings-with-send-feedback-option-for-completed-bookings.JPG
  ce/customer-service/media/homepage-reschedule-booking-page-with-new-date-and-time-selected.JPG
  ce/customer-service/media/homepage-self-scheduling-page.JPG
  ce/customer-service/media/homepage-self-scheduling-with-selected.JPG
  ce/customer-service/media/homepage-send-feedback-page.JPG
  ce/field-service/field-service-portal-homepage.md
  ce/field-service/media/homepage-booking-confirmation-page.JPG
  ce/field-service/media/homepage-booking-reschedule-page.JPG
  ce/field-service/media/homepage-cancel-appointment-with-cancellations-reason.JPG
  ce/field-service/media/homepage-empty-homepage-with-book-a-new-appo.JPG
  ce/field-service/media/homepage-homepage-with-1-booking-in-travelling-state-which-has-link-to-tmt.JPG
  ce/field-service/media/homepage-homepage-with-2-bookings-in-travelling-state.JPG
  ce/field-service/media/homepage-homepage-with-upcoming-bookings.JPG
  ce/field-service/media/homepage-modify-booking-page.JPG
  ce/field-service/media/homepage-one-booking-in-travelling-and-1-in-progress.JPG
  ce/field-service/media/homepage-past-bookings-with-send-feedback-option-for-completed-bookings.JPG
  ce/field-service/media/homepage-reschedule-booking-page-with-new-date-and-time-selected.JPG
  ce/field-service/media/homepage-self-scheduling-page.JPG
  ce/field-service/media/homepage-self-scheduling-with-selected.JPG
  ce/field-service/media/homepage-send-feedback-page.JPG
  ce/field-service/toc.yml
Owners: @shubhadaj, @shellyhaverkamp

Update field-service-portal-homepage.md
  ce/field-service/field-service-portal-homepage.md
Owners: @shellyhaverkamp

Update field-service-portal-homepage.md
  ce/field-service/field-service-portal-homepage.md
Owners: @shellyhaverkamp

Update field-service-portal-homepage.md
  ce/field-service/field-service-portal-homepage.md
Owners: @shellyhaverkamp

formatted examples
  ce/customer-service/channel-integration-framework/reference/microsoft-ciframework/renderSearchPage.md
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/renderSearchPage.md
Owners: @shubhadaj

example addded
  ce/sales-enterprise/media/sales-process.png
  ce/sales-enterprise/overview.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Update enable-transcripts-messaging-channels.md
  ce/customer-service/enable-transcripts-messaging-channels.md
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/agent-dashboard-closed-chat.png
Owners: @shubhadaj

Create enable-transcripts-messaging-channels.md
  ce/customer-service/enable-transcripts-messaging-channels.md
Owners: @shubhadaj

Update enable-transcripts-messaging-channels.md
  ce/customer-service/enable-transcripts-messaging-channels.md
Owners: @shubhadaj

bug edits
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Update configure-knowledge-article-origin-allow-list.md
  ce/customer-service/configure-knowledge-article-origin-allow-list.md
Owners: @shubhadaj

PR edits
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

edits
  ce/customer-service/configure-knowledge-article-origin-allow-list.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/media/enable-origin-allow-list.png
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

edits
  ce/customer-service/allow-agents-update-skills.md
Owners: @shubhadaj

Tech review comments
  ce/customer-service/set-up-knowledge-management-embedded-knowledge-search.md
Owners: @shubhadaj

Revising for naming and reality
  ce/customerengagement/on-premises/deploy/software-requirements-for-microsoft-dynamics-365-server.md
Owners: none

For 2435253
  ce/customer-service/media/routing-diagnostics-classification.png
  ce/customer-service/media/routing-diagnostics-selected-queue.png
  ce/customer-service/media/supervisor-view-diagnostics.png
  ce/customer-service/supervisor-access-diagnostics.md
  ce/customer-service/toc.yml
  ce/customer-service/unified-routing-diagnostics.md
Owners: @shubhadaj

Corrections
  ce/customer-service/toc.yml
  ce/customer-service/unified-routing-diagnostics.md
Owners: @shubhadaj

Formatting
  ce/customer-service/supervisor-access-diagnostics.md
Owners: @shubhadaj

Update community-overview.md
  ce/customer-service/community-overview.md
Owners: @shubhadaj

Update toc.yml
  ce/customer-service/toc.yml
Owners: @shubhadaj

sales preocess
  ce/sales-enterprise/media/sales-process-start-end.png
  ce/sales-enterprise/nurture-sales-from-lead-order-sales.md
  ce/sales-enterprise/overview.md
  ce/sales-enterprise/toc.yml
Owners: @shubhadaj

Update omnichannel-provision-license.md
  ce/customer-service/omnichannel-provision-license.md
Owners: @shubhadaj

BUG 2429885
  ce/customer-service/omnichannel-provision-license.md
Owners: @shubhadaj

Update omnichannel-provision-license.md
  ce/customer-service/omnichannel-provision-license.md
Owners: @shubhadaj

edit for task 12458
  ce/teams-integration/enable-teams-chat.md
  ce/teams-integration/teams-collaboration-in-dymanics.md
  ce/teams-integration/teams-collaboration-in-dynamics.md
  ce/teams-integration/teams-in-dynamics-faq.md
  ce/teams-integration/toc.yml
  ce/teams-integration/using-teams-chat-in-dynamics.md
Owners: none

Fixed broken link
  ce/customer-service/omnichannel-provision-license.md
Owners: @shubhadaj

Update enable-teams-chat.md
  ce/teams-integration/enable-teams-chat.md
Owners: none

Update configure-microsoft-teams.md
  ce/customer-service/configure-microsoft-teams.md
Owners: @shubhadaj

date update
  ce/sales-enterprise/sales-mobile/app-settings.md
  ce/sales-enterprise/sales-mobile/create-contact.md
  ce/sales-enterprise/sales-mobile/create-push-notification.md
  ce/sales-enterprise/sales-mobile/learn-basics-mobile-app.md
  ce/sales-enterprise/sales-mobile/open-record.md
  ce/sales-enterprise/sales-mobile/prereq-sales-mobile.md
  ce/sales-enterprise/sales-mobile/search-records.md
  ce/sales-enterprise/sales-mobile/use-sales-mobile-app.md
  ce/sales-enterprise/sales-mobile/view-agenda.md
  ce/sales-enterprise/sales-mobile/view-edit-add-note.md
Owners: @shubhadaj
