Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

edits
  ce/customer-service/send-context-starting-chat.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

merged enable sharing with existing step
  ce/sales/provide-permissions-forecast.md
Owners: none

Added topic to toc
  ce/sales/toc.yml
Owners: none

For 1972284
  ce/customer-service/define-service-level-agreements.md
Owners: @shubhadaj

updated ms date
  ce/customer-service/define-service-level-agreements.md
Owners: @shubhadaj

Added req table below intro
  ce/sales/configure-premium-forecasting.md
  ce/sales/create-edit-lead-sales.md
  ce/sales/qualify-lead-convert-opportunity-sales.md
Owners: none

updates
  ce/customer-service/oc-view-ai-suggested-cases-articles.md
Owners: @shubhadaj

Updated heading
  ce/sales/configure-premium-forecasting.md
Owners: none

edits
  ce/customer-service/oc-view-ai-suggested-cases-articles.md
Owners: @shubhadaj

edits
  ce/customer-service/set-up-knowledge-management-embedded-knowledge-search.md
Owners: @shubhadaj

edits
  ce/customer-service/set-up-knowledge-management-embedded-knowledge-search.md
Owners: @shubhadaj

updated as per feedback
  ce/sales/developer/reference/custom-actions-manual-forecasting.md
  ce/sales/developer/reference/custom-actions/msdyn_ForecastApi.md
  ce/sales/toc.yml
Owners: none

Updated date
  ce/sales/enable-forecast-sharing.md
  ce/sales/filter-users-from-forecast.md
  ce/sales/share-forecasts.md
Owners: none

added a link
  ce/sales/developer/reference/custom-actions-manual-forecasting.md
Owners: none

ADded a new note for a bug fix
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

deleted enable forecast sharing topic
  ce/sales/enable-forecast-sharing.md
Owners: none

edit
  ce/customer-service/bot-escalate-end-conversation.md
  ce/customer-service/link-customer-case-when-bot-escalates.md
Owners: @shubhadaj

Fixed build error
  ce/sales/share-forecasts.md
Owners: none

Updated heading
  ce/sales/create-edit-lead-sales.md
Owners: none

Update share-forecasts.md
  ce/sales/share-forecasts.md
Owners: none

Updated date
  ce/sales/provide-permissions-forecast.md
  ce/sales/share-forecasts.md
Owners: none

Updated description
  ce/sales/provide-permissions-forecast.md
Owners: none

Update share-forecasts.md
  ce/sales/share-forecasts.md
Owners: none

PR edits
  ce/customer-service/set-up-knowledge-management-embedded-knowledge-search.md
Owners: @shubhadaj

edits
  ce/customer-service/set-up-knowledge-management-embedded-knowledge-search.md
Owners: @shubhadaj

TEI
  ce/customer-service/define-service-level-agreements.md
Owners: @shubhadaj

daveSOltuonHealthCustomizations
  ce/field-service/media/administration-settings--optin-autonumbering.png
  ce/field-service/troubleshoot-field-service-solution-health.md
Owners: @shellyhaverkamp

Update troubleshoot-field-service-solution-health.md
  ce/field-service/troubleshoot-field-service-solution-health.md
Owners: @shellyhaverkamp

Update troubleshoot-field-service-solution-health.md
  ce/field-service/troubleshoot-field-service-solution-health.md
Owners: @shellyhaverkamp

Update troubleshoot-field-service-solution-health.md
  ce/field-service/troubleshoot-field-service-solution-health.md
Owners: @shellyhaverkamp

Update troubleshoot-field-service-solution-health.md
  ce/field-service/troubleshoot-field-service-solution-health.md
Owners: @shellyhaverkamp

Update system-application-users.md
  ce/customerengagement/on-premises/admin/system-application-users.md
Owners: none

Update system-application-users.md
  ce/customerengagement/on-premises/admin/system-application-users.md
Owners: none

Update field-service-portal-homepage.md
  ce/field-service/field-service-portal-homepage.md
Owners: @shellyhaverkamp

Update field-service-portal-homepage.md
  ce/field-service/field-service-portal-homepage.md
Owners: @shellyhaverkamp

Update email-designer-customization.md
  ce/marketing/developer/email-designer-customization.md
Owners: @KumarVivek, @Nkrb

Update availability
  ce/marketing/real-time-marketing-install.md
  ce/marketing/real-time-marketing-overview.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update marketing-fields.md
  ce/marketing/marketing-fields.md
Owners: @shellyhaverkamp

edit
  ce/customer-service/developer/reference/methods/setContextProvider.md
Owners: @shubhadaj

edit
  ce/customer-service/developer/reference/methods/setContextProvider.md
Owners: @shubhadaj
