Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

ADO 2013530
  ce/legal/slt-power-automate-uiflows-public.md
Owners: none

ADO 2031019
  .openpublishing.redirection.json
Owners: none

ADO 2029809
  .openpublishing.redirection.json
Owners: none

ADO 2029809
  .openpublishing.redirection.json
Owners: none

redirect repair
  .openpublishing.redirection.json
Owners: none

Update diagnostic-checker.md
  ce/outlook-app/diagnostic-checker.md
Owners: @mduelae, @KumarVivek

Update TOC.md
  ce/outlook-app/TOC.md
Owners: @mduelae, @KumarVivek

Update customer-journey.md
  ce/marketing/customer-journey.md
Owners: @shellyhaverkamp

TW
  ce/omnichannel/agent/agent-oc/oc-conversation-state.md
Owners: none

adding notes and screenshot
  ce/field-service/inspections-advanced.md
  ce/field-service/media/custom_frequency.jpg
Owners: @shellyhaverkamp

fixes image
  ce/field-service/media/customFrequency.jpg
Owners: @shellyhaverkamp

Update mobile-power-app-configure.md
  ce/field-service/mobile-power-app-configure.md
Owners: @shellyhaverkamp

Update mobile-power-app-configure.md
  ce/field-service/mobile-power-app-configure.md
Owners: @shellyhaverkamp

Update inspections-advanced.md
  ce/field-service/inspections-advanced.md
Owners: @shellyhaverkamp

Update inspections-advanced.md
  ce/field-service/inspections-advanced.md
Owners: @shellyhaverkamp

Delete kb-management-settings.png
  ce/customer-service/media/kb-management-settings.png
Owners: @shubhadaj

Delete kb-url-format.png
  ce/customer-service/media/kb-url-format.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/kb-management-settings.png
  ce/customer-service/media/kb-url-format.png
Owners: @shubhadaj

Update search-knowledge-articles-csh.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Update inspections-advanced.md
  ce/field-service/inspections-advanced.md
Owners: @shellyhaverkamp

Update customer-journey.md
  ce/marketing/customer-journey.md
Owners: @shellyhaverkamp

Update customer-journey.md
  ce/marketing/customer-journey.md
Owners: @shellyhaverkamp

Update customer-journey.md
  ce/marketing/customer-journey.md
Owners: @shellyhaverkamp

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update customer-journey.md
  ce/marketing/customer-journey.md
Owners: @shellyhaverkamp

Update customer-journey.md
  ce/marketing/customer-journey.md
Owners: @shellyhaverkamp

picture update
  ce/marketing/customer-voice.md
  ce/marketing/media/forms-pro-interaction.png
  ce/marketing/media/forms-pro-interaction2.png
Owners: @shellyhaverkamp

Update customer-journey.md
  ce/marketing/customer-journey.md
Owners: @shellyhaverkamp

Update customer-journey.md
  ce/marketing/customer-journey.md
Owners: @shellyhaverkamp

Update customer-journey.md
  ce/marketing/customer-journey.md
Owners: @shellyhaverkamp

Update customer-journey.md
  ce/marketing/customer-journey.md
Owners: @shellyhaverkamp

Update customer-journey.md
  ce/marketing/customer-journey.md
Owners: @shellyhaverkamp

Update customer-journey.md
  ce/marketing/customer-journey.md
Owners: @shellyhaverkamp

daveUpgradeFSUpdate
  ce/field-service/media/upgrade-fs-new-admin.png
  ce/field-service/media/upgrade-fs-new-installing.JPG
  ce/field-service/media/upgrade-fs-new-popup.JPG
  ce/field-service/media/upgrade-fs-new-ppac.JPG
  ce/field-service/upgrade-field-service.md
Owners: @shellyhaverkamp

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update faqs-sales.md
  ce/sales-enterprise/faqs-sales.md
Owners: @shubhadaj

Update faqs-sales.md
  ce/sales-enterprise/faqs-sales.md
Owners: @shubhadaj

TW
  ce/omnichannel/agent/agent-oc/oc-conversation-state.md
Owners: none

Minor Typo
  ce/field-service/work-order-status-booking-status.md
Owners: @shellyhaverkamp

TW
  ce/omnichannel/media/view-agent-details.png
  ce/omnichannel/supervisor/intraday-insights-dashboard.md
  ce/omnichannel/supervisor/intro-intraday-insights-dashboard.md
  ce/omnichannel/supervisor/ongoing-conversations-dashboard.md
Owners: none
