Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

commit
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

commit
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

commit
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

commit
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Update search-knowledge-articles-csh.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

For task 2146250
  ce/customer-service/csw-overview.md
  ce/customer-service/media/CaseSummary.png
  ce/customer-service/media/caseAddtlDetails.png
  ce/customer-service/media/csw-overview.png
  ce/customer-service/media/email-csw.png
  ce/customer-service/media/knowledge-csw.png
Owners: @shubhadaj

2146250
  ce/customer-service/media/csw-productivity-pane.png
Owners: @shubhadaj

Update voice-channel.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

Additional edits
  ce/customer-service/csw-overview.md
Owners: @shubhadaj

Edits
  ce/customer-service/csw-overview.md
  ce/customer-service/media/csw-overview.png
Owners: @shubhadaj

Update voice-channel.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

Update field-service-version-history-resource-scheduling-optimization.md
  ce/field-service/field-service-version-history-resource-scheduling-optimization.md
Owners: @shellyhaverkamp

Update field-service-version-history-resource-scheduling-optimization.md
  ce/field-service/field-service-version-history-resource-scheduling-optimization.md
Owners: @shellyhaverkamp

Update field-service-version-history-resource-scheduling-optimization.md
  ce/field-service/field-service-version-history-resource-scheduling-optimization.md
Owners: @shellyhaverkamp

Update field-service-version-history-resource-scheduling-optimization.md
  ce/field-service/field-service-version-history-resource-scheduling-optimization.md
Owners: @shellyhaverkamp

Update field-service-version-history-resource-scheduling-optimization.md
  ce/field-service/field-service-version-history-resource-scheduling-optimization.md
Owners: @shellyhaverkamp

Change requested by PM
  ce/customerengagement/on-premises/developer/use-iframe-and-web-resource-controls-on-a-form.md
Owners: none

edit for task 2170357
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Update asynchronous-channels.md
  ce/customer-service/asynchronous-channels.md
Owners: @shubhadaj

added updates
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

commit
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Update asynchronous-channels.md
  ce/customer-service/asynchronous-channels.md
Owners: @shubhadaj

TRI for system requirements
  ce/customer-service/system-requirements-omnichannel.md
Owners: @shubhadaj

Few more edits
  ce/customer-service/call-options-visual-engagement.md
Owners: @shubhadaj

Update release-history.md
  ce/unified-service-desk/release-history.md
Owners: @shubhadaj

Fixed metadata issues
  ce/customer-service/call-options-visual-engagement.md
Owners: @shubhadaj

Update whats-new-unified-service-desk-administrators.md
  ce/unified-service-desk/admin/whats-new-unified-service-desk-administrators.md
Owners: @shubhadaj

Update what-s-new-in-unified-service-desk.md
  ce/unified-service-desk/what-s-new-in-unified-service-desk.md
Owners: @shubhadaj

Update whats-new-unified-service-desk-administrators.md
  ce/unified-service-desk/admin/whats-new-unified-service-desk-administrators.md
Owners: @shubhadaj

Update release-history.md
  ce/unified-service-desk/release-history.md
Owners: @shubhadaj

Added response Reason value description
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/notifyevent.md
Owners: @shubhadaj

Update release-history.md
  ce/unified-service-desk/release-history.md
Owners: @shubhadaj

Update download-unified-service-desk.md
  ce/unified-service-desk/download-unified-service-desk.md
Owners: @shubhadaj

commit
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

commit
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Added error callback message descriptions
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/notifyevent.md
Owners: @shubhadaj

added adv.scheduling section
  ce/sales-enterprise/define-general-properties-scheduling-forecast.md
  ce/sales-enterprise/media/forecast-adv-scheduling-enable-preview.png
Owners: @shubhadaj

format
  ce/sales-enterprise/define-general-properties-scheduling-forecast.md
Owners: @shubhadaj

Added cross-reference to Context variables
  ce/customer-service/developer/reference/methods/setContextProvider.md
Owners: @shubhadaj

Fixed invalid file link
  ce/customer-service/developer/reference/methods/setContextProvider.md
Owners: @shubhadaj
