Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Update field-service-customize-scripts.md
  ce/field-service/field-service-customize-scripts.md
Owners: @shellyhaverkamp

TRI
  ce/customer-service/international-availability.md
Owners: @shubhadaj

For task 2549782
  ce/customer-service/delete-solution.md
Owners: @shubhadaj

CSAC updates
  ce/customer-service/create-manage-categories.md
  ce/customer-service/create-templates-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/enable-knowledge-article-search-filters.md
  ce/customer-service/media/ka-new-template-page.png
  ce/customer-service/set-knowledge-article-authoring-language.md
Owners: @shubhadaj

updates
  ce/customer-service/create-manage-categories.md
  ce/customer-service/create-templates-knowledge-article.md
Owners: @shubhadaj

Added preview note and peer feedback
  ce/sales/media/forecast-filter-opportunity.png
  ce/sales/media/forecast-grouping-by-account.png
  ce/sales/view-and-manage-underlying-opportunities.md
Owners: none

Update create-org-units-cs-scheduling.md
  ce/customer-service/create-org-units-cs-scheduling.md
Owners: @shubhadaj

updated with latest
  ce/sales/configure-relationship-analytics.md
  ce/sales/media/relationship-analytics-enable-preview-similar-opportunities.png
  ce/sales/media/si-admin-relationship-analytics-enable-in-organization.png
Owners: none

CSAC updates
  ce/customer-service/configure-knowledge-article-origin-allow-list.md
  ce/customer-service/create-manage-categories.md
  ce/customer-service/create-templates-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/enable-knowledge-article-search-filters.md
  ce/customer-service/media/default-filter-config.png
  ce/customer-service/media/lookup-records.png
  ce/customer-service/media/search-provider-details.png
  ce/customer-service/media/select-filter-preselects.png
  ce/customer-service/media/set-filter-preselects.png
  ce/customer-service/search-knowledge-articles-csh.md
  ce/customer-service/set-knowledge-article-authoring-language.md
  ce/customer-service/set-up-knowledge-management-embedded-knowledge-search.md
  ce/customer-service/set-up-search-providers.md
Owners: @shubhadaj

updates
  ce/customer-service/enable-knowledge-article-search-filters.md
Owners: @shubhadaj

updates
  ce/customer-service/enable-knowledge-article-search-filters.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

updates
  ce/customer-service/create-templates-knowledge-article.md
  ce/customer-service/enable-knowledge-article-search-filters.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Added note about optin
  ce/sales/view-and-manage-underlying-opportunities.md
Owners: none

minor fix
  ce/sales/view-and-manage-underlying-opportunities.md
Owners: none

Content tagging
  ce/customerengagement/on-premises/developer/get-started-managed-code-application-development.md
  ce/customerengagement/on-premises/developer/get-started-sdk.md
  ce/customerengagement/on-premises/developer/integration-dev/get-started-sharepoint-integration.md
  ce/customerengagement/on-premises/developer/org-service/get-started-managed-code-application-development.md
  ce/customerengagement/on-premises/developer/overview.md
  ce/customerengagement/on-premises/developer/virtual-entities/get-started-ve.md
  ce/customerengagement/on-premises/developer/webapi/get-started-web-api.md
Owners: none

Update field-service-customize-scripts.md
  ce/field-service/field-service-customize-scripts.md
Owners: @shellyhaverkamp

Update field-service-customize-scripts.md
  ce/field-service/field-service-customize-scripts.md
Owners: @shellyhaverkamp

Update field-service-customize-scripts.md
  ce/field-service/field-service-customize-scripts.md
Owners: @shellyhaverkamp

Update field-service-customize-scripts.md
  ce/field-service/field-service-customize-scripts.md
Owners: @shellyhaverkamp

Update field-service-customize-scripts.md
  ce/field-service/field-service-customize-scripts.md
Owners: @shellyhaverkamp

Updates
  ce/marketing/media/real-time-marketing-branches-birthday.png
  ce/marketing/media/real-time-marketing-branches-if-then.png
  ce/marketing/media/real-time-marketing-branches-partial.png
  ce/marketing/media/real-time-marketing-branches-trigger.png
  ce/marketing/real-time-marketing-branches.md
  ce/marketing/toc.yml
Owners: @shellyhaverkamp

Update field-service-customize-scripts.md
  ce/field-service/field-service-customize-scripts.md
Owners: @shellyhaverkamp

Update field-service-customize-scripts.md
  ce/field-service/field-service-customize-scripts.md
Owners: @shellyhaverkamp

Update field-service-customize-scripts.md
  ce/field-service/field-service-customize-scripts.md
Owners: @shellyhaverkamp

Revised per 2562624 to add SQL query examples for on-prem reports
  ce/customerengagement/on-premises/analytics/improve-report-performance-by-using-filters.md
Owners: none

updated
  ce/sales/configure-relationship-analytics.md
Owners: none

Update create-org-units-cs-scheduling.md
  ce/customer-service/create-org-units-cs-scheduling.md
Owners: @shubhadaj

Update create-org-units-cs-scheduling.md
  ce/customer-service/create-org-units-cs-scheduling.md
Owners: @shubhadaj

Update create-org-units-cs-scheduling.md
  ce/customer-service/create-org-units-cs-scheduling.md
Owners: @shubhadaj

Update create-org-units-cs-scheduling.md
  ce/customer-service/create-org-units-cs-scheduling.md
Owners: @shubhadaj

Update create-org-units-cs-scheduling.md
  ce/customer-service/create-org-units-cs-scheduling.md
Owners: @shubhadaj

Update create-org-units-cs-scheduling.md
  ce/customer-service/create-org-units-cs-scheduling.md
Owners: @shubhadaj

Update create-org-units-cs-scheduling.md
  ce/customer-service/create-org-units-cs-scheduling.md
Owners: @shubhadaj

CSAC updates
  ce/customer-service/configure-knowledge-article-origin-allow-list.md
  ce/customer-service/create-manage-categories.md
  ce/customer-service/create-templates-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/enable-knowledge-article-search-filters.md
  ce/customer-service/set-knowledge-article-authoring-language.md
  ce/customer-service/set-up-knowledge-management-embedded-knowledge-search.md
  ce/customer-service/set-up-search-providers.md
Owners: @shubhadaj

Update add-facilities-equipment-ss-csh.md
  ce/customer-service/add-facilities-equipment-ss-csh.md
Owners: @shubhadaj

Update resource-categories-service-scheduling.md
  ce/customer-service/resource-categories-service-scheduling.md
Owners: @shubhadaj

Update create-edit-service-csh.md
  ce/customer-service/create-edit-service-csh.md
Owners: @shubhadaj

Update create-edit-service-csh.md
  ce/customer-service/create-edit-service-csh.md
Owners: @shubhadaj

Update create-edit-service-csh.md
  ce/customer-service/create-edit-service-csh.md
Owners: @shubhadaj

task 2556351
  ce/customer-service/channel-integration-framework/shared/token-setWidth.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
