Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Update fair-use-policy.md
  ce/marketing/fair-use-policy.md
Owners: @shellyhaverkamp

Update transfer-data.md
  ce/marketing/transfer-data.md
Owners: @shellyhaverkamp

Update manage-marketing-environments.md
  ce/marketing/manage-marketing-environments.md
Owners: @shellyhaverkamp

Update manage-marketing-environments.md
  ce/marketing/manage-marketing-environments.md
Owners: @shellyhaverkamp

Update real-time-marketing-known-issues.md
  ce/marketing/real-time-marketing-known-issues.md
Owners: @shellyhaverkamp

Update tenant-to-tenant.md
  ce/marketing/tenant-to-tenant.md
Owners: @shellyhaverkamp

Update tenant-to-tenant.md
  ce/marketing/tenant-to-tenant.md
Owners: @shellyhaverkamp

Update transfer-data.md
  ce/marketing/transfer-data.md
Owners: @shellyhaverkamp

Update manage-marketing-environments.md
  ce/marketing/manage-marketing-environments.md
Owners: @shellyhaverkamp

Update solution-uninstall-order.md
  ce/marketing/solution-uninstall-order.md
Owners: @shellyhaverkamp

Update real-time-marketing-known-issues.md
  ce/marketing/real-time-marketing-known-issues.md
Owners: @shellyhaverkamp

minor edits
  ce/unified-service-desk/use-window-navigation-rules-unified-service-desk.md
Owners: @shubhadaj

windows navigation --> window navigation
  ce/unified-service-desk/use-window-navigation-rules-unified-service-desk.md
Owners: @shubhadaj

removed para with same info as See also links
  ce/unified-service-desk/use-window-navigation-rules-unified-service-desk.md
Owners: @shubhadaj

Update learn-basics-mobile-app.md
  ce/sales-enterprise/sales-mobile/learn-basics-mobile-app.md
Owners: @shubhadaj

Minor TRI
  ce/customer-service/oc-conversation-control.md
Owners: @shubhadaj

update
  ce/sales-enterprise/media/troubleshooting-inapp-campaign-distribution-activate-activity-propagation-process.png
  ce/sales-enterprise/media/troubleshooting-inapp-campaign-distribution-select-all-view-selector.png
  ce/sales-enterprise/ts-inapp-marketing.md
Owners: @shubhadaj

update
  ce/sales-enterprise/media/troubleshooting-inapp-campaign-distribution-activate-activity-propagation-process.png
  ce/sales-enterprise/media/troubleshooting-inapp-campaign-distribution-deactivate-activity-propagation-workflow.png
  ce/sales-enterprise/media/troubleshooting-inapp-campaign-distribution-select-all-view-selector.png
Owners: @shubhadaj

Update ts-inapp-marketing.md
  ce/sales-enterprise/ts-inapp-marketing.md
Owners: @shubhadaj

update
  ce/sales-enterprise/create-marketing-list-using-app-marketing-sales.md
  ce/sales-enterprise/ts-inapp-marketing.md
Owners: @shubhadaj

Update ts-inapp-marketing.md
  ce/sales-enterprise/ts-inapp-marketing.md
Owners: @shubhadaj

Update ts-inapp-marketing.md
  ce/sales-enterprise/ts-inapp-marketing.md
Owners: @shubhadaj

Update ts-inapp-marketing.md
  ce/sales-enterprise/ts-inapp-marketing.md
Owners: @shubhadaj

Update ts-inapp-marketing.md
  ce/sales-enterprise/ts-inapp-marketing.md
Owners: @shubhadaj

Update ts-inapp-marketing.md
  ce/sales-enterprise/ts-inapp-marketing.md
Owners: @shubhadaj

content update
  ce/customer-service/voice-channel-number-management.md
Owners: @shubhadaj

updates
  ce/customer-service/voice-channel-number-management.md
Owners: @shubhadaj

Teams in chat in Dynamics
  ce/teams-integration/enable-teams-chat.md
  ce/teams-integration/media/teams-icon.png
  ce/teams-integration/media/teams-settings.png
  ce/teams-integration/teams-collaboration-in-dymanics.md
  ce/teams-integration/using-teams-chat-in-dynamics.md
Owners: none

For 2323806
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

Added metadata
  ce/teams-integration/enable-teams-chat.md
  ce/teams-integration/teams-collaboration-in-dymanics.md
  ce/teams-integration/using-teams-chat-in-dynamics.md
Owners: none

Update field-service-architecture.md
  ce/field-service/field-service-architecture.md
Owners: @shellyhaverkamp

Added x-refs
  ce/teams-integration/enable-teams-chat.md
  ce/teams-integration/media/change-area-icon.png
  ce/teams-integration/teams-collaboration-in-dymanics.md
  ce/teams-integration/toc.yml
  ce/teams-integration/using-teams-chat-in-dynamics.md
Owners: none

Added meta descriptions
  ce/teams-integration/enable-teams-chat.md
  ce/teams-integration/teams-collaboration-in-dymanics.md
  ce/teams-integration/using-teams-chat-in-dynamics.md
Owners: none

Update fair-use-policy.md
  ce/marketing/fair-use-policy.md
Owners: @shellyhaverkamp

updated metadata
  ce/customer-service/voice-channel-azure-bot-service.md
  ce/customer-service/voice-channel-number-management.md
Owners: @shubhadaj

Updates
  ce/marketing/real-time-marketing-faq.md
  ce/marketing/real-time-marketing-known-issues.md
Owners: @shellyhaverkamp

Update overview.md
  ce/customerengagement/on-premises/admin/overview.md
Owners: none

Update getting-started.md
  ce/customerengagement/on-premises/admin/getting-started.md
Owners: none

Update supported-web-browsers-and-mobile-devices.md
  ce/customerengagement/on-premises/admin/supported-web-browsers-and-mobile-devices.md
Owners: none

Update web-application-requirements.md
  ce/customerengagement/on-premises/admin/web-application-requirements.md
Owners: none

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
