Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Adding changes from Alan Ericson
  ce/customerengagement/on-premises/admin/connect-dynamics-365-on-premises-exchange-online.md
Owners: none

Small change to note
  ce/customerengagement/on-premises/admin/connect-dynamics-365-on-premises-exchange-online.md
Owners: none

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update quota-management.md
  ce/marketing/quota-management.md
Owners: @shellyhaverkamp

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Improved Entity Ownership section
  ce/customerengagement/on-premises/developer/introduction-entities.md
Owners: none

Update use-teams-chat.md
  ce/customer-service/use-teams-chat.md
Owners: @shubhadaj

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

Added the req table
  ce/sales/intro-saleshub.md
Owners: none

Added content for an Update
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

PM review comments incorporation
  ce/customer-service/configure-knowledge-search-control-productivity-pane.md
Owners: @shubhadaj

Minor edits
  ce/customer-service/cs-share-feedback.md
Owners: @shubhadaj

Update toc.yml
  ce/customer-service/toc.yml
Owners: @shubhadaj

Update cs-share-feedback.md
  ce/customer-service/cs-share-feedback.md
Owners: @shubhadaj

Fixed grammatical issues
  ce/sales/personalize-deal-manager.md
Owners: none

Updates post discussion with dev team
  ce/customer-service/configure-knowledge-search-control-productivity-pane.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

New layout
  ce/sales/troubleshooting.yml
Owners: none

edits
  ce/customer-service/configure-knowledge-search-control-productivity-pane.md
Owners: @shubhadaj

Update toc.yml
  ce/sales/toc.yml
Owners: none

edits
  ce/customer-service/configure-knowledge-search-control-productivity-pane.md
Owners: @shubhadaj

Update cs-share-feedback.md
  ce/customer-service/cs-share-feedback.md
Owners: @shubhadaj

removed yml file
  ce/sales/toc.yml
  ce/sales/troubleshooting.yml
Owners: none

Updated filter topic
  ce/sales/personalize-deal-manager.md
Owners: none

Updated date
  ce/sales/personalize-deal-manager.md
Owners: none

Updated intro
  ce/sales/personalize-deal-manager.md
Owners: none

Made changes to remove validation warnings.
  ce/customer-service/cs-share-feedback.md
  ce/customer-service/share-feedback.md
Owners: @shubhadaj

Updates
  ce/sales/personalize-deal-manager.md
Owners: none

Update cs-share-feedback.md
  ce/customer-service/cs-share-feedback.md
Owners: @shubhadaj

Update cs-share-feedback.md
  ce/customer-service/cs-share-feedback.md
Owners: @shubhadaj

Update cs-share-feedback.md
  ce/customer-service/cs-share-feedback.md
Owners: @shubhadaj

Incorporated tech feedback
  ce/customer-service/media/share-feedback.png
  ce/includes/share-feedback.md
Owners: @shubhadaj

Update share-feedback.md
  ce/includes/share-feedback.md
Owners: none

Update cs-share-feedback.md
  ce/customer-service/cs-share-feedback.md
Owners: @shubhadaj

Updated for GA and filters
  ce/sales/create-and-activate-a-segment.md
  ce/sales/create-and-activate-assignment-rule.md
  ce/sales/create-manage-assignment-rules.md
  ce/sales/delete-deactivate-assignment-rule.md
  ce/sales/edit-assignment-rule.md
  ce/sales/enable-configure-sales-accelerator.md
  ce/sales/manage-sales-teams.md
  ce/sales/manage-seller-attributes.md
  ce/sales/manage-unassigned-records.md
  ce/sales/media/sa-advance-call-settings.png
  ce/sales/media/sa-ar-create-assignment-rule-select-lead.png
  ce/sales/media/sa-ar-deactivate-rule.png
  ce/sales/media/sa-ar-delete-rule.png
  ce/sales/media/sa-ar-sales-team-advanced-filters-add-row.png
  ce/sales/media/sa-ar-sales-team-advanced-filters-group-add-and-condition.png
  ce/sales/media/sa-ar-sales-team-advanced-filters-group-add-related-entity-condition.png
  ce/sales/media/sa-ar-sales-team-advanced-filters-pane.png
  ce/sales/media/sa-ar-sales-team-define-seller-availability-configuration.png
  ce/sales/media/sa-ar-sales-team-define-seller-availability.png
  ce/sales/media/sa-ar-sales-team-define-team-access-pane.png
  ce/sales/media/sa-ar-sales-team-select-advanced-filters.png
  ce/sales/media/sa-ar-sales-team-select-define-team-access.png
  ce/sales/media/sa-ar-select-edit-rule.png
  ce/sales/media/sa-ar-seller-attributes-section-select-manage.png
  ce/sales/media/sa-ar-view-unassigned-records-home-page.png
  ce/sales/media/sa-ar-view-unassigned-records-select-lead.png
  ce/sales/media/sa-select-security-role.png
  ce/sales/understand-lead-distributions-assignment-rules.md
Owners: none

warnings fixed
  ce/sales/manage-unassigned-records.md
  ce/sales/media/call directly from sales accelerator feature.png
  ce/sales/understand-lead-distributions-assignment-rules.md
Owners: none

Update share-feedback.md
  ce/includes/share-feedback.md
Owners: none

Update share-feedback.md
  ce/includes/share-feedback.md
Owners: none

Update share-feedback.md
  ce/includes/share-feedback.md
Owners: none
