Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Fixing warnings
  ce/omnichannel/developer/reference/entities/msdyn_consoleapplicationsessiontemplate.md
  ce/omnichannel/developer/reference/entities/msdyn_customengagementctx.md
  ce/omnichannel/developer/reference/entities/msdyn_macrosession.md
Owners: none

Fixing warnings
  ce/omnichannel/developer/reference/entities/msdyn_ocliveworkitemcharacteristic.md
  ce/omnichannel/developer/reference/entities/msdyn_ocoutboundconfiguration.md
  ce/omnichannel/developer/reference/entities/msdyn_ocoutboundmessage.md
  ce/omnichannel/developer/reference/entities/msdyn_ocprovisioningstate.md
  ce/omnichannel/developer/reference/entities/msdyn_ocrequest.md
Owners: none

Fixing warnings
  ce/omnichannel/TOC.md
  ce/omnichannel/developer/reference/entities/msdyn_ocsessionsentiment.md
  ce/omnichannel/developer/reference/entities/msdyn_octag.md
Owners: none

Readied for publish
  ce/omnichannel/administrator/enable-sound-notifications.md
  ce/omnichannel/agent/agent-oc/oc-personalize-sound-notifications.md
Owners: none

Formatting
  ce/omnichannel/administrator/enable-sound-notifications.md
  ce/omnichannel/agent/agent-oc/oc-personalize-sound-notifications.md
Owners: none

Reverted formatting changes
  ce/omnichannel/administrator/enable-sound-notifications.md
  ce/omnichannel/agent/agent-oc/oc-personalize-sound-notifications.md
Owners: none

entity mapping update
  ce/marketing/entity-mapping.md
  ce/marketing/media/advanced_filter_icon.png
Owners: @shellyhaverkamp

Adding events
  ce/sales-enterprise/developer/reference/events/onRowLoad.md
  ce/sales-enterprise/developer/reference/events/onSave.md
Owners: @shubhadaj

update entity mapping
  ce/marketing/entity-mapping.md
  ce/marketing/media/entity-mapping-add-steps.png
  ce/marketing/media/entity-mapping-complete-workflow.png
  ce/marketing/media/entity-mapping-condition-step.png
  ce/marketing/media/entity-mapping-email-lookup.png
  ce/marketing/media/entity-mapping-filter.png
  ce/marketing/media/entity-mapping-form-id.png
  ce/marketing/media/entity-mapping-json-extract.png
  ce/marketing/media/entity-mapping-json-set.png
  ce/marketing/media/entity-mapping-marketing-form-submission.png
Owners: @shellyhaverkamp

Update entity-mapping.md
  ce/marketing/entity-mapping.md
Owners: @shellyhaverkamp

Update field-service-version-history-mobile.md
  ce/field-service/field-service-version-history-mobile.md
Owners: @shellyhaverkamp

added filter for oversized files
  .acrolinx-config.edn
Owners: none

Incorporated changes pertaining to edit
  ce/customer-service/media/migration-summary-page.png
  ce/customer-service/media/migration-tool-step-1-first-time-users-2.png
  ce/customer-service/media/migration-tool-step-2-first-time-users-1.png
  ce/customer-service/media/migration-tool-step-3-first-time-users-1.png
  ce/customer-service/media/migration-tool-step-5-first-time-users-1.png
  ce/customer-service/media/post-migration-summary.png
  ce/customer-service/media/sla-arc-finish-migration.png
  ce/customer-service/migrate-automatic-record-creation-and-sla-agreements.md
Owners: @shubhadaj

More edits
  ce/customer-service/media/migration-tool-step-5-first-time-users-2.png
  ce/customer-service/migrate-automatic-record-creation-and-sla-agreements.md
Owners: @shubhadaj

daveInspectionEA2
  ce/field-service/TOC.md
  ce/field-service/inspections-advanced.md
  ce/field-service/inspections.md
  ce/field-service/media/1-inspections-snapshot-1.jpg
  ce/field-service/media/10-Flow-for-published-questions.jpg
  ce/field-service/media/2-inspections-snapshot-2.jpg
  ce/field-service/media/3-inspections-snapshot-3.jpg
  ce/field-service/media/4-snapshot-before-publish-inspection.jpg
  ce/field-service/media/5-snapshot-after-publish-inspection.jpg
  ce/field-service/media/6-response-snapshot-before-completion.jpg
  ce/field-service/media/7-snapshot-after-response-1.jpg
  ce/field-service/media/8-response-snapshot-after-completion-2.jpg
  ce/field-service/media/9-CDS-data-upon-completion.jpg
Owners: @shellyhaverkamp

daveInspectionsEA2
  ce/field-service/inspections-advanced.md
  ce/field-service/media/1-inspections-snapshot-1.jpg
  ce/field-service/media/10-Flow-for-published-questions.jpg
  ce/field-service/media/2-inspections-snapshot-2.jpg
  ce/field-service/media/3-inspections-snapshot-3.jpg
  ce/field-service/media/4-snapshot-before-publish-inspection.jpg
  ce/field-service/media/5-snapshot-after-publish-inspection.jpg
  ce/field-service/media/6-response-snapshot-before-completion.jpg
  ce/field-service/media/7-snapshot-after-response-1.jpg
  ce/field-service/media/8-response-snapshot-after-completion-2.jpg
  ce/field-service/media/9-CDS-data-upon-completion.jpg
Owners: @shellyhaverkamp

daveInspetionsEA2
  ce/field-service/inspections-advanced.md
  ce/field-service/media/0-inspection-snapshot-parse-response.png
Owners: @shellyhaverkamp

Update inspections-advanced.md
  ce/field-service/inspections-advanced.md
Owners: @shellyhaverkamp

Update get-company-news-timeline-dynamics-365-phones-tablets.md
  ce/mobile-app/get-company-news-timeline-dynamics-365-phones-tablets.md
Owners: @mduelae, @KumarVivek

Update get-company-news-timeline-dynamics-365-phones-tablets.md
  ce/company-news-timeline/get-company-news-timeline-dynamics-365-phones-tablets.md
Owners: @jimholtz

Update get-company-news-timeline-dynamics-365-phones-tablets.md
  ce/mobile-app/get-company-news-timeline-dynamics-365-phones-tablets.md
Owners: @mduelae, @KumarVivek

Minor editorial change
  ce/project-service/whats-new-changed-v3.md
Owners: @shellyhaverkamp

Update .openpublishing.redirection.json
  .openpublishing.redirection.json
Owners: none

Delete get-company-news-timeline-dynamics-365-phones-tablets.md
  ce/company-news-timeline/get-company-news-timeline-dynamics-365-phones-tablets.md
Owners: @jimholtz

Delete TOC.md
  ce/company-news-timeline/TOC.md
Owners: @jimholtz

Update get-company-news-timeline-dynamics-365-phones-tablets.md
  ce/mobile-app/get-company-news-timeline-dynamics-365-phones-tablets.md
Owners: @mduelae, @KumarVivek

RELEASE NOTES - Updated Station 4 Dates
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update inspections-advanced.md
  ce/field-service/inspections-advanced.md
Owners: @shellyhaverkamp

daveInspectionsEA2
  ce/field-service/inspections-advanced.md
  ce/field-service/inspections.md
Owners: @shellyhaverkamp

Update create-deploy-marketing-pages.md
  ce/marketing/create-deploy-marketing-pages.md
Owners: @shellyhaverkamp

Create diagnostic-checker.md
  ce/outlook-app/diagnostic-checker.md
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/outloook-checker-pane.png
  ce/outlook-app/media/run-checker.png
  ce/outlook-app/media/send-logs.png
Owners: @mduelae, @KumarVivek

Update diagnostic-checker.md
  ce/outlook-app/diagnostic-checker.md
Owners: @mduelae, @KumarVivek

Update diagnostic-checker.md
  ce/outlook-app/diagnostic-checker.md
Owners: @mduelae, @KumarVivek

Update diagnostic-checker.md
  ce/outlook-app/diagnostic-checker.md
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/outlook-pane.png
Owners: @mduelae, @KumarVivek

Update diagnostic-checker.md
  ce/outlook-app/diagnostic-checker.md
Owners: @mduelae, @KumarVivek

Update diagnostic-checker.md
  ce/outlook-app/diagnostic-checker.md
Owners: @mduelae, @KumarVivek

Update diagnostic-checker.md
  ce/outlook-app/diagnostic-checker.md
Owners: @mduelae, @KumarVivek

Update diagnostic-checker.md
  ce/outlook-app/diagnostic-checker.md
Owners: @mduelae, @KumarVivek
