Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Incorporated changes pertaining to Neerja Rewal's comments
  ce/customer-service/TOC.md
  ce/customer-service/bot-escalate-end-conversation.md
  ce/customer-service/configure-bot-virtual-agent.md
  ce/customer-service/link-customer-case-when-bot-escalates.md
Owners: @shubhadaj

Update toc.md
  ce/marketing/toc.md
Owners: @shellyhaverkamp

TRI
  ce/customer-service/omnichannel-insights-dashboard.md
Owners: @shubhadaj

edits to article + image scrubs
  ce/field-service/TOC.md
  ce/field-service/media/cfs-iot-alert-logic-app.png
  ce/field-service/media/cfs-iot-alert-simulator-connection.png
  ce/field-service/media/cfs-iot-alert-simulator1.png
  ce/field-service/media/cfs-iot-alert-simulator2.png
  ce/field-service/media/cfs-iot-alert-stream-analytics.png
  ce/field-service/media/cfs-iot-alert-stream-analytics1.png
  ce/field-service/media/cfs-iot-alert-stream-analytics2.png
  ce/field-service/media/cfs-simulator-connection.png
Owners: @shellyhaverkamp

oops fixes
  ce/field-service/cfs-iot-alerts.md
Owners: @shellyhaverkamp

fixing validation problem
  ce/field-service/cfs-iot-alerts.md
Owners: @shellyhaverkamp

Removing note
  ce/customerengagement/on-premises/developer/xrm-tooling/use-connection-strings-xrm-tooling-connect.md
Owners: none

Added links per 2057298
  ce/customerengagement/on-premises/customize/guide-staff-through-common-tasks-processes.md
  ce/customerengagement/on-premises/customize/iframe-properties-legacy.md
  ce/customerengagement/on-premises/customize/make-grids-lists-editable-custom-control.md
  ce/customerengagement/on-premises/customize/manage-access-apps-security-roles.md
  ce/customerengagement/on-premises/customize/manage-app-properties.md
  ce/customerengagement/on-premises/customize/map-entity-fields.md
  ce/customerengagement/on-premises/customize/publish-changes-for-use-customer-service-hub.md
  ce/customerengagement/on-premises/customize/quick-view-control-properties-legacy.md
  ce/customerengagement/on-premises/customize/remove-views.md
  ce/customerengagement/on-premises/customize/set-properties-chart-list-included-dashboard.md
  ce/customerengagement/on-premises/customize/sub-grid-properties-legacy.md
  ce/customerengagement/on-premises/customize/workflow-processes.md
Owners: none

Create deliverability-change-esp.md
  ce/marketing/deliverability-change-esp.md
Owners: @shellyhaverkamp

Update toc.md
  ce/marketing/toc.md
Owners: @shellyhaverkamp

Create email-warm-up.md
  ce/marketing/email-warm-up.md
Owners: @shellyhaverkamp

edit for task 2205642
  ce/sales-enterprise/ts-inapp-marketing.md
Owners: @shubhadaj

fix inter-topic links, one hopes
  ce/sales-enterprise/ts-inapp-marketing.md
Owners: @shubhadaj

take out those number signs this time ~doh!~
  ce/sales-enterprise/ts-inapp-marketing.md
Owners: @shubhadaj

email warm up
  ce/marketing/email-warm-up.md
  ce/marketing/toc.md
Owners: @shellyhaverkamp

Update mobile-power-app-system-requirements.md
  ce/field-service/mobile-power-app-system-requirements.md
Owners: @shellyhaverkamp

Update mobile-power-app-system-requirements.md
  ce/field-service/mobile-power-app-system-requirements.md
Owners: @shellyhaverkamp

Update mobile-power-app-system-requirements.md
  ce/field-service/mobile-power-app-system-requirements.md
Owners: @shellyhaverkamp

Added a note in the topic.
  ce/customer-service/bot-escalate-end-conversation.md
Owners: @shubhadaj

copy edit
  ce/sales-enterprise/ts-inapp-marketing.md
Owners: @shubhadaj

date update
  ce/sales-enterprise/ts-inapp-marketing.md
Owners: @shubhadaj

lsi images updated
  ce/sales-enterprise/media/lsi-appsource-page.png
  ce/sales-enterprise/media/lsi-installation-continue.png
  ce/sales-enterprise/media/lsi-select-organization.png
  ce/sales-enterprise/media/lsi-tab-account-only.png
  ce/sales-enterprise/media/lsi-tab-account-personas-records.png
  ce/sales-enterprise/media/lsi-tab-account.png
  ce/sales-enterprise/understand-lsi-accounts-form.md
Owners: @shubhadaj

removed the note
  ce/customer-service/bot-escalate-end-conversation.md
Owners: @shubhadaj

added a prerequisite section
  ce/customer-service/persistent-chat.md
Owners: @shubhadaj

commit
  ce/customer-service/persistent-chat.md
Owners: @shubhadaj

updated topic position in TOC
  ce/customer-service/TOC.md
  ce/customer-service/suggested-actions-power-virtual-agent.md
Owners: @shubhadaj

incorporated review comments
  ce/customer-service/TOC.md
  ce/customer-service/configure-bot-virtual-agent.md
  ce/customer-service/suggested-actions.md
Owners: @shubhadaj

Optimization of topics, correction given by Xiaoying
  ce/app-profile-manager/smart-assist.md
  ce/customer-service/oc-smart-assist.md
Owners: @shubhadaj

deleted unnecessary file
  ce/customer-service/smart-assist.md
Owners: @shubhadaj

Corrected cross-references
  ce/customer-service/Configure-sms-channel-twilio.md
  ce/customer-service/configure-custom-channel.md
  ce/customer-service/oc-smart-assist.md
  ce/customer-service/productivity-pane.md
  ce/customer-service/smart-assist-bot.md
  ce/customer-service/smart-assist-scenario.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-admin.md
  ce/customer-service/customer-service-hub-user-guide-email-admin.md
Owners: @shubhadaj

Update unified-routing-work-distribution.md
  ce/customer-service/unified-routing-work-distribution.md
Owners: @shubhadaj

Update unified-routing-work-distribution.md
  ce/customer-service/unified-routing-work-distribution.md
Owners: @shubhadaj

Update mobile-power-app-system-requirements.md
  ce/field-service/mobile-power-app-system-requirements.md
Owners: @shellyhaverkamp

Adding whats new for 9.1 article
  ce/customerengagement/on-premises/toc.yml
  ce/customerengagement/on-premises/whats-new-9-1.md
Owners: none

Update cfs-iot-alerts.md
  ce/field-service/cfs-iot-alerts.md
Owners: @shellyhaverkamp

Adding whats new for 9.1 article
  ce/customerengagement/on-premises/whats-new-9-1.md
  ce/customerengagement/on-premises/whats-new.md
Owners: none

revisions + tweaks
  ce/field-service/field-service-maps-address-locations.md
  ce/field-service/media/admin-enable-bing-maps-on-forms.png
Owners: @shellyhaverkamp

date date date
  ce/field-service/field-service-maps-address-locations.md
Owners: @shellyhaverkamp

addtl edits + tweaks
  ce/field-service/perform-initial-configurations-setup.md
Owners: @shellyhaverkamp

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
