Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Additional detail on Product's Taxable setting
  ce/field-service/create-product-or-service.md
Owners: @shellyhaverkamp

Update outbound-messaging.md
  ce/omnichannel/administrator/outbound-messaging.md
Owners: none

Xiaoying's change requests
  ce/customer-service/csw-enable-ai-suggested-cases-knowledge-articles.md
  ce/customer-service/csw-faqs-ai-suggestions.md
  ce/customer-service/csw-view-ai-suggested-cases-knowledge-articles.md
  ce/omnichannel/administrator/context-variables-for-bot.md
Owners: @shubhadaj

Commit
  ce/customer-service/channel-integration-framework/v2/sample-softphone-integration-v2.md
Owners: @shubhadaj

commit
  ce/customer-service/channel-integration-framework/v2/sample-softphone-integration-v2.md
Owners: @shubhadaj

commit
  ce/customer-service/channel-integration-framework/v2/sample-softphone-integration-v2.md
Owners: @shubhadaj

Corrected grammatical mistake
  ce/customer-service/csw-enable-ai-suggested-cases-knowledge-articles.md
Owners: @shubhadaj

ADO 2100500
  ce/legal/slt-power-automate-brsext.md
  ce/legal/slt-power-automate-desktop.md
  ce/legal/slt-windows-recorder-brsext.md
Owners: none

Edits for accuracy in monitor conversations topic
  ce/omnichannel/supervisor/monitor-conversations.md
Owners: none

daveFSMTOC
  ce/field-service/TOC.md
  ce/field-service/mobile-power-app-intune.md
  ce/field-service/mobile-power-app-overview.md
  ce/field-service/mobile-power-app-push-notifications.md
  ce/field-service/mobile-power-app-system-barcode-scanning.md
  ce/field-service/mobile-power-app-system-forms-views.md
  ce/field-service/mobile-power-app-system-offline.md
  ce/field-service/mobile-power-app-system-requirements.md
  ce/field-service/mobile-power-app-system-use.md
  ce/field-service/mobile-power-app-workflows.md
  ce/field-service/mobile-power-utilize-platform.md
Owners: @shellyhaverkamp

daveFSMTOC
  ce/field-service/TOC.md
  ce/field-service/mobile-power-app-get-started.md
  ce/field-service/mobile-power-app-overview.md
  ce/field-service/mobile-power-app-system-use.md
  ce/field-service/mobile-power-app-use.md
Owners: @shellyhaverkamp

Update mobile-power-app-get-started.md
  ce/field-service/mobile-power-app-get-started.md
Owners: @shellyhaverkamp

fixing links
  ce/legal/slt-power-automate-brsext.md
  ce/legal/slt-power-automate-desktop.md
  ce/legal/slt-windows-recorder-brsext.md
Owners: none

image sizes
  ce/marketing/media/apply-updates-dynamics-365-apps.png
  ce/marketing/media/apply-updates-environment-name.png
  ce/marketing/media/apply-updates-environments.png
  ce/marketing/media/apply-updates-quick-setup2.png
  ce/marketing/media/apply-updates-update-available.png
Owners: @shellyhaverkamp

daveFSMTOC
  ce/field-service/mobile-power-app-configure.md
  ce/field-service/mobile-power-app-get-started.md
  ce/field-service/mobile-power-app-intune.md
  ce/field-service/mobile-power-app-push-notifications.md
  ce/field-service/mobile-power-app-system-barcode-scanning.md
  ce/field-service/mobile-power-app-system-forms-views.md
  ce/field-service/mobile-power-app-system-offline.md
  ce/field-service/mobile-power-app-system-requirements.md
  ce/field-service/mobile-power-app-workflows.md
  ce/field-service/mobile-power-utilize-platform.md
Owners: @shellyhaverkamp

daveFSMTOC
  ce/field-service/mobile-power-app-configure.md
  ce/field-service/mobile-power-app-get-started.md
  ce/field-service/mobile-power-app-system-barcode-scanning.md
  ce/field-service/mobile-power-app-system-requirements.md
  ce/field-service/mobile-power-app-use.md
Owners: @shellyhaverkamp

daveFSMTOC
  ce/field-service/TOC.md
  ce/field-service/mobile-power-app-system-barcode-scanning.md
Owners: @shellyhaverkamp

ADO 2100500
  ce/legal/slt-power-automate-brsr.md
  ce/legal/slt-windows-recorder-brsr.md
Owners: none

Tweaked the note
  ce/customerengagement/on-premises/customize/business-process-flows-overview.md
Owners: none

Tweaked the note
  ce/customerengagement/on-premises/customize/create-business-process-flow.md
Owners: none

Fixed CDS name
  ce/customerengagement/on-premises/overview.md
Owners: none

Tweaks
  ce/customerengagement/on-premises/developer/create-early-bound-entity-classes-code-generation-tool.md
Owners: none

Tweaks
  ce/customerengagement/on-premises/developer/custom-workflow-activities-workflow-assemblies.md
Owners: none

Tweaks
  ce/customerengagement/on-premises/developer/get-started-managed-code-application-development.md
Owners: none

Tweaks
  ce/customerengagement/on-premises/developer/overview.md
Owners: none

Tweaks
  ce/customerengagement/on-premises/developer/synchronize-dynamics-365-data-with-external-systems.md
Owners: none

Tweaks
  ce/customerengagement/on-premises/developer/use-executemultiple-improve-performance-bulk-data-load.md
Owners: none

Tweaks
  ce/customerengagement/on-premises/developer/use-microsoft-dynamics-365-organization-service.md
Owners: none

Tweaks
  ce/customerengagement/on-premises/developer/use-organization-service-read-write-data-metadata.md
Owners: none

Tweaks
  ce/customerengagement/on-premises/developer/xrm-tooling/use-connection-strings-xrm-tooling-connect.md
Owners: none

Tweaks
  ce/customerengagement/on-premises/whats-new.md
Owners: none

Fixed author name
  ce/customerengagement/on-premises/developer/duplicate-detection-create-update.md
  ce/customerengagement/on-premises/developer/enable-disable-duplicate-detection.md
  ce/customerengagement/on-premises/developer/run-duplicate-detection.md
  ce/customerengagement/on-premises/developer/streamline-javascript-development-fiddler-autoresponder.md
  ce/customerengagement/on-premises/developer/use-microsoft-dynamics-365-web-api.md
  ce/customerengagement/on-premises/developer/webapi/discover-url-organization-web-api.md
  ce/customerengagement/on-premises/developer/webapi/get-started-web-api.md
  ce/customerengagement/on-premises/developer/webapi/samples.md
  ce/customerengagement/on-premises/developer/webapi/setup-postman-environment.md
  ce/customerengagement/on-premises/developer/webapi/use-postman-perform-operations.md
  ce/customerengagement/on-premises/developer/webapi/use-postman-web-api.md
  ce/customerengagement/on-premises/developer/webapi/use-web-api-metadata.md
Owners: none

Fixed warnings
  ce/customerengagement/on-premises/developer/duplicate-detection-create-update.md
  ce/customerengagement/on-premises/developer/enable-disable-duplicate-detection.md
  ce/customerengagement/on-premises/developer/run-duplicate-detection.md
  ce/customerengagement/on-premises/developer/streamline-javascript-development-fiddler-autoresponder.md
  ce/customerengagement/on-premises/developer/use-microsoft-dynamics-365-web-api.md
  ce/customerengagement/on-premises/developer/webapi/discover-url-organization-web-api.md
  ce/customerengagement/on-premises/developer/webapi/get-started-web-api.md
  ce/customerengagement/on-premises/developer/webapi/samples.md
  ce/customerengagement/on-premises/developer/webapi/setup-postman-environment.md
  ce/customerengagement/on-premises/developer/webapi/use-postman-perform-operations.md
  ce/customerengagement/on-premises/developer/webapi/use-postman-web-api.md
  ce/customerengagement/on-premises/developer/webapi/use-web-api-metadata.md
Owners: none

interim commit
  ce/unified-service-desk/admin/whats-new-unified-service-desk-administrators.md
  ce/unified-service-desk/release-history.md
Owners: @shubhadaj

Interim commit
  ce/unified-service-desk/release-history.md
Owners: @shubhadaj

Update work-with-queues.md
  ce/customer-service/work-with-queues.md
Owners: @shubhadaj

Update set-up-search-providers.md
  ce/customer-service/set-up-search-providers.md
Owners: @shubhadaj

Update set-up-search-providers.md
  ce/customer-service/set-up-search-providers.md
Owners: @shubhadaj

daveFSMTOC
  ce/field-service/media/addbarcodecontrol.png
  ce/field-service/media/addcontroltofield.png
  ce/field-service/media/addfieldtoform.png
  ce/field-service/media/editform.png
  ce/field-service/media/enablefortabandmobile.png
  ce/field-service/media/findfieldanddoubleclickonit.png
  ce/field-service/media/mobilewithfield.png
  ce/field-service/media/openinappdesigner.png
  ce/field-service/media/saveandpublish.png
  ce/field-service/media/saveandpublish2.png
  ce/field-service/media/switchtoclassic.png
  ce/field-service/mobile-power-app-system-barcode-scanning.md
Owners: @shellyhaverkamp

Update mobile-power-app-system-barcode-scanning.md
  ce/field-service/mobile-power-app-system-barcode-scanning.md
Owners: @shellyhaverkamp

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
