Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Update user_guide_mobile_app.md
  ce/mobile-app/user_guide_mobile_app.md
Owners: @mduelae, @KumarVivek

Update user_guide_mobile_app.md
  ce/mobile-app/user_guide_mobile_app.md
Owners: @mduelae, @KumarVivek

Delete homesceen_d365.gif
  ce/mobile-app/media/homesceen_d365.gif
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/mobile-app/media/homesceen_d365.gif
Owners: @mduelae, @KumarVivek

Delete pin_to-favs.gif
  ce/mobile-app/media/pin_to-favs.gif
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/mobile-app/media/pin_to-favs.gif
Owners: @mduelae, @KumarVivek

Delete unpin_favs.gif
  ce/mobile-app/media/unpin_favs.gif
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/mobile-app/media/unpin_favs.gif
Owners: @mduelae, @KumarVivek

Delete change_views.gif
  ce/mobile-app/media/change_views.gif
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/mobile-app/media/change_views.gif
Owners: @mduelae, @KumarVivek

Delete create_new_record.gif
  ce/mobile-app/media/create_new_record.gif
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/mobile-app/media/create_new_record.gif
Owners: @mduelae, @KumarVivek

Delete create_new_record_more_options.gif
  ce/mobile-app/media/create_new_record_more_options.gif
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/mobile-app/media/create_new_record_more_options.gif
Owners: @mduelae, @KumarVivek

Delete open_record_more_options.gif
  ce/mobile-app/media/open_record_more_options.gif
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/mobile-app/media/open_record_more_options.gif
Owners: @mduelae, @KumarVivek

Delete edit_record.gif
  ce/mobile-app/media/edit_record.gif
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/mobile-app/media/edit_record.gif
Owners: @mduelae, @KumarVivek

Delete go_back_home.gif
  ce/mobile-app/media/go_back_home.gif
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/mobile-app/media/go_back_home.gif
Owners: @mduelae, @KumarVivek

Update migration.md
  ce/mobile-app/migration.md
Owners: @mduelae, @KumarVivek

Update migration.md
  ce/mobile-app/migration.md
Owners: @mduelae, @KumarVivek

Update diagnostic-checker.md
  ce/outlook-app/diagnostic-checker.md
Owners: @mduelae, @KumarVivek

Update diagnostic-checker.md
  ce/outlook-app/diagnostic-checker.md
Owners: @mduelae, @KumarVivek

Update diagnostic-checker.md
  ce/outlook-app/diagnostic-checker.md
Owners: @mduelae, @KumarVivek

Update diagnostic-checker.md
  ce/outlook-app/diagnostic-checker.md
Owners: @mduelae, @KumarVivek

Update mobile-2020-power-platform.md
  ce/field-service/mobile-2020-power-platform.md
Owners: @shellyhaverkamp

Update user_guide_mobile_app.md
  ce/mobile-app/user_guide_mobile_app.md
Owners: @mduelae, @KumarVivek

updated legal docs
  ce/legal/slt-dynamics365-mobile-android-public.md
  ce/legal/slt-dynamics365-mobile-ios-public.md
Owners: none

Update user_guide_mobile_app.md
  ce/mobile-app/user_guide_mobile_app.md
Owners: @mduelae, @KumarVivek

Update user_guide_mobile_app.md
  ce/mobile-app/user_guide_mobile_app.md
Owners: @mduelae, @KumarVivek

Update TOC.md
  ce/mobile-app/TOC.md
Owners: @mduelae, @KumarVivek

Update user_guide_mobile_app.md
  ce/mobile-app/user_guide_mobile_app.md
Owners: @mduelae, @KumarVivek

Update user_guide_mobile_app.md
  ce/mobile-app/user_guide_mobile_app.md
Owners: @mduelae, @KumarVivek

new legal doc
  ce/legal/slt-dynamics365-mobile-admin-public.md
Owners: none

update to use timeline
  ce/customer-service/customer-service-hub-user-guide-timeline-overview.md
Owners: @shubhadaj

update use timeline
  ce/customer-service/customer-service-hub-user-guide-timeline-overview.md
Owners: @shubhadaj

update to use timeline
  ce/customer-service/customer-service-hub-user-guide-timeline-overview.md
Owners: @shubhadaj

udpates to use timeline
  ce/customer-service/customer-service-hub-user-guide-timeline-overview.md
  ce/customer-service/media/timeline-add-a-note-to-a-record.png
  ce/customer-service/media/timeline-add-an-attachment-to-a-note1.png
  ce/customer-service/media/timeline-add-link-1a.png
  ce/customer-service/media/timeline-add-links-to-records-1a.png
  ce/customer-service/media/timeline-select-user-advanced-find.png
Owners: @shubhadaj

update to timeline
  ce/customer-service/customer-service-hub-user-guide-user-timeline-overview.md
  ce/customer-service/media/timeline-browser-view.png
  ce/customer-service/media/timeline-create-a-timeline-record-1.png
  ce/customer-service/media/timeline-filter-1.png
  ce/customer-service/media/timeline-filter-applied-1.png
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
