Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @ReneeW-CPub, @almostdunh, @shellyhaverkamp, @shubhadaj, @Mattp123, @KumarVivek, @phecke, @Nkrb, @mduelae

Added image
  ce/sales/digital-selling.md
  ce/sales/media/ds-ci-monitor-usage.png
Owners: @shubhadaj

Update delete-bulk-records.md
  ce/customerengagement/on-premises/admin/delete-bulk-records.md
Owners: none

Update view-activities-record.md
  ce/sales/sales-mobile/view-activities-record.md
Owners: @shubhadaj

Update view-activities-record.md
  ce/sales/sales-mobile/view-activities-record.md
Owners: @shubhadaj

Release update
  ce/marketing/media/real-time-marketing-partial.png
  ce/marketing/media/real-time-marketing-relative.png
  ce/marketing/real-time-marketing-event-based-journey.md
  ce/marketing/real-time-marketing-event-triggers.md
  ce/marketing/real-time-marketing-personalization.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/customer-service/                         @shubhadaj
/ce/customerengagement/on-premises/analytics/ @Mattp123
/ce/customerengagement/on-premises/customize/ @Mattp123
/ce/customerengagement/on-premises/developer/	@KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/insights-insideview/                      @shubhadaj
/ce/legal/	                                  @ReneeW-CPub
/ce/linkedin/	                                @shubhadaj
/ce/marketing/	                              @shellyhaverkamp
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-addin/	                          @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/sales/	                                  @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/teams-integration/	                      @shubhadaj
/ce/unified-service-desk/	                    @shubhadaj
/ce/versium-predict/	                        @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
