Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Update email-faqs.md
  ce/customer-service/email-faqs.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-admin.md
  ce/customer-service/customer-service-hub-user-guide-email-admin.md
Owners: @shubhadaj

peview note added
  ce/sales-enterprise/configure-microsoft-teams-dialer.md
  ce/sales-enterprise/media/si-admin-teams-dialer-systems-validation-successful.png
Owners: @shubhadaj

Create customer-service-hub-user-guide-email-font-admin.md
  ce/customer-service/customer-service-hub-user-guide-email-font-admin.md
Owners: @shubhadaj

Update TOC.md
  ce/customer-service/TOC.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-font-admin.md
  ce/customer-service/customer-service-hub-user-guide-email-font-admin.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-font-admin.md
  ce/customer-service/customer-service-hub-user-guide-email-font-admin.md
Owners: @shubhadaj

Rename customer-service-hub-user-guide-email-convert-email-template.md to customer-service-hub-user-guide-email-convert-template.md
  ce/customer-service/customer-service-hub-user-guide-email-convert-template.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-convert-template.md
  ce/customer-service/customer-service-hub-user-guide-email-convert-template.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-create-template.md
  ce/customer-service/customer-service-hub-user-guide-email-create-template.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-insert-template.md
  ce/customer-service/customer-service-hub-user-guide-email-insert-template.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-insert-template.md
  ce/customer-service/customer-service-hub-user-guide-email-insert-template.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-insert-template.md
  ce/customer-service/customer-service-hub-user-guide-email-insert-template.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-overview.md
  ce/customer-service/customer-service-hub-user-guide-email-overview.md
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/email-site-map-link.png
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-font-admin.md
  ce/customer-service/customer-service-hub-user-guide-email-font-admin.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-attachments.md
  ce/customer-service/customer-service-hub-user-guide-email-attachments.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-create-signature.md
  ce/customer-service/customer-service-hub-user-guide-email-create-signature.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-attachments.md
  ce/customer-service/customer-service-hub-user-guide-email-attachments.md
Owners: @shubhadaj

Update TOC.md
  ce/customer-service/TOC.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-overview.md
  ce/customer-service/customer-service-hub-user-guide-email-overview.md
Owners: @shubhadaj

Delete customer-service-hub-user-guide-email-attachments.md
  ce/customer-service/customer-service-hub-user-guide-email-attachments.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-admin.md
  ce/customer-service/customer-service-hub-user-guide-email-admin.md
Owners: @shubhadaj

Update TOC.md
  ce/customer-service/TOC.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-convert-template.md
  ce/customer-service/customer-service-hub-user-guide-email-convert-template.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-create-template.md
  ce/customer-service/customer-service-hub-user-guide-email-create-template.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-create-signature.md
  ce/customer-service/customer-service-hub-user-guide-email-create-signature.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-font-admin.md
  ce/customer-service/customer-service-hub-user-guide-email-font-admin.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-insert-template.md
  ce/customer-service/customer-service-hub-user-guide-email-insert-template.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-overview.md
  ce/customer-service/customer-service-hub-user-guide-email-overview.md
Owners: @shubhadaj

dhgoel-fuwo
  ce/field-service/media/mobile-2020-follow-up.png
  ce/field-service/mobile-power-app-use.md
Owners: @shellyhaverkamp

Update mobile-power-app-use.md
  ce/field-service/mobile-power-app-use.md
Owners: @shellyhaverkamp

Redirection for Mints
  .openpublishing.redirection.json
  ce/mobile-app/send-email.md
Owners: @mduelae, @KumarVivek

Update knowledge-search-analytics-cs.md
  ce/customer-service/knowledge-search-analytics-cs.md
Owners: @shubhadaj

daveCFSSummaryTiles
  ce/field-service/cfs-mobile-powerapp.md
  ce/field-service/cfs-visualizations-iot-hub.md
  ce/field-service/media/cfs-device-readings-mobile.png
Owners: @shellyhaverkamp

daveCFSSummaryTiles
  ce/field-service/cfs-summary-tiles.md
  ce/field-service/cfs-visualizations-iot-hub.md
Owners: @shellyhaverkamp

daveCFSSummarytiles
  ce/field-service/cfs-summary-tiles.md
  ce/field-service/cfs-visualizations-iot-hub.md
Owners: @shellyhaverkamp

before you begin
  ce/sales-enterprise/configure-forecast.md
Owners: @shubhadaj

update
  ce/sales-enterprise/configure-forecast.md
Owners: @shubhadaj

format
  ce/sales-enterprise/configure-forecast.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
