Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update field-service-knowledge-management.md
  ce/field-service/field-service-knowledge-management.md
Owners: @shellyhaverkamp

Update mobile-power-app-use.md
  ce/field-service/mobile-power-app-use.md
Owners: @shellyhaverkamp

Update mobile-powerapp-reporting.md
  ce/field-service/mobile-powerapp-reporting.md
Owners: @shellyhaverkamp

Update urs-bug-fixes.md
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Update mobile-power-app-use.md
  ce/field-service/mobile-power-app-use.md
Owners: @shellyhaverkamp

Update multi-resource-scheduling.md
  ce/shared/urs/multi-resource-scheduling.md
Owners: none

Update mkt-settings-sync.md
  ce/marketing/mkt-settings-sync.md
Owners: @shellyhaverkamp

Update setup-mobile-offline.md
  ce/mobile-app/setup-mobile-offline.md
Owners: @mduelae, @KumarVivek

Update setup-mobile-offline.md
  ce/mobile-app/setup-mobile-offline.md
Owners: @mduelae, @KumarVivek

Update setup-mobile-offline.md
  ce/mobile-app/setup-mobile-offline.md
Owners: @mduelae, @KumarVivek

Update version history with 8.8.35.44 hotfix
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

updated note
  ce/outlook-app/deploy-dynamics-365-app-for-outlook.md
Owners: @mduelae, @KumarVivek

interim
  ce/customer-service/troubleshoot-using-solution-health-hub.md
Owners: @shubhadaj

Added moniker examples
  ce/customerengagement/on-premises/overview.md
  ce/customerengagement/on-premises/whats-new.md
Owners: none

Edited Metadata
  ce/customer-service/customize-chat-widget.md
Owners: @shubhadaj

Ready for publish
  ce/customer-service/bot-escalate-end-conversation.md
  ce/customer-service/configure-bot-virtual-agent.md
  ce/customer-service/context-variables-for-bot.md
  ce/customer-service/enable-bot-context.md
  ce/customer-service/link-customer-case-when-bot-escalates.md
Owners: @shubhadaj

incorporated editor's comments
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

incorporated editor's comments
  ce/customer-service/outbound-messaging.md
Owners: @shubhadaj

Metadata updates
  ce/customer-service/TOC.md
  ce/customer-service/record-identification-rule.md
Owners: @shubhadaj

added a new topic
  ce/customer-service/TOC.md
  ce/customer-service/asynchronous-channels.md
  ce/customer-service/configure-bot-virtual-agent.md
  ce/customer-service/suggested-actions-power-virtual-agent.md
Owners: @shubhadaj

TOC
  ce/customer-service/TOC.md
Owners: @shubhadaj

TOc update
  ce/customer-service/TOC.md
Owners: @shubhadaj

updated toc
  ce/customer-service/TOC.md
Owners: @shubhadaj

TOC
  ce/customer-service/TOC.md
Owners: @shubhadaj

Formatting
  ce/customer-service/add-timer-control-case-form-track-time-against-sla.md
Owners: @shubhadaj

Added note about running the health check from CSH
  ce/customer-service/troubleshoot-using-solution-health-hub.md
Owners: @shubhadaj

Update mobile-powerapp-reporting.md
  ce/field-service/mobile-powerapp-reporting.md
Owners: @shellyhaverkamp

Update mobile-power-app-use.md
  ce/field-service/mobile-power-app-use.md
Owners: @shellyhaverkamp

Update reminders-arrival-time.md
  ce/field-service/reminders-arrival-time.md
Owners: @shellyhaverkamp

Update upgrade-field-service.md
  ce/field-service/upgrade-field-service.md
Owners: @shellyhaverkamp

Update reminders-arrival-time.md
  ce/field-service/reminders-arrival-time.md
Owners: @shellyhaverkamp

Update reminders-arrival-time.md
  ce/field-service/reminders-arrival-time.md
Owners: @shellyhaverkamp

Update reminders-arrival-time.md
  ce/field-service/reminders-arrival-time.md
Owners: @shellyhaverkamp

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Update preview-schedule-board.md
  ce/shared/urs/preview-schedule-board.md
Owners: none

adds file + toc update
  ce/field-service/TOC.md
  ce/field-service/field-service-dynamics365-government.md
Owners: @shellyhaverkamp

Update field-service-dynamics365-government.md
  ce/field-service/field-service-dynamics365-government.md
Owners: @shellyhaverkamp

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj
