Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Updated headings
  ce/sales/create-edit-order-sales.md
  ce/sales/email-engagement.md
  ce/sales/prioritize-sales-pipeline-through-work-list.md
  ce/sales/talking-points.md
Owners: none

For 2535372
  ce/customer-service/configure-assignment-rules.md
  ce/customer-service/media/route-to-queue-sentiment.png
  ce/customer-service/media/ur-sample-assign-rule.png
  ce/customer-service/use-sentiment-prediction-for-routing.md
Owners: @shubhadaj

For 2548110
  ce/customer-service/configure-assignment-rules.md
  ce/customer-service/international-availability.md
Owners: @shubhadaj

Build score
  ce/customer-service/international-availability.md
Owners: @shubhadaj

edits
  ce/customer-service/set-up-queues-manage-activities-cases.md
Owners: @shubhadaj

updated metadata
  ce/customer-service/set-up-queues-manage-activities-cases.md
Owners: @shubhadaj

edit
  ce/customer-service/set-up-queues-manage-activities-cases.md
Owners: @shubhadaj

edit
  ce/customer-service/set-up-queues-manage-activities-cases.md
Owners: @shubhadaj

Update custom-actions-manual-forecasting.md
  ce/sales/developer/reference/custom-actions-manual-forecasting.md
Owners: none

Update teams-integration.md
  ce/teams-integration/teams-integration.md
Owners: none

Updated for clarity
  ce/customer-service/media/choose-add-row-sentiment-category.png
  ce/customer-service/use-sentiment-prediction-for-routing.md
Owners: @shubhadaj

Corrected formatting
  ce/customer-service/use-sentiment-prediction-for-routing.md
Owners: @shubhadaj

For 2508985
  ce/customer-service/data-access-consent.md
Owners: @shubhadaj

GA content updates
  ce/customer-service/oc-manage-presence-status.md
Owners: @shubhadaj

Update data-access-consent.md
  ce/customer-service/data-access-consent.md
Owners: @shubhadaj

updated Apps to apps
  ce/unified-service-desk/admin/Support-unified-interfaces-apps-usd.md
  ce/unified-service-desk/toc.yml
Owners: @shubhadaj

edit
  ce/unified-service-desk/admin/Support-unified-interfaces-apps-usd.md
Owners: @shubhadaj

edit
  ce/unified-service-desk/admin/Support-unified-interfaces-apps-usd.md
Owners: @shubhadaj

edit
  ce/unified-service-desk/admin/Support-unified-interfaces-apps-usd.md
Owners: @shubhadaj

edit
  ce/unified-service-desk/admin/Support-unified-interfaces-apps-usd.md
Owners: @shubhadaj

edit
  ce/unified-service-desk/admin/Support-unified-interfaces-apps-usd.md
Owners: @shubhadaj

fixed acrolinx issues
  ce/sales/who-knows-whom.md
Owners: none

Trying to improve score
  ce/sales/who-knows-whom.md
Owners: none

Update overview.md
  ce/outlook-app/overview.md
Owners: @mduelae, @KumarVivek

Update deploy-dynamics-365-app-for-outlook.md
  ce/outlook-app/deploy-dynamics-365-app-for-outlook.md
Owners: @mduelae, @KumarVivek

Update pages-forms-troubleshoot.md
  ce/marketing/pages-forms-troubleshoot.md
Owners: @shellyhaverkamp

Updates
  ce/marketing/fair-use-policy.md
  ce/marketing/real-time-marketing-custom-event-actions.md
  ce/marketing/toc.yml
Owners: @shellyhaverkamp

Update insights-glossary.md
  ce/marketing/insights-glossary.md
Owners: @shellyhaverkamp

Fixes
  ce/sales/who-knows-whom.md
Owners: none

review comments
  ce/sales/create-and-activate-a-segment.md
  ce/sales/view-details-segment.md
Owners: none

Updates
  ce/customer-service/international-availability.md
  ce/customer-service/voice-channel-region-availability.md
Owners: @shubhadaj

Date change
  ce/customer-service/configure-faceted-search-results.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/knowledge-base-search-methods.md
Owners: @shubhadaj

edits
  ce/customer-service/oc-manage-presence-status.md
Owners: @shubhadaj

edit
  ce/customer-service/voice-channel-region-availability.md
Owners: @shubhadaj

formatting
  ce/customer-service/oc-manage-presence-status.md
Owners: @shubhadaj

Excel online limitaton with templates
  ce/sales/manage-excel-templates.md
Owners: none

Updated note
  ce/sales/manage-excel-templates.md
Owners: none

Filter users feature content
  ce/sales/filter-users-from-forecast.md
Owners: none

PR edits
  ce/customer-service/international-availability.md
  ce/customer-service/voice-channel-region-availability.md
Owners: @shubhadaj

pos bug and image update
  ce/sales/configure-predictive-opportunity-scoring.md
  ce/sales/media/faq-sa-about-relationship-analytics-side-pane-fields.png
Owners: none

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
