Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Minor edits
  ce/customer-service/oc-historical-analytics-unified-routing.md
Owners: @shubhadaj

removed preview tags
  ce/app-profile-manager/reference/microsoft-apm.md
  ce/app-profile-manager/reference/microsoft-apm/canCloseSession.md
  ce/app-profile-manager/reference/microsoft-apm/canCloseTab.md
  ce/app-profile-manager/reference/microsoft-apm/canCreateSession.md
  ce/app-profile-manager/reference/microsoft-apm/canCreateTab.md
  ce/app-profile-manager/reference/microsoft-apm/close.md
  ce/app-profile-manager/reference/microsoft-apm/createSession.md
  ce/app-profile-manager/reference/microsoft-apm/focus.md
  ce/app-profile-manager/reference/microsoft-apm/getAllSessions.md
  ce/app-profile-manager/reference/microsoft-apm/getAllTabs.md
  ce/app-profile-manager/reference/microsoft-apm/getFocusedSession.md
  ce/app-profile-manager/reference/microsoft-apm/getFocusedTab.md
  ce/app-profile-manager/reference/microsoft-apm/getSession.md
  ce/app-profile-manager/reference/microsoft-apm/getTab.md
  ce/app-profile-manager/reference/microsoft-apm/isDefault.md
  ce/app-profile-manager/reference/microsoft-apm/requestFocus.md
  ce/app-profile-manager/reference/microsoft-apm/sessionId.md
  ce/app-profile-manager/reference/microsoft-apm/sessiontitle.md
  ce/app-profile-manager/reference/microsoft-apm/tabId.md
  ce/app-profile-manager/reference/microsoft-apm/tabtitle.md
  ce/app-profile-manager/reference/microsoft-apm/updateContext.md
Owners: none

edits
  ce/app-profile-manager/reference/microsoft-apm.md
Owners: none

updated ms.date
  ce/app-profile-manager/reference/microsoft-apm.md
  ce/app-profile-manager/reference/microsoft-apm/canCloseSession.md
  ce/app-profile-manager/reference/microsoft-apm/canCloseTab.md
  ce/app-profile-manager/reference/microsoft-apm/canCreateSession.md
  ce/app-profile-manager/reference/microsoft-apm/canCreateTab.md
  ce/app-profile-manager/reference/microsoft-apm/close.md
  ce/app-profile-manager/reference/microsoft-apm/closeTab.md
  ce/app-profile-manager/reference/microsoft-apm/createSession.md
  ce/app-profile-manager/reference/microsoft-apm/createTab.md
  ce/app-profile-manager/reference/microsoft-apm/focus.md
  ce/app-profile-manager/reference/microsoft-apm/focusTab.md
  ce/app-profile-manager/reference/microsoft-apm/getAllSessions.md
  ce/app-profile-manager/reference/microsoft-apm/getAllTabs.md
  ce/app-profile-manager/reference/microsoft-apm/getFocusedSession.md
  ce/app-profile-manager/reference/microsoft-apm/getFocusedTab.md
  ce/app-profile-manager/reference/microsoft-apm/getSession.md
  ce/app-profile-manager/reference/microsoft-apm/getTab.md
  ce/app-profile-manager/reference/microsoft-apm/isDefault.md
  ce/app-profile-manager/reference/microsoft-apm/refreshTab.md
  ce/app-profile-manager/reference/microsoft-apm/requestFocus.md
  ce/app-profile-manager/reference/microsoft-apm/sessionId.md
  ce/app-profile-manager/reference/microsoft-apm/sessiontitle.md
  ce/app-profile-manager/reference/microsoft-apm/tabId.md
  ce/app-profile-manager/reference/microsoft-apm/tabtitle.md
  ce/app-profile-manager/reference/microsoft-apm/updateContext.md
Owners: none

Corrected file name, fixed warnings
  ce/customer-service/omnichannel-insights-dashboard.md
  ce/customer-service/troubleshoot-using-solution-health-hub.md
  ce/customer-service/voice-channel-reports-analytics.md
  ce/unified-service-desk/oc-usd/omnichannel-usd-system-requirements.md
Owners: @shubhadaj

For 2437988
  ce/customer-service/try-channels.md
Owners: @shubhadaj

Edits to improve score, address typos
  ce/customer-service/troubleshoot-using-solution-health-hub.md
  ce/customer-service/voice-channel-reports-analytics.md
Owners: @shubhadaj

updates for release
  ce/customer-service/configure-ai-suggested-article-keywords-description.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/media/v9-add-content-article.PNG
  ce/customer-service/media/v9-suggested-keywords-description-dialog.png
Owners: @shubhadaj

edits
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Edits for accuracy and grammar
  ce/customer-service/media/voice-historical-agent-drill-down.png
  ce/customer-service/omnichannel-insights-dashboard.md
  ce/customer-service/troubleshoot-using-solution-health-hub.md
  ce/customer-service/users-user-profiles.md
  ce/customer-service/voice-channel-reports-analytics.md
Owners: @shubhadaj

Additional edits
  ce/customer-service/media/voice-historical-agent-drill-down.png
  ce/customer-service/voice-channel-reports-analytics.md
Owners: @shubhadaj

Minor edit
  ce/customer-service/configure-work-classification.md
Owners: @shubhadaj

task updates
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/media/ka-publish.png
Owners: @shubhadaj

updated for review feedback
  ce/customer-service/channel-integration-framework/reference/microsoft-ciframework/renderSearchPage.md
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/renderSearchPage.md
Owners: @shubhadaj

edits
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/media/ka-publish.png
Owners: @shubhadaj

updated examples
  ce/customer-service/channel-integration-framework/reference/microsoft-ciframework/renderSearchPage.md
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/renderSearchPage.md
Owners: @shubhadaj

edits
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

edits
  ce/customer-service/channel-integration-framework/reference/microsoft-ciframework/renderSearchPage.md
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/renderSearchPage.md
Owners: @shubhadaj

Added introduction section
  ce/customer-service/configure-assignment-rules.md
Owners: @shubhadaj

2318108
  ce/customer-service/set-up-skill-based-routing.md
  ce/customer-service/unified-routing-faqs.md
Owners: @shubhadaj

Update scheduling-parameters-settings.md
  ce/field-service/scheduling-parameters-settings.md
Owners: @shellyhaverkamp

For 2356210
  ce/customer-service/users-user-profiles.md
Owners: @shubhadaj

Update scheduling-parameters-settings.md
  ce/field-service/scheduling-parameters-settings.md
Owners: @shellyhaverkamp

Update mobile-powerapp-geofence.md
  ce/field-service/mobile-powerapp-geofence.md
Owners: @shellyhaverkamp

For 2285347
  ce/customer-service/set-up-skill-based-routing.md
Owners: @shubhadaj

Update field-service-version-history-resource-scheduling-optimization.md
  ce/field-service/field-service-version-history-resource-scheduling-optimization.md
Owners: @shellyhaverkamp

For 2299479
  ce/customer-service/assignment-methods.md
  ce/customer-service/media/ur-prioritization-scenario.png
Owners: @shubhadaj

Cross-ref
  ce/customer-service/assignment-methods.md
Owners: @shubhadaj

Update mobile-power-app-faq.yml
  ce/field-service/mobile-power-app-faq.yml
Owners: @shellyhaverkamp

Update mobile-power-app-faq.yml
  ce/field-service/mobile-power-app-faq.yml
Owners: @shellyhaverkamp

URS 2021 wave 2 EA update 2
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Addressed PR review comments
  ce/customer-service/assignment-methods.md
  ce/customer-service/set-up-skill-based-routing.md
  ce/customer-service/unified-routing-faqs.md
Owners: @shubhadaj

edits
  ce/customer-service/channel-integration-framework/reference/microsoft-ciframework/renderSearchPage.md
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/renderSearchPage.md
Owners: @shubhadaj

made changes to the settings attribute. [DNR]
  ce/field-service/search-resource-availability-api.md
Owners: @shellyhaverkamp

edits
  ce/customer-service/configure-ai-suggested-article-keywords-description.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

updated sys requirements for omnichannel
  ce/customer-service/system-requirements-omnichannel.md
Owners: @shubhadaj

edits
  ce/customer-service/configure-ai-suggested-article-keywords-description.md
Owners: @shubhadaj

date update
  ce/teams-integration/enable-teams-chat.md
  ce/teams-integration/teams-collaboration-in-dymanics.md
  ce/teams-integration/teams-in-dynamics-faq.md
  ce/teams-integration/using-teams-chat-in-dynamics.md
Owners: none

ms.date change
  ce/customer-service/render-live-chat-widget-mobile.md
Owners: @shubhadaj

added download info as h2
  ce/customer-service/render-live-chat-widget-mobile.md
Owners: @shubhadaj
