Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

adding section to booking timestamps
  ce/field-service/TOC.md
  ce/field-service/booking-timestamps.md
Owners: @shellyhaverkamp

fixing alt text
  ce/field-service/booking-timestamps.md
Owners: @shellyhaverkamp

Update voice-channel.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

Update voice-channel.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

Adding whats new for 9.1 article
  ce/customerengagement/on-premises/toc.yml
Owners: none

Update voice-channel.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

Adding whats new for 9.1 article
  ce/customerengagement/on-premises/whats-new.md
Owners: none

Adding whats new for 9.1 article
  ce/customerengagement/on-premises/whats-new.md
Owners: none

Adding whats new for 9.1 article
  ce/customerengagement/on-premises/whats-new.md
Owners: none

Update frontline-worker-set-up.md
  ce/field-service/frontline-worker-set-up.md
Owners: @shellyhaverkamp

Update frontline-worker-set-up.md
  ce/field-service/frontline-worker-set-up.md
Owners: @shellyhaverkamp

Update frontline-worker-set-up.md
  ce/field-service/frontline-worker-set-up.md
Owners: @shellyhaverkamp

Update frontline-worker-set-up.md
  ce/field-service/frontline-worker-set-up.md
Owners: @shellyhaverkamp

customize
  ce/marketing/developer/email-designer-customization.md
  ce/marketing/email-warm-up.md
Owners: @KumarVivek, @Nkrb, @shellyhaverkamp

Update frontline-worker-set-up.md
  ce/field-service/frontline-worker-set-up.md
Owners: @shellyhaverkamp

Forcing commit
  ce/customerengagement/on-premises/customize/manage-access-apps-security-roles.md
Owners: none

Update voice-channel.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

Resolving build warnings
  ce/customerengagement/on-premises/customize/iframe-properties-legacy.md
  ce/customerengagement/on-premises/customize/make-grids-lists-editable-custom-control.md
  ce/customerengagement/on-premises/customize/quick-view-control-properties-legacy.md
  ce/customerengagement/on-premises/customize/workflow-processes.md
Owners: none

Adding whats new for 9.1 article
  ce/customerengagement/on-premises/toc.yml
  ce/customerengagement/on-premises/update-to-v91.md
  ce/customerengagement/on-premises/whats-new.md
Owners: none

Adding whats new for 9.1 article
  ce/customerengagement/on-premises/whats-new.md
Owners: none

Update mobile-power-utilize-platform.md
  ce/field-service/mobile-power-utilize-platform.md
Owners: @shellyhaverkamp

Adding whats new for 9.1 article
  ce/customerengagement/on-premises/toc.yml
  ce/customerengagement/on-premises/update-to-v91.md
Owners: none

Adding whats new for 9.1 article
  ce/customerengagement/on-premises/whats-new.md
Owners: none

Adding whats new for 9.1 article
  ce/customerengagement/on-premises/toc.yml
Owners: none

Update email-designer-customization.md
  ce/marketing/developer/email-designer-customization.md
Owners: @KumarVivek, @Nkrb

Adding whats new for 9.1 article
  ce/customerengagement/on-premises/update-to-v91.md
Owners: none

Adding whats new for 9.1 article
  ce/customerengagement/on-premises/whats-new.md
Owners: none

Adding whats new for 9.1 article
  ce/customerengagement/on-premises/whats-new.md
Owners: none

Adding whats new for 9.1 article
  ce/customerengagement/on-premises/whats-new.md
Owners: none

Interim
  ce/customer-service/create-workstreams.md
Owners: @shubhadaj

Corrected cross-references
  ce/customer-service/omnichannel-insights-dashboard.md
Owners: @shubhadaj

Interim
  ce/customer-service/TOC.md
  ce/customer-service/add-chat-widget.md
  ce/customer-service/configure-facebook-channel.md
  ce/customer-service/configure-wechat-channel.md
  ce/customer-service/create-workstreams.md
  ce/customer-service/media/set-up-wechat.png
Owners: @shubhadaj

interim
  ce/customer-service/TOC.md
  ce/customer-service/set-up-record-routing.md
Owners: @shubhadaj

Updated prerequisites section
  ce/customer-service/persistent-chat.md
Owners: @shubhadaj

Corrected metadata for screenshots
  ce/customer-service/configure-custom-channel.md
Owners: @shubhadaj

ADO 2211073
  .openpublishing.redirection.json
Owners: none

Update .openpublishing.redirection.json
  .openpublishing.redirection.json
Owners: none

Tweaks
  ce/customerengagement/on-premises/deploy/deploy-and-operate-dynamics-365-on-premises.md
Owners: none

Formatting fixes
  ce/customerengagement/on-premises/whats-new.md
Owners: none

Changed the view name for Invoice product view
  ce/sales-enterprise/customize-add-products-dialog-box.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
