Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update migrate-workstreams.md
  ce/customer-service/migrate-workstreams.md
Owners: @shubhadaj

Fixed the redirection
  .openpublishing.redirection.json
Owners: none

updated for tech review feedback
  ce/customer-service/routing-trigger-automatic.md
  ce/customer-service/routing-trigger.md
Owners: @shubhadaj

edited metadesc
  ce/customer-service/routing-trigger-automatic.md
  ce/customer-service/routing-trigger.md
Owners: @shubhadaj

minor edit to procedure intro line
  ce/customer-service/routing-trigger-automatic.md
Owners: @shubhadaj

capitalization
  ce/customer-service/routing-trigger.md
Owners: @shubhadaj

updated ms.date
  ce/customer-service/routing-trigger-automatic.md
  ce/customer-service/routing-trigger.md
Owners: @shubhadaj

updated ms.author
  ce/customer-service/routing-trigger-automatic.md
  ce/customer-service/routing-trigger.md
Owners: @shubhadaj

updated h2
  ce/customer-service/routing-trigger.md
Owners: @shubhadaj

removed graphics
  ce/customer-service/media/route-trigger1.PNG
  ce/customer-service/media/route-trigger2.PNG
  ce/customer-service/media/route-trigger3.PNG
  ce/customer-service/media/route-trigger4.PNG
  ce/customer-service/media/route-trigger5.png
  ce/customer-service/routing-trigger-automatic.md
Owners: @shubhadaj

Added ToC entry
  ce/teams-integration/toc.yml
Owners: none

remove preview info
  ce/teams-integration/teams-collaboration-enhanced-experience.md
Owners: none

Updates
  ce/teams-integration/teams-collaboration-enhanced-experience.md
Owners: none

changed date
  ce/teams-integration/sensitivity-labels.md
Owners: none

edits
  ce/field-service/media/mobile-2020-push-notification-final-wireframe.png
  ce/field-service/mobile-power-app-push-notifications.md
Owners: @shellyhaverkamp

Update trial-signup.md
  ce/marketing/trial-signup.md
Owners: @shellyhaverkamp

trying lol
  ce/field-service/mobile-power-app-faq.yml
Owners: @shellyhaverkamp

still tryin
  ce/field-service/mobile-power-app-faq.yml
Owners: @shellyhaverkamp

Update mobile-power-app-faq.yml
  ce/field-service/mobile-power-app-faq.yml
Owners: @shellyhaverkamp

RELEASE NOTES UPDATES
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

table column header corrections
  ce/customer-service/bring-your-own-channel.md
  ce/unified-service-desk/admin/system-configurations-bpa.md
  ce/unified-service-desk/configure-hosted-application.md
  ce/unified-service-desk/web-dda-events.md
Owners: @shubhadaj

updated content
  ce/customer-service/asynchronous-channels.md
Owners: @shubhadaj

corrected warnings
  ce/customer-service/asynchronous-channels.md
Owners: @shubhadaj

edited topics for review feedback
  ce/customer-service/routing-trigger-automatic.md
  ce/customer-service/toc.yml
  ce/customer-service/trigger-routing-non-case-records.md
Owners: @shubhadaj

removed indentation
  ce/unified-service-desk/configure-hosted-application.md
Owners: @shubhadaj

removed files containing known issues
  ce/unified-service-desk/admin/known-issues-performance-enhancement-CRM-entity-page-loads.md
  ce/unified-service-desk/release-notes.md
Owners: @shubhadaj

updated format/example in step 9
  ce/customer-service/routing-trigger-automatic.md
Owners: @shubhadaj

edits
  ce/unified-service-desk/add-multilanguage-support-agent-applications.md
  ce/unified-service-desk/admin/comply-unified-service-desk-data-gdpr.md
  ce/unified-service-desk/admin/configure-auditing-diagnostics-unified-service-desk.md
  ce/unified-service-desk/admin/configure-client-caching-unified-service-desk.md
  ce/unified-service-desk/admin/configure-client-diagnostic-logging-unified-service-desk.md
  ce/unified-service-desk/admin/configure-close-confirmation-window.md
  ce/unified-service-desk/admin/connect-dynamics-365-instance-using-unified-service-desk-client.md
  ce/unified-service-desk/admin/deploy-sample-unified-service-desk-applications-using-package-deployer.md
  ce/unified-service-desk/admin/distribute-custom-hosted-controls-using-customization-files.md
  ce/unified-service-desk/admin/download-performance-analyzer.md
  ce/unified-service-desk/admin/install-upgrade-deploy-unified-service-desk.md
  ce/unified-service-desk/admin/install-upgrade-unified-service-desk-client.md
  ce/unified-service-desk/admin/manage-access-using-unified-service-desk-configuration.md
  ce/unified-service-desk/admin/manage-access-using-unified-service-desk-security-roles.md
  ce/unified-service-desk/admin/migrate-unified-service-desk-configuration-dynamics-365-server.md
  ce/unified-service-desk/admin/recover-edge-webview2-process-instance.md
  ce/unified-service-desk/admin/unified-service-desk-dynamics-365-unified-interface-package.md
Owners: @shubhadaj

minor edits
  ce/unified-service-desk/admin/how-unified-service-desk-handles-application-system-errors.md
  ce/unified-service-desk/admin/import-unified-service-desk-configuration-data.md
  ce/unified-service-desk/admin/install-upgrade-deploy-unified-service-desk.md
Owners: @shubhadaj

minor edits
  ce/unified-service-desk/admin/import-unified-service-desk-configuration-data.md
Owners: @shubhadaj

edits
  ce/customer-service/routing-trigger-automatic.md
Owners: @shubhadaj

removed a few options
  ce/unified-service-desk/admin/manage-options-unified-service-desk.md
Owners: @shubhadaj

updated topic for review feedback
  ce/customer-service/routing-trigger-automatic.md
Owners: @shubhadaj

corrected spacing
  ce/customer-service/routing-trigger-automatic.md
Owners: @shubhadaj

Updates
  ce/teams-integration/media/change-area-icon.png
  ce/teams-integration/sensitivity-labels.md
Owners: none

indented the Note bulleted points
  ce/customer-service/routing-trigger-automatic.md
Owners: @shubhadaj

Additional updates
  ce/customer-service/media/trial-home.png
  ce/customer-service/trial-faq.md
  ce/customer-service/try-customer-service.md
Owners: @shubhadaj

syntax update for note
  ce/customer-service/routing-trigger-automatic.md
Owners: @shubhadaj

updated note formatting
  ce/customer-service/routing-trigger-automatic.md
Owners: @shubhadaj

note formatting
  ce/customer-service/routing-trigger-automatic.md
Owners: @shubhadaj
