Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Update set-up-bookable-resources.md
  ce/field-service/set-up-bookable-resources.md
Owners: @shellyhaverkamp

Update set-up-bookable-resources.md
  ce/field-service/set-up-bookable-resources.md
Owners: @shellyhaverkamp

Create deprecations-scheduling.md
  ce/shared/urs/deprecations-scheduling.md
Owners: none

Delete deprecations-scheduling.md
  ce/field-service/deprecations-scheduling.md
Owners: @shellyhaverkamp

Update deprecations-scheduling.md
  ce/shared/urs/deprecations-scheduling.md
Owners: none

Update schedule-new-entity.md
  ce/shared/urs/schedule-new-entity.md
Owners: none

Update appointment-scheduling.md
  ce/field-service/appointment-scheduling.md
Owners: @shellyhaverkamp

Update deprecations-scheduling.md
  ce/shared/urs/deprecations-scheduling.md
Owners: none

Update TOC.md
  ce/common-scheduler/TOC.md
Owners: @shellyhaverkamp

Update TOC.md
  ce/common-scheduler/TOC.md
Owners: @shellyhaverkamp

commit
  ce/customer-service/configure-bot-virtual-agent.md
Owners: @shubhadaj

embedded new docs updates. 1
  ce/customer-service/TOC.md
  ce/customer-service/configure-cs-historical-analytics-csh.md
  ce/customer-service/configure-topics-clustering-cases.md
  ce/customer-service/customer-service-oc-historical-analytics-reports.md
  ce/customer-service/media/customer-service-insights.png
  ce/customer-service/oc-historical-analytics-reports.md
Owners: @shubhadaj

ADO 2228095
  .openpublishing.redirection.json
Owners: none

Embedded new docs updates 2
  ce/customer-service/TOC.md
  ce/customer-service/ai-topic-clustering-conversations.md
  ce/customer-service/oc-historical-analytics-reports.md
Owners: @shubhadaj

Removed the redundant file
  ce/sales-enterprise/product-catalog-settings.md
Owners: @shubhadaj

embedded new doc updates 3
  ce/customer-service/ai-topic-clustering-conversations.md
  ce/customer-service/conversation-dashboard.md
Owners: @shubhadaj

clone fs added
  ce/sales-enterprise/TOC.md
  ce/sales-enterprise/clone-forecat.md
  ce/sales-enterprise/media/forecast-clone-confirmation-message.png
  ce/sales-enterprise/media/forecast-select-clone.png
Owners: @shubhadaj

Added a note about online topic
  ce/customerengagement/on-premises/developer/solution-component-file-reference-solutionpackager.md
Owners: none

Added link to online topic
  ce/customerengagement/on-premises/developer/solution-tools-team-development.md
Owners: none

Added link to topic for online customerd
  ce/customerengagement/on-premises/developer/compress-extract-solution-file-solutionpackager.md
Owners: none

Added link to topic for online customers
  ce/customerengagement/on-premises/developer/use-source-control-solution-files.md
Owners: none

fixing redirections
  .openpublishing.redirection.json
Owners: none

Updates
  ce/customerengagement/on-premises/developer/solution-component-file-reference-solutionpackager.md
Owners: none

fixing redirections
  .openpublishing.redirection.json
Owners: none

Update user-guide.md
  ce/field-service/user-guide.md
Owners: @shellyhaverkamp

Create gettingstarted.png
  ce/field-service/media/gettingstarted.png
Owners: @shellyhaverkamp

Update teams-collaboration-enhanced-experience.md
  ce/teams-integration/teams-collaboration-enhanced-experience.md
Owners: none

Update teams-collaboration.md
  ce/teams-integration/teams-collaboration.md
Owners: none

Update teams-install-app.md
  ce/teams-integration/teams-install-app.md
Owners: none

Update teams-delete-data.md
  ce/teams-integration/teams-delete-data.md
Owners: none

Update teams-collaboration.md
  ce/teams-integration/teams-collaboration.md
Owners: none

Update teams-install-app.md
  ce/teams-integration/teams-install-app.md
Owners: none

Update teams-install-app.md
  ce/teams-integration/teams-install-app.md
Owners: none

Update teams-install-app.md
  ce/teams-integration/teams-install-app.md
Owners: none

daveFRE
  ce/field-service/TOC.md
  ce/field-service/field-service-get-started.md
Owners: @shellyhaverkamp

Update teams-install-app.md
  ce/teams-integration/teams-install-app.md
Owners: none

Update teams-install-app.md
  ce/teams-integration/teams-install-app.md
Owners: none

Update teams-install-app.md
  ce/teams-integration/teams-install-app.md
Owners: none

Update enable-delegate-access.md
  ce/outlook-app/enable-delegate-access.md
Owners: @mduelae, @KumarVivek

Update deploy-dynamics-365-app-for-outlook.md
  ce/outlook-app/v8/deploy-dynamics-365-app-for-outlook.md
Owners: @mduelae, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
