Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

edits
  ce/app-profile-manager/application-tab-templates.md
Owners: none

odata-->oData
  ce/app-profile-manager/application-tab-templates.md
Owners: none

edits
  ce/app-profile-manager/application-tab-templates.md
Owners: none

edits
  ce/app-profile-manager/application-tab-templates.md
Owners: none

edit
  ce/app-profile-manager/application-tab-templates.md
Owners: none

edits
  ce/app-profile-manager/application-tab-templates.md
Owners: none

edit
  ce/app-profile-manager/application-tab-templates.md
Owners: none

edit
  ce/app-profile-manager/application-tab-templates.md
Owners: none

TRI
  ce/customer-service/assignment-methods.md
Owners: @shubhadaj

edit
  ce/app-profile-manager/application-tab-templates.md
Owners: none

edits
  ce/app-profile-manager/application-tab-templates.md
Owners: none

added Required column (task 2453294)
  ce/app-profile-manager/application-tab-templates.md
Owners: none

updated formatting for parameters
  ce/app-profile-manager/application-tab-templates.md
Owners: none

edits
  ce/app-profile-manager/application-tab-templates.md
Owners: none

feedback
  ce/sales/configure-predictive-lead-scoring.md
  ce/sales/configure-predictive-opportunity-scoring.md
  ce/sales/enable-configure-sales-accelerator.md
  ce/sales/faqs-sales-insights.md
  ce/sales/fre-setup-ci-sales-app.md
  ce/sales/intro-admin-guide-sales-insights.md
  ce/sales/manage-sample-data.md
  ce/sales/prereq-sales-insights-app.md
Owners: none

Update digital-selling.md
  ce/sales/digital-selling.md
Owners: none

receive calls added
  ce/sales/call-using-microsoft-teams.md
  ce/sales/media/teams-dialer-receive-call-notification.png
Owners: none

acrocheck
  ce/sales/call-using-microsoft-teams.md
Owners: none

updated
  ce/sales/call-using-microsoft-teams.md
Owners: none

Update setup-mobile-offline.md
  ce/mobile-app/setup-mobile-offline.md
Owners: @mduelae, @KumarVivek

Update setup-mobile-offline.md
  ce/mobile-app/setup-mobile-offline.md
Owners: @mduelae, @KumarVivek

Interim 2507426
  ce/customer-service/create-manage-subject-tree.md
Owners: @shubhadaj

Update teams-journey.md
  ce/marketing/teams-journey.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

daveCustomizations
  ce/field-service/field-service-customization-best-practices.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customization-best-practices.md
  ce/field-service/field-service-customization-best-practices.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

daveCustomizations
  ce/field-service/field-service-customize-columns-fields.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

added line breaks for clarity in table rows
  ce/app-profile-manager/application-tab-templates.md
Owners: none

updated ms.date
  ce/app-profile-manager/application-tab-templates.md
Owners: none
