Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Date change
  ce/customer-service/deprecations-customer-service.md
Owners: @shubhadaj

Update send-auth-token-starting-chat.md
  ce/customer-service/send-auth-token-starting-chat.md
Owners: @shubhadaj

Delete voice-channel-supported-languages.md
  ce/customer-service/voice-channel-supported-languages.md
Owners: @shubhadaj

Updated Permissions
  ce/teams-integration/teams-in-dynamics-faq.md
Owners: none

TRI
  ce/customer-service/assignment-methods.md
Owners: @shubhadaj

date change
  ce/customer-service/assignment-methods.md
Owners: @shubhadaj

Updates
  ce/teams-integration/teams-in-dynamics-faq.md
Owners: none

Interim
  ce/customer-service/configure-work-classification.md
Owners: @shubhadaj

Added metadata descriptions per 2239294
  ce/customerengagement/on-premises/customize/add-field-form.md
  ce/customerengagement/on-premises/customize/change-custom-entity-icons.md
  ce/customerengagement/on-premises/customize/configure-bing-maps-legacy.md
  ce/customerengagement/on-premises/customize/configure-sorting.md
  ce/customerengagement/on-premises/customize/create-design-forms.md
  ce/customerengagement/on-premises/customize/notes-control-legacy.md
  ce/customerengagement/on-premises/customize/open-form-editor.md
  ce/customerengagement/on-premises/customize/view-download-developer-resources.md
Owners: none

Update configure-assignment-rules.md
  ce/customer-service/configure-assignment-rules.md
Owners: @shubhadaj

Fixing headerless table per build warnings
  ce/customerengagement/on-premises/customize/create-design-forms.md
Owners: none

Fixing headerless table per build warnings
  ce/customerengagement/on-premises/customize/create-design-forms.md
Owners: none

updates from editor
  ce/field-service/media/mobile-2020-faq-wrong-booking-form.png
  ce/field-service/media/mobile-2020-settings-enable-address-recommendation.png
  ce/field-service/mobile-power-app-faq.yml
Owners: @shellyhaverkamp

Adding description metadata per 2238294
  ce/customerengagement/on-premises/deploy/accessibility-in-microsoft-dynamics-365.md
  ce/customerengagement/on-premises/deploy/active-directory-network-requirements.md
  ce/customerengagement/on-premises/deploy/add-a-new-organization.md
  ce/customerengagement/on-premises/deploy/add-the-ad-fs-website-to-the-local-intranet-security-zone.md
  ce/customerengagement/on-premises/deploy/administer-the-deployment-using-windows-powershell.md
  ce/customerengagement/on-premises/deploy/after-the-upgrade.md
  ce/customerengagement/on-premises/deploy/available-apps.md
  ce/customerengagement/on-premises/deploy/back-up-the-microsoft-dynamics-365-system.md
  ce/customerengagement/on-premises/deploy/before-you-upgrade-issues-and-considerations.md
  ce/customerengagement/on-premises/deploy/best-practices-on-premises-deployments.md
  ce/customerengagement/on-premises/deploy/change-the-product-key.md
  ce/customerengagement/on-premises/deploy/configure-an-internet-facing-deployment.md
  ce/customerengagement/on-premises/deploy/configure-claims-settings.md
  ce/customerengagement/on-premises/deploy/configure-dynamics-365-for-outlook-to-use-claims-based-authentication.md
  ce/customerengagement/on-premises/deploy/configure-ifd-for-dynamics-365.md
  ce/customerengagement/on-premises/deploy/configure-ifd-settings.md
  ce/customerengagement/on-premises/deploy/configure-internet-facing-deployment.md
  ce/customerengagement/on-premises/deploy/configure-oauth-settings.md
  ce/customerengagement/on-premises/deploy/configure-the-ad-fs-server-for-claims-based-authentication.md
Owners: none

Adding description metadata per 2238294
  ce/customerengagement/on-premises/deploy/configure-the-ad-fs-server-for-ifd.md
  ce/customerengagement/on-premises/deploy/configure-the-dynamics-365-server-for-claims-based-authentication.md
  ce/customerengagement/on-premises/deploy/configure-the-dynamics-365-server-for-ifd.md
  ce/customerengagement/on-premises/deploy/configure-web-address-settings.md
  ce/customerengagement/on-premises/deploy/delete-an-organization.md
  ce/customerengagement/on-premises/deploy/delete-remove-a-microsoft-dynamics-365-server.md
  ce/customerengagement/on-premises/deploy/deploy-and-configure-ad-fs.md
  ce/customerengagement/on-premises/deploy/disable-an-internet-facing-deployment.md
  ce/customerengagement/on-premises/deploy/disable-claims-based-authentication.md
  ce/customerengagement/on-premises/deploy/disable-or-enable-a-server.md
  ce/customerengagement/on-premises/deploy/disable-or-enable-an-organization.md
  ce/customerengagement/on-premises/deploy/dynamics-365-for-phones-and-ifd.md
Owners: none

Update cs-iot-overview.md
  ce/customer-service/cs-iot-overview.md
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/cs-iot-csw.png
Owners: @shubhadaj

Adding description metadata per 2238294
  ce/customerengagement/on-premises/deploy/dynamics-365-for-tablets-and-ifd.md
  ce/customerengagement/on-premises/deploy/dynamics-365-multiple-server-topologies.md
  ce/customerengagement/on-premises/deploy/dynamics-365-organization-database-indexes.md
  ce/customerengagement/on-premises/deploy/dynamics-365-report-authoring-extension-xml-config-file.md
  ce/customerengagement/on-premises/deploy/dynamics-365-reporting-extensions-xml-config-file.md
  ce/customerengagement/on-premises/deploy/edit-an-organization-s-attributes.md
  ce/customerengagement/on-premises/deploy/exporting-and-importing-customizations-and-solutions.md
  ce/customerengagement/on-premises/deploy/hardware-requirements.md
  ce/customerengagement/on-premises/deploy/implement-claims-based-authentication-external-access.md
  ce/customerengagement/on-premises/deploy/implement-claims-based-authentication-internal-access.md
  ce/customerengagement/on-premises/deploy/import-an-organization.md
  ce/customerengagement/on-premises/deploy/install-and-enable-a-language-pack.md
  ce/customerengagement/on-premises/deploy/install-dynamics-365-front-back-end-server-roles.md
  ce/customerengagement/on-premises/deploy/install-dynamics-365-reporting-extensions-command.md
  ce/customerengagement/on-premises/deploy/install-dynamics-365-server-command-prompt.md
  ce/customerengagement/on-premises/deploy/install-full-server-role-on-server.md
  ce/customerengagement/on-premises/deploy/install-microsoft-dynamics-365-reporting-extensions.md
  ce/customerengagement/on-premises/deploy/install-or-upgrade-language-packs.md
  ce/customerengagement/on-premises/deploy/install-or-upgrade-microsoft-dynamics-365-server.md
  ce/customerengagement/on-premises/deploy/install-report-authoring-extension-command-prompt.md
  ce/customerengagement/on-premises/deploy/install-using-command-prompt.md
  ce/customerengagement/on-premises/deploy/installing-on-premises-dynamics-365.md
  ce/customerengagement/on-premises/deploy/manage-organizations.md
  ce/customerengagement/on-premises/deploy/manage-servers.md
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-data-protection-and-recovery.md
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-database-maintenance.md
Owners: none

Adding description metadata per 2238294
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-deployment-properties.md
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-editions-and-licensing.md
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-failure-recovery.md
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-monitoring-service.md
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-multiple-server-deployment.md
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-server-failure-recovery.md
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-server-hardware-requirements.md
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-server-installation.md
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-server-roles.md
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-server-xml-configuration-file.md
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-supported-configurations.md
Owners: none

Adding description metadata per 2238294
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-language-support.md
Owners: none

Acrolinx changes
  ce/customerengagement/on-premises/customize/create-design-forms.md
Owners: none

Acrolinx changes
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-failure-recovery.md
Owners: none

daveWave2WOribbon
  ce/field-service/media/work-order-ribbon-disabled.png
  ce/field-service/media/work-order-ribbon-enabled-homepage-selected.png
  ce/field-service/media/work-order-ribbon-enabled-homepage.png
  ce/field-service/media/work-order-ribbon-form-enabled.png
  ce/field-service/media/work-order-ribbon-setting.png
  ce/field-service/work-order-ribbon-simplification.md
Owners: @shellyhaverkamp

TRI for 2285465
  ce/customer-service/capacity-profiles.md
  ce/customer-service/configure-work-classification.md
  ce/customer-service/media/capacity-profile-based-rule.png
Owners: @shubhadaj

Added introduction heading
  ce/customer-service/capacity-profiles.md
  ce/customer-service/role-persona-mapping.md
Owners: @shubhadaj

Update basics-service-service-scheduling.md
  ce/customer-service/basics-service-service-scheduling.md
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/csw-schedule-board.png
  ce/customer-service/media/csw-service-activities.png
  ce/customer-service/media/csw-service-scheduling.png
Owners: @shubhadaj

Update uci-scheduling-overview.md
  ce/customer-service/uci-scheduling-overview.md
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/csw-schedule-board-urs.png
  ce/customer-service/media/csw-service-activities-urs.png
Owners: @shubhadaj

outbound calling edits
  ce/customer-service/voice-channel-outbound-calling.md
Owners: @shubhadaj

Updates
  ce/teams-integration/enable-teams-chat.md
  ce/teams-integration/media/teams-chat-dynamics365-view.png
  ce/teams-integration/teams-in-dynamics-faq.md
  ce/teams-integration/using-teams-chat-in-dynamics.md
Owners: none

Added preview note and updated Toc
  ce/teams-integration/enable-teams-chat.md
  ce/teams-integration/teams-collaboration-in-dymanics.md
  ce/teams-integration/toc.yml
  ce/teams-integration/using-teams-chat-in-dynamics.md
Owners: none

Moved FAQ
  ce/teams-integration/toc.yml
Owners: none

minor changes
  ce/teams-integration/enable-teams-chat.md
Owners: none

proc writing
  ce/customer-service/voice-channel-number-management.md
  ce/customer-service/voice-channel-outbound-calling.md
Owners: @shubhadaj

For Task 2376310
  ce/customer-service/define-service-level-agreements.md
Owners: @shubhadaj

Adding metadata descriptions per 2238294
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-vss-writer-service.md
Owners: none

Adding metadata descriptions per 2238294
  ce/customerengagement/on-premises/deploy/monitor-and-troubleshoot-dynamics-365.md
  ce/customerengagement/on-premises/deploy/network-ports-for-microsoft-dynamics-365.md
  ce/customerengagement/on-premises/deploy/operating-microsoft-dynamics-365.md
  ce/customerengagement/on-premises/deploy/operating-system-platform-security-considerations.md
  ce/customerengagement/on-premises/deploy/plan-your-upgrade-to-microsoft-dynamics-365-server.md
  ce/customerengagement/on-premises/deploy/planning-requirements-for-sql-server-reporting-services.md
  ce/customerengagement/on-premises/deploy/planning-your-deployment-of-microsoft-dynamics-365.md
  ce/customerengagement/on-premises/deploy/powershell-deployment-manager-tasks.md
  ce/customerengagement/on-premises/deploy/prerequisites-considerations-planning-deployment.md
  ce/customerengagement/on-premises/deploy/remove-a-deployment-administrator.md
  ce/customerengagement/on-premises/deploy/sample-dynamics-365-reporting-extensions-xml-config-file.md
  ce/customerengagement/on-premises/deploy/sample-report-authoring-extension-xml-config-file.md
  ce/customerengagement/on-premises/deploy/sample-server-xml-config-file-pre-created-groups.md
  ce/customerengagement/on-premises/deploy/sample-server-xml-configuration-file.md
  ce/customerengagement/on-premises/deploy/sample-xml-config-webapp-organizationweb.md
  ce/customerengagement/on-premises/deploy/sample-xml-configuration-file-helpserver.md
Owners: none

Update basics-service-service-scheduling.md
  ce/customer-service/basics-service-service-scheduling.md
Owners: @shubhadaj

Update uci-scheduling-overview.md
  ce/customer-service/uci-scheduling-overview.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
