Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

edit
  ce/customer-service/channel-integration-framework/faq-channel-integration-framework.md
Owners: @shubhadaj

edits
  ce/customer-service/channel-integration-framework/faq-channel-integration-framework.md
Owners: @shubhadaj

edits
  ce/customer-service/channel-integration-framework/faq-channel-integration-framework.md
Owners: @shubhadaj

product yml test
  ce/sales-enterprise/overview.yml
Owners: @shubhadaj

syntax fixed
  ce/sales-enterprise/overview.yml
Owners: @shubhadaj

syntax added
  ce/sales-enterprise/overview.yml
Owners: @shubhadaj

url added
  ce/sales-enterprise/overview.yml
Owners: @shubhadaj

edits
  ce/customer-service/channel-integration-framework/faq-channel-integration-framework.md
Owners: @shubhadaj

tabs added
  ce/sales-enterprise/overview.md
Owners: @shubhadaj

h1 removed
  ce/sales-enterprise/overview.md
Owners: @shubhadaj

edits
  ce/customer-service/channel-integration-framework/faq-channel-integration-framework.md
Owners: @shubhadaj

Update customize-forms.md
  ce/sales-professional/customize-forms.md
Owners: none

edits
  ce/customer-service/bot-escalate-end-conversation.md
  ce/customer-service/configure-bot.md
  ce/customer-service/link-customer-case-when-bot-escalates.md
Owners: @shubhadaj

removed tags
  ce/sales-enterprise/overview.md
Owners: @shubhadaj

2371159
  ce/customer-service/define-service-level-agreements.md
  ce/customer-service/enable-sla-recalculation.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

Pinning Only works with Microsoft Exchange Online
  ce/outlook-app/User/support-matrix.md
Owners: @mduelae, @KumarVivek

Added reference to office documentation.
  ce/outlook-app/User/support-matrix.md
Owners: @mduelae, @KumarVivek

Update support-matrix.md
  ce/outlook-app/User/support-matrix.md
Owners: @mduelae, @KumarVivek

Update support-matrix.md
  ce/outlook-app/User/support-matrix.md
Owners: @mduelae, @KumarVivek

Update support-matrix.md
  ce/outlook-app/User/support-matrix.md
Owners: @mduelae, @KumarVivek

Update support-matrix.md
  ce/outlook-app/User/support-matrix.md
Owners: @mduelae, @KumarVivek

TW
  ce/customer-service/define-service-level-agreements.md
  ce/customer-service/enable-sla-recalculation.md
Owners: @shubhadaj

for example
  ce/marketing/purchase-setup.md
  ce/marketing/setup-troubleshooting.yml
Owners: @shellyhaverkamp

edits
  ce/unified-service-desk/admin/unified-service-desk-system-requirements.md
Owners: @shubhadaj

edits for review feedback
  ce/customer-service/delete-solution.md
Owners: @shubhadaj

Update schedule-board-tab-settings.md
  ce/shared/urs/schedule-board-tab-settings.md
Owners: none

Update schedule-board-tab-settings.md
  ce/shared/urs/schedule-board-tab-settings.md
Owners: none

Update rso-faq.yml
  ce/field-service/rso-faq.yml
Owners: @shellyhaverkamp

Update rso-faq.yml
  ce/field-service/rso-faq.yml
Owners: @shellyhaverkamp

Update mobile-power-app-faq.yml
  ce/field-service/mobile-power-app-faq.yml
Owners: @shellyhaverkamp

Update trial-faq.md
  ce/field-service/trial-faq.md
Owners: @shellyhaverkamp

Update trial-faq.md
  ce/field-service/trial-faq.md
Owners: @shellyhaverkamp

Update trial-signup.md
  ce/field-service/trial-signup.md
Owners: @shellyhaverkamp

Update trial-signup.md
  ce/field-service/trial-signup.md
Owners: @shellyhaverkamp

RELEASE NOTES UPDATES
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

corrected topic heading
  ce/unified-service-desk/toc.yml
Owners: @shubhadaj

new topic
  ce/customer-service/enable-ai-suggested-article-keywords-description.md
Owners: @shubhadaj

content
  ce/customer-service/enable-ai-suggested-article-keywords-description.md
Owners: @shubhadaj

edits
  ce/customer-service/channel-integration-framework/faq-channel-integration-framework.md
Owners: @shubhadaj

edits
  ce/customer-service/channel-integration-framework/faq-channel-integration-framework.md
Owners: @shubhadaj
