Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Fixing warnings
  ce/omnichannel/TOC.md
  ce/omnichannel/developer/reference/entities/msdyn_actionoutputparameter.md
  ce/omnichannel/developer/reference/entities/msdyn_facebookengagementctx.md
  ce/omnichannel/developer/reference/entities/msdyn_ocbotchannelregistration.md
Owners: none

Update msdyn_agentscript.md
  ce/omnichannel/developer/reference/entities/msdyn_agentscript.md
Owners: none

Update msdyn_macroactiontemplate.md
  ce/omnichannel/developer/reference/entities/msdyn_macroactiontemplate.md
Owners: none

Fixing warnings
  ce/omnichannel/developer/reference/entities/msdyn_lineengagementctx.md
  ce/omnichannel/developer/reference/entities/msdyn_macroconnector.md
  ce/omnichannel/developer/reference/entities/msdyn_macrosolutionconfiguration.md
Owners: none

Fixing more warnings
  ce/omnichannel/developer/reference/entities/msdyn_occustommessagingchannel.md
  ce/omnichannel/developer/reference/entities/msdyn_oclanguage.md
  ce/omnichannel/developer/reference/entities/msdyn_oclinechannelconfig.md
Owners: none

Update troubleshoot-using-solution-health-hub.md
  ce/omnichannel/troubleshoot-using-solution-health-hub.md
Owners: none

Minor edits
  ce/omnichannel/troubleshoot-using-solution-health-hub.md
Owners: none

Fixing warnings
  ce/omnichannel/developer/reference/entities/msdyn_ocwhatsappchannelnumber.md
  ce/omnichannel/developer/reference/entities/msdyn_parameterdefinition.md
  ce/omnichannel/developer/reference/entities/msdyn_personalmessage.md
  ce/omnichannel/developer/reference/entities/msdyn_productivitypaneconfiguration.md
  ce/omnichannel/developer/reference/entities/msdyn_scenario.md
Owners: none

Update msdyn_ocsentimentdailytopickeyword.md
  ce/omnichannel/developer/reference/entities/msdyn_ocsentimentdailytopickeyword.md
Owners: none

ADO 2020482
  .openpublishing.redirection.json
Owners: none

Update uci-navigate-service-calendar.md
  ce/customer-service/uci-navigate-service-calendar.md
Owners: @shubhadaj

Update uci-create-resource-groups.md
  ce/customer-service/uci-create-resource-groups.md
Owners: @shubhadaj

Update uci-create-sites.md
  ce/customer-service/uci-create-sites.md
Owners: @shubhadaj

Update uci-schedule-service-activity.md
  ce/customer-service/uci-schedule-service-activity.md
Owners: @shubhadaj

Update uci-scheduling-overview.md
  ce/customer-service/uci-scheduling-overview.md
Owners: @shubhadaj

Update intraday-insights-dashboard.md
  ce/omnichannel/supervisor/intraday-insights-dashboard.md
Owners: none

Fixing warnings
  ce/omnichannel/developer/reference/entities/msdyn_octeamschannelconfig.md
  ce/omnichannel/developer/reference/entities/msdyn_ocwhatsappchannelaccount.md
  ce/omnichannel/developer/reference/entities/msdyn_omnichannelconfiguration.md
Owners: none

Update intraday-insights-dashboard.md
  ce/omnichannel/supervisor/intraday-insights-dashboard.md
Owners: none

- Specified Powershell version - Added new custom action details for purchase info - Added version notice
  ce/marketing/developer/event-management-web-application.md
  ce/marketing/developer/manually-overwriting-sample-website.md
  ce/marketing/developer/portal-hosted.md
  ce/marketing/developer/self-hosted.md
  ce/marketing/event-payment-gateway.md
Owners: @KumarVivek, @Nkrb, @shellyhaverkamp

Update intraday-insights-dashboard.md
  ce/omnichannel/supervisor/intraday-insights-dashboard.md
Owners: none

Fixing warnings
  ce/omnichannel/developer/reference/entities/msdyn_octwitterapplication.md
  ce/omnichannel/developer/reference/entities/msdyn_octwitterhandle.md
  ce/omnichannel/developer/reference/entities/msdyn_ocwechatchannelconfig.md
Owners: none

Update intraday-insights-dashboard.md
  ce/omnichannel/supervisor/intraday-insights-dashboard.md
Owners: none

Minor edits
  ce/omnichannel/administrator/record-identification-rule.md
  ce/omnichannel/supervisor/intraday-insights-dashboard.md
Owners: none

Formatting issues
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

Correct table formatting
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

See also updated
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

Updates for TASK 1969707
  ce/omnichannel/system-requirements-omnichannel.md
Owners: none

Update learning-catalog.md
  ce/sales-professional/learning-catalog.md
Owners: none

Update learning-catalog.md
  ce/sales-professional/learning-catalog.md
Owners: none

Update learning-catalog.md
  ce/sales-professional/learning-catalog.md
Owners: none

For Bug 1930579
  ce/omnichannel/customizer/customize-customer-summary.md
  ce/omnichannel/customizer/customize-quick-view-form.md
  ce/omnichannel/system-requirements-omnichannel.md
Owners: none

Minor edits
  ce/omnichannel/customizer/customize-customer-summary.md
Owners: none

Update Customer Service learning catalog
  ce/customer-service/learning-catalog.md
Owners: @shubhadaj

Update Customer Service learning catalog
  ce/customer-service/learning-catalog.md
Owners: @shubhadaj

Update learning-catalog.md
  ce/customer-service/learning-catalog.md
Owners: @shubhadaj

Update Marketing learning catalogs
  ce/marketing/learning-catalog.md
Owners: @shellyhaverkamp

Fixing warnings
  ce/omnichannel/developer/reference/entities/msdyn_agentscriptstep.md
  ce/omnichannel/developer/reference/entities/msdyn_ocsentimentdailytopic.md
  ce/omnichannel/developer/reference/entities/msdyn_ocsessioncharacteristic.md
Owners: none

daveRegisterDevices
  ce/field-service/cfs-register-devices.md
  ce/field-service/installation-setup-iothub.md
  ce/field-service/media/cfs-deploy-providers.png
  ce/field-service/media/cfs-register-device-fs-associate-asset-more.png
  ce/field-service/media/cfs-register-device-fs-associate-asset.png
  ce/field-service/media/cfs-register-device-fs-new-register-iothub.png
  ce/field-service/media/cfs-register-device-fs-new-register.png
  ce/field-service/media/cfs-register-device-fs-new-register2.png
  ce/field-service/media/cfs-register-device-fs-new-register3.png
  ce/field-service/media/cfs-register-device-iothub-import.png
  ce/field-service/media/cfs-register-device-iothub-new-form.png
  ce/field-service/media/cfs-register-device-iothub-new.png
  ce/field-service/media/cfs-register-device-iothub.png
Owners: @shellyhaverkamp

Update cfs-register-devices.md
  ce/field-service/cfs-register-devices.md
Owners: @shellyhaverkamp

Update cfs-register-devices.md
  ce/field-service/cfs-register-devices.md
Owners: @shellyhaverkamp

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
