Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update oc-conversation-state.md
  ce/customer-service/oc-conversation-state.md
Owners: @shubhadaj

Update oc-conversation-state.md
  ce/customer-service/oc-conversation-state.md
Owners: @shubhadaj

edit feedback
  ce/sales-enterprise/sales-mobile/configure-quick-create.md
  ce/sales-enterprise/sales-mobile/create-push-notification.md
Owners: @shubhadaj

Update dynamics-365-sales-mobile-app.md
  ce/sales-enterprise/sales-mobile/dynamics-365-sales-mobile-app.md
Owners: @shubhadaj

Update overview.md
  ce/sales-enterprise/overview.md
Owners: @shubhadaj

added note
  ce/sales-enterprise/configure-forecast-using-custom-rollup-entity.md
Owners: @shubhadaj

note updated
  ce/sales-enterprise/configure-forecast-using-custom-rollup-entity.md
Owners: @shubhadaj

note update
  ce/sales-enterprise/configure-forecast-using-custom-rollup-entity.md
Owners: @shubhadaj

updated
  ce/sales-enterprise/configure-forecast-using-custom-rollup-entity.md
Owners: @shubhadaj

link updated
  ce/sales-enterprise/configure-forecast-using-custom-rollup-entity.md
Owners: @shubhadaj

updated
  ce/sales-enterprise/configure-forecast-using-custom-rollup-entity.md
Owners: @shubhadaj

Clarifying the script format.
  ce/marketing/developer/marketing-form-client-side-extensibility.md
Owners: @KumarVivek, @Nkrb

update
  ce/sales-enterprise/sales-mobile/enable-sales-mobile.md
  ce/sales-enterprise/toc.yml
Owners: @shubhadaj

link update
  ce/sales-enterprise/sales-mobile/dynamics-365-sales-mobile-app.md
  ce/sales-enterprise/sales-mobile/enable-sales-mobile.md
Owners: @shubhadaj

ADO 2276871
  .openpublishing.redirection.json
  ce/sales-enterprise/sales-mobile/enable-sales-mobile.md
Owners: @shubhadaj

rename file
  ce/sales-enterprise/sales-mobile/prereq-sales-mobile.md
Owners: @shubhadaj

Update real-time-marketing-ci-profile.md
  ce/marketing/real-time-marketing-ci-profile.md
Owners: @shellyhaverkamp

Update real-time-marketing-email-text-consent.md
  ce/marketing/real-time-marketing-email-text-consent.md
Owners: @shellyhaverkamp

Update faq.md
  ce/outlook-app/faq.md
Owners: @mduelae, @KumarVivek

Update filter-entities-and-views.md
  ce/outlook-app/filter-entities-and-views.md
Owners: @mduelae, @KumarVivek

Update toc.yml
  ce/outlook-app/toc.yml
Owners: @mduelae, @KumarVivek

Update auto-populate-data-into-quickcreate.md
  ce/outlook-app/auto-populate-data-into-quickcreate.md
Owners: @mduelae, @KumarVivek

Update auto-populate-data-into-quickcreate.md
  ce/outlook-app/auto-populate-data-into-quickcreate.md
Owners: @mduelae, @KumarVivek

Update overview.md
  ce/outlook-app/overview.md
Owners: @mduelae, @KumarVivek

Update faq.md
  ce/outlook-app/faq.md
Owners: @mduelae, @KumarVivek

Forcing publish
  ce/customerengagement/on-premises/customize/virtual-entity-walkthrough-using-odata-provider.md
Owners: none

Add files via upload
  ce/outlook-app/media/edit-solution.png
Owners: @mduelae, @KumarVivek

Update limitations-when-customizing-app-for-outlook.md
  ce/outlook-app/limitations-when-customizing-app-for-outlook.md
Owners: @mduelae, @KumarVivek

Delete edit-solution.png
  ce/outlook-app/media/edit-solution.png
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/edit-solution.png
Owners: @mduelae, @KumarVivek

Update limitations-when-customizing-app-for-outlook.md
  ce/outlook-app/limitations-when-customizing-app-for-outlook.md
Owners: @mduelae, @KumarVivek

Adding VE update to what's new
  ce/customerengagement/on-premises/whats-new.md
Owners: none

Adding VE update to what's new
  ce/customerengagement/on-premises/whats-new.md
Owners: none

Add files via upload
  ce/outlook-app/media/sort-by-dashboard.png
Owners: @mduelae, @KumarVivek

Update limitations-when-customizing-app-for-outlook.md
  ce/outlook-app/limitations-when-customizing-app-for-outlook.md
Owners: @mduelae, @KumarVivek

Update field-service-version-history-resource-scheduling-optimization.md
  ce/field-service/field-service-version-history-resource-scheduling-optimization.md
Owners: @shellyhaverkamp

Add files via upload
  ce/outlook-app/media/enable-security-role.png
Owners: @mduelae, @KumarVivek

Update limitations-when-customizing-app-for-outlook.md
  ce/outlook-app/limitations-when-customizing-app-for-outlook.md
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/assign-security-roles-screen.png
Owners: @mduelae, @KumarVivek

Update limitations-when-customizing-app-for-outlook.md
  ce/outlook-app/limitations-when-customizing-app-for-outlook.md
Owners: @mduelae, @KumarVivek
