Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

some more corrections
  ce/unified-service-desk/toc.yml
Owners: @shubhadaj

Added redirects
  .openpublishing.redirection.json
Owners: none

fixed error
  .openpublishing.redirection.json
Owners: none

Update customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/activity-rollup-type.png
Owners: @shubhadaj

Update customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-timeline-overview.md
  ce/customer-service/customer-service-hub-user-guide-timeline-overview.md
Owners: @shubhadaj

Delete activity-rollup-type.png
  ce/customer-service/media/activity-rollup-type.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/activity-rollup-type.png
Owners: @shubhadaj

Update customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

files optimization
  ce/app-profile-manager/templates-overview.md
  ce/customer-service/TOC.md
  ce/customer-service/application-tab-templates.md
  ce/customer-service/notification-templates.md
  ce/customer-service/session-templates.md
Owners: @shubhadaj

Update timeline-faqs.md
  ce/customer-service/timeline-faqs.md
Owners: @shubhadaj

Corrected cross-reference links
  ce/app-profile-manager/templates-overview.md
Owners: none

Added more redirects and removed empty folder
  .openpublishing.redirection.json
  ce/cebc/toc.yml
  ce/omnichannel/bc/toc.yml
Owners: none

Learning TOC
  ce/marketing/learning-catalog.md
  ce/marketing/toc.md
Owners: @shellyhaverkamp

fixed broken links
  ce/customer-service/add-users-assign-roles.md
  ce/customer-service/add-web-resource-real-time-translation.md
  ce/customer-service/agent-scripts.md
  ce/customer-service/auto-close-conversation.md
  ce/customer-service/configure-facebook-channel.md
  ce/customer-service/configure-historical-sentiment-dashboard-supervisor.md
  ce/customer-service/configure-intraday-dashboard-supervisor.md
  ce/customer-service/configure-line-channel.md
  ce/customer-service/configure-twitter-channel.md
  ce/customer-service/context-variables-for-bot.md
  ce/customer-service/csw-productivity-pane.md
  ce/customer-service/delete-solution.md
  ce/customer-service/developer/omnichannel-developer.md
Owners: @shubhadaj

more broken links
  ce/customer-service/csw-productivity-pane.md
Owners: @shubhadaj

fixed broken link
  ce/customer-service/developer/omnichannel-developer.md
Owners: @shubhadaj

broken link
  ce/customer-service/developer/omnichannel-developer.md
Owners: @shubhadaj

daveOfflineUpdate
  ce/field-service/media/mobile-2020-offline-sync-filter.png
  ce/field-service/mobile-power-app-get-started.md
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

Update mobile-power-app-system-offline.md
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

Update mobile-power-app-system-offline.md
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

Update mobile-power-app-system-offline.md
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

Update customer-service-hub-user-guide-timeline-overview.md
  ce/customer-service/customer-service-hub-user-guide-timeline-overview.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/edit-filter-type.png
Owners: @shubhadaj

Delete edit-filter-type.png
  ce/customer-service/media/edit-filter-type.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/edit-filter-pane.png
Owners: @shubhadaj

Update customer-service-hub-user-guide-timeline-overview.md
  ce/customer-service/customer-service-hub-user-guide-timeline-overview.md
Owners: @shubhadaj

True down
  ce/marketing/event-payment-gateway.md
  ce/marketing/media/admin-customer-voice-manage.png
  ce/marketing/media/admin-customer-voice-setup.png
  ce/marketing/media/faq-azure-user-settings2.png
  ce/marketing/media/faq-portal-admin2.png
  ce/marketing/media/faq-portal-form-view2.png
  ce/marketing/media/faq-portal-system-views2.png
  ce/marketing/media/nav-apps-custom.png
  ce/marketing/media/payment-template-nav2.png
  ce/marketing/setup-troubleshooting.md
Owners: @shellyhaverkamp

Broken links
  ce/customer-service/developer/reference/methods/getAuthTokenProvider.md
  ce/customer-service/developer/reference/methods/initializeNewConversation.md
  ce/customer-service/developer/reference/methods/removeAuthTokenProvider.md
  ce/customer-service/developer/reference/methods/runMacro.md
  ce/customer-service/developer/reference/methods/setAuthTokenProvider.md
  ce/customer-service/developer/reference/methods/translateMessage.md
  ce/customer-service/developer/reference/properties/getTranslationProvider.md
  ce/customer-service/embed-chat-widget-portal.md
  ce/customer-service/enable-bot-context.md
Owners: @shubhadaj

Broken links fixed
  ce/customer-service/asynchronous-channels.md
  ce/customer-service/extend-omnichannel.md
  ce/customer-service/faqs.md
  ce/customer-service/introduction-omnichannel.md
  ce/customer-service/knowledge-management-oc.md
Owners: @shubhadaj

broken links
  ce/app-profile-manager/app-profile-manager.md
  ce/app-profile-manager/automation-dictionary-keys.md
  ce/app-profile-manager/csw-enable-channels.md
  ce/app-profile-manager/macros.md
  ce/app-profile-manager/notification-templates.md
  ce/app-profile-manager/security-roles.md
  ce/app-profile-manager/settings.md
  ce/app-profile-manager/smart-assist.md
  ce/customer-service/channel-integration-framework/v2/get-channel-integration-framework.md
  ce/customer-service/configure-customer-service-analytics-dashboard.md
  ce/customer-service/csw-overview.md
  ce/customer-service/oc-agent-scripts.md
  ce/customer-service/oc-monitor-real-time-customer-sentiment-sessions.md
  ce/customer-service/oc-smart-assist.md
  ce/customer-service/omnichannel-agent-overview.md
  ce/customer-service/omnichannel-insights-dashboard.md
  ce/customer-service/omnichannel-readme.md
  ce/customer-service/omnichannel-whats-new.md
  ce/customer-service/ongoing-conversations-dashboard.md
  ce/customer-service/outbound-messaging.md
  ce/customer-service/overview-skill-work-distribution.md
  ce/customer-service/proactive-chat.md
  ce/customer-service/record-identification-rule.md
  ce/customer-service/render-live-chat-widget-mobile.md
  ce/customer-service/service-scheduling-faq.md
  ce/customer-service/smart-assist.md
  ce/customer-service/sms-telesign-twilio.md
  ce/customer-service/system-requirements-omnichannel.md
  ce/customer-service/troubleshoot-omnichannel-customer-service.md
  ce/customer-service/troubleshoot-using-solution-health-hub.md
  ce/customer-service/understand-omnichannel-customer-service-hub.md
  ce/customer-service/upgrade-omnichannel.md
  ce/customer-service/work-knowledge-articles.md
  ce/unified-service-desk/admin/configure-client-caching-unified-service-desk.md
  ce/unified-service-desk/oc-customizer/configure-notification-screen-pop-agents.md
  ce/unified-service-desk/oc-customizer/create-agent-supervisor-configurations-unified-service-desk.md
  ce/unified-service-desk/oc-usd/left-control-panel.md
  ce/unified-service-desk/oc-usd/omnichannel-customer-service-unified-service-desk.md
Owners: @shubhadaj

Added deprecations topic
  ce/sales-enterprise/TOC.md
  ce/sales-enterprise/deprecations-sales.md
Owners: @shubhadaj

Fixing acrolinx score
  ce/sales-enterprise/deprecations-sales.md
Owners: @shubhadaj

More broken links
  ce/customer-service/csw-overview.md
  ce/customer-service/introduction-migration-entity-records.md
  ce/customer-service/knowledge-management-oc.md
  ce/customer-service/monitor-conversations.md
  ce/customer-service/oc-create-record.md
  ce/customer-service/oc-monitor-real-time-customer-sentiment-sessions.md
  ce/customer-service/oc-view-ai-suggested-cases-articles.md
  ce/customer-service/omnichannel-whats-new.md
  ce/customer-service/proactive-chat.md
  ce/customer-service/third-party-co-browse.md
  ce/customer-service/work-knowledge-articles.md
  ce/unified-service-desk/oc-usd/create-record.md
  ce/unified-service-desk/oc-usd/omnichannel-customer-service-unified-service-desk.md
Owners: @shubhadaj
