Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

update to user timeline
  ce/customer-service/customer-service-hub-user-guide-user-timeline-overview.md
  ce/customer-service/media/timeline-access-command-bar-actions-1a.png
  ce/customer-service/media/timeline-add-a-post-to-a-record-1.png
  ce/customer-service/media/timeline-expand-all-records-1a.png
  ce/customer-service/media/timeline-more-commands-1.png
  ce/customer-service/media/timeline-search-records-1a.png
  ce/customer-service/media/timeline-take-a-note-1.png
  ce/customer-service/media/timeline-threaded-email-views-1a.png
  ce/customer-service/media/timeline-threaded-email-views-2a.PNG
  ce/customer-service/media/timeline-threaded-email-views-3a.png
  ce/customer-service/media/timeline-threaded-email-views-4a.PNG
Owners: @shubhadaj

udpate to timeline user guide
  ce/customer-service/customer-service-hub-user-guide-timeline-user-overview.md
Owners: @shubhadaj

update user timeline
  ce/customer-service/customer-service-hub-user-guide-timeline-user-overview.md
Owners: @shubhadaj

update table in user timeline
  ce/customer-service/customer-service-hub-user-guide-timeline-user-overview.md
Owners: @shubhadaj

update to timeline
  ce/customer-service/media/timeline-add-links-to-records-1a.png
Owners: @shubhadaj

update to timeline user
  ce/customer-service/media/timeline-add-links-to-records-1a.png
Owners: @shubhadaj

update to user timeline
  ce/customer-service/customer-service-hub-user-guide-timeline-user-overview.md
  ce/customer-service/media/timeline-add-links-to-records-1.png
  ce/customer-service/media/timeline-add-links-to-records-1b.png
Owners: @shubhadaj

update to timeline admin
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/customer-service-hub-user-guide-timeline-user-overview.md
  ce/customer-service/media/timeline-access-option-2.png
  ce/customer-service/media/timeline-access-option-2a.png
  ce/customer-service/media/timeline-add-or-remove-entity-from-form-1.png
  ce/customer-service/media/timeline-add-or-remove-entity-from-form-1a.png
  ce/customer-service/media/timeline-add-or-remove-entity-from-form-2.png
  ce/customer-service/media/timeline-add-or-remove-entity-from-form-3.png
  ce/customer-service/media/timeline-component-1.png
  ce/customer-service/media/timeline-component-1a.png
  ce/customer-service/media/timeline-component-2.png
  ce/customer-service/media/timeline-component-2a.PNG
  ce/customer-service/media/timeline-component-name-display-options-1.png
  ce/customer-service/media/timeline-component-name-display-options-1a.png
  ce/customer-service/media/timeline-component-name-display-options-1c.png
  ce/customer-service/media/timeline-component-name-display-options-2.png
  ce/customer-service/media/timeline-configuration-1.png
  ce/customer-service/media/timeline-configuration-1a.png
  ce/customer-service/media/timeline-configuration-2.png
  ce/customer-service/media/timeline-configuration-2a.png
  ce/customer-service/media/timeline-configuration-3.png
  ce/customer-service/media/timeline-configuration-4.png
Owners: @shubhadaj

update timeline config
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/media/timeline-component-name-display-options-1a.png
  ce/customer-service/media/timeline-component-name-display-options-1c.png
Owners: @shubhadaj

timeline config
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/media/timeline-component-name-display-options-1a.png
Owners: @shubhadaj

timeline config
  ce/customer-service/media/timeline-component-name-display-options-1c.png
Owners: @shubhadaj

update timeline config
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

Removed references to preview/early access for ARC and SLA pause and resume in the relevant topics
  ce/customer-service/automatically-create-update-records.md
  ce/customer-service/define-service-level-agreements.md
Owners: @shubhadaj

update timeline config
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/media/timeline-enable-filter-pane-display-options-advanced-1a.png
  ce/customer-service/media/timeline-enable-filter-pane-display-options-advanced-1b.png
  ce/customer-service/media/timeline-enable-filter-pane-display-options-advanced-1c.png
  ce/customer-service/media/timeline-enable-search-bar-display-options-advanced-1a.png
  ce/customer-service/media/timeline-enable-search-bar-display-options-advanced-1b.png
  ce/customer-service/media/timeline-enable-search-bar-display-options-advanced-1c.png
  ce/customer-service/media/timeline-expand-filter-pane-display-options-advanced-1a.png
  ce/customer-service/media/timeline-expand-filter-pane-display-options-advanced-1b.png
  ce/customer-service/media/timeline-expand-filter-pane-display-options-advanced-1c.png
  ce/customer-service/media/timeline-quick-entry-record-type-and-sort-order-default-display-settings-advanced-1a.png
  ce/customer-service/media/timeline-quick-entry-record-type-and-sort-order-default-display-settings-advanced-1b.png
  ce/customer-service/media/timeline-record-types-shown-display-options-1.png
  ce/customer-service/media/timeline-record-types-shown-display-options-1a.png
  ce/customer-service/media/timeline-record-types-shown-display-options-1b.png
  ce/customer-service/media/timeline-records-shown-on-page-display-options-1.png
  ce/customer-service/media/timeline-records-shown-on-page-display-options-1a.png
  ce/customer-service/media/timeline-records-shown-on-page-display-options-1b.png
Owners: @shubhadaj

update timeline config
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/media/timeline-expand-all-records-display-options-advanced-1a.png
  ce/customer-service/media/timeline-expand-all-records-display-options-advanced-1b.png
  ce/customer-service/media/timeline-expand-all-records-display-options-advanced-1c.png
  ce/customer-service/media/timeline-expand-records-with-images-display-optiones-advanced-2a.png
  ce/customer-service/media/timeline-what-you-missed-display-options-advanced-1a.png
  ce/customer-service/media/timeline-what-you-missed-display-options-advanced-1b.png
  ce/customer-service/media/timeline-what-you-missed-display-options-advanced-1c.png
  ce/customer-service/media/timeline-what-you-missed-display-options-advanced-2.png
Owners: @shubhadaj

Update csw-search-knowledge-articles.md
  ce/customer-service/csw-search-knowledge-articles.md
Owners: @shubhadaj

Added information for knowledge pane
  ce/omnichannel/agent/agent-oc/oc-search-knowledge-articles.md
  ce/omnichannel/media/oc-productivity-knowledge-tab.png
Owners: none

updates to timeline config
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

update to timeline config
  ce/customer-service/media/timeline-how-to-configure-activity-record-types-display-options-advanced-1a.png
  ce/customer-service/media/timeline-how-to-configure-activity-record-types-display-options-advanced-1b.PNG
  ce/customer-service/media/timeline-how-to-configure-activity-record-types-display-options-advanced-1c.PNG
  ce/customer-service/media/timeline-how-to-configure-activity-record-types-display-options-advanced-1d.PNG
  ce/customer-service/media/timeline-record-settings-display-options-advanced-1a.png
  ce/customer-service/media/timeline-record-types-shown-display-options-1b.png
Owners: @shubhadaj

Update teams-integration.md
  ce/teams-integration/teams-integration.md
Owners: none

Minor update
  ce/omnichannel/agent/agent-oc/oc-search-knowledge-articles.md
Owners: none

update config timeline
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/media/timeline-enable-status-tags-on-activity-record-types-display-options-advanced-1a.png
  ce/customer-service/media/timeline-enable-status-tags-on-activity-record-types-display-options-advanced-1b.png
Owners: @shubhadaj

Update supply-chain-field-service-integration.md
  ce/field-service/supply-chain-field-service-integration.md
Owners: @shellyhaverkamp

Update supply-chain-field-service-integration.md
  ce/field-service/supply-chain-field-service-integration.md
Owners: @shellyhaverkamp

update timeline config
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/media/timeline-access-option-2a.png
  ce/customer-service/media/timeline-create-and-use-card-forms-display-options-advanced-1a.png
  ce/customer-service/media/timeline-create-and-use-card-forms-display-options-advanced-1b.png
  ce/customer-service/media/timeline-customize-card-form-display-option-advanced-1a.png
  ce/customer-service/media/timeline-enable-ability-to-create-directly-from-timeline-1a.png
  ce/customer-service/media/timeline-enable-ability-to-create-directly-from-timeline-1b.png
Owners: @shubhadaj

Update mobile-power-app-faq.md
  ce/field-service/mobile-power-app-faq.md
Owners: @shellyhaverkamp

Update preview-schedule-board.md
  ce/shared/urs/preview-schedule-board.md
Owners: none

Update preview-schedule-board.md
  ce/shared/urs/preview-schedule-board.md
Owners: none

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update upgrade-field-service.md
  ce/field-service/upgrade-field-service.md
Owners: @shellyhaverkamp

Creating new files for APM API dev reference docs
  ce/app-profile-manager/reference/microsoft-apm.md
  ce/app-profile-manager/reference/microsoft-apm/closeTab.md
  ce/app-profile-manager/reference/microsoft-apm/createTab.md
  ce/app-profile-manager/reference/microsoft-apm/focusTab.md
  ce/app-profile-manager/reference/microsoft-apm/refreshTab.md
Owners: none

Update reports.md
  ce/field-service/reports.md
Owners: @shellyhaverkamp

Update customer-journeys-create-automated-campaigns.md
  ce/marketing/customer-journeys-create-automated-campaigns.md
Owners: @shellyhaverkamp

Update asset-properties.md
  ce/field-service/asset-properties.md
Owners: @shellyhaverkamp

Update assets-functional-location.md
  ce/field-service/assets-functional-location.md
Owners: @shellyhaverkamp

Update rso-travel-outside-working-hours.md
  ce/field-service/rso-travel-outside-working-hours.md
Owners: @shellyhaverkamp

Update rso-predictive-travel.md
  ce/field-service/rso-predictive-travel.md
Owners: @shellyhaverkamp

Update work-order-surveys.md
  ce/field-service/work-order-surveys.md
Owners: @shellyhaverkamp

Update inspections.md
  ce/field-service/inspections.md
Owners: @shellyhaverkamp

Update cfs-mobile-powerapp.md
  ce/field-service/cfs-mobile-powerapp.md
Owners: @shellyhaverkamp
