Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Interim Commit
  ce/unified-service-desk/admin/recover-edge-process-instance.md
Owners: @shubhadaj

TOC and topic name edits
  ce/unified-service-desk/admin/recover-edge-webview2-process-instance.md
  ce/unified-service-desk/toc.yml
Owners: @shubhadaj

Commit
  ce/unified-service-desk/edge-webview2-process.md
  ce/unified-service-desk/toc.yml
Owners: @shubhadaj

updated heading 2
  ce/sales-enterprise/product-catalog-settings.md
Owners: @shubhadaj

Added content
  ce/unified-service-desk/edge-webview2-process.md
  ce/unified-service-desk/media/advantages-edge-webview2-process.png
Owners: @shubhadaj

Interim commit
  ce/unified-service-desk/edge-webview2-process.md
Owners: @shubhadaj

Commit
  ce/unified-service-desk/edge-webview2-process.md
Owners: @shubhadaj

Interim Commit
  ce/unified-service-desk/edge-webview2-process.md
Owners: @shubhadaj

Interim Commit
  ce/unified-service-desk/edge-webview2-process.md
Owners: @shubhadaj

TOC update
  ce/unified-service-desk/toc.yml
Owners: @shubhadaj

Commit
  ce/unified-service-desk/edge-webview2-process.md
Owners: @shubhadaj

Added hosted control setting image
  ce/unified-service-desk/edge-webview2-process.md
  ce/unified-service-desk/media/edge-webview2-process-hosted-control-setting.PNG
Owners: @shubhadaj

Added edge webview2 hosting type
  ce/unified-service-desk/select-hosting-method-controls.md
Owners: @shubhadaj

Updated scren
  ce/unified-service-desk/media/edge-process-hosted-control-setting.gif
Owners: @shubhadaj

Commit
  ce/customer-service/developer/reference/entities/msdyn_ocliveworkitem.md
Owners: @shubhadaj

Commit
  ce/customer-service/developer/reference/entities/msdyn_ocliveworkitem.md
Owners: @shubhadaj

Added new ref doc
  ce/customer-service/developer/reference/entities/msdyn_conversationsuggestionrequestpayload.md
Owners: @shubhadaj

Update view-user-accounts-security-roles.md
  ce/field-service/view-user-accounts-security-roles.md
Owners: @shellyhaverkamp

Adding monikors where appropriate
  ce/customerengagement/on-premises/deploy/upgrade-from-microsoft-dynamics-365-server.md
  ce/customerengagement/on-premises/deploy/upgrade-microsoft-dynamics-crm-reporting-extensions.md
  ce/customerengagement/on-premises/deploy/upgrading-microsoft-dynamics-365-server.md
  ce/customerengagement/on-premises/deploy/use-command-prompt-install-dynamics-365-server.md
Owners: none

Adding monikors where appropriate
  ce/customerengagement/on-premises/deploy/upgrading-microsoft-dynamics-365-server.md
Owners: none

Adding monikors where appropriate
  ce/customerengagement/on-premises/deploy/media/docs-version-picker.png
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-server-installation.md
  ce/customerengagement/on-premises/includes/applies-not-to-9-1.md
Owners: none

Adding monikors where appropriate
  ce/customerengagement/on-premises/includes/applies-not-to-9-1.md
Owners: none

Adding monikors where appropriate
  ce/customerengagement/on-premises/deploy/update-microsoft-dynamics-crm.md
  ce/customerengagement/on-premises/deploy/upgrade-and-enable-a-language-pack.md
Owners: none

Update voice-channel-agent-experience.md
  ce/customer-service/voice-channel-agent-experience.md
Owners: @shubhadaj

Update search-knowledge-articles-csh.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

edit for task 2210685 for Meghana
  ce/customer-service/suggested-actions.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

edit for task 2210685 for Sailaja
  ce/customer-service/customize-chat-widget.md
Owners: @shubhadaj

daveInspectionsReportingSplit
  ce/field-service/TOC.md
  ce/field-service/inspections-advanced.md
  ce/field-service/inspections-reporting.md
Owners: @shellyhaverkamp

Update inspections-reporting.md
  ce/field-service/inspections-reporting.md
Owners: @shellyhaverkamp

Adding monikors where appropriate
  ce/customerengagement/on-premises/deploy/update-microsoft-dynamics-crm.md
Owners: none

Adding monikors where appropriate
  ce/customerengagement/on-premises/deploy/update-microsoft-dynamics-crm.md
Owners: none

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Commit
  ce/customer-service/developer/reference/entities/systemuser.md
Owners: @shubhadaj

Metadata changes
  ce/customer-service/developer/reference/entities/systemuser.md
Owners: @shubhadaj

incorporated editor comments
  ce/customer-service/suggested-actions.md
Owners: @shubhadaj

Updated editor's comments
  ce/customer-service/customize-chat-widget.md
Owners: @shubhadaj

Commit
  ce/unified-service-desk/admin/recover-edge-webview2-process-instance.md
Owners: @shubhadaj

Interim commit
  ce/unified-service-desk/edge-webview2-process.md
Owners: @shubhadaj

Commit
  ce/unified-service-desk/select-hosting-method-controls.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
