Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Update the new schedule board docs for April '21
  ce/shared/urs/preview-schedule-board.md
Owners: none

update docs for the bug 2224526
  ce/shared/urs/schedule-new-entity.md
Owners: none

VarybyDay and Split workhours
  ce/field-service/set-up-bookable-resources.md
Owners: @shellyhaverkamp

add to the configuration considerations
  ce/shared/urs/schedule-assistant.md
Owners: none

Update schedule-assistant.md
  ce/shared/urs/schedule-assistant.md
Owners: none

URS UR30 bug fixes
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Made final updates
  ce/sales-enterprise/add-products-enhanced-experience.md
  ce/sales-enterprise/add-products-qoi-enhanced.md
  ce/sales-enterprise/customize-add-products-dialog-box.md
  ce/sales-enterprise/media/sales-hub-make-price-list-optional.png
  ce/sales-enterprise/media/sales-hub-quick-find-view.png
Owners: @shubhadaj

updated for Jonathan's comments
  ce/customer-service/troubleshoot-omnichannel-customer-service.md
Owners: @shubhadaj

updated for Grace's comments
  ce/customer-service/customize-chat-widget.md
Owners: @shubhadaj

Update troubleshoot-omnichannel-customer-service.md
  ce/customer-service/troubleshoot-omnichannel-customer-service.md
Owners: @shubhadaj

Interim
  ce/customer-service/add-chat-widget.md
  ce/customer-service/create-workstreams.md
Owners: @shubhadaj

Entity reference docs
  ce/customer-service/developer/reference/entities/msdyn_ocliveworkitem.md
Owners: @shubhadaj

Interim
  ce/customer-service/developer/reference/entities/msdyn_ocliveworkitem.md
Owners: @shubhadaj

2156188
  ce/customer-service/add-chat-widget.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-timeline-overview.md
  ce/customer-service/customer-service-hub-user-guide-timeline-overview.md
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/timeline-control-properties-activities.PNG
  ce/customer-service/media/timeline-control-properties-general.PNG
Owners: @shubhadaj

Update customer-service-hub-user-guide-timeline-admin.md
  ce/customer-service/customer-service-hub-user-guide-timeline-admin.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-timeline-overview.md
  ce/customer-service/customer-service-hub-user-guide-timeline-overview.md
Owners: @shubhadaj

Update schedule-assistant.md
  ce/shared/urs/schedule-assistant.md
Owners: none

Links: Dynamics 365 CE - customerengagement\on-premises\admin (2021-03)
  ce/customerengagement/on-premises/admin/TOC.md
  ce/customerengagement/on-premises/admin/about-unified-interface.md
  ce/customerengagement/on-premises/admin/audit-data-user-activity.md
  ce/customerengagement/on-premises/admin/billing-support.md
  ce/customerengagement/on-premises/admin/configure-quick-find.md
  ce/customerengagement/on-premises/admin/configure-server-based-authentication-sharepoint-on-premises.md
  ce/customerengagement/on-premises/admin/connect-dynamics-365-on-premises-exchange-online.md
  ce/customerengagement/on-premises/admin/connect-exchange-online.md
  ce/customerengagement/on-premises/admin/connect-exchange-server-on-premises.md
  ce/customerengagement/on-premises/admin/connect-on-prem-exchange-server-on-prem.md
  ce/customerengagement/on-premises/admin/connect-onedrive-business.md
  ce/customerengagement/on-premises/admin/create-users-assign-online-security-roles.md
  ce/customerengagement/on-premises/admin/data-encryption.md
  ce/customerengagement/on-premises/admin/deploy-packages-using-package-deployer-windows-powershell.md
  ce/customerengagement/on-premises/admin/enable-office-delve.md
  ce/customerengagement/on-premises/admin/enable-profile-card.md
  ce/customerengagement/on-premises/admin/free-storage-space.md
  ce/customerengagement/on-premises/admin/integrate-synchronize-your-email-system.md
  ce/customerengagement/on-premises/admin/key-preparation-and-configuration-tasks.md
  ce/customerengagement/on-premises/admin/manage-bing-maps-organization.md
  ce/customerengagement/on-premises/admin/on-prem-server-based-sharepoint-online.md
  ce/customerengagement/on-premises/admin/onboard-your-organization-and-users-to-dynamics-365-online.md
  ce/customerengagement/on-premises/admin/onboarding-cheat-sheet-admins.md
  ce/customerengagement/on-premises/admin/overview.md
  ce/customerengagement/on-premises/admin/recover-from-exchange-server-failure.md
  ce/customerengagement/on-premises/admin/remove-user-personal-data.md
  ce/customerengagement/on-premises/admin/set-up-dynamics-365-online-to-use-sharepoint-online.md
  ce/customerengagement/on-premises/admin/set-up-server-side-synchronization-of-email-appointments-contacts-and-tasks.md
  ce/customerengagement/on-premises/admin/supported-web-browsers-and-mobile-devices.md
  ce/customerengagement/on-premises/admin/system-settings-dialog-box-general-tab.md
  ce/customerengagement/on-premises/admin/system-settings-dialog-box-service-tab.md
  ce/customerengagement/on-premises/admin/system-settings-dialog-box-synchronization-tab.md
  ce/customerengagement/on-premises/admin/troubleshooting-monitoring-server-side-synchronization.md
  ce/customerengagement/on-premises/admin/troubleshooting-server-based-authentication.md
  ce/customerengagement/on-premises/admin/user-session-management.md
  ce/customerengagement/on-premises/admin/web-application-requirements.md
  ce/customerengagement/on-premises/admin/work-with-templates.md
Owners: none

Links: Dynamics 365 CE - customerengagement\on-premises\analytics (2021-03)
  ce/customerengagement/on-premises/analytics/add-report-navigation.md
  ce/customerengagement/on-premises/analytics/categorize-display-reports-different-languages.md
  ce/customerengagement/on-premises/analytics/create-a-new-report-using-sql-server-data-tools.md
  ce/customerengagement/on-premises/analytics/example-reports.md
  ce/customerengagement/on-premises/analytics/get-started-writing-reports.md
  ce/customerengagement/on-premises/analytics/report-writing-environment-using-sql-server-data-tools.md
  ce/customerengagement/on-premises/analytics/use-parameters-in-reports.md
Owners: none

Update preview-schedule-board.md
  ce/shared/urs/preview-schedule-board.md
Owners: none

Update urs-bug-fixes.md
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Update urs-bug-fixes.md
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Update urs-bug-fixes.md
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Links: Dynamics 365 CE - customerengagement\on-premises\basics (2021-03)
  ce/customerengagement/on-premises/basics/TOC.md
  ce/customerengagement/on-premises/basics/add-phone-call-task-email-appointment-activity-case-record.md
  ce/customerengagement/on-premises/basics/basics-guide.md
  ce/customerengagement/on-premises/basics/collaborate-with-colleagues-using-office-365-groups.md
  ce/customerengagement/on-premises/basics/dynamics-365-phones-tablets-users-guide-onprem.md
  ce/customerengagement/on-premises/basics/export-excel-dynamic-worksheet.md
  ce/customerengagement/on-premises/basics/export-excel-pivottable.md
  ce/customerengagement/on-premises/basics/review-settings-import-data.md
  ce/customerengagement/on-premises/basics/search-records.md
  ce/customerengagement/on-premises/basics/view-relevant-trending-information-office-delve.md
Owners: none

Links: Dynamics 365 CE - customerengagement\on-premises\customize (2021-03)
  ce/customerengagement/on-premises/customize/TOC.md
  ce/customerengagement/on-premises/customize/bulk-sync-operations.md
  ce/customerengagement/on-premises/customize/business-process-flows-overview.md
  ce/customerengagement/on-premises/customize/create-business-rules-recommendations-apply-logic-form.md
  ce/customerengagement/on-premises/customize/create-edit-virtual-entities.md
  ce/customerengagement/on-premises/customize/create-entities.md
  ce/customerengagement/on-premises/customize/customize-phones-tablets.md
  ce/customerengagement/on-premises/customize/display-custom-icons-instead.md
  ce/customerengagement/on-premises/customize/optimize-form-performance.md
  ce/customerengagement/on-premises/customize/overview.md
  ce/customerengagement/on-premises/customize/types-of-fields.md
  ce/customerengagement/on-premises/customize/view-download-developer-resources.md
  ce/customerengagement/on-premises/customize/virtual-entity-documentdb-provider-requirements.md
  ce/customerengagement/on-premises/customize/virtual-entity-odata-provider-requirements.md
  ce/customerengagement/on-premises/customize/visibility-options-legacy.md
Owners: none

Links: Dynamics 365 CE - customerengagement\on-premises\deploy (2021-03)
  ce/customerengagement/on-premises/deploy/accessibility-in-microsoft-dynamics-365.md
  ce/customerengagement/on-premises/deploy/administer-the-deployment-using-windows-powershell.md
  ce/customerengagement/on-premises/deploy/after-the-upgrade.md
  ce/customerengagement/on-premises/deploy/available-apps.md
  ce/customerengagement/on-premises/deploy/back-up-the-microsoft-dynamics-365-system.md
  ce/customerengagement/on-premises/deploy/configure-an-internet-facing-deployment.md
  ce/customerengagement/on-premises/deploy/configure-claims-based-authentication.md
  ce/customerengagement/on-premises/deploy/configure-dynamics-365-for-outlook-to-use-claims-based-authentication.md
  ce/customerengagement/on-premises/deploy/configure-internet-facing-deployment.md
  ce/customerengagement/on-premises/deploy/configure-the-ad-fs-server-for-claims-based-authentication.md
  ce/customerengagement/on-premises/deploy/configure-the-ad-fs-server-for-ifd.md
  ce/customerengagement/on-premises/deploy/deploy-and-configure-ad-fs.md
  ce/customerengagement/on-premises/deploy/deploy-and-operate-dynamics-365-on-premises.md
  ce/customerengagement/on-premises/deploy/dynamics-365-for-phones-and-ifd.md
  ce/customerengagement/on-premises/deploy/hardware-requirements.md
  ce/customerengagement/on-premises/deploy/install-dynamics-365-front-back-end-server-roles.md
  ce/customerengagement/on-premises/deploy/install-full-server-role-on-server.md
  ce/customerengagement/on-premises/deploy/install-microsoft-dynamics-365-reporting-extensions.md
  ce/customerengagement/on-premises/deploy/install-or-upgrade-language-packs.md
  ce/customerengagement/on-premises/deploy/install-or-upgrade-microsoft-dynamics-365-server.md
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-deployment-properties.md
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-language-support.md
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-reporting-requirements.md
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-server-roles.md
  ce/customerengagement/on-premises/deploy/microsoft-dynamics-365-vss-writer-service.md
  ce/customerengagement/on-premises/deploy/operating-system-platform-security-considerations.md
  ce/customerengagement/on-premises/deploy/plan-your-upgrade-to-microsoft-dynamics-365-server.md
  ce/customerengagement/on-premises/deploy/planning-your-deployment-of-microsoft-dynamics-365.md
  ce/customerengagement/on-premises/deploy/post-installation-configuration-guidelines-dynamics-365.md
  ce/customerengagement/on-premises/deploy/software-requirements-for-microsoft-dynamics-365-server.md
  ce/customerengagement/on-premises/deploy/sql-server-deployment.md
  ce/customerengagement/on-premises/deploy/sql-server-failure-recovery.md
  ce/customerengagement/on-premises/deploy/sql-server-installation-and-configuration.md
  ce/customerengagement/on-premises/deploy/sql-server-requirements-recommendations.md
  ce/customerengagement/on-premises/deploy/system-requirements-required-technologies.md
  ce/customerengagement/on-premises/deploy/update-an-organization.md
  ce/customerengagement/on-premises/deploy/update-microsoft-dynamics-crm.md
  ce/customerengagement/on-premises/deploy/upgrade-from-microsoft-dynamics-365-server.md
Owners: none

Interim
  ce/customer-service/add-chat-widget.md
  ce/customer-service/configure-automated-message.md
  ce/customer-service/download-email-chat-transcripts.md
  ce/customer-service/enable-file-attachments.md
Owners: @shubhadaj

Links: Dynamics 365 CE - customerengagement\on-premises\edw (2021-03)
  ce/customerengagement/on-premises/edw/cannot-connect-to-the-specified-microsoft-sql-server.md
  ce/customerengagement/on-premises/edw/check-does-not-have-a-help-topic.md
  ce/customerengagement/on-premises/edw/customizations-exist-using-old-endpoint.md
  ce/customerengagement/on-premises/edw/dedicated-account-for-service.md
  ce/customerengagement/on-premises/edw/deployment-web-service-domain-user-account.md
  ce/customerengagement/on-premises/edw/exchange-server-not-found.md
  ce/customerengagement/on-premises/edw/fragmented-indexes-detected-database.md
  ce/customerengagement/on-premises/edw/language-packs-provisioned.md
  ce/customerengagement/on-premises/edw/not-all-base-and-extensionbase-tables-were-merged.md
  ce/customerengagement/on-premises/edw/ntfs-file-system-required.md
  ce/customerengagement/on-premises/edw/ntfs-required.md
  ce/customerengagement/on-premises/edw/outdated-workflow-callouts-or-plugin-found.md
  ce/customerengagement/on-premises/edw/problem-with-account-specified-service.md
  ce/customerengagement/on-premises/edw/service-account-for-dynamics-365-service.md
  ce/customerengagement/on-premises/edw/service-principal-name-dynamics-365-service-accounts.md
  ce/customerengagement/on-premises/edw/sql-server-full-text-search-component.md
  ce/customerengagement/on-premises/edw/sql-server-plan-guides-were-detected.md
  ce/customerengagement/on-premises/edw/statistics-detected-in-database.md
  ce/customerengagement/on-premises/edw/there-is-a-problem-with-the-encryption-certificate.md
  ce/customerengagement/on-premises/edw/there-is-a-problem-with-the-federation-metadata-url.md
  ce/customerengagement/on-premises/edw/there-was-a-problem-with-the-security-group-specified.md
  ce/customerengagement/on-premises/edw/verify-domain-user-account-spn-site2.md
  ce/customerengagement/on-premises/edw/verify-domain-user-account-spn.md
Owners: none

Links: Dynamics 365 CE - customerengagement\on-premises\includes (2021-03)
  ce/customerengagement/on-premises/includes/cc-feature-requires-office-365.md
  ce/customerengagement/on-premises/includes/cc-marketing-early-access-2019w2.md
  ce/customerengagement/on-premises/includes/cc-preview-features-no-ms-support.md
  ce/customerengagement/on-premises/includes/cc-privacy-crm-connected-field-service.md
  ce/customerengagement/on-premises/includes/cc-privacy-crm-cortana.md
  ce/customerengagement/on-premises/includes/cc-privacy-crm-relevance-search.md
  ce/customerengagement/on-premises/includes/cc-privacy-events-webinar.md
  ce/customerengagement/on-premises/includes/cc-privacy-mse-azure-event-hubs.md
  ce/customerengagement/on-premises/includes/cc-privacy-mse-post-and-automation-rules.md
  ce/customerengagement/on-premises/includes/cc-privacy-relationship-insights-relationship-analytics.md
  ce/customerengagement/on-premises/includes/cc-see-nonv-subscription-guide.md
  ce/customerengagement/on-premises/includes/deploy-dynamics-365-app-for-outlook.md
  ce/customerengagement/on-premises/includes/languagecode.md
  ce/customerengagement/on-premises/includes/lcid.md
  ce/customerengagement/on-premises/includes/sdk-seeconnectionhelper.md
Owners: none

Links: Dynamics 365 CE - gamification (2021-03)
  ce/gamification/browser-system-requirements.md
  ce/gamification/dynamics-365-gamification-gdpr.md
  ce/gamification/frequently-asked-questions.md
  ce/gamification/manage-gamification-in-dynamics-365-online.md
  ce/gamification/manage-players-fans.md
  ce/gamification/release-notes.md
  ce/gamification/troubleshooting-guide.md
  ce/gamification/understand-security-roles.md
Owners: @shellyhaverkamp

Links: Dynamics 365 CE - includes (2021-03)
  ce/includes/cc-app-definition-customer-service-dev.md
  ce/includes/cc-app-definition-customer-service.md
  ce/includes/cc-app-definition-sales-dev.md
  ce/includes/cc-app-definition-sales.md
  ce/includes/cc-data-platform-banner.md
  ce/includes/cc-early-access-2020w1.md
  ce/includes/cc-early-access.md
  ce/includes/cc-feature-included-with-2015-update-1.md
  ce/includes/cc-feature-included-with-2016-update-1.md
  ce/includes/cc-feature-included-with-update-2015.md
  ce/includes/cc-feature-included-with-update-2016.md
  ce/includes/cc-feature-requires-office-365.md
  ce/includes/cc-marketing-early-access-2019w2.md
  ce/includes/cc-preview-feature.md
  ce/includes/cc-preview-features-no-ms-support.md
  ce/includes/cc-privacy-crm-connected-field-service.md
  ce/includes/cc-privacy-crm-cortana.md
  ce/includes/cc-privacy-crm-relevance-search.md
  ce/includes/cc-privacy-events-webinar.md
  ce/includes/cc-privacy-mse-azure-event-hubs.md
  ce/includes/cc-privacy-mse-post-and-automation-rules.md
  ce/includes/cc-privacy-relationship-insights-relationship-analytics.md
  ce/includes/cc-see-nonv-subscription-guide.md
  ce/includes/deploy-dynamics-365-app-for-outlook.md
  ce/includes/languagecode.md
  ce/includes/lcid.md
  ce/includes/metadata-browser.md
  ce/includes/mse-service-discontinuation.md
  ce/includes/proc-check-your-security-role.md
  ce/includes/proc-download-plugin-registration-tool.md
  ce/includes/proc-follow-steps-in-link.md
  ce/includes/sdk-seeconnectionhelper.md
Owners: none

Links: Dynamics 365 CE - linkedin (2021-03)
  ce/linkedin/Configure-matching-strategy.md
  ce/linkedin/add-sales-navigator-controls-forms.md
  ce/linkedin/install-linkedin-connector.md
  ce/linkedin/install-sales-navigator.md
  ce/linkedin/review-leads.md
  ce/linkedin/ts-linkedin-integration.md
Owners: @shellyhaverkamp

Links: Dynamics 365 CE - outlook-addin (2021-03)
  ce/outlook-addin/admin-guide/configure-synchronization-appointments-contacts-tasks.md
  ce/outlook-addin/admin-guide/control-field-synchronization.md
  ce/outlook-addin/admin-guide/deploy-using-group-policy.md
  ce/outlook-addin/admin-guide/dynamics-365-for-outlook.md
  ce/outlook-addin/admin-guide/field-security-synchronization.md
  ce/outlook-addin/admin-guide/hardware-requirements.md
  ce/outlook-addin/admin-guide/install-desktop-virtualization.md
  ce/outlook-addin/admin-guide/install-using-command-prompt.md
  ce/outlook-addin/admin-guide/planning-installing.md
  ce/outlook-addin/admin-guide/set-up.md
  ce/outlook-addin/admin-guide/software-requirements.md
  ce/outlook-addin/admin-guide/troubleshooting-things-to-know.md
  ce/outlook-addin/admin-guide/upgrade.md
  ce/outlook-addin/admin-guide/use-sccm.md
  ce/outlook-addin/admin-guide/which-fields-synchronized.md
  ce/outlook-addin/user-guide/choose-records-synchronize-exchange.md
  ce/outlook-addin/user-guide/choose-records-work-offline.md
  ce/outlook-addin/user-guide/create-modify-synchronization-filters-view-synchronizing-fields.md
  ce/outlook-addin/user-guide/create-word-mail-merge-document.md
  ce/outlook-addin/user-guide/dynamics-365-outlook-user-s-guide.md
  ce/outlook-addin/user-guide/dynamics-365-work-outlook.md
  ce/outlook-addin/user-guide/frequently-asked-questions-synchronizing-records.md
  ce/outlook-addin/user-guide/how-security-affects-synchronization-exchange.md
  ce/outlook-addin/user-guide/set-option-automatically-track-incoming-outlook-email.md
  ce/outlook-addin/user-guide/set-personal-options-affect-tracking-synchronization-exchange.md
  ce/outlook-addin/user-guide/set-up.md
  ce/outlook-addin/user-guide/system-settings-dialog-box-synchronization-tab.md
  ce/outlook-addin/user-guide/track-outlook-appointments.md
  ce/outlook-addin/user-guide/track-outlook-contacts.md
  ce/outlook-addin/user-guide/track-outlook-email-by-choosing-button.md
  ce/outlook-addin/user-guide/track-outlook-email-by-moving-it-tracked-exchange-folder.md
  ce/outlook-addin/user-guide/track-outlook-tasks.md
  ce/outlook-addin/user-guide/view-fields-synchronized.md
Owners: none

Links: Dynamics 365 CE - outlook-app (2021-03)
  ce/outlook-app/Customizing-the-app.md
  ce/outlook-app/User/add-literature-or-kb.md
  ce/outlook-app/User/email-template.md
  ce/outlook-app/deploy-dynamics-365-app-for-outlook.md
  ce/outlook-app/diagnostic-checker.md
  ce/outlook-app/dynamics-365-app-outlook-user-s-guide.md
  ce/outlook-app/enable-a-custom-entity-to-appear-in-the-regarding-lookup.md
  ce/outlook-app/enable-delegate-access.md
  ce/outlook-app/faq.md
  ce/outlook-app/overview.md
  ce/outlook-app/v8/deploy-dynamics-365-app-for-outlook.md
  ce/outlook-app/v8/dynamics-365-app-outlook-user-s-guide-v8.md
  ce/outlook-app/whats-new.md
Owners: @mduelae, @KumarVivek

Links: Dynamics 365 CE - sales (2021-03)
  ce/sales/index.yml
Owners: none

Links: Dynamics 365 CE - sales-enterprise (2021-03) - 1
  ce/sales-enterprise/ts-currency-pricelist.md
  ce/sales-enterprise/ts-email.md
  ce/sales-enterprise/ts-inapp-marketing.md
  ce/sales-enterprise/upgrade-sales-professional-sales-enterprise.md
  ce/sales-enterprise/use-properties-describe-product.md
  ce/sales-enterprise/use-sales-hub-on-dynamics-365-mobile.md
  ce/sales-enterprise/user-guide-embedded-intelligence.md
  ce/sales-enterprise/user-guide.md
  ce/sales-enterprise/view-forecasts.md
  ce/sales-enterprise/whats-new.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
