Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Update voice-channel-reports-analytics.md
  ce/customer-service/voice-channel-reports-analytics.md
Owners: @shubhadaj

toc updates
  ce/customer-service/toc.yml
Owners: @shubhadaj

Update voice-channel-reports-analytics.md
  ce/customer-service/voice-channel-reports-analytics.md
Owners: @shubhadaj

toc
  ce/customer-service/toc.yml
Owners: @shubhadaj

edits
  ce/customer-service/enable-knowledge-article-search-filters.md
Owners: @shubhadaj

minor changes based on peer review
  ce/teams-integration/teams-install-app.md
Owners: none

Updated ms.date
  ce/teams-integration/teams-install-app.md
  ce/teams-integration/teams-troubleshoot.md
Owners: none

Updated author meta
  ce/teams-integration/teams-install-app.md
  ce/teams-integration/teams-troubleshoot.md
Owners: none

Update voice-channel-reports-analytics.md
  ce/customer-service/voice-channel-reports-analytics.md
Owners: @shubhadaj

Updated date
  ce/teams-integration/teams-troubleshoot.md
Owners: none

toc
  ce/customer-service/toc.yml
Owners: @shubhadaj

toc
  ce/customer-service/toc.yml
Owners: @shubhadaj

edits
  ce/app-profile-manager/reference/microsoft-apm.md
Owners: none

edits
  ce/customer-service/work-with-queues.md
Owners: @shubhadaj

edits in peer review
  ce/customer-service/enable-knowledge-article-search-filters.md
Owners: @shubhadaj

edits
  ce/customer-service/enable-knowledge-article-search-filters.md
Owners: @shubhadaj

minor update
  ce/teams-integration/teams-troubleshoot.md
Owners: none

edits
  ce/customer-service/work-with-queues.md
Owners: @shubhadaj

table header
  ce/app-profile-manager/reference/microsoft-apm.md
Owners: none

app settings installation added
  ce/linkedin/install-sales-navigator.md
  ce/linkedin/media/install-sales-hub-select-enable-linkedin-integration.png
  ce/linkedin/media/install-sales-hub-select-lisn-settings.png
Owners: @shellyhaverkamp

review edits
  ce/customer-service/enable-knowledge-article-search-filters.md
Owners: @shubhadaj

edits
  ce/customer-service/enable-knowledge-article-search-filters.md
Owners: @shubhadaj

Update enable-knowledge-article-search-filters.md
  ce/customer-service/enable-knowledge-article-search-filters.md
Owners: @shubhadaj

edits
  ce/customer-service/work-with-queues.md
Owners: @shubhadaj

updates for tech review feedback
  ce/app-profile-manager/reference/microsoft-apm.md
  ce/app-profile-manager/reference/microsoft-apm/createSession.md
  ce/app-profile-manager/reference/microsoft-apm/createTab.md
Owners: none

edits
  ce/app-profile-manager/reference/microsoft-apm.md
  ce/app-profile-manager/reference/microsoft-apm/canCloseSession.md
  ce/app-profile-manager/reference/microsoft-apm/canCloseTab.md
  ce/app-profile-manager/reference/microsoft-apm/canCreateSession.md
  ce/app-profile-manager/reference/microsoft-apm/canCreateTab.md
  ce/app-profile-manager/reference/microsoft-apm/close.md
  ce/app-profile-manager/reference/microsoft-apm/closeTab.md
  ce/app-profile-manager/reference/microsoft-apm/createSession.md
  ce/app-profile-manager/reference/microsoft-apm/createTab.md
  ce/app-profile-manager/reference/microsoft-apm/focus.md
  ce/app-profile-manager/reference/microsoft-apm/focusTab.md
  ce/app-profile-manager/reference/microsoft-apm/getAllSessions.md
  ce/app-profile-manager/reference/microsoft-apm/getAllTabs.md
  ce/app-profile-manager/reference/microsoft-apm/getFocusedSession.md
  ce/app-profile-manager/reference/microsoft-apm/getFocusedTab.md
  ce/app-profile-manager/reference/microsoft-apm/getSession.md
  ce/app-profile-manager/reference/microsoft-apm/getTab.md
  ce/app-profile-manager/reference/microsoft-apm/isDefault.md
  ce/app-profile-manager/reference/microsoft-apm/refreshTab.md
  ce/app-profile-manager/reference/microsoft-apm/requestFocus.md
  ce/app-profile-manager/reference/microsoft-apm/sessionId.md
  ce/app-profile-manager/reference/microsoft-apm/sessiontitle.md
  ce/app-profile-manager/reference/microsoft-apm/tabId.md
  ce/app-profile-manager/reference/microsoft-apm/tabtitle.md
  ce/app-profile-manager/reference/microsoft-apm/updateContext.md
Owners: none

edits
  ce/app-profile-manager/reference/microsoft-apm/createSession.md
  ce/app-profile-manager/reference/microsoft-apm/createTab.md
Owners: none

edits
  ce/app-profile-manager/reference/microsoft-apm/createSession.md
  ce/app-profile-manager/reference/microsoft-apm/createTab.md
Owners: none

Edits for CELA
  ce/customer-service/media/image43.png
  ce/customer-service/media/image50.png
  ce/customer-service/media/voice-channel-1-admin-page.png
  ce/customer-service/media/voice-channel-2-voice-page.png
  ce/customer-service/media/voice-enable-historical-analytics.png
  ce/customer-service/voice-channel-reports-analytics.md
Owners: @shubhadaj

Added metadata until Invoice entity
  ce/sales-professional/understanding-sales-transactions-sales-professional.md
Owners: none

Interim
  ce/customer-service/voice-channel-reports-analytics.md
Owners: @shubhadaj

Renamed media files for convention
  ce/customer-service/media/voice-access-historical-report.png
  ce/customer-service/media/voice-historical-agent-drill-down.png
  ce/customer-service/media/voice-recording-transcript-viewer.png
  ce/customer-service/voice-channel-reports-analytics.md
Owners: @shubhadaj

Update urs-bug-fixes.md
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Update urs-bug-fixes.md
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Update resource-preferences.md
  ce/field-service/resource-preferences.md
Owners: @shellyhaverkamp

For task 2254711
  ce/customer-service/customer-service-hub-user-guide-create-a-case.md
  ce/customer-service/remove-validation-contact.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

Corrected cross-ref
  ce/customer-service/remove-validation-contact.md
Owners: @shubhadaj

update as per feedback
  ce/sales-enterprise/sales-mobile/dynamics-365-sales-mobile-app.md
  ce/sales-enterprise/sales-mobile/learn-basics-mobile-app.md
  ce/sales-enterprise/sales-mobile/media/bidirectional-arrows.png
  ce/sales-enterprise/sales-mobile/media/non-prod-apps-toggle.png
  ce/sales-enterprise/sales-mobile/media/sa-home-page-complete.png
  ce/sales-enterprise/sales-mobile/media/sa-home-page.png
  ce/sales-enterprise/sales-mobile/media/sm-agenda-view.png
  ce/sales-enterprise/sales-mobile/media/sm-contacts-home.png
  ce/sales-enterprise/sales-mobile/media/sm-meetings-home.png
  ce/sales-enterprise/sales-mobile/media/sm-records-home.png
  ce/sales-enterprise/sales-mobile/media/sm-reminders-insights-home.png
  ce/sales-enterprise/sales-mobile/media/sm-sales-hub-site-map.png
  ce/sales-enterprise/sales-mobile/media/sm-settings-panel.png
  ce/sales-enterprise/sales-mobile/use-sales-mobile-app.md
Owners: @shubhadaj

Update dynamics-365-sales-mobile-app.md
  ce/sales-enterprise/sales-mobile/dynamics-365-sales-mobile-app.md
Owners: @shubhadaj

Update non-prod-apps-toggle.png
  ce/sales-enterprise/sales-mobile/media/non-prod-apps-toggle.png
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
