Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

image size update
  ce/sales-enterprise/sales-mobile/media/sm-meeting-details-no-record.png
  ce/sales-enterprise/sales-mobile/media/sm-meeting-details.png
  ce/sales-enterprise/sales-mobile/media/sm-regarding-record.png
  ce/sales-enterprise/sales-mobile/media/sm-select-change-connected-record.png
  ce/sales-enterprise/sales-mobile/media/sm-select-regarding-record.png
  ce/sales-enterprise/sales-mobile/media/sm-view-regarding-entity.png
  ce/sales-enterprise/sales-mobile/view-agenda.md
Owners: @shubhadaj

Update supply-chain-field-service-integration.md
  ce/field-service/supply-chain-field-service-integration.md
Owners: @shellyhaverkamp

adds new section and screens
  ce/field-service/cfs-iot-alerts.md
  ce/field-service/media/iot-alert-parenting-1.png
  ce/field-service/media/iot-alert-parenting-2.png
  ce/field-service/media/iot-alert-parenting-3.png
  ce/field-service/media/iot-alert-parenting-4.png
  ce/field-service/media/iot-alert-parenting-5.png
Owners: @shellyhaverkamp

Update assets-functional-location.md
  ce/field-service/assets-functional-location.md
Owners: @shellyhaverkamp

Update assets-functional-location.md
  ce/field-service/assets-functional-location.md
Owners: @shellyhaverkamp

Update assets-functional-location.md
  ce/field-service/assets-functional-location.md
Owners: @shellyhaverkamp

Split the provisioning unified routing info in to its own topic
  ce/customer-service/data-access-consent.md
  ce/customer-service/provision-unified-routing.md
  ce/customer-service/set-up-record-routing.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

Updated date
  ce/customer-service/set-up-record-routing.md
Owners: @shubhadaj

Corrected heading and title in metadata
  ce/customer-service/set-up-record-routing.md
Owners: @shubhadaj

For 2290900
  ce/customer-service/assignment-methods.md
Owners: @shubhadaj

URS bug notes for FS8.1
  ce/shared/urs/urs-bug-fixes.md
Owners: none

edited content, scrubbed images
  ce/field-service/media/FSM_BCC1.png
  ce/field-service/media/FSM_BCC2.png
  ce/field-service/media/FSM_BCC3.png
  ce/field-service/media/FSM_BCC4.png
  ce/field-service/media/FSM_BCC5.png
  ce/field-service/media/mobile-2020-calendar-control-1.png
  ce/field-service/media/mobile-2020-calendar-control-2.png
  ce/field-service/media/mobile-2020-calendar-control-3.png
  ce/field-service/media/mobile-2020-calendar-control-4.png
  ce/field-service/media/mobile-2020-calendar-control-5.png
  ce/field-service/mobile-power-app-configure.md
Owners: @shellyhaverkamp

Update mobile-power-app-configure.md
  ce/field-service/mobile-power-app-configure.md
Owners: @shellyhaverkamp

Update mobile-power-app-configure.md
  ce/field-service/mobile-power-app-configure.md
Owners: @shellyhaverkamp

Update urs-bug-fixes.md
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Update urs-bug-fixes.md
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Update extend-schedule-board-custom-resource-attribute.md
  ce/shared/urs/extend-schedule-board-custom-resource-attribute.md
Owners: none

For 2327327
  ce/customer-service/media/voice-usage-report.png
  ce/customer-service/voice-channel-manage.md
  ce/customer-service/voice-channel-usage-billing.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

some edits + adds to TOC
  ce/field-service/search-resource-availability-api.md
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

tryna fix formats (+ resolving a conflict from another file)
  ce/field-service/search-resource-availability-api.md
  ce/shared/urs/extend-schedule-board-custom-resource-attribute.md
Owners: @shellyhaverkamp

moar fomats
  ce/field-service/search-resource-availability-api.md
Owners: @shellyhaverkamp

Update search-resource-availability-api.md
  ce/field-service/search-resource-availability-api.md
Owners: @shellyhaverkamp

Update configure-default-settings.md
  ce/field-service/configure-default-settings.md
Owners: @shellyhaverkamp

Update extend-schedule-board-custom-resource-attribute.md
  ce/shared/urs/extend-schedule-board-custom-resource-attribute.md
Owners: none

trying to fix validation error
  ce/field-service/configure-default-settings.md
Owners: @shellyhaverkamp

fixing formatting
  ce/field-service/configure-default-settings.md
Owners: @shellyhaverkamp

Update troubleshoot-field-service-solution-health.md
  ce/field-service/troubleshoot-field-service-solution-health.md
Owners: @shellyhaverkamp

adds deprecation page for FS
  ce/field-service/deprecations-field-service.md
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

Update deprecations-field-service.md
  ce/field-service/deprecations-field-service.md
Owners: @shellyhaverkamp

URS bug fixes for 2021 Wave 2 EA upd 1
  ce/shared/urs/urs-bug-fixes.md
Owners: none

edits
  ce/field-service/create-work-order.md
Owners: @shellyhaverkamp

Update create-work-order.md
  ce/field-service/create-work-order.md
Owners: @shellyhaverkamp

Update teams-journey.md
  ce/marketing/teams-journey.md
Owners: @shellyhaverkamp

TRI for 2327327
  ce/customer-service/media/voice-usage-report.png
  ce/customer-service/voice-channel-install.md
  ce/customer-service/voice-channel-usage.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

Corrected metadata title
  ce/customer-service/voice-channel-usage.md
Owners: @shubhadaj

added bulleted list
  ce/customer-service/enable-knowledge-article-search-filters.md
Owners: @shubhadaj

addedhistorical analytics solutions section
  ce/customer-service/delete-solution.md
Owners: @shubhadaj

formatting
  ce/customer-service/delete-solution.md
Owners: @shubhadaj

Update view-agenda.md
  ce/sales-enterprise/sales-mobile/view-agenda.md
Owners: @shubhadaj

changed cross-ref
  ce/customer-service/delete-solution.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
