Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Corrected metadata
  ce/customer-service/oc-conversation-state.md
  ce/unified-service-desk/oc-usd/conversation-state.md
Owners: @shubhadaj

updated answers
  ce/includes/trial-platform-faqs.md
Owners: none

answered reset instance
  ce/includes/trial-platform-faqs.md
Owners: none

minor updates
  ce/includes/trial-platform-faqs.md
Owners: none

error removed
  ce/sales-enterprise/sales-mobile/dynamics-365-sales-mobile-app.md
Owners: @shubhadaj

Add instructions and cross references on how to set default content setting for the business unit scope
  ce/marketing/business-units.md
  ce/marketing/dynamic-email-content.md
Owners: @shellyhaverkamp

Update booking-lock-options.md
  ce/field-service/booking-lock-options.md
Owners: @shellyhaverkamp

Update rso-configuration.md
  ce/field-service/rso-configuration.md
Owners: @shellyhaverkamp

Update rso-get-install.md
  ce/field-service/rso-get-install.md
Owners: @shellyhaverkamp

Update rso-optimization-schedule.md
  ce/field-service/rso-optimization-schedule.md
Owners: @shellyhaverkamp

Update rso-optimization-scope.md
  ce/field-service/rso-optimization-scope.md
Owners: @shellyhaverkamp

Update rso-overnight-scheduling.md
  ce/field-service/rso-overnight-scheduling.md
Owners: @shellyhaverkamp

Update rso-deployment.md
  ce/field-service/rso-deployment.md
Owners: @shellyhaverkamp

Update rso-handling-resolving-booking-conflicts.md
  ce/field-service/rso-handling-resolving-booking-conflicts.md
Owners: @shellyhaverkamp

Update rso-predictive-travel.md
  ce/field-service/rso-predictive-travel.md
Owners: @shellyhaverkamp

Update appointment-scheduling.md
  ce/field-service/appointment-scheduling.md
Owners: @shellyhaverkamp

Update appointment-scheduling.md
  ce/field-service/appointment-scheduling.md
Owners: @shellyhaverkamp

Update mobile-power-app-configure.md
  ce/field-service/mobile-power-app-configure.md
Owners: @shellyhaverkamp

Update mobile-power-app-system-barcode-scanning.md
  ce/field-service/mobile-power-app-system-barcode-scanning.md
Owners: @shellyhaverkamp

Update mobile-power-utilize-platform.md
  ce/field-service/mobile-power-utilize-platform.md
Owners: @shellyhaverkamp

Update mobile-power-app-system-barcode-scanning.md
  ce/field-service/mobile-power-app-system-barcode-scanning.md
Owners: @shellyhaverkamp

Update mobile-powerapp-deeplink.md
  ce/field-service/mobile-powerapp-deeplink.md
Owners: @shellyhaverkamp

Update quickstart-schedule-work-order.md
  ce/field-service/quickstart-schedule-work-order.md
Owners: @shellyhaverkamp

Update mobile-power-app-system-offline.md
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

Add files via upload
  ce/field-service/media/Appointment07-PrivateAppointments.png
Owners: @shellyhaverkamp

ADO task 2226223
  ce/field-service/media/mobile-geofence-filters.png
  ce/field-service/mobile-powerapp-geofence.md
Owners: @shellyhaverkamp

Update appointment-scheduling.md
  ce/field-service/appointment-scheduling.md
Owners: @shellyhaverkamp

Interim
  ce/customer-service/role-persona-mapping.md
  ce/customer-service/set-up-skill-based-routing.md
  ce/customer-service/setup-skills-assign-agents.md
Owners: @shubhadaj

Scheduler update
  ce/marketing/automated-scheduler.md
  ce/marketing/media/automated-scheduler-activate.png
  ce/marketing/media/automated-scheduler-activate2.png
Owners: @shellyhaverkamp

Update appointment-scheduling.md
  ce/field-service/appointment-scheduling.md
Owners: @shellyhaverkamp

Update appointment-scheduling.md
  ce/field-service/appointment-scheduling.md
Owners: @shellyhaverkamp

Update appointment-scheduling.md
  ce/field-service/appointment-scheduling.md
Owners: @shellyhaverkamp

Release notes for URS UR5.1 and UR5.3
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Update appointment-scheduling.md
  ce/field-service/appointment-scheduling.md
Owners: @shellyhaverkamp

Update urs-bug-fixes.md
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Update urs-bug-fixes.md
  ce/shared/urs/urs-bug-fixes.md
Owners: none

Revised for accuracy
  ce/customerengagement/on-premises/admin/checklist-transition-unified-interface.md
Owners: none

Revised for accuracy
  ce/customerengagement/on-premises/admin/checklist-transition-unified-interface.md
  ce/customerengagement/on-premises/admin/unified-interface-playbook.md
  ce/customerengagement/on-premises/whats-new.md
Owners: none

Revised for accuracy
  ce/customerengagement/on-premises/whats-new.md
Owners: none

Revised for accuracy
  ce/customerengagement/on-premises/whats-new.md
Owners: none
