Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update diagnostic-checker.md
  ce/outlook-app/diagnostic-checker.md
Owners: @mduelae, @KumarVivek

Update diagnostic-checker.md
  ce/outlook-app/diagnostic-checker.md
Owners: @mduelae, @KumarVivek

Update create-sales-literature.md
  ce/sales-enterprise/create-sales-literature.md
Owners: @shubhadaj

FAQ page
  ce/marketing/media/troubleshoot-faq-support-request.png
  ce/marketing/media/troubleshoot-faq-support.png
  ce/marketing/toc.md
  ce/marketing/troubleshoot-faq.md
Owners: @shellyhaverkamp

Update troubleshoot-faq.md
  ce/marketing/troubleshoot-faq.md
Owners: @shellyhaverkamp

Update cfs-iot-alerts.md
  ce/field-service/cfs-iot-alerts.md
Owners: @shellyhaverkamp

quick view form
  ce/sales-enterprise/TOC.md
  ce/sales-enterprise/sales-mobile/modify-quick-view-form.md
Owners: @shubhadaj

Update TOC.md
  ce/sales-enterprise/TOC.md
Owners: @shubhadaj

Update modify-quick-view-form.md
  ce/sales-enterprise/sales-mobile/modify-quick-view-form.md
Owners: @shubhadaj

linked to the settings topic
  ce/sales-enterprise/enable-enhanced-add-product-experience.md
  ce/sales-enterprise/product-catalog-settings.md
  ce/sales-enterprise/set-up-product-catalog-walkthrough.md
Owners: @shubhadaj

For bug 2180919
  ce/customer-service/try-channels.md
Owners: @shubhadaj

Update teams-integration.md
  ce/teams-integration/teams-integration.md
Owners: none

daveOCVoiceGA
  ce/customer-service/TOC.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

Update teams-integration.md
  ce/teams-integration/teams-integration.md
Owners: none

Update teams-basic-vs-enhanced-collaboration.md
  ce/teams-integration/teams-basic-vs-enhanced-collaboration.md
Owners: none

Update mobile-power-app-get-started.md
  ce/field-service/mobile-power-app-get-started.md
Owners: @shellyhaverkamp

Add files via upload
  ce/teams-integration/media/teams-1.png
Owners: none

Update teams-integration.md
  ce/teams-integration/teams-integration.md
Owners: none

Update teams-integration.md
  ce/teams-integration/teams-integration.md
Owners: none

Update teams-integration.md
  ce/teams-integration/teams-integration.md
Owners: none

Update teams-integration.md
  ce/teams-integration/teams-integration.md
Owners: none

Update teams-integration.md
  ce/teams-integration/teams-integration.md
Owners: none

Update voice-channel.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

Update teams-integration.md
  ce/teams-integration/teams-integration.md
Owners: none

Update teams-integration.md
  ce/teams-integration/teams-integration.md
Owners: none

Update voice-channel.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

Update setup-troubleshooting.md
  ce/marketing/setup-troubleshooting.md
Owners: @shellyhaverkamp

daveOCVoiceGA
  ce/customer-service/TOC.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

Update teams-integration.md
  ce/teams-integration/teams-integration.md
Owners: none

Create teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update teams-integration.md
  ce/teams-integration/teams-integration.md
Owners: none

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Remove portals reference from Overview
  ce/marketing/overview.md
  ce/marketing/toc.md
  ce/marketing/troubleshoot-faq.md
Owners: @shellyhaverkamp

Add files via upload
  ce/field-service/media/PPAC_Field_Security_Profiles.PNG
  ce/field-service/media/PPAC_Manage_Roles.PNG
  ce/field-service/media/PPAC_Select_FS_Profile.PNG
  ce/field-service/media/PPAC_Select_UserRole.PNG
  ce/field-service/media/PPAC_Settings.PNG
  ce/field-service/media/PPAC_Users.PNG
Owners: @shellyhaverkamp

Add files via upload
  ce/field-service/media/PPAC-Field-Security-Profiles.PNG
  ce/field-service/media/PPAC-Manage-Roles.PNG
  ce/field-service/media/PPAC-Select-FS-Profile.PNG
  ce/field-service/media/PPAC-Select-User-Role.PNG
  ce/field-service/media/PPAC-Settings.PNG
  ce/field-service/media/PPAC-Users.PNG
Owners: @shellyhaverkamp

Update view-user-accounts-security-roles.md
  ce/field-service/view-user-accounts-security-roles.md
Owners: @shellyhaverkamp

Update teams-install-app.md
  ce/teams-integration/teams-install-app.md
Owners: none

Update view-user-accounts-security-roles.md
  ce/field-service/view-user-accounts-security-roles.md
Owners: @shellyhaverkamp

Update view-user-accounts-security-roles.md
  ce/field-service/view-user-accounts-security-roles.md
Owners: @shellyhaverkamp

Update portal-optional.md
  ce/marketing/portal-optional.md
Owners: @shellyhaverkamp
