Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

TRI
  ce/omnichannel/agent/agent-oc/oc-search-knowledge-articles.md
Owners: none

Additional TRI
  ce/omnichannel/agent/agent-oc/oc-search-knowledge-articles.md
Owners: none

Add files via upload
  ce/outlook-addin/media/advanced_filter_icon.png
Owners: none

Update support.md
  ce/outlook-addin/admin-guide/support.md
Owners: none

Update support.md
  ce/outlook-addin/admin-guide/support.md
Owners: none

Updated for bug 20011970
  ce/customer-service/troubleshoot-case-email-issue.md
Owners: @shubhadaj

Additional TRI
  ce/omnichannel/administrator/queues-omnichannel.md
Owners: none

Added known issue about embedded canvas app
  ce/teams-integration/teams-troubleshoot.md
Owners: none

Tweaks
  ce/teams-integration/teams-troubleshoot.md
Owners: none

Email IPs
  ce/marketing/dedicated-vs-shared-ip.md
  ce/marketing/email-bounce-categories.md
  ce/marketing/toc.md
Owners: @shellyhaverkamp

RELEASE NOTES: EA v8.8.29.333 and 8.8.30.113
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update oc-view-ai-suggested-cases-articles.md
  ce/omnichannel/agent/agent-oc/oc-view-ai-suggested-cases-articles.md
Owners: none

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Interim
  ce/app-profile-manager/app-profile-manager.md
  ce/app-profile-manager/media/app-profile-navigation-items.png
  ce/app-profile-manager/overview.md
  ce/app-profile-manager/session-templates.md
  ce/app-profile-manager/settings.md
Owners: none

Update configure-bot-virtual-agent.md
  ce/omnichannel/administrator/configure-bot-virtual-agent.md
Owners: none

Update dedicated-vs-shared-ip.md
  ce/marketing/dedicated-vs-shared-ip.md
Owners: @shellyhaverkamp

Update asset-properties.md
  ce/field-service/asset-properties.md
Owners: @shellyhaverkamp

Added include and link to similar topic in Power Apps
  ce/customerengagement/on-premises/customize/accessibility-app-designer-site-map-designer-my-apps-page.md
Owners: none

Update configure-bot-virtual-agent.md
  ce/omnichannel/administrator/configure-bot-virtual-agent.md
Owners: none

Update configure-bot-virtual-agent.md
  ce/omnichannel/administrator/configure-bot-virtual-agent.md
Owners: none

Update configure-bot-virtual-agent.md
  ce/omnichannel/administrator/configure-bot-virtual-agent.md
Owners: none

Update configure-bot-virtual-agent.md
  ce/omnichannel/administrator/configure-bot-virtual-agent.md
Owners: none

Update configure-bot-virtual-agent.md
  ce/omnichannel/administrator/configure-bot-virtual-agent.md
Owners: none

Added include and link to similar topic in Power Apps
  ce/customerengagement/on-premises/customize/accessing-view-definitions.md
  ce/customerengagement/on-premises/customize/actions.md
  ce/customerengagement/on-premises/customize/add-edit-app-components.md
  ce/customerengagement/on-premises/customize/add-edit-form-navigation-related-entities.md
  ce/customerengagement/on-premises/customize/add-field-form.md
  ce/customerengagement/on-premises/customize/additional-controls-for-dynamics-365-for-phones-and-tablets.md
  ce/customerengagement/on-premises/customize/assign-form-order.md
  ce/customerengagement/on-premises/customize/behavior-format-date-time-field.md
Owners: none

Added include and link to similar topic in Power Apps
  ce/customerengagement/on-premises/customize/accessibility-app-designer-site-map-designer-my-apps-page.md
  ce/customerengagement/on-premises/customize/add-edit-app-components.md
Owners: none

Update TOC.md
  ce/omnichannel/TOC.md
Owners: none

Generate activity update
  ce/marketing/create-interactive-customer-journey.md
  ce/marketing/customer-journeys-create-automated-campaigns.md
  ce/marketing/developer/configure-use-custom-channel.md
  ce/marketing/generate-activities-from-customer-journey.md
  ce/marketing/help-hub.md
  ce/marketing/invite-register-house-event-attendees.md
  ce/marketing/media/customer-journey-template.png
  ce/marketing/media/customer-journey-template2.png
  ce/marketing/media/customer-journey-templates2.png
  ce/marketing/media/journey-activity-properties.png
  ce/marketing/media/journey-activity-properties2.png
  ce/marketing/media/journey-activity-template.png
  ce/marketing/media/journey-activity-template2.png
  ce/marketing/media/journey-assign-segment.png
  ce/marketing/media/journey-assign-segment2.png
  ce/marketing/media/journey-general-settings2.png
  ce/marketing/media/journey-general-settings3.png
  ce/marketing/media/journey-generate-activities.png
  ce/marketing/media/journey-generate-activities2.png
  ce/marketing/media/journey-generate-simple.png
  ce/marketing/media/tasks-list-example.png
  ce/marketing/media/tasks-list-example2.png
  ce/marketing/media/tasks-view-all.png
  ce/marketing/media/tasks-view-all2.png
  ce/marketing/user-guide.md
Owners: @shellyhaverkamp, @KumarVivek, @Nkrb

Update error-code-reference.md
  ce/omnichannel/developer/reference/error-code-reference.md
Owners: none

Update invite-register-house-event-attendees.md
  ce/marketing/invite-register-house-event-attendees.md
Owners: @shellyhaverkamp

Update configure-use-custom-channel.md
  ce/marketing/developer/configure-use-custom-channel.md
Owners: @KumarVivek, @Nkrb

Update generate-segment-from-journey.md
  ce/marketing/generate-segment-from-journey.md
Owners: @shellyhaverkamp

interactive journey
  ce/marketing/create-interactive-customer-journey.md
  ce/marketing/media/email-add-page-block.png
  ce/marketing/media/email-add-page-block3.png
  ce/marketing/media/email-page-block-properties.png
  ce/marketing/media/email-page-block-properties3.png
  ce/marketing/media/email-page-block-styled.png
  ce/marketing/media/email-page-block-styled2.png
  ce/marketing/media/journey-add-ifthen-tile.png
  ce/marketing/media/journey-add-page.png
  ce/marketing/media/journey-add-page2.png
  ce/marketing/media/journey-add-trigger-tile.png
  ce/marketing/media/journey-email-only.png
  ce/marketing/media/journey-email-only2.png
  ce/marketing/media/journey-ifthen-paths.png
  ce/marketing/media/journey-ifthen-rule-define.png
  ce/marketing/media/journey-ifthen-timeout.png
  ce/marketing/media/journey-trigger-paths.png
  ce/marketing/media/journey-trigger-rule-define.png
  ce/marketing/media/journey-trigger-timeout.png
Owners: @shellyhaverkamp

picture fixes
  ce/marketing/customer-journeys-create-automated-campaigns.md
  ce/marketing/media/customer-journey-full3.png
  ce/marketing/media/customer-journey-tile-features.png
  ce/marketing/media/customer-journey-tile-features2.png
Owners: @shellyhaverkamp

review
  ce/sales-enterprise/developer/reference/custom-actions/context.md
Owners: @shubhadaj

TRI
  ce/app-profile-manager/app-profile-manager.md
  ce/app-profile-manager/application-tab-templates.md
  ce/app-profile-manager/notification-templates.md
  ce/app-profile-manager/overview.md
  ce/app-profile-manager/reference/microsoft-apm.md
  ce/app-profile-manager/smart-assist.md
Owners: none

event doc update
  ce/sales-enterprise/TOC.md
  ce/sales-enterprise/developer/reference/custom-actions/context.md
  ce/sales-enterprise/developer/reference/events/forecasting-events.md
  ce/sales-enterprise/developer/reference/events/onRowLoad.md
  ce/sales-enterprise/developer/reference/events/onSave.md
Owners: @shubhadaj

updated with lokesh review
  ce/sales-enterprise/TOC.md
  ce/sales-enterprise/developer/reference/custom-actions/context.md
  ce/sales-enterprise/developer/reference/events/forecasting-events.md
Owners: @shubhadaj

Update create-auto-number-attributes.md
  ce/customerengagement/on-premises/developer/create-auto-number-attributes.md
Owners: none

Update csw-overview.md
  ce/customer-service/csw-overview.md
Owners: @shubhadaj

Update csw-productivity-pane.md
  ce/customer-service/csw-productivity-pane.md
Owners: @shubhadaj
