Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

add bookmark
  ce/sales/digital-selling.md
Owners: none

Incorporating tech review comments
  ce/customer-service/oc-manage-presence-status.md
Owners: @shubhadaj

update from PM
  ce/customer-service/enable-agent-reject-notifications.md
Owners: @shubhadaj

Updates
  ce/customer-service/oc-manage-presence-status.md
Owners: @shubhadaj

edits
  ce/customer-service/enable-agent-reject-notifications.md
Owners: @shubhadaj

TASK 2573371
  ce/customer-service/channel-integration-framework/add-cif-solution-dependent-solution.md
  ce/customer-service/channel-integration-framework/shared/token-add-cif-solution-dependent-solution.md
  ce/customer-service/channel-integration-framework/v2/add-cif-solution-dependent-solution.md
Owners: @shubhadaj

For Bug 2540830
  ce/customer-service/automatically-create-update-records.md
Owners: @shubhadaj

Update teams-integration.md
  ce/teams-integration/teams-integration.md
Owners: none

Update intraday-insights-dashboard.md
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

Update intro-intraday-insights-dashboard.md
  ce/customer-service/intro-intraday-insights-dashboard.md
Owners: @shubhadaj

Update intro-intraday-insights-dashboard.md
  ce/customer-service/intro-intraday-insights-dashboard.md
Owners: @shubhadaj

Update intro-intraday-insights-dashboard.md
  ce/customer-service/intro-intraday-insights-dashboard.md
Owners: @shubhadaj

Update intro-intraday-insights-dashboard.md
  ce/customer-service/intro-intraday-insights-dashboard.md
Owners: @shubhadaj

Update intro-intraday-insights-dashboard.md
  ce/customer-service/intro-intraday-insights-dashboard.md
Owners: @shubhadaj

Update intro-intraday-insights-dashboard.md
  ce/customer-service/intro-intraday-insights-dashboard.md
Owners: @shubhadaj

Update intraday-insights-dashboard.md
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

Update dynamics-365-sales-mobile-app.md
  ce/sales/sales-mobile/dynamics-365-sales-mobile-app.md
Owners: none

Updated existing content to reflect UI changes
  ce/sales/add-additional-filters.md
  ce/sales/media/forecast-add-filter-configure-condition-1.png
  ce/sales/media/forecast-add-filter-configure-condition-2.png
  ce/sales/media/forecast-hierarchy.png
  ce/sales/media/hierarchy-filters-preview.png
  ce/sales/media/hierarchy-filters.png
Owners: none

For Bug 2571336
  ce/customer-service/csw-enable-ai-suggested-cases-knowledge-articles.md
Owners: @shubhadaj

For Task 2549342
  ce/customer-service/Configure-sms-channel-twilio.md
  ce/customer-service/configure-sms-channel.md
Owners: @shubhadaj

For Task 2558922
  ce/customer-service/configure-assignment-rules.md
Owners: @shubhadaj

task 2573380
  ce/customer-service/create-chat-auth-settings.md
  ce/customer-service/developer/reference/methods/setContextProvider.md
  ce/customer-service/send-auth-token-starting-chat.md
  ce/customer-service/send-context-starting-chat.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

bugs wkw and ee
  ce/sales/configure-email-engagement.md
  ce/sales/configure-who-knows-whom.md
  ce/sales/toc.yml
Owners: none

Update configure-who-knows-whom.md
  ce/sales/configure-who-knows-whom.md
Owners: none

Update configure-who-knows-whom.md
  ce/sales/configure-who-knows-whom.md
Owners: none

Update configure-who-knows-whom.md
  ce/sales/configure-who-knows-whom.md
Owners: none

Fixes
  ce/sales/configure-email-engagement.md
  ce/sales/configure-who-knows-whom.md
Owners: none

updated
  ce/sales/configure-who-knows-whom.md
Owners: none

Update dynamics-365-sales-mobile-app.md
  ce/sales/sales-mobile/dynamics-365-sales-mobile-app.md
Owners: none

edit feedback
  ce/sales/customize-sales-accelerator-sellers.md
  ce/sales/digital-selling.md
  ce/sales/prereq-sales-insights-app.md
Owners: none

TRI
  ce/customer-service/configure-assignment-rules.md
Owners: @shubhadaj

Updated screenshots and groupby info
  ce/sales/activate-upload-simple-columns-data-forecast.md
  ce/sales/media/forecast-opportunity-split-groupby-example.png
  ce/sales/media/forecast-view-grid-group-option.png
  ce/sales/view-and-manage-underlying-opportunities.md
Owners: none

tech feedback
  ce/sales/digital-selling.md
  ce/sales/media/ds-ci-advanced-setup.png
  ce/sales/media/ds-sa-advanced_setup.png
  ce/sales/media/ds-scoring-advanced-setup.png
  ce/sales/media/ds-teams-collab-advanced-setup.png
Owners: none

Update toc.yml
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

TRI for Task 2449669
  ce/customer-service/capacity-profiles.md
  ce/customer-service/media/create-capacity-profile.png
Owners: @shubhadaj

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Language
  ce/customer-service/capacity-profiles.md
Owners: @shubhadaj

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

get started
  ce/marketing/double-opt-in.md
  ce/marketing/get-started.md
  ce/marketing/toc.yml
Owners: @shellyhaverkamp

Update get-started.md
  ce/marketing/get-started.md
Owners: @shellyhaverkamp

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
