Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

edits
  ce/customer-service/oc-view-ai-suggested-cases-articles.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
  ce/customer-service/voice-channel-manage-phone-numbers.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-manage-phone-numbers.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-manage-phone-numbers.md
Owners: @shubhadaj

TASK 2414477
  ce/customer-service/media/voice-channel-number-mgmt-add-summary.png
  ce/customer-service/media/voice-channel-number-mgmt-azure-create-new-resource.png
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
  ce/customer-service/voice-channel-manage-phone-numbers.md
Owners: @shubhadaj

Copy edits incorporation
  ce/customer-service/media/sa-option-voice call.png
  ce/customer-service/media/sa-option-voice-call.png
  ce/customer-service/oc-view-ai-suggested-cases-articles.md
Owners: @shubhadaj

updated with duplicate model and train from past
  ce/sales/configure-predictive-lead-scoring.md
  ce/sales/configure-predictive-opportunity-scoring.md
  ce/sales/media/si-admin-predictive-lead-scoring-add-model-page.png
  ce/sales/media/si-admin-predictive-lead-scoring-duplicate-model-create-model-message.png
  ce/sales/media/si-admin-predictive-lead-scoring-duplicate-model-published-model-message.png
  ce/sales/media/si-admin-predictive-opportunity-scoring-add-model-page.png
  ce/sales/media/si-admin-predictive-opportunity-scoring-duplicate-model-create-model-message.png
  ce/sales/media/si-admin-predictive-opportunity-scoring-duplicate-model-published-model-message.png
Owners: none

edits
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

edited links
  ce/customer-service/voice-channel-bring-your-own-number.md
  ce/customer-service/voice-channel-contextual-transfer-external-ivr.md
Owners: @shubhadaj

links
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
  ce/customer-service/voice-channel-manage-phone-numbers.md
Owners: @shubhadaj

links
  ce/customer-service/voice-channel-bring-your-own-number.md
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
  ce/customer-service/voice-channel-manage-phone-numbers.md
  ce/customer-service/voice-channel-outbound-calling.md
Owners: @shubhadaj

PR comments incorporated
  ce/customer-service/auto-close-conversation.md
  ce/customer-service/create-workstreams.md
  ce/customer-service/oc-conversation-state.md
Owners: @shubhadaj

links
  ce/customer-service/voice-channel-agent-experience.md
  ce/customer-service/voice-channel-bring-your-own-number.md
  ce/customer-service/voice-channel-outbound-calling.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-bring-your-own-number.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

For 2026556
  ce/customer-service/media/image33.png
  ce/customer-service/media/image63.png
  ce/customer-service/media/image64.png
  ce/customer-service/media/image65.png
  ce/customer-service/media/image69.png
  ce/customer-service/voice-channel-ivr-bots.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

Interim
  ce/customer-service/system-requirements-omnichannel.md
  ce/customer-service/voice-channel-ivr-bots.md
  ce/customer-service/voice-channel-requirements.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-bring-your-own-number.md
  ce/customer-service/voice-channel-contextual-transfer-external-ivr.md
Owners: @shubhadaj

edit
  ce/customer-service/voice-channel-contextual-transfer-external-ivr.md
Owners: @shubhadaj

edit
  ce/customer-service/voice-channel-contextual-transfer-external-ivr.md
Owners: @shubhadaj

edit
  ce/customer-service/voice-channel-contextual-transfer-external-ivr.md
Owners: @shubhadaj

edit
  ce/customer-service/voice-channel-bring-your-own-number.md
Owners: @shubhadaj

edit
  ce/customer-service/voice-channel-bring-your-own-number.md
Owners: @shubhadaj

Update toc.yml
  ce/teams-integration/toc.yml
Owners: none

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update urs-bug-fixes.md
  ce/shared/urs/urs-bug-fixes.md
Owners: none

PR edits
  ce/customer-service/enable-knowledge-search-insights.md
  ce/customer-service/oc-historical-analytics-reports.md
Owners: @shubhadaj

Update mobile-get-help.md
  ce/field-service/mobile-get-help.md
Owners: @shellyhaverkamp

Update configure-default-settings.md
  ce/field-service/configure-default-settings.md
Owners: @shellyhaverkamp

Create logs-session-id.md
  ce/mobile-app/logs-session-id.md
Owners: @mduelae, @KumarVivek

Update logs-session-id.md
  ce/mobile-app/logs-session-id.md
Owners: @mduelae, @KumarVivek

Update logs-session-id.md
  ce/mobile-app/logs-session-id.md
Owners: @mduelae, @KumarVivek

Update logs-session-id.md
  ce/mobile-app/logs-session-id.md
Owners: @mduelae, @KumarVivek

Update logs-session-id.md
  ce/mobile-app/logs-session-id.md
Owners: @mduelae, @KumarVivek

Update logs-session-id.md
  ce/mobile-app/logs-session-id.md
Owners: @mduelae, @KumarVivek

Update logs-session-id.md
  ce/mobile-app/logs-session-id.md
Owners: @mduelae, @KumarVivek

Update troubleshooting-things-know-about-phones-tablets.md
  ce/mobile-app/troubleshooting-things-know-about-phones-tablets.md
Owners: @mduelae, @KumarVivek

Update troubleshooting-things-know-about-phones-tablets.md
  ce/mobile-app/troubleshooting-things-know-about-phones-tablets.md
Owners: @mduelae, @KumarVivek

Update toc.yml
  ce/mobile-app/toc.yml
Owners: @mduelae, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
