Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update configure-default-settings.md
  ce/field-service/configure-default-settings.md
Owners: @shellyhaverkamp

Update configure-default-settings.md
  ce/field-service/configure-default-settings.md
Owners: @shellyhaverkamp

Update cfs-visualizations-iot-hub.md
  ce/field-service/cfs-visualizations-iot-hub.md
Owners: @shellyhaverkamp

Update embed-forms.md
  ce/marketing/embed-forms.md
Owners: @shellyhaverkamp

What's new/known updates
  ce/marketing/known-issues.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update customize-marketing-calendars.md
  ce/marketing/customize-marketing-calendars.md
Owners: @shellyhaverkamp

Update cookies.md
  ce/marketing/cookies.md
Owners: @shellyhaverkamp

Fixed bug
  ce/customerengagement/on-premises/snippets/csharp/CRMV8/productcatalog/cs/calculatepriceplugin.cs
Owners: none

Fixed incorrect DateOnly format
  ce/customerengagement/on-premises/developer/behavior-format-date-time-attribute.md
Owners: none

Update marketing-forms.md
  ce/marketing/marketing-forms.md
Owners: @shellyhaverkamp

no-update
  ce/marketing/marketing-forms.md
  ce/marketing/media/marketing-forms-allow-no-update.png
  ce/marketing/media/marketing-forms-credit-card.png
  ce/marketing/media/marketing-forms-no-update.png
Owners: @shellyhaverkamp

forms update
  ce/marketing/marketing-forms.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Updated with new rules in solution health hub
  ce/omnichannel/administrator/configure-bot.md
  ce/omnichannel/troubleshoot-using-solution-health-hub.md
Owners: none

Metadata correction
  ce/omnichannel/troubleshoot-using-solution-health-hub.md
Owners: none

click to select
  ce/gamification/configure-kpis.md
  ce/gamification/configure-view-tvs.md
  ce/gamification/define-weekly-awards.md
  ce/gamification/frequently-asked-questions.md
  ce/gamification/log-time-off.md
  ce/gamification/manage-fantasy-team.md
  ce/gamification/manage-gamification-in-dynamics-365-online.md
  ce/gamification/personalize-game-experience.md
  ce/gamification/run-games.md
  ce/gamification/schedule-weekly-one-time-emails.md
  ce/gamification/set-up-profile.md
  ce/gamification/sign-in.md
  ce/gamification/smack-talk-post.md
  ce/gamification/update-scores-using-excel-point-scoring.md
  ce/gamification/view-leaderboard.md
Owners: @shellyhaverkamp

Interim check in
  ce/app-profile-manager/overview.md
  ce/app-profile-manager/security-roles.md
Owners: none

Update work-in-offline-mode.md
  ce/mobile-app/work-in-offline-mode.md
Owners: @mduelae, @KumarVivek

Updated ms.date
  ce/sales-professional/create-quote-pdf-sales-professional.md
  ce/sales-professional/enable-pdf-generation-quote-sales-professional.md
Owners: none

Update set-up-dynamics-365-for-phones-and-dynamics-365-for-tablets.md
  ce/mobile-app/set-up-dynamics-365-for-phones-and-dynamics-365-for-tablets.md
Owners: @mduelae, @KumarVivek

Interim
  ce/app-profile-manager/app-profile-manager.md
  ce/app-profile-manager/overview.md
  ce/app-profile-manager/security-roles.md
  ce/customer-service/csw-enable-ai-suggested-cases-knowledge-articles.md
  ce/customer-service/csw-view-ai-suggested-cases-knowledge-articles.md
  ce/omnichannel/agent/agent-oc/oc-view-ai-suggested-cases-articles.md
Owners: @shubhadaj

Update TOC.md
  ce/customer-service/TOC.md
Owners: @shubhadaj

Interim
  ce/omnichannel/agent/agent-oc/oc-view-ai-suggested-cases-articles.md
Owners: none

Update TOC.md
  ce/customer-service/TOC.md
Owners: @shubhadaj

Update TOC.md
  ce/customer-service/TOC.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-overview.md
  ce/customer-service/customer-service-hub-user-guide-email-overview.md
Owners: @shubhadaj

RELEASE HISTORY - VERSION CHANGES EMEA
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update customer-service-hub-user-guide-timeline-overview.md
  ce/customer-service/customer-service-hub-user-guide-timeline-overview.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-overview.md
  ce/customer-service/customer-service-hub-user-guide-email-overview.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-timeline-overview.md
  ce/customer-service/customer-service-hub-user-guide-timeline-overview.md
Owners: @shubhadaj

Update TOC.md
  ce/customer-service/TOC.md
Owners: @shubhadaj

Update TOC.md
  ce/customer-service/TOC.md
Owners: @shubhadaj

Update TOC.md
  ce/customer-service/TOC.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-email-overview.md
  ce/customer-service/customer-service-hub-user-guide-email-overview.md
Owners: @shubhadaj

Create migration.md
  ce/mobile-app/migration.md
Owners: @mduelae, @KumarVivek

Interim
  ce/app-profile-manager/security-roles.md
Owners: none

Add files via upload
  ce/mobile-app/media/powerapps_mobile_app_signin_screen.png
Owners: @mduelae, @KumarVivek

Update migration.md
  ce/mobile-app/migration.md
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/mobile-app/media/filter-menu.png
Owners: @mduelae, @KumarVivek

Update migration.md
  ce/mobile-app/migration.md
Owners: @mduelae, @KumarVivek

Update migration.md
  ce/mobile-app/migration.md
Owners: @mduelae, @KumarVivek
