Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

edit
  ce/customer-service/channel-integration-framework/shared/token-setWidth.md
Owners: @shubhadaj

updated ms.date
  ce/customer-service/channel-integration-framework/reference/microsoft-ciframework/setWidth.md
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/setWidth.md
Owners: @shubhadaj

edit
  ce/customer-service/channel-integration-framework/shared/token-setMode.md
Owners: @shubhadaj

edit
  ce/customer-service/channel-integration-framework/shared/token-setMode.md
Owners: @shubhadaj

GA content updates
  ce/customer-service/integrate-KM-with-PVA.md
Owners: @shubhadaj

Update create-contact.md
  ce/sales/sales-mobile/create-contact.md
Owners: none

Update custom-actions-manual-forecasting.md
  ce/sales/developer/reference/custom-actions-manual-forecasting.md
Owners: none

Updated content for latest changes in feature
  ce/sales/add-additional-filters.md
  ce/sales/filter-users-from-forecast.md
Owners: none

BUG 2500810
  ce/customer-service/configure-facebook-channel.md
Owners: @shubhadaj

edits
  ce/customer-service/configure-facebook-channel.md
Owners: @shubhadaj

Revised per 2562624 to add SQL query examples for on-prem reports
  ce/customerengagement/on-premises/analytics/improve-report-performance-by-using-filters.md
  ce/customerengagement/on-premises/customize/customize-organize-reports.md
Owners: none

Revised per 2562624 to add SQL query examples for on-prem reports
  ce/customerengagement/on-premises/analytics/improve-report-performance-by-using-filters.md
Owners: none

Revised per 2562624 to add SQL query examples for on-prem reports
  ce/customerengagement/on-premises/analytics/improve-report-performance-by-using-filters.md
Owners: none

Revised per 2562624 to add SQL query examples for on-prem reports
  ce/customerengagement/on-premises/analytics/improve-report-performance-by-using-filters.md
Owners: none

Update field-service-customize-scripts.md
  ce/field-service/field-service-customize-scripts.md
Owners: @shellyhaverkamp

Update field-service-customize-scripts.md
  ce/field-service/field-service-customize-scripts.md
Owners: @shellyhaverkamp

Update field-service-customize-scripts.md
  ce/field-service/field-service-customize-scripts.md
Owners: @shellyhaverkamp

Update field-service-customize-scripts.md
  ce/field-service/field-service-customize-scripts.md
Owners: @shellyhaverkamp

Update field-service-customize-scripts.md
  ce/field-service/field-service-customize-scripts.md
Owners: @shellyhaverkamp

Update field-service-customize-scripts.md
  ce/field-service/field-service-customize-scripts.md
Owners: @shellyhaverkamp

Update field-service-customize-scripts.md
  ce/field-service/field-service-customize-scripts.md
Owners: @shellyhaverkamp

fixing formatting / edits
  ce/field-service/mobile-power-app-faq.yml
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

edits
  ce/customer-service/configure-facebook-channel.md
Owners: @shubhadaj

edits
  ce/customer-service/configure-facebook-channel.md
Owners: @shubhadaj

edits
  ce/customer-service/configure-facebook-channel.md
Owners: @shubhadaj

edit
  ce/customer-service/configure-facebook-channel.md
Owners: @shubhadaj

edit
  ce/customer-service/configure-facebook-channel.md
Owners: @shubhadaj

BUG 2500810
  ce/customer-service/configure-facebook-channel.md
Owners: @shubhadaj

updated ms.date
  ce/customer-service/set-up-queues-manage-activities-cases.md
Owners: @shubhadaj

TASK 2504363
  ce/customer-service/channel-integration-framework/reference/microsoft-ciframework/Includes/setWidth-description.md
  ce/customer-service/channel-integration-framework/reference/microsoft-ciframework/setWidth.md
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/Includes/setWidth-description.md
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/setWidth.md
Owners: @shubhadaj

edit
  ce/customer-service/channel-integration-framework/reference/microsoft-ciframework/Includes/setWidth-description.md
  ce/customer-service/channel-integration-framework/v2/reference/microsoft-ciframework/Includes/setWidth-description.md
Owners: @shubhadaj

edits
  ce/customer-service/queues-omnichannel.md
  ce/customer-service/set-up-queues-manage-activities-cases.md
Owners: @shubhadaj

further content updates
  ce/customer-service/integrate-KM-with-PVA.md
  ce/customer-service/media/con-ref-notification.png
  ce/customer-service/media/con-ref.png
  ce/customer-service/media/final_search_ka_dialog.png
  ce/customer-service/media/ka_art_on.png
  ce/customer-service/media/mesg_node.png
  ce/customer-service/media/question_node.png
  ce/customer-service/media/search_ka_flow.png
Owners: @shubhadaj

updates
  ce/customer-service/integrate-KM-with-PVA.md
Owners: @shubhadaj

Updates
  ce/customer-service/csw-search-knowledge-articles.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Update customer-insights-segments.md
  ce/marketing/customer-insights-segments.md
Owners: @shellyhaverkamp

Update toc.yml
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

edit for task 12623
  ce/sales/add-additional-filters.md
Owners: none

Update mobile-power-app-faq.yml
  ce/field-service/mobile-power-app-faq.yml
Owners: @shellyhaverkamp

edit for task 12625
  ce/sales/digital-selling.md
Owners: none

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
