Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Update TOC.md
  ce/outlook-app/TOC.md
Owners: @mduelae, @KumarVivek

Update TOC.md
  ce/outlook-app/TOC.md
Owners: @mduelae, @KumarVivek

edit for task 2261235
  ce/field-service/mobile-power-app-get-started.md
Owners: @shellyhaverkamp

Update enable-delegate-access.md
  ce/outlook-app/enable-delegate-access.md
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/maker-form-tab.png
  ce/outlook-app/media/maker-outlook-contact-card.png
Owners: @mduelae, @KumarVivek

Update customize-the-track-regarding-card.md
  ce/outlook-app/customize-the-track-regarding-card.md
Owners: @mduelae, @KumarVivek

Update mobile-power-app-get-started.md
  ce/field-service/mobile-power-app-get-started.md
Owners: @shellyhaverkamp

Update slt-dynamics365-mobile-ios.md
  ce/legal/slt-dynamics365-mobile-ios.md
Owners: none

Add files via upload
  ce/outlook-app/media/maker-edit-contact-form.png
  ce/outlook-app/media/maker-publish-customizations.png
Owners: @mduelae, @KumarVivek

Update customize-the-track-regarding-card.md
  ce/outlook-app/customize-the-track-regarding-card.md
Owners: @mduelae, @KumarVivek

Update customize-the-track-regarding-card.md
  ce/outlook-app/customize-the-track-regarding-card.md
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/after-cust.png
  ce/outlook-app/media/before-cust.png
Owners: @mduelae, @KumarVivek

Update customize-the-track-regarding-card.md
  ce/outlook-app/customize-the-track-regarding-card.md
Owners: @mduelae, @KumarVivek

Update customize-the-track-regarding-card.md
  ce/outlook-app/customize-the-track-regarding-card.md
Owners: @mduelae, @KumarVivek

Delete before-cust.png
  ce/outlook-app/media/before-cust.png
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/before-cust.png
Owners: @mduelae, @KumarVivek

Delete after-cust.png
  ce/outlook-app/media/after-cust.png
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/after-cust.png
Owners: @mduelae, @KumarVivek

Update real-time-marketing-known-issues.md
  ce/marketing/real-time-marketing-known-issues.md
Owners: @shellyhaverkamp

Delete real-time-marketing-ci-profile-cart-event2.png
  ce/marketing/media/real-time-marketing-ci-profile-cart-event2.png
Owners: @shellyhaverkamp

Update customize-the-track-regarding-card.md
  ce/outlook-app/customize-the-track-regarding-card.md
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/sample-contact-card-columns.png
Owners: @mduelae, @KumarVivek

Update customize-the-track-regarding-card.md
  ce/outlook-app/customize-the-track-regarding-card.md
Owners: @mduelae, @KumarVivek

Update customize-the-track-regarding-card.md
  ce/outlook-app/customize-the-track-regarding-card.md
Owners: @mduelae, @KumarVivek

Update customize-the-track-regarding-card.md
  ce/outlook-app/customize-the-track-regarding-card.md
Owners: @mduelae, @KumarVivek

Update customize-the-track-regarding-card.md
  ce/outlook-app/customize-the-track-regarding-card.md
Owners: @mduelae, @KumarVivek

Update customize-the-track-regarding-card.md
  ce/outlook-app/customize-the-track-regarding-card.md
Owners: @mduelae, @KumarVivek

Developer
  ce/marketing/real-time-marketing-developer-push.md
  ce/marketing/real-time-marketing-overview.yml
  ce/marketing/real-time-marketing-push-notifications.md
  ce/marketing/toc.md
Owners: @shellyhaverkamp

images added
  ce/marketing/media/real-time-marketing-asset-library-full.png
  ce/marketing/media/real-time-marketing-asset-library2.png
  ce/marketing/media/real-time-marketing-email-editor.png
  ce/marketing/media/real-time-marketing-image-suggestions.png
  ce/marketing/real-time-marketing-asset-library.md
  ce/marketing/real-time-marketing-email.md
Owners: @shellyhaverkamp

Location updates
  ce/marketing/real-time-marketing-asset-library.md
  ce/marketing/real-time-marketing-email.md
Owners: @shellyhaverkamp

TOC update
  ce/marketing/real-time-marketing-overview.yml
  ce/marketing/toc.md
Owners: @shellyhaverkamp

Replace screens
  ce/marketing/media/real-time-marketing-push-editor.png
  ce/marketing/media/real-time-marketing-push-editor2.png
  ce/marketing/media/real-time-marketing-text-editor.png
  ce/marketing/media/real-time-marketing-text-editor2.png
  ce/marketing/real-time-marketing-outbound-text-messaging.md
  ce/marketing/real-time-marketing-push-notifications.md
Owners: @shellyhaverkamp

Update real-time-marketing-segments.md
  ce/marketing/real-time-marketing-segments.md
Owners: @shellyhaverkamp

Delete real-time-marketing-segments.png
  ce/marketing/media/real-time-marketing-segments.png
Owners: @shellyhaverkamp

Update real-time-marketing-segments.md
  ce/marketing/real-time-marketing-segments.md
Owners: @shellyhaverkamp

Fix images
  ce/marketing/media/real-time-marketing-email-text-consent.png
  ce/marketing/media/real-time-marketing-email-text-consent2.png
  ce/marketing/media/real-time-marketing-message-designation.png
  ce/marketing/media/real-time-marketing-message-designation2.png
  ce/marketing/real-time-marketing-email-text-consent.md
Owners: @shellyhaverkamp

Update real-time-marketing-overview.yml
  ce/marketing/real-time-marketing-overview.yml
Owners: @shellyhaverkamp

Update real-time-marketing-overview.yml
  ce/marketing/real-time-marketing-overview.yml
Owners: @shellyhaverkamp

Additional TRI
  ce/customer-service/set-up-record-routing.md
Owners: @shubhadaj

incorporated feedback comments
  ce/customer-service/csw-enable-ai-suggested-cases-knowledge-articles.md
  ce/customer-service/csw-faqs-ai-suggestions.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
