Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update set-up-booking-rules.md
  ce/field-service/set-up-booking-rules.md
Owners: @shellyhaverkamp

Update configure-set-up-customer-assets.md
  ce/field-service/configure-set-up-customer-assets.md
Owners: @shellyhaverkamp

Update add-chat-widget.md
  ce/customer-service/add-chat-widget.md
Owners: @shubhadaj

edits + alt text
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

Update set-up-dynamics-365-for-phones-and-dynamics-365-for-tablets.md
  ce/mobile-app/set-up-dynamics-365-for-phones-and-dynamics-365-for-tablets.md
Owners: @mduelae, @KumarVivek

Update dynamics-365-phones-tablets-users-guide-onprem.md
  ce/customerengagement/on-premises/basics/dynamics-365-phones-tablets-users-guide-onprem.md
Owners: none

Update dynamics-365-phones-tablets-users-guide-onprem.md
  ce/customerengagement/on-premises/basics/dynamics-365-phones-tablets-users-guide-onprem.md
Owners: none

Update work-in-offline-mode.md
  ce/mobile-app/work-in-offline-mode.md
Owners: @mduelae, @KumarVivek

Update mobile-power-app-system-offline.md
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

Update overview.md
  ce/field-service/overview.md
Owners: @shellyhaverkamp

Update mobile-powerapp-reporting.md
  ce/field-service/mobile-powerapp-reporting.md
Owners: @shellyhaverkamp

daveRAIntegrationUpdate
  ce/field-service/media/mobile-power-download-signin.png
  ce/field-service/overview.md
  ce/field-service/remote-assist-hololens.md
Owners: @shellyhaverkamp

daveRaIntegrationUpdate
  ce/field-service/media/remote-assist-booking-deeplink.png
  ce/field-service/remote-assist-hololens.md
Owners: @shellyhaverkamp

Update dynamics-365-phones-tablets-users-guide-onprem.md
  ce/customerengagement/on-premises/basics/dynamics-365-phones-tablets-users-guide-onprem.md
Owners: none

Update dynamics-365-phones-tablets-users-guide-onprem.md
  ce/customerengagement/on-premises/basics/dynamics-365-phones-tablets-users-guide-onprem.md
Owners: none

Update user-guide-mobile-app.md
  ce/mobile-app/user-guide-mobile-app.md
Owners: @mduelae, @KumarVivek

Update work-in-offline-mode.md
  ce/mobile-app/work-in-offline-mode.md
Owners: @mduelae, @KumarVivek

Update work-in-offline-mode.md
  ce/mobile-app/work-in-offline-mode.md
Owners: @mduelae, @KumarVivek

Update work-in-offline-mode.md
  ce/mobile-app/work-in-offline-mode.md
Owners: @mduelae, @KumarVivek

Update mobile-2020-work-order-service-notes-new.jpg
  ce/field-service/media/mobile-2020-work-order-service-notes-new.jpg
Owners: @shellyhaverkamp

Delete mobile_offline_download_updates_complete_updated.png
  ce/mobile-app/media/mobile_offline_download_updates_complete_updated.png
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/mobile-app/media/mobile_offline_download_updates_complete_updated.png
Owners: @mduelae, @KumarVivek

Delete mobile_offline_download_updates_complete_updated.png
  ce/mobile-app/media/mobile_offline_download_updates_complete_updated.png
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/mobile-app/media/mobile_offline_download_updates_complete_updated.png
Owners: @mduelae, @KumarVivek

Delete mobile_offline_download_updates_complete_updated.png
  ce/mobile-app/media/mobile_offline_download_updates_complete_updated.png
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/mobile-app/media/mobile_offline_download_updates_complete_updated.png
Owners: @mduelae, @KumarVivek

Update work-in-offline-mode.md
  ce/mobile-app/work-in-offline-mode.md
Owners: @mduelae, @KumarVivek

Delete wpsignin-1.png
  ce/mobile-app/media/wpsignin-1.png
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/mobile-app/media/wpsignin-1.png
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/mobile-app/media/gear-icon-1.png
Owners: @mduelae, @KumarVivek

Update windows-mobile-app.md
  ce/mobile-app/windows-mobile-app.md
Owners: @mduelae, @KumarVivek

Update windows-mobile-app.md
  ce/mobile-app/windows-mobile-app.md
Owners: @mduelae, @KumarVivek

Update work-in-offline-mode.md
  ce/mobile-app/work-in-offline-mode.md
Owners: @mduelae, @KumarVivek

Update work-in-offline-mode.md
  ce/mobile-app/work-in-offline-mode.md
Owners: @mduelae, @KumarVivek

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update view-user-accounts-security-roles.md
  ce/field-service/view-user-accounts-security-roles.md
Owners: @shellyhaverkamp

Update view-user-accounts-security-roles.md
  ce/field-service/view-user-accounts-security-roles.md
Owners: @shellyhaverkamp

added a point
  ce/customer-service/availability-customer-service-hub.md
Owners: @shubhadaj

updated link
  ce/customer-service/availability-customer-service-hub.md
Owners: @shubhadaj

updated
  ce/customer-service/cs-iot-overview.md
Owners: @shubhadaj
