Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update mobile-power-app-use.md
  ce/field-service/mobile-power-app-use.md
Owners: @shellyhaverkamp

Update FS FAQs for min duration of a booking
  ce/field-service/troubleshoot-faq.yml
Owners: @shellyhaverkamp

Edits to application-tab-templates.md
  ce/app-profile-manager/application-tab-templates.md
Owners: none

Update real-time-marketing-image-suggestions.png
  ce/marketing/media/real-time-marketing-image-suggestions.png
Owners: @shellyhaverkamp

Update troubleshoot-faq.yml
  ce/field-service/troubleshoot-faq.yml
Owners: @shellyhaverkamp

updated description
  ce/unified-service-desk/oc-usd/search-record.md
Owners: @shubhadaj

Update choose-layout-and-columns-forecast.md
  ce/sales-enterprise/choose-layout-and-columns-forecast.md
Owners: @shubhadaj

updated desc
  ce/customer-service/international-availability.md
Owners: @shubhadaj

update
  ce/sales-enterprise/activity-kanban-view.md
  ce/sales-enterprise/add-activity-campaign-using-app-marketing-sales.md
  ce/sales-enterprise/add-kanban-control.md
  ce/sales-enterprise/add-products-enhanced-experience.md
  ce/sales-enterprise/add-products-opportunity.md
  ce/sales-enterprise/admin-guide.md
  ce/sales-enterprise/create-edit-campaign-using-app-marketing-sales.md
  ce/sales-enterprise/create-edit-order-sales.md
  ce/sales-enterprise/create-quote-pdf.md
  ce/sales-enterprise/define-lead-qualification-experience.md
  ce/sales-enterprise/enable-enhanced-add-product-experience.md
  ce/sales-enterprise/enable-pdf-generation-quote.md
  ce/sales-enterprise/enhanced-email.md
  ce/sales-enterprise/faqs-sales.md
  ce/sales-professional/activity-kanban-view-sp.md
  ce/sales-professional/add-activity-campaign-using-app-marketing-sp.md
  ce/sales-professional/add-products-enhanced-experience-sp.md
  ce/sales-professional/add-products-opportunity-sp.md
  ce/sales-professional/admin-guide.md
  ce/sales-professional/admin-settings-overview.md
  ce/sales-professional/configure-email.md
  ce/sales-professional/create-edit-campaign-using-app-marketing-sp.md
  ce/sales-professional/create-invoices.md
  ce/sales-professional/create-orders-sp.md
  ce/sales-professional/create-quick-campaign-using-app-marketing-sp.md
  ce/sales-professional/create-quote-pdf-sales-professional.md
  ce/sales-professional/create-quotes-sales-professional.md
  ce/sales-professional/customize-business-process-flows.md
  ce/sales-professional/customize-forms.md
  ce/sales-professional/define-lead-qualification-experience-sp.md
  ce/sales-professional/enable-automatic-generation-quotes-invoices.md
  ce/sales-professional/enable-enhanced-add-product-experience-sp.md
  ce/sales-professional/enable-opportunity-close-customization-sales-professional.md
  ce/sales-professional/enable-pdf-generation-quote-sales-professional.md
  ce/sales-professional/enhanced-email-sp.md
Owners: @shubhadaj

Fixed build issues
  ce/sales-enterprise/choose-layout-and-columns-forecast.md
  ce/sales-enterprise/configure-sales-template-apps.md
  ce/sales-enterprise/customize-template-apps.md
  ce/sales-enterprise/developer/custom-plugin-handling-shared-variable.md
  ce/sales-enterprise/developer/developer-guide.md
  ce/sales-enterprise/developer/enable-sales-order-processing-integration.md
  ce/sales-enterprise/developer/exportpdf-api.md
  ce/sales-enterprise/developer/reference/custom-actions-manual-forecasting.md
  ce/sales-enterprise/developer/reference/custom-actions/deleteoqoilinewithskippricingcalculation.md
  ce/sales-enterprise/developer/reference/custom-actions/msdyn_ForecastApi.md
  ce/sales-enterprise/developer/reference/playbook-entity-reference.md
  ce/sales-enterprise/developer/reference/playbooks-entities/msdyn_callablecontext.md
  ce/sales-enterprise/developer/reference/playbooks-entities/msdyn_playbookactivity.md
  ce/sales-enterprise/developer/reference/playbooks-entities/msdyn_playbookactivityattribute.md
  ce/sales-enterprise/developer/reference/playbooks-entities/msdyn_playbookcategory.md
  ce/sales-enterprise/developer/reference/playbooks-entities/msdyn_playbookinstance.md
  ce/sales-enterprise/developer/reference/playbooks-entities/msdyn_playbooktemplate.md
  ce/sales-enterprise/developer/reference/recalculateprice-action.md
Owners: @shubhadaj

seo task updates
  ce/unified-service-desk/acccontrol-tag.md
  ce/unified-service-desk/import-hosted-application-from-unified-service-desk.md
  ce/unified-service-desk/input-element.md
  ce/unified-service-desk/integrate-citrix-applications.md
  ce/unified-service-desk/integrate-cti-systems-cti-adapters.md
  ce/unified-service-desk/integrate-external-applications-web-applications.md
  ce/unified-service-desk/interactive-service-hub-page-hosted-control.md
  ce/unified-service-desk/jacc-control-tag.md
  ce/unified-service-desk/jacc-selector-tag.md
  ce/unified-service-desk/jacc-tree-tag.md
  ce/unified-service-desk/java-dda-events.md
  ce/unified-service-desk/keyboard-shortcuts-panels.md
  ce/unified-service-desk/listener-hosted-control-hosted-control.md
  ce/unified-service-desk/manage-hosted-controls-actions-events.md
  ce/unified-service-desk/move-hosted-controls-between-panels-runtime.md
Owners: @shubhadaj

titles shortened
  ce/sales-enterprise/activity-kanban-view.md
  ce/sales-enterprise/add-activity-campaign-using-app-marketing-sales.md
  ce/sales-enterprise/add-kanban-control.md
  ce/sales-enterprise/add-products-enhanced-experience.md
  ce/sales-enterprise/enable-pdf-generation-quote.md
  ce/sales-professional/add-activity-campaign-using-app-marketing-sp.md
  ce/sales-professional/admin-guide.md
  ce/sales-professional/create-edit-campaign-using-app-marketing-sp.md
  ce/sales-professional/create-quick-campaign-using-app-marketing-sp.md
  ce/sales-professional/enable-automatic-generation-quotes-invoices.md
  ce/sales-professional/enable-pdf-generation-quote-sales-professional.md
Owners: @shubhadaj

seo updates
  ce/unified-service-desk/next-tag-javadda.md
  ce/unified-service-desk/next-tag-windda.md
  ce/unified-service-desk/nextrole-tag.md
  ce/unified-service-desk/panel-layout-hosted-control.md
  ce/unified-service-desk/panels-panel-types-panel-layouts.md
  ce/unified-service-desk/popup-notification-hosted-control.md
  ce/unified-service-desk/register-and-unregister-action-for-event.md
Owners: @shubhadaj

seo updates
  ce/unified-service-desk/release-history.md
  ce/unified-service-desk/release-notes.md
  ce/unified-service-desk/replacement-parameters.md
  ce/unified-service-desk/reuse-entity-search-definition-custom-code.md
  ce/unified-service-desk/toolbars-unified-service-desk.md
Owners: @shubhadaj

added desc
  ce/sales-enterprise/developer/exportpdf-api.md
  ce/sales-enterprise/developer/reference/custom-actions/deleteoqoilinewithskippricingcalculation.md
Owners: @shubhadaj

seo task updates
  ce/unified-service-desk/sample-bindings.md
  ce/unified-service-desk/search-data-entity-searches.md
  ce/unified-service-desk/search-path-elements.md
  ce/unified-service-desk/search-path-node-tag.md
  ce/unified-service-desk/select-element.md
  ce/unified-service-desk/select-hosting-method-controls.md
  ce/unified-service-desk/session-lines-hosted-control.md
  ce/unified-service-desk/session-management-unified-service-desk.md
  ce/unified-service-desk/session-tabs-hosted-control.md
  ce/unified-service-desk/session-timer-custom-hosted-control.md
  ce/unified-service-desk/set-up-use-unified-service-desk-customer-service.md
  ce/unified-service-desk/standard-web-application-hosted-control.md
  ce/unified-service-desk/ui-automation-inspector.md
  ce/unified-service-desk/uia-extensibility.md
  ce/unified-service-desk/uia-pattern-list.md
  ce/unified-service-desk/uia-property-list.md
  ce/unified-service-desk/uii-adapters.md
  ce/unified-service-desk/uii-computer-telephony-integration-cti-framework.md
  ce/unified-service-desk/uii-hosted-applications.md
  ce/unified-service-desk/understand-unified-service-desk-concepts.md
  ce/unified-service-desk/unified-interface-km-control-hosted-control.md
Owners: @shubhadaj

seo updates
  ce/unified-service-desk/admin/Support-unified-interfaces-apps-usd.md
  ce/unified-service-desk/admin/analyze-best-practices-unified-service-desk.md
  ce/unified-service-desk/admin/comply-unified-service-desk-data-gdpr.md
  ce/unified-service-desk/admin/configure-client-diagnostic-logging-unified-service-desk.md
  ce/unified-service-desk/admin/deploy-sample-unified-service-desk-applications-using-package-deployer.md
  ce/unified-service-desk/admin/distribute-custom-hosted-controls-using-customization-files.md
  ce/unified-service-desk/admin/download-performance-analyzer.md
  ce/unified-service-desk/unified-interface-page-hosted-control.md
  ce/unified-service-desk/unified-service-desk-configuration-walkthroughs.md
  ce/unified-service-desk/unified-service-desk-hosted-controls.md
  ce/unified-service-desk/unified-service-desk.md
  ce/unified-service-desk/usd-hosted-control-hosted-control.md
  ce/unified-service-desk/use-custom-panel-types-panel-layouts-unified-service-desk.md
  ce/unified-service-desk/use-data-driven-adapters-ddas.md
  ce/unified-service-desk/use-debugger-control-unified-service-desk.md
  ce/unified-service-desk/use-dynamics-365-knowledge-effective-customer-engagement.md
  ce/unified-service-desk/use-generic-listener-adapter-unified-service-desk.md
  ce/unified-service-desk/use-hat-software-factory-create-hosted-application.md
  ce/unified-service-desk/use-safedispatcher-custom-hosted-controls-unified-service-desk.md
  ce/unified-service-desk/use-uii-adapters-interact-external-web-applications.md
  ce/unified-service-desk/use-uii-automation-adapter-interact-external-web-applications.md
  ce/unified-service-desk/use-uii-hosted-controls-unified-service-desk.md
  ce/unified-service-desk/use-uii-inspector-create-bindings-hosted-application.md
  ce/unified-service-desk/user-notes-hosted-control.md
  ce/unified-service-desk/view-embedded-help-for-actions-and-events.md
  ce/unified-service-desk/view-predefined-actions-events-hosted-control.md
  ce/unified-service-desk/web-dda.md
  ce/unified-service-desk/web-hosted-application.md
  ce/unified-service-desk/what-s-new-in-unified-service-desk.md
  ce/unified-service-desk/win-dda-events.md
  ce/unified-service-desk/windda.md
Owners: @shubhadaj

seo updates
  ce/unified-service-desk/walkthrough-1-build-a-simple-agent-application.md
  ce/unified-service-desk/walkthrough-2-display-an-external-webpage-in-your-agent-application.md
  ce/unified-service-desk/walkthrough-3-display-microsoft-dynamics-365-records-in-your-agent-application.md
  ce/unified-service-desk/walkthrough-create-uii-wpf-hosted-control.md
  ce/unified-service-desk/walkthrough1-unified-interface-build-a-simple-agent-application.md
  ce/unified-service-desk/walkthrough2-unified-interface-display-an-external-webpage-in-your-agent-application.md
  ce/unified-service-desk/walkthrough3-unified-interface-display-microsoft-dynamics-365-records-in-your-agent-application.md
  ce/unified-service-desk/walkthrough4-unified-interface-display-dynamics-365-record-session-agent-application.md
  ce/unified-service-desk/walkthrough5-unified-interface-display-enhanced-session-information-displaying-session-name-overview-data.md
  ce/unified-service-desk/walkthrough6-unified-interface-configure-debugger-hosted-control-agent-application.md
  ce/unified-service-desk/walkthrough7-unified-interface-configure-agent-scripting-agent-application.md
Owners: @shubhadaj

seo updates
  ce/unified-service-desk/walkthrough-display-dynamics-365-record-session-agent-application.md
  ce/unified-service-desk/walkthrough4-unified-interface-display-dynamics-365-record-session-agent-application.md
Owners: @shubhadaj

Add mdl to uninstall list
  ce/marketing/solution-uninstall-order.md
Owners: @shellyhaverkamp

seo updates
  ce/unified-service-desk/admin/install-upgrade-unified-service-desk-client.md
  ce/unified-service-desk/admin/known-issues-performance-enhancement-CRM-entity-page-loads.md
  ce/unified-service-desk/admin/read-best-practices-analyzer-report.md
  ce/unified-service-desk/admin/troubleshoot-unified-service-desk.md
  ce/unified-service-desk/walkthrough-5-display-enhanced-session-information-displaying-session-name-overview-data.md
  ce/unified-service-desk/walkthrough-8-use-dynamics-365-knowledge-base-within-agent-application.md
  ce/unified-service-desk/walkthrough-configure-agent-scripting-agent-application.md
  ce/unified-service-desk/walkthrough-configure-debugger-hosted-control-agent-application.md
  ce/unified-service-desk/walkthrough-create-custom-hosted-control-for-unified-service-desk.md
  ce/unified-service-desk/walkthrough-create-uii-application-adapter.md
  ce/unified-service-desk/walkthrough-create-uii-web-application-adapter.md
  ce/unified-service-desk/walkthrough-create-uii-wpf-hosted-control.md
  ce/unified-service-desk/walkthrough2-unified-interface-display-an-external-webpage-in-your-agent-application.md
  ce/unified-service-desk/walkthrough3-unified-interface-display-microsoft-dynamics-365-records-in-your-agent-application.md
  ce/unified-service-desk/walkthrough4-unified-interface-display-dynamics-365-record-session-agent-application.md
  ce/unified-service-desk/walkthrough5-unified-interface-display-enhanced-session-information-displaying-session-name-overview-data.md
  ce/unified-service-desk/walkthrough6-unified-interface-configure-debugger-hosted-control-agent-application.md
  ce/unified-service-desk/walkthrough7-unified-interface-configure-agent-scripting-agent-application.md
Owners: @shubhadaj

seo CIF updates
  ce/customer-service/channel-integration-framework/v2/sample-softphone-integration-v2.md
  ce/customer-service/channel-integration-framework/v2/support-multiple-providers.md
  ce/customer-service/channel-integration-framework/v2/templates-overview-cif.md
Owners: @shubhadaj

updated moniker, removed a topic link
  ce/unified-service-desk/admin/manage-options-unified-service-desk.md
Owners: @shubhadaj

minor updates
  ce/unified-service-desk/admin/unified-interface-settings.md
  ce/unified-service-desk/customize-appearance-application.md
  ce/unified-service-desk/uii-adapters.md
  ce/unified-service-desk/walkthrough6-unified-interface-configure-debugger-hosted-control-agent-application.md
Owners: @shubhadaj

RELEASE NOTES UPDATE FOR FIELD SERVICE
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

RELEASE NOTES UPDATES FOR FIELD SERVICE
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

include test
  ce/marketing/trial-faq.md
  ce/marketing/trial-signup.md
  ce/shared/trials/trial-faq-platform.md
Owners: @shellyhaverkamp

FAQ update
  ce/marketing/trial-faq.md
  ce/shared/trials/trial-faq-platform.md
Owners: @shellyhaverkamp

FAQ update
  ce/marketing/known-issues.md
  ce/marketing/setup-troubleshooting.yml
  ce/shared/trials/trial-faq-platform.md
Owners: @shellyhaverkamp

Update known-issues.md
  ce/marketing/known-issues.md
Owners: @shellyhaverkamp

Update universal-resource-scheduling.md
  ce/customer-service/universal-resource-scheduling.md
Owners: @shubhadaj

Update universal-resource-scheduling.md
  ce/customer-service/universal-resource-scheduling.md
Owners: @shubhadaj

Update routing-trigger-automatic.md
  ce/customer-service/routing-trigger-automatic.md
Owners: @shubhadaj

Update routing-trigger.md
  ce/customer-service/routing-trigger.md
Owners: @shubhadaj

Update trigger-routing-non-case-records.md
  ce/customer-service/trigger-routing-non-case-records.md
Owners: @shubhadaj

RELEASE NOTES UPDATES FOR FIELD SERVICE
  ce/field-service/version-history.md
Owners: @shellyhaverkamp
