Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

edits
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

edit
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

typo
  ce/marketing/real-time-marketing-outbound-text-messaging.md
Owners: @shellyhaverkamp

edits
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

Additional updates for voice
  ce/app-profile-manager/notification-templates.md
  ce/app-profile-manager/session-templates.md
  ce/customer-service/create-workstreams.md
  ce/customer-service/toc.yml
  ce/customer-service/voice-channel-route-queues.md
Owners: @shubhadaj

Addressed build errors
  ce/customer-service/voice-channel-route-queues.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

edit
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-outbound-calling.md
Owners: @shubhadaj

edit
  ce/customer-service/voice-channel-outbound-calling.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

Update troubleshoot-field-service-solution-health.md
  ce/field-service/troubleshoot-field-service-solution-health.md
Owners: @shellyhaverkamp

Update troubleshoot-field-service-solution-health.md
  ce/field-service/troubleshoot-field-service-solution-health.md
Owners: @shellyhaverkamp

Update troubleshoot-field-service-solution-health.md
  ce/field-service/troubleshoot-field-service-solution-health.md
Owners: @shellyhaverkamp

Update field-service-portal-homepage.md
  ce/field-service/field-service-portal-homepage.md
Owners: @shellyhaverkamp

Update assets-functional-location.md
  ce/field-service/assets-functional-location.md
Owners: @shellyhaverkamp

RELEASE NOTES UPDATES
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Updated title and TOC entry
  ce/customer-service/assignment-methods.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

toc entry corrected
  ce/customer-service/toc.yml
Owners: @shubhadaj

edit
  ce/customer-service/voice-channel-outbound-calling.md
Owners: @shubhadaj

edit
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

edits
  ce/customer-service/configure-bot.md
  ce/customer-service/voice-channel-agent-experience.md
Owners: @shubhadaj

Copy edit comments incorporation
  ce/customer-service/auto-close-conversation.md
  ce/customer-service/configure-reconnect-chat.md
  ce/customer-service/create-workstreams.md
Owners: @shubhadaj

fixed ToC entry for goal setting
  ce/sales/toc.yml
Owners: none

updated ToC
  ce/customer-service/toc.yml
  ce/customer-service/voice-channel-agent-experience.md
Owners: @shubhadaj

edit
  ce/customer-service/toc.yml
Owners: @shubhadaj

edits
  ce/customer-service/configure-bot.md
  ce/customer-service/voice-channel-multi-language-contact-center.md
  ce/customer-service/voice-channel-route-queues.md
  ce/customer-service/voice-channel-survey.md
  ce/customer-service/voice-consult-microsoft-teams-user.md
Owners: @shubhadaj

ms.date changes to entity ref docs
  ce/customer-service/developer/reference/entities/msdyn_ocrecording.md
  ce/customer-service/developer/reference/entities/msdyn_overflowactionconfig.md
  ce/customer-service/developer/reference/entities/overview-entity-ref.md
  ce/customer-service/developer/reference/entities/queue.md
Owners: @shubhadaj

edits
  ce/customer-service/toc.yml
  ce/customer-service/voice-channel-bring-your-own-number.md
  ce/customer-service/voice-channel-contextual-transfer-external-ivr.md
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
  ce/customer-service/voice-channel-manage-phone-numbers.md
  ce/customer-service/voice-channel-outbound-calling.md
Owners: @shubhadaj

See also updates
  ce/customer-service/customize-chat-widget.md
  ce/customer-service/developer/reference/events/lcw-chatQueued.md
  ce/customer-service/developer/reference/events/lcw-chatRetrieved.md
  ce/customer-service/developer/reference/events/lcw-error.md
  ce/customer-service/developer/reference/events/lcw-onclose.md
  ce/customer-service/developer/reference/events/lcw-onmaximize.md
  ce/customer-service/developer/reference/events/lcw-onmessagereceived.md
  ce/customer-service/developer/reference/events/lcw-onmessagesent.md
  ce/customer-service/developer/reference/events/lcw-onminimize.md
  ce/customer-service/developer/reference/events/lcw-ready.md
  ce/customer-service/developer/reference/events/lcw-startchat.md
  ce/customer-service/developer/reference/events/lcw-threadUpdate.md
Owners: @shubhadaj

Publish readiness
  ce/customer-service/configure-bot.md
  ce/customer-service/voice-channel-block-number.md
  ce/customer-service/voice-channel-configure-transcripts.md
  ce/customer-service/voice-channel-monitor-calls.md
  ce/customer-service/voice-channel-outbound-calling.md
  ce/customer-service/voice-channel-region-availability.md
  ce/customer-service/voice-channel-survey.md
  ce/customer-service/voice-channel-usage.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

Update assets-functional-location.md
  ce/field-service/assets-functional-location.md
Owners: @shellyhaverkamp

Update field-service-portal-homepage.md
  ce/field-service/field-service-portal-homepage.md
Owners: @shellyhaverkamp

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
