Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Update teams-basic-vs-enhanced-collaboration.md
  ce/teams-integration/teams-basic-vs-enhanced-collaboration.md
Owners: none

Update teams-collaboration.md
  ce/teams-integration/teams-collaboration.md
Owners: none

Update teams-collaboration-enhanced-experience.md
  ce/teams-integration/teams-collaboration-enhanced-experience.md
Owners: none

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update teams-personal-use.md
  ce/teams-integration/teams-personal-use.md
Owners: none

Update teams-troubleshoot.md
  ce/teams-integration/teams-troubleshoot.md
Owners: none

Update teams-delete-data.md
  ce/teams-integration/teams-delete-data.md
Owners: none

Update sync-linkedin-leads.md
  ce/linkedin/sync-linkedin-leads.md
Owners: @shellyhaverkamp

Update Configure-matching-strategy.md
  ce/linkedin/Configure-matching-strategy.md
Owners: @shellyhaverkamp

Update Connect-Dynamics-365-LinkedIn.md
  ce/linkedin/Connect-Dynamics-365-LinkedIn.md
Owners: @shellyhaverkamp

Update review-leads.md
  ce/linkedin/review-leads.md
Owners: @shellyhaverkamp

Update integrate-sales-navigator.md
  ce/linkedin/integrate-sales-navigator.md
Owners: @shellyhaverkamp

Update install-sales-navigator.md
  ce/linkedin/install-sales-navigator.md
Owners: @shellyhaverkamp

Update disable-sales-navigator.md
  ce/linkedin/disable-sales-navigator.md
Owners: @shellyhaverkamp

Update uninstall-sales-navigator.md
  ce/linkedin/uninstall-sales-navigator.md
Owners: @shellyhaverkamp

Update see-profile-pictures.md
  ce/linkedin/see-profile-pictures.md
Owners: @shellyhaverkamp

Update data-validation.md
  ce/linkedin/data-validation.md
Owners: @shellyhaverkamp

Update add-sales-navigator-controls-forms.md
  ce/linkedin/add-sales-navigator-controls-forms.md
Owners: @shellyhaverkamp

Update view-sales-navigator-forms.md
  ce/linkedin/view-sales-navigator-forms.md
Owners: @shellyhaverkamp

Update ts-linkedin-integration.md
  ce/linkedin/ts-linkedin-integration.md
Owners: @shellyhaverkamp

Update faqs-linkedin.md
  ce/linkedin/faqs-linkedin.md
Owners: @shellyhaverkamp

Fixed the note for Omnichannel connector
  ce/app-profile-manager/macros.md
Owners: none

edits, file rename, toc update
  ce/customer-service/persona-privilege-mapping.md
  ce/customer-service/role-persona-mapping.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

updates
  ce/customer-service/persona-privilege-mapping.md
Owners: @shubhadaj

edits
  ce/customer-service/persona-privilege-mapping.md
Owners: @shubhadaj

Update enable-knowledge-article-search-filters.md
  ce/customer-service/enable-knowledge-article-search-filters.md
Owners: @shubhadaj

ADO 2414547
  .openpublishing.redirection.json
Owners: none

updates for bug 2405938
  ce/customer-service/add-knowledge-base-search-control-forms.md
Owners: @shubhadaj

edits
  ce/customer-service/persona-privilege-mapping.md
Owners: @shubhadaj

Added info for Karthik's comment
  ce/customer-service/enable-knowledge-article-search-filters.md
Owners: @shubhadaj

edits
  ce/customer-service/persona-privilege-mapping.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

edits
  ce/customer-service/role-persona-mapping.md
Owners: @shubhadaj

edits
  ce/customer-service/persona-privilege-mapping.md
  ce/customer-service/role-persona-mapping.md
Owners: @shubhadaj

Updated KM images for CSH
  ce/customer-service/csw-search-knowledge-articles.md
  ce/customer-service/media/csw-link-unlink-km.png
  ce/customer-service/media/kb-independent-search.png
  ce/customer-service/media/km-filter1.png
  ce/customer-service/media/km-sort.png
  ce/customer-service/media/knowledge-base-search-details.png
  ce/customer-service/media/knowledge-base-search-popout.png
  ce/customer-service/media/search-kb-article.png
  ce/customer-service/media/search-related-article.PNG
  ce/customer-service/search-knowledge-articles-csh.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

updated info about rollup frequency
  ce/customerengagement/on-premises/admin/system-settings-dialog-box-goals-tab.md
  ce/sales-enterprise/create-edit-goal-rollup-query-sales.md
Owners: @shubhadaj

edits
  ce/customer-service/persona-privilege-mapping.md
Owners: @shubhadaj

Delete cola-new-experience.md
  ce/sales-enterprise/cola-new-experience.md
Owners: @shubhadaj

edits
  ce/customer-service/persona-privilege-mapping.md
Owners: @shubhadaj

Updated topic
  ce/sales-enterprise/create-edit-goal-rollup-query-sales.md
Owners: @shubhadaj

date format change
  ce/customer-service/enable-knowledge-article-search-filters.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
