Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Update sensitivity-labels.md
  ce/teams-integration/sensitivity-labels.md
Owners: none

Update sensitivity-labels.md
  ce/teams-integration/sensitivity-labels.md
Owners: none

Update sensitivity-labels.md
  ce/teams-integration/sensitivity-labels.md
Owners: none

For 2260398
  ce/customer-service/create-rules-automatically-route-cases.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

Update quick-scheduling.md
  ce/shared/urs/quick-scheduling.md
Owners: none

Update sensitivity-labels.md
  ce/teams-integration/sensitivity-labels.md
Owners: none

Update real-time-marketing-analytics.md
  ce/marketing/real-time-marketing-analytics.md
Owners: @shellyhaverkamp

Update real-time-marketing-tile-reference.md
  ce/marketing/real-time-marketing-tile-reference.md
Owners: @shellyhaverkamp

Update real-time-marketing-asset-library.md
  ce/marketing/real-time-marketing-asset-library.md
Owners: @shellyhaverkamp

Update field-service-work-hours-calendar-api.md
  ce/field-service/field-service-work-hours-calendar-api.md
Owners: @shellyhaverkamp

Update overview.md
  ce/marketing/overview.md
Owners: @shellyhaverkamp

Update real-time-marketing-compliance-settings.md
  ce/marketing/real-time-marketing-compliance-settings.md
Owners: @shellyhaverkamp

Update real-time-marketing-known-issues.md
  ce/marketing/real-time-marketing-known-issues.md
Owners: @shellyhaverkamp

Update field-service-work-hours-calendar-api.md
  ce/field-service/field-service-work-hours-calendar-api.md
Owners: @shellyhaverkamp

Update field-service-work-hours-calendar-api.md
  ce/field-service/field-service-work-hours-calendar-api.md
Owners: @shellyhaverkamp

Update real-time-marketing-email-text-consent.md
  ce/marketing/real-time-marketing-email-text-consent.md
Owners: @shellyhaverkamp

Update real-time-marketing-audience-data.md
  ce/marketing/real-time-marketing-audience-data.md
Owners: @shellyhaverkamp

Update field-service-work-hours-calendar-api.md
  ce/field-service/field-service-work-hours-calendar-api.md
Owners: @shellyhaverkamp

Update field-service-work-hours-calendar-api.md
  ce/field-service/field-service-work-hours-calendar-api.md
Owners: @shellyhaverkamp

Update customer-journeys-create-automated-campaigns.md
  ce/marketing/customer-journeys-create-automated-campaigns.md
Owners: @shellyhaverkamp

Update teams-webinar-follow-up.md
  ce/marketing/teams-webinar-follow-up.md
Owners: @shellyhaverkamp

incorporated review feedback
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

TRI
  ce/customer-service/create-rules-automatically-route-cases.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

Metadata update
  ce/customer-service/define-service-level-agreements.md
Owners: @shubhadaj

MInor edit
  ce/customer-service/define-service-level-agreements.md
Owners: @shubhadaj

corrected grammar inconsistencies
  ce/customer-service/agent-dashboard.md
  ce/customer-service/oc-bot-dashboard.md
  ce/customer-service/oc-conversation-topics-dashboard.md
  ce/customer-service/oc-queue-dashboard.md
Owners: @shubhadaj

review feedback
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

removed reference to preview mode.
  ce/app-profile-manager/smart-assist.md
Owners: none

typo
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

corrected typos
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

updated alt text for images
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

updated link stlyle for feedback
  ce/customer-service/markdown-bring-your-own-channel.md
Owners: @shubhadaj

table edits
  ce/app-profile-manager/application-tab-templates.md
Owners: none

Update checklist-transition-unified-interface.md
  ce/customerengagement/on-premises/admin/checklist-transition-unified-interface.md
Owners: none

updated for review feedback
  ce/app-profile-manager/application-tab-templates.md
Owners: none

Update approaching-unified-interface.md
  ce/customerengagement/on-premises/admin/approaching-unified-interface.md
Owners: none

Update unified-interface-playbook.md
  ce/customerengagement/on-premises/admin/unified-interface-playbook.md
Owners: none

Update unified-interface-playbook.md
  ce/customerengagement/on-premises/admin/unified-interface-playbook.md
Owners: none

Update real-time-marketing-link-tracking-mechanics.md
  ce/marketing/real-time-marketing-link-tracking-mechanics.md
Owners: @shellyhaverkamp

Update manage-marketing-environments.md
  ce/marketing/manage-marketing-environments.md
Owners: @shellyhaverkamp

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
