Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

daveOCVoiceGA-2
  ce/customer-service/toc.yml
  ce/customer-service/voice-channel-block-number.md
  ce/customer-service/voice-channel-inbound-calling.md
  ce/customer-service/voice-channel-music.md
Owners: @shubhadaj

daveOCVoiceGA-2
  ce/customer-service/toc.yml
  ce/customer-service/voice-channel-azure-bot-service.md
Owners: @shubhadaj

Update version-history.md
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

updated for review feedback
  ce/unified-service-desk/admin/download-performance-analyzer.md
  ce/unified-service-desk/channel-integration-framework-hosted-control.md
  ce/unified-service-desk/composite-dda.md
  ce/unified-service-desk/configure-action-hosted-application.md
  ce/unified-service-desk/configure-jaws-screen-reader-support.md
  ce/unified-service-desk/use-data-driven-adapters-ddas.md
  ce/unified-service-desk/view-embedded-help-for-actions-and-events.md
  ce/unified-service-desk/web-dda.md
  ce/unified-service-desk/windda.md
Owners: @shubhadaj

updated alt text
  ce/unified-service-desk/admin/unified-service-desk-dynamics-365-web-client-package.md
  ce/unified-service-desk/admin/walkthrough-configure-best-practices-analyzer.md
Owners: @shubhadaj

daveOCVoiceGA-2
  ce/customer-service/toc.yml
  ce/customer-service/voice-channel-call-customer.md
  ce/customer-service/voice-channel-call-recording-transcripts.md
Owners: @shubhadaj

daveOCVoiceGA-2
  ce/customer-service/toc.yml
  ce/customer-service/voice-channel-monitor-calls.md
Owners: @shubhadaj

daveOCVoiceGA-2
  ce/customer-service/toc.yml
  ce/customer-service/voice-channel-report-analytics.md
Owners: @shubhadaj

daveOCVoiceChannel-2
  ce/customer-service/toc.yml
  ce/customer-service/voice-channel-region-availability.md
Owners: @shubhadaj

daveOCVoiceGA-2
  ce/customer-service/toc.yml
  ce/customer-service/voice-channel-supported-languages.md
Owners: @shubhadaj

daveOCVoiceGA-2
  ce/customer-service/voice-channel-azure-bot-service.md
  ce/customer-service/voice-channel-block-number.md
  ce/customer-service/voice-channel-call-customer.md
  ce/customer-service/voice-channel-call-overflow.md
  ce/customer-service/voice-channel-call-recording-transcripts.md
  ce/customer-service/voice-channel-monitor-calls.md
  ce/customer-service/voice-channel-multi-language-contact-center.md
  ce/customer-service/voice-channel-music.md
  ce/customer-service/voice-channel-outbound-calling.md
  ce/customer-service/voice-channel-survey.md
  ce/customer-service/voice-channel-usage-billing.md
Owners: @shubhadaj

Update toc.yml
  ce/customer-service/toc.yml
Owners: @shubhadaj

update additional notes
  ce/shared/urs/quick-scheduling.md
Owners: none

Adding for more visibility
  ce/customerengagement/on-premises/deploy/deploy-and-operate-dynamics-365-on-premises.md
Owners: none

Adding for more visibility
  ce/customerengagement/on-premises/deploy/deploy-and-operate-dynamics-365-on-premises.md
Owners: none

Adding for more visibility
  ce/customerengagement/on-premises/deploy/deploy-and-operate-dynamics-365-on-premises.md
Owners: none

Adding for more visibility
  ce/customerengagement/on-premises/deploy/deploy-and-operate-dynamics-365-on-premises.md
Owners: none

daveOCVoiceGA-2
  ce/customer-service/voice-channel-agent-experience.md
  ce/customer-service/voice-channel-inbound-calling.md
Owners: @shubhadaj

Update install-field-service.md
  ce/field-service/install-field-service.md
Owners: @shellyhaverkamp

Update voice-channel-inbound-calling.md
  ce/customer-service/voice-channel-inbound-calling.md
Owners: @shubhadaj

Update field-service-version-history-resource-scheduling-optimization.md
  ce/field-service/field-service-version-history-resource-scheduling-optimization.md
Owners: @shellyhaverkamp

Update field-service-version-history-resource-scheduling-optimization.md
  ce/field-service/field-service-version-history-resource-scheduling-optimization.md
Owners: @shellyhaverkamp

Update trial-signup.md
  ce/marketing/trial-signup.md
Owners: @shellyhaverkamp

corrected warnings in topics
  ce/customer-service/channel-integration-framework/channel-integration-framework.md
  ce/customer-service/channel-integration-framework/getting-started-simple-widget.md
  ce/customer-service/channel-integration-framework/v2/application-tab-templates-cif.md
Owners: @shubhadaj

corrected description
  ce/customer-service/channel-integration-framework/getting-started-simple-widget.md
Owners: @shubhadaj

Updated intl availability for 2306046
  ce/customer-service/international-availability.md
  ce/customer-service/queues-omnichannel.md
Owners: @shubhadaj

updates to meta title and meta desc
  ce/customer-service/channel-integration-framework/add-cif-solution-dependent-solution.md
  ce/customer-service/channel-integration-framework/architecture-overview-channel-integration-framework.md
  ce/customer-service/channel-integration-framework/authenticate-channel-users.md
  ce/customer-service/channel-integration-framework/choose-between-versions.md
  ce/customer-service/channel-integration-framework/configure-channel-provider-channel-integration-framework.md
  ce/customer-service/channel-integration-framework/enable-outbound-communication-clicktoact.md
  ce/customer-service/channel-integration-framework/get-channel-integration-framework.md
  ce/customer-service/channel-integration-framework/known-issues.md
  ce/customer-service/channel-integration-framework/modes-communication-widget.md
  ce/customer-service/channel-integration-framework/pass-url-widget-library.md
  ce/customer-service/channel-integration-framework/sample-softphone-integration.md
  ce/customer-service/channel-integration-framework/search-open-records-incoming-conversations.md
  ce/customer-service/channel-integration-framework/system-requirements-channel-integration-framework.md
  ce/customer-service/channel-integration-framework/v2/add-cif-solution-dependent-solution.md
  ce/customer-service/channel-integration-framework/v2/application-tab-templates-cif.md
  ce/customer-service/channel-integration-framework/v2/architecture-overview-channel-integration-framework-v2.md
  ce/customer-service/channel-integration-framework/v2/associate-templates-cif.md
  ce/customer-service/channel-integration-framework/v2/authenticate-channel-users.md
  ce/customer-service/channel-integration-framework/v2/configure-channel-provider-app-profile-manager.md
  ce/customer-service/channel-integration-framework/v2/enable-outbound-communication-clicktoact.md
  ce/customer-service/channel-integration-framework/v2/get-channel-integration-framework.md
  ce/customer-service/channel-integration-framework/v2/integration-multi-session-experiences.md
  ce/customer-service/channel-integration-framework/v2/modes-communication-widget.md
  ce/customer-service/channel-integration-framework/v2/pass-url-widget-library.md
  ce/customer-service/channel-integration-framework/v2/sample-softphone-integration-v2.md
  ce/customer-service/channel-integration-framework/v2/system-requirements-channel-integration-framework-v2.md
  ce/customer-service/channel-integration-framework/v2/templates-overview-cif.md
Owners: @shubhadaj

removed unregister term, actvities --> actions
  ce/unified-service-desk/register-and-unregister-action-for-event.md
Owners: @shubhadaj

added Dynamics 365 prefx, rem sp - Microsoft Docs
  ce/customer-service/channel-integration-framework/add-cif-solution-dependent-solution.md
  ce/customer-service/channel-integration-framework/architecture-overview-channel-integration-framework.md
  ce/customer-service/channel-integration-framework/authenticate-channel-users.md
  ce/customer-service/channel-integration-framework/channel-integration-framework.md
  ce/customer-service/channel-integration-framework/choose-between-versions.md
  ce/customer-service/channel-integration-framework/configure-channel-provider-channel-integration-framework.md
  ce/customer-service/channel-integration-framework/enable-outbound-communication-clicktoact.md
  ce/customer-service/channel-integration-framework/faq-channel-integration-framework.md
  ce/customer-service/channel-integration-framework/get-channel-integration-framework.md
  ce/customer-service/channel-integration-framework/getting-started-simple-widget.md
  ce/customer-service/channel-integration-framework/known-issues.md
  ce/customer-service/channel-integration-framework/modes-communication-widget.md
  ce/customer-service/channel-integration-framework/overview-channel-integration-framework.md
  ce/customer-service/channel-integration-framework/pass-url-widget-library.md
  ce/customer-service/channel-integration-framework/sample-softphone-integration.md
  ce/customer-service/channel-integration-framework/search-open-records-incoming-conversations.md
  ce/customer-service/channel-integration-framework/system-requirements-channel-integration-framework.md
  ce/customer-service/channel-integration-framework/v2/add-cif-solution-dependent-solution.md
  ce/customer-service/channel-integration-framework/v2/application-tab-templates-cif.md
  ce/customer-service/channel-integration-framework/v2/architecture-overview-channel-integration-framework-v2.md
  ce/customer-service/channel-integration-framework/v2/associate-templates-cif.md
  ce/customer-service/channel-integration-framework/v2/authenticate-channel-users.md
  ce/customer-service/channel-integration-framework/v2/automation-dictionary-keys-cif.md
  ce/customer-service/channel-integration-framework/v2/channel-analytics.md
  ce/customer-service/channel-integration-framework/v2/configure-channel-provider-app-profile-manager.md
  ce/customer-service/channel-integration-framework/v2/enable-outbound-communication-clicktoact.md
  ce/customer-service/channel-integration-framework/v2/get-channel-integration-framework.md
  ce/customer-service/channel-integration-framework/v2/modes-communication-widget.md
  ce/customer-service/channel-integration-framework/v2/notification-templates-cif.md
  ce/customer-service/channel-integration-framework/v2/overview-channel-integration-framework.md
  ce/customer-service/channel-integration-framework/v2/pass-url-widget-library.md
  ce/customer-service/channel-integration-framework/v2/sample-softphone-integration-v2.md
  ce/customer-service/channel-integration-framework/v2/session-templates-cif.md
  ce/customer-service/channel-integration-framework/v2/support-multiple-providers.md
  ce/customer-service/channel-integration-framework/v2/system-requirements-channel-integration-framework-v2.md
  ce/customer-service/channel-integration-framework/v2/templates-overview-cif.md
  ce/customer-service/channel-integration-framework/whats-new-channel-integration-framework.md
Owners: @shubhadaj

corrected typo
  ce/customer-service/channel-integration-framework/configure-channel-provider-channel-integration-framework.md
Owners: @shubhadaj

Update architecture-overview-channel-integration-framework.md
  ce/customer-service/channel-integration-framework/architecture-overview-channel-integration-framework.md
Owners: @shubhadaj

Update add-cif-solution-dependent-solution.md
  ce/customer-service/channel-integration-framework/add-cif-solution-dependent-solution.md
Owners: @shubhadaj

Update sample-softphone-integration.md
  ce/customer-service/channel-integration-framework/sample-softphone-integration.md
Owners: @shubhadaj

Update integration-multi-session-experiences.md
  ce/customer-service/channel-integration-framework/v2/integration-multi-session-experiences.md
Owners: @shubhadaj

Update system-requirements-channel-integration-framework-v2.md
  ce/customer-service/channel-integration-framework/v2/system-requirements-channel-integration-framework-v2.md
Owners: @shubhadaj

updated topic for task 2322178
  ce/customer-service/add-skill-control.md
Owners: @shubhadaj

changed added-created, -MicrosoftDocs
  ce/customer-service/add-skill-control.md
  ce/customer-service/deactivate-queue-items.md
  ce/customer-service/unified-routing-impact-on-APIs.md
Owners: @shubhadaj

removed space
  ce/customer-service/add-skill-control.md
Owners: @shubhadaj

For 2291213, 2325780
  ce/customer-service/configure-custom-channel.md
  ce/customer-service/export-import-omnichannel-data.md
Owners: @shubhadaj

updated domains content for bug 2321515
  ce/customer-service/channel-integration-framework/system-requirements-channel-integration-framework.md
  ce/customer-service/channel-integration-framework/v2/system-requirements-channel-integration-framework-v2.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
