Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update set-knowledge-article-authoring-language.md
  ce/customer-service/set-knowledge-article-authoring-language.md
Owners: @shubhadaj

Update search-knowledge-articles-csh.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Update customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
Owners: @shubhadaj

Update search-knowledge-articles-csh.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Update search-knowledge-articles-csh.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Minor tweaks
  ce/customer-service/define-service-level-agreements.md
Owners: @shubhadaj

Metadata warning
  ce/customer-service/developer/reference/entities/msdyn_ocliveworkitem.md
Owners: @shubhadaj

updated topic headinds
  ce/customer-service/monitor-conversations.md
Owners: @shubhadaj

Cross-references corrected
  ce/customer-service/developer/reference/entities/msdyn_ocliveworkitem.md
Owners: @shubhadaj

updated the transfer conversations topic
  ce/customer-service/TOC.md
  ce/customer-service/media/transfer-agents-conversations.png
  ce/customer-service/monitor-conversations.md
Owners: @shubhadaj

updated title heading
  ce/customer-service/TOC.md
Owners: @shubhadaj

pre-conversation survey
  ce/customer-service/configure-post-conversation-survey.md
  ce/customer-service/configure-pre-chat-survey.md
  ce/customer-service/enable-sentiment-analysis.md
  ce/customer-service/media/ocac-pre-conversation-questions.png
Owners: @shubhadaj

Accepted TE changes
  ce/customer-service/assignment-methods.md
  ce/customer-service/capacity-profiles.md
  ce/customer-service/create-workstreams.md
  ce/customer-service/queues-omnichannel.md
  ce/customer-service/routing-workstream-queues.md
  ce/customer-service/set-up-record-routing.md
  ce/customer-service/set-up-routing-process.md
Owners: @shubhadaj

corrected typo
  ce/customer-service/unified-routing-diagnostics.md
Owners: @shubhadaj

merged editor's comments
  ce/customer-service/unified-routing-diagnostics.md
Owners: @shubhadaj

updated cross reference links
  ce/customer-service/unified-routing-diagnostics.md
Owners: @shubhadaj

embedded docs updates
  ce/customer-service/TOC.md
  ce/customer-service/customer-service-analytics-insights-csh.md
  ce/customer-service/oc-historical-analytics-reports.md
Owners: @shubhadaj

Admin app updates
  ce/customer-service/configure-automated-message.md
  ce/customer-service/configure-intraday-dashboard-supervisor.md
  ce/customer-service/create-chat-auth-settings.md
  ce/customer-service/enable-self-service-settings.md
  ce/customer-service/faqs.md
  ce/customer-service/geo-location-provider.md
  ce/customer-service/media/supervisor-admin-select-omnichannel-administration.png
  ce/customer-service/media/supervisor-admin-select-overview-dashboard.png
  ce/customer-service/outbound-messaging.md
Owners: @shubhadaj

Add notes on Booking status colors
  ce/shared/urs/preview-schedule-board.md
Owners: none

add additional notes on Crew scheduling
  ce/shared/urs/resource-crews.md
Owners: none

admin app updates
  ce/customer-service/TOC.md
  ce/customer-service/add-chat-widget.md
  ce/customer-service/channels.md
  ce/customer-service/media/omni-channel-users.png
  ce/customer-service/oc-admin-center.md
  ce/customer-service/overview-unified-routing.md
  ce/customer-service/users-user-profiles.md
Owners: @shubhadaj

Interim
  ce/customer-service/oc-admin-center.md
Owners: @shubhadaj

Interim
  ce/customer-service/TOC.md
Owners: @shubhadaj

Update mobile-power-app-get-started.md
  ce/field-service/mobile-power-app-get-started.md
Owners: @shellyhaverkamp

edit for task 2232709
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

Update resource-crews.md
  ce/shared/urs/resource-crews.md
Owners: none

Update preview-schedule-board.md
  ce/shared/urs/preview-schedule-board.md
Owners: none

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update user-guide.md
  ce/field-service/user-guide.md
Owners: @shellyhaverkamp

Clean up
  ce/customerengagement/on-premises/deploy/planning-your-deployment-of-microsoft-dynamics-365.md
Owners: none

Tweaks
  ce/customerengagement/on-premises/customize/create-design-forms.md
Owners: none

Update & consolidate
  ce/marketing/real-time-marketing-analytics.md
  ce/marketing/real-time-marketing-customer-insights.md
  ce/marketing/real-time-marketing-faq.md
  ce/marketing/real-time-marketing-overview.md
  ce/marketing/real-time-marketing-overview.yml
  ce/marketing/real-time-marketing-single-journey-analytics.md
Owners: @shellyhaverkamp

Removed all links to component file reference
  .openpublishing.redirection.json
  ce/customerengagement/on-premises/developer/TOC.yml
  ce/customerengagement/on-premises/developer/compress-extract-solution-file-solutionpackager.md
  ce/customerengagement/on-premises/developer/solution-component-file-reference-solutionpackager.md
  ce/customerengagement/on-premises/developer/solution-tools-team-development.md
  ce/customerengagement/on-premises/developer/use-source-control-solution-files.md
Owners: none

Add personalize and example
  ce/marketing/real-time-marketing-example.md
  ce/marketing/real-time-marketing-overview.yml
  ce/marketing/real-time-marketing-personalize.md
  ce/marketing/toc.md
Owners: @shellyhaverkamp

Update toc.md
  ce/marketing/toc.md
Owners: @shellyhaverkamp

Update real-time-marketing-analytics.md
  ce/marketing/real-time-marketing-analytics.md
Owners: @shellyhaverkamp

Update token-enable-outbound-communication-clicktoact.md
  ce/customer-service/channel-integration-framework/shared/token-enable-outbound-communication-clicktoact.md
Owners: @shubhadaj

Update toc.md
  ce/marketing/toc.md
Owners: @shellyhaverkamp

Update connected-field-service.md
  ce/field-service/connected-field-service.md
Owners: @shellyhaverkamp

RELEASE NOTES UDPATES- FIELD SERVICE
  ce/field-service/version-history.md
Owners: @shellyhaverkamp
