Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

daveCopyAppModule
  ce/field-service/media/image1.png
  ce/field-service/media/image2.png
  ce/field-service/media/image3.png
  ce/field-service/media/image4.png
  ce/field-service/media/image5.png
  ce/field-service/media/image6.png
  ce/field-service/mobile-powerapp-copy-app-module.md
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

Corrected typo
  ce/customer-service/role-persona-mapping.md
Owners: @shubhadaj

Updated with missing description
  ce/customer-service/introduction-omnichannel.md
Owners: @shubhadaj

For 2259835
  ce/customer-service/attach-skills.md
  ce/customer-service/media/skill-based-routing1.PNG
  ce/customer-service/media/skill-based-routing2.PNG
Owners: @shubhadaj

Update mobile-powerapp-copy-app-module.md
  ce/field-service/mobile-powerapp-copy-app-module.md
Owners: @shellyhaverkamp

Update mobile-powerapp-copy-app-module.md
  ce/field-service/mobile-powerapp-copy-app-module.md
Owners: @shellyhaverkamp

Update toc.yml
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

Update real-time-marketing-business-goals.md
  ce/marketing/real-time-marketing-business-goals.md
Owners: @shellyhaverkamp

info to information
  ce/customer-service/monitor-conversations.md
Owners: @shubhadaj

updated for Jessica's comments
  ce/customer-service/render-live-chat-widget-mobile.md
Owners: @shubhadaj

For 2259777
  ce/customer-service/set-up-queues-manage-activities-cases.md
Owners: @shubhadaj

updated prerequisite
  ce/customer-service/configure-bot-virtual-agent.md
Owners: @shubhadaj

corrected typo
  ce/customer-service/configure-bot-virtual-agent.md
Owners: @shubhadaj

Added unified routing in help hub
  ce/customer-service/help-hub.md
  ce/customer-service/oc-admin-center.md
  ce/customer-service/routing-workstream-queues.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

app settings
  ce/sales-enterprise/sales-mobile/app-setings.md
  ce/sales-enterprise/sales-mobile/create-contact.md
  ce/sales-enterprise/sales-mobile/learn-basics-mobile-app.md
  ce/sales-enterprise/sales-mobile/media/copy-icon.png
  ce/sales-enterprise/sales-mobile/media/sm-select-settings.png
  ce/sales-enterprise/sales-mobile/media/sm-settings-panel.png
  ce/sales-enterprise/sales-mobile/media/sm-sign-in.png
  ce/sales-enterprise/sales-mobile/open-record.md
  ce/sales-enterprise/sales-mobile/search-records.md
  ce/sales-enterprise/sales-mobile/use-sales-mobile-app.md
  ce/sales-enterprise/sales-mobile/view-agenda.md
  ce/sales-enterprise/toc.yml
Owners: @shubhadaj

MIscellaneous edits
  ce/customer-service/oc-admin-center.md
  ce/customer-service/overview-unified-routing.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

Style guide adherence
  ce/customer-service/attach-skills.md
Owners: @shubhadaj

file name correction
  ce/sales-enterprise/sales-mobile/app-settings.md
Owners: @shubhadaj

image resize
  ce/sales-enterprise/sales-mobile/media/sm-select-settings.png
  ce/sales-enterprise/sales-mobile/media/sm-settings-panel.png
Owners: @shubhadaj

Update app-settings.md
  ce/sales-enterprise/sales-mobile/app-settings.md
Owners: @shubhadaj

Update app-settings.md
  ce/sales-enterprise/sales-mobile/app-settings.md
Owners: @shubhadaj

review incorporation
  ce/customer-service/configure-bot-virtual-agent.md
Owners: @shubhadaj

updated sentence
  ce/customer-service/configure-bot-virtual-agent.md
Owners: @shubhadaj

updated sentence
  ce/customer-service/configure-bot-virtual-agent.md
Owners: @shubhadaj

Update use-sales-mobile-app.md
  ce/sales-enterprise/sales-mobile/use-sales-mobile-app.md
Owners: @shubhadaj

corrected capitalization
  ce/customer-service/configure-bot-virtual-agent.md
Owners: @shubhadaj

image update
  ce/sales-enterprise/sales-mobile/media/non-prod-apps-toggle.png
  ce/sales-enterprise/sales-mobile/media/sm-apps-list.png
  ce/sales-enterprise/sales-mobile/media/sm-select-settings.png
  ce/sales-enterprise/sales-mobile/media/sm-sign-in.png
  ce/sales-enterprise/sales-mobile/use-sales-mobile-app.md
Owners: @shubhadaj

image update
  ce/sales-enterprise/sales-mobile/media/sm-apps-list.png
Owners: @shubhadaj

Updated screenshots
  ce/sales-professional/media/clone-button-product-form.png
  ce/sales-professional/media/retire-button-product-form.png
Owners: none

RELEASE NOTES CHANGES
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Fixed build errors
  ce/sales-enterprise/customize-add-products-dialog-box.md
  ce/sales-professional/add-products-enhanced-experience-sp.md
  ce/sales-professional/add-products-qoi-enhanced-sp.md
  ce/sales-professional/customize-add-products-dialog-box-sp.md
  ce/sales-professional/enable-enhanced-add-product-experience-sp.md
Owners: @shubhadaj

Fixed more build errors
  ce/sales-enterprise/configure-product-catalog-settings.md
  ce/sales-professional/add-products-opportunity-sp.md
  ce/sales-professional/customize-add-products-dialog-box-sp.md
  ce/sales-professional/enable-enhanced-add-product-experience-sp.md
Owners: @shubhadaj

Parity in deprecations note for Internet Explorer
  ce/customer-service/assignment-methods.md
  ce/customer-service/attach-skills.md
  ce/customer-service/deprecations-customer-service.md
Owners: @shubhadaj

edit for task 12267
  ce/customer-service/enable-monitor-assign-transfer-conv.md
  ce/customer-service/monitor-conversations.md
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/unified-routing-overview.png
Owners: @shubhadaj

Corrections in cross-refs, addressed ambiguous sentences
  ce/customer-service/assignment-methods.md
  ce/customer-service/attach-skills.md
  ce/customer-service/overview-skill-work-distribution.md
Owners: @shubhadaj

Removed inaccurate information 2290903
  ce/customer-service/assignment-methods.md
Owners: @shubhadaj

daveIntegrationsOverview
  ce/field-service/field-service-integration-overview.md
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

Update field-service-integration-overview.md
  ce/field-service/field-service-integration-overview.md
Owners: @shellyhaverkamp

Update field-service-integration-overview.md
  ce/field-service/field-service-integration-overview.md
Owners: @shellyhaverkamp

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
