Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Delete teams-embedded-chat.png
  ce/customer-service/media/teams-embedded-chat.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/teams-embedded-chat.png
Owners: @shubhadaj

Delete teams-unlink-chat.png
  ce/customer-service/media/teams-unlink-chat.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/teams-unlink-chat.png
Owners: @shubhadaj

Update use-teams-chat.md
  ce/customer-service/use-teams-chat.md
Owners: @shubhadaj

Update use-teams-chat.md
  ce/customer-service/use-teams-chat.md
Owners: @shubhadaj

Update configure-teams-chat.md
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

Delete teams-unlink-chat.png
  ce/customer-service/media/teams-unlink-chat.png
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/teams-unlink-chat.png
Owners: @shubhadaj

Update use-teams-chat.md
  ce/customer-service/use-teams-chat.md
Owners: @shubhadaj

adv email step
  ce/sales/adaptive-sequence.md
  ce/sales/media/sa-condition-email-adv-condition-step-created.png
  ce/sales/media/sa-condition-email-select-advanced-email-conditions.png
  ce/sales/media/sa-condition-email-select-all-of-them-option.png
  ce/sales/media/sa-condition-email-select-email-duration.png
  ce/sales/media/sa-condition-email-select-email-open-attachment-download-option.png
Owners: none

acrocheck
  ce/sales/adaptive-sequence.md
Owners: none

Added Teams chat links in ToC
  ce/sales/toc.yml
Owners: none

Updated Toc with Teams chat topics
  ce/sales/toc.yml
Owners: none

adv call conditions
  ce/sales/adaptive-sequence.md
  ce/sales/media/sa-condition-call-adv-condition-step-created.png
  ce/sales/media/sa-condition-phone-call-select-advanced-call-conditions.png
  ce/sales/media/sa-condition-phone-call-select-made-received-option.png
Owners: none

updates
  ce/customer-service/media/oc-conversation-active.PNG
  ce/customer-service/media/oc-conversation-open1.png
  ce/customer-service/media/oc-conversation-state.png
  ce/customer-service/media/oc-conversation-wrap-up1.png
Owners: @shubhadaj

edits
  ce/customer-service/oc-conversation-state.md
Owners: @shubhadaj

TASK 2154646
  ce/customer-service/context-variables-for-bot.md
Owners: @shubhadaj

edits
  ce/customer-service/configure-bot-virtual-agent.md
Owners: @shubhadaj

edit
  ce/customer-service/configure-bot-virtual-agent.md
Owners: @shubhadaj

meta data updates
  ce/customer-service/configure-bot-virtual-agent.md
Owners: @shubhadaj

edits
  ce/customer-service/configure-bot-virtual-agent.md
Owners: @shubhadaj

edit
  ce/customer-service/configure-bot-virtual-agent.md
Owners: @shubhadaj

edits
  ce/customer-service/context-variables-for-bot.md
Owners: @shubhadaj

edits
  ce/customer-service/configure-bot-virtual-agent.md
  ce/customer-service/record-identification-rule.md
Owners: @shubhadaj

edits
  ce/customer-service/record-identification-rule.md
Owners: @shubhadaj

edit
  ce/customer-service/configure-bot-virtual-agent.md
Owners: @shubhadaj

Clarification for web resources offline support
  ce/mobile-app/mobile-offline-capabilities.md
Owners: @mduelae, @KumarVivek

Update configure-teams-collaboration.md
  ce/customer-service/configure-teams-collaboration.md
Owners: @shubhadaj

View as added
  ce/sales/configure-view-your-team-page.md
  ce/sales/media/si-app-admin-configure-your-page-view-as-select-add-user.png
  ce/sales/media/si-app-admin-configure-your-page-view-as-select-save.png
  ce/sales/media/si-app-admin-configure-your-page-view-as-select-users-time-limit.png
  ce/sales/media/si-app-admin-configure-your-page-view-as-users-added-to-list.png
  ce/sales/toc.yml
Owners: none

Update use-ai-suggested-contacts-teams.md
  ce/customer-service/use-ai-suggested-contacts-teams.md
Owners: @shubhadaj

Update configure-teams-collaboration.md
  ce/customer-service/configure-teams-collaboration.md
Owners: @shubhadaj

added table for variables in extn solutions
  ce/customer-service/configure-bot-virtual-agent.md
  ce/customer-service/context-variables-for-bot.md
Owners: @shubhadaj

Update configure-default-settings.md
  ce/field-service/configure-default-settings.md
Owners: @shellyhaverkamp

Update teams-journey.md
  ce/marketing/teams-journey.md
Owners: @shellyhaverkamp

end user added
  ce/sales/configure-view-your-team-page.md
  ce/sales/dynamics365-sales-insights-app.md
Owners: none

preview note added
  ce/sales/dynamics365-sales-insights-app.md
Owners: none

updated
  ce/sales/configure-view-your-team-page.md
Owners: none

Update configure-default-settings.md
  ce/field-service/configure-default-settings.md
Owners: @shellyhaverkamp

RELEASE NOTES UPDATES
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
