Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

header row fix
  ce/sales/action-cards-reference.md
  ce/sales/activate-upload-simple-columns-data-forecast.md
Owners: none

Merged Salespro content
  ce/sales-professional/manage-excel-templates.md
  ce/sales/connect-with-sharepoint.md
  ce/sales/enable-opportunity-close-customization.md
  ce/sales/manage-excel-templates.md
  ce/sales/manage-users.md
  ce/sales/manage-word-templates.md
Owners: none

updates
  ce/customer-service/customer-service-hub-user-guide-knowledge-article.md
  ce/customer-service/work-knowledge-articles.md
Owners: @shubhadaj

fix url encoded char
  .openpublishing.publish.config.json
Owners: none

For 2480490
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

added missed out info
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

Updated ToC
  ce/sales/toc.yml
Owners: none

table removed - s
  ce/sales/configure-conversation-intelligence-call-data.md
  ce/sales/retrieve-insights-data-msdyn-RetrieveTypeValuesFromDCI.md
Owners: none

Updated the tab intro
  ce/sales/connect-with-sharepoint.md
  ce/sales/import-data.md
  ce/sales/manage-excel-templates.md
  ce/sales/manage-teams.md
  ce/sales/manage-users.md
  ce/sales/manage-word-templates.md
Owners: none

TRI
  ce/customer-service/create-operating-hours.md
  ce/customer-service/intraday-agents-insights.md
  ce/customer-service/intraday-conversation-insights.md
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

updated images
  ce/sales/learning-catalog.md
  ce/sales/media/ChooseAnApp_1.png
  ce/sales/media/MenuButton.png
  ce/sales/media/NavBar_2.png
  ce/sales/media/compose-email-mobile-1.png
  ce/sales/media/create-email-1-1.png
  ce/sales/media/create-email-1.png
  ce/sales/media/mobile-app-add-product.png
  ce/sales/media/mobile-app-appointment-details-opportunity.png
  ce/sales/media/mobile-app-appointment-details.png
  ce/sales/media/mobile-app-appointment-saved.png
  ce/sales/media/mobile-app-generate-quote.png
  ce/sales/media/mobile-app-new-appointment.png
  ce/sales/media/mobile-app-new-lead.png
  ce/sales/media/mobile-app-open-opportunities.png
  ce/sales/media/mobile-app-qualify-lead.png
  ce/sales/media/mobile-app-search-contact-results.png
  ce/sales/media/mobile-app-select-add-product.png
  ce/sales/media/mobile-app-take-notes-timeline.png
  ce/sales/media/mobile-app-update-opportunity.png
  ce/sales/media/more_command_email_mobile.png
  ce/sales/media/new-timeline-record-icon.png
  ce/sales/media/pinned-icon.png
  ce/sales/media/recent-icon.png
  ce/sales/use-sales-hub-on-dynamics-365-mobile.md
Owners: none

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Update whats-new-marketing.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

December updates
  ce/marketing/insights-glossary.md
  ce/marketing/teams-webinar.md
  ce/marketing/whats-new-marketing.md
Owners: @shellyhaverkamp

Teams update
  ce/marketing/media/teams-webinar-meeting.png
  ce/marketing/teams-webinar.md
Owners: @shellyhaverkamp

ms.date
  ce/customer-service/create-operating-hours.md
  ce/customer-service/intraday-agents-insights.md
  ce/customer-service/intraday-conversation-insights.md
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

For bug 2480482
  ce/customer-service/intraday-conversation-insights.md
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

Parity in descriptions
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

Inserted searchscope to topics
  ce/customer-service/configure-knowledge-article-origin-allow-list.md
  ce/customer-service/create-manage-categories.md
  ce/customer-service/create-templates-knowledge-article.md
  ce/customer-service/enable-knowledge-article-search-filters.md
  ce/customer-service/set-knowledge-article-authoring-language.md
  ce/customer-service/set-up-knowledge-management-embedded-knowledge-search.md
  ce/customer-service/set-up-search-providers.md
Owners: @shubhadaj

updated ms.author
  ce/customer-service/create-templates-knowledge-article.md
Owners: @shubhadaj

Updated quote gen topic
  ce/sales/enable-automatic-generation-quotes-invoices.md
  ce/sales/enable-creation-of-orders-from-quotes.md
  ce/sales/media/sharepoint-site-small.png
  ce/sales/media/sharepoint-site.png
Owners: none

Fixed formatting
  ce/sales/enable-automatic-generation-quotes-invoices.md
Owners: none

edits
  ce/customer-service/configure-ai-suggested-article-keywords-description.md
Owners: @shubhadaj

edits
  ce/customer-service/configure-ai-suggested-article-keywords-description.md
Owners: @shubhadaj

TEI for 1919102
  ce/customer-service/bring-your-own-channel.md
  ce/customer-service/extend-omnichannel.md
Owners: @shubhadaj

update
  ce/sales/media/compose-email-mobile-1.png
  ce/sales/media/new-timeline-record-icon.png
  ce/sales/use-sales-hub-on-dynamics-365-mobile.md
Owners: none

TEI for 2222863
  ce/customer-service/government-availability.md
Owners: @shubhadaj

edits
  ce/unified-service-desk/admin/unified-service-desk-dynamics-365-unified-interface-package.md
  ce/unified-service-desk/chrome-process.md
Owners: @shubhadaj

TASK 2481161
  ce/unified-service-desk/admin/unified-service-desk-dynamics-365-unified-interface-package.md
  ce/unified-service-desk/admin/upgrade-unified-service-desk-solution.md
Owners: @shubhadaj

edts
  ce/unified-service-desk/chrome-process.md
Owners: @shubhadaj

Addressed build suggestion
  ce/customer-service/bring-your-own-channel.md
Owners: @shubhadaj

Updated hub page to card layout
  ce/sales/help-hub.yml
  ce/sales/toc.yml
Owners: none

edits
  ce/unified-service-desk/admin/manage-options-unified-service-desk.md
  ce/unified-service-desk/admin/unified-service-desk-dynamics-365-unified-interface-package.md
  ce/unified-service-desk/admin/update-unified-service-desk-solution.md
  ce/unified-service-desk/chrome-process.md
Owners: @shubhadaj

edits
  ce/unified-service-desk/admin/manage-options-unified-service-desk.md
Owners: @shubhadaj

Testing build error fix
  ce/sales/help-hub.yml
Owners: none

edits
  ce/unified-service-desk/admin/update-unified-service-desk-solution.md
  ce/unified-service-desk/chrome-process.md
Owners: @shubhadaj

build error fix 2
  ce/sales/help-hub.yml
Owners: none

fix 3
  ce/sales/help-hub.yml
Owners: none

fix 4
  ce/sales/help-hub.yml
Owners: none

Fix 5
  ce/sales/help-hub.yml
Owners: none
