Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

created unified routing diagnostics topic
  ce/customer-service/TOC.md
  ce/customer-service/unified-routing-diagnostics.md
Owners: @shubhadaj

updated TOC
  ce/customer-service/TOC.md
Owners: @shubhadaj

edited typos
  ce/customer-service/unified-routing-diagnostics.md
Owners: @shubhadaj

updated structure
  ce/customer-service/unified-routing-diagnostics.md
Owners: @shubhadaj

changes structure
  ce/customer-service/unified-routing-diagnostics.md
Owners: @shubhadaj

updated/new entities
  ce/customer-service/developer/reference/entities/queue.md
  ce/customer-service/developer/reference/entities/queueitem.md
  ce/customer-service/developer/reference/entities/systemuser.md
Owners: @shubhadaj

Update set-up-product-catalog-walkthrough.md
  ce/sales-enterprise/set-up-product-catalog-walkthrough.md
Owners: @shubhadaj

updated author
  ce/customer-service/developer/reference/entities/msdyn_bookableresourcecapacityprofile.md
  ce/customer-service/developer/reference/entities/msdyn_capacityprofile.md
  ce/customer-service/developer/reference/entities/msdyn_liveworkstreamcapacityprofile.md
Owners: @shubhadaj

updated author
  ce/customer-service/developer/reference/entities/msdyn_liveworkstream.md
  ce/customer-service/developer/reference/entities/msdyn_ocliveworkitem.md
  ce/customer-service/developer/reference/entities/msdyn_ocliveworkitemcapacityprofile.md
  ce/customer-service/developer/reference/entities/msdyn_rulesetdependencymapping.md
Owners: @shubhadaj

Update add-products-opportunity.md
  ce/sales-enterprise/add-products-opportunity.md
Owners: @shubhadaj

Update close-opportunity-won-lost-sales.md
  ce/sales-enterprise/close-opportunity-won-lost-sales.md
Owners: @shubhadaj

updated moniker info
  ce/unified-service-desk/admin/performance-enhancement-CRM-entity-page-loads.md
Owners: @shubhadaj

corrected build error
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

updated for review comments
  ce/unified-service-desk/admin/performance-enhancement-CRM-entity-page-loads.md
  ce/unified-service-desk/admin/recover-edge-webview2-process-instance.md
  ce/unified-service-desk/edge-webview2-process.md
  ce/unified-service-desk/media/edge-webview2-process-hosted-control-setting.PNG
  ce/unified-service-desk/media/unified-service-desk-fatal-error.png
Owners: @shubhadaj

updated path
  ce/unified-service-desk/admin/recover-edge-webview2-process-instance.md
Owners: @shubhadaj

updated path
  ce/unified-service-desk/edge-webview2-process.md
Owners: @shubhadaj

updated topic for April release
  ce/customer-service/intraday-insights-dashboard.md
Owners: @shubhadaj

Updated operating hours topic
  ce/customer-service/configure-custom-channel.md
  ce/customer-service/configure-microsoft-teams.md
  ce/customer-service/configure-sms-channel.md
  ce/customer-service/configure-whatsapp-channel.md
  ce/customer-service/create-operating-hours.md
  ce/customer-service/create-workstreams.md
Owners: @shubhadaj

edited path
  ce/unified-service-desk/edge-webview2-process.md
Owners: @shubhadaj

edited path
  ce/unified-service-desk/edge-webview2-process.md
Owners: @shubhadaj

Interim
  ce/customer-service/add-chat-widget.md
  ce/customer-service/configure-sms-channel.md
Owners: @shubhadaj

updated topic for review comments
  ce/customer-service/monitor-conversations.md
Owners: @shubhadaj

updated author
  ce/customer-service/monitor-conversations.md
Owners: @shubhadaj

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update teams-doc-management.md
  ce/teams-integration/teams-doc-management.md
Owners: none

Update create-workstreams.md
  ce/customer-service/create-workstreams.md
Owners: @shubhadaj

updated entity refs
  ce/customer-service/developer/reference/entities/msdyn_omnichannelconfiguration.md
  ce/customer-service/developer/reference/entities/msdyn_personasecurityrolemapping.md
  ce/customer-service/developer/reference/entities/msdyn_unifiedroutingdiagnostic.md
  ce/customer-service/developer/reference/entities/msdyn_unifiedroutingrun.md
Owners: @shubhadaj

updated author
  ce/customer-service/developer/reference/entities/msdyn_omnichannelconfiguration.md
  ce/customer-service/developer/reference/entities/msdyn_personasecurityrolemapping.md
  ce/customer-service/developer/reference/entities/msdyn_unifiedroutingdiagnostic.md
  ce/customer-service/developer/reference/entities/msdyn_unifiedroutingrun.md
Owners: @shubhadaj

Update create-workstreams.md
  ce/customer-service/create-workstreams.md
Owners: @shubhadaj

edit for task 2229880
  ce/sales-enterprise/clone-forecat.md
Owners: @shubhadaj

Interim, admin center updates
  ce/customer-service/Configure-sms-channel-twilio.md
  ce/customer-service/configure-post-conversation-survey.md
  ce/customer-service/configure-sms-channel.md
  ce/customer-service/create-workstreams.md
Owners: @shubhadaj

updated entities
  ce/customer-service/developer/reference/entities/msdyn_assignmentconfiguration.md
  ce/customer-service/developer/reference/entities/msdyn_assignmentconfigurationstep.md
  ce/customer-service/developer/reference/entities/msdyn_bookableresourcecapacityprofile.md
  ce/customer-service/developer/reference/entities/msdyn_capacityprofile.md
  ce/customer-service/developer/reference/entities/msdyn_decisioncontract.md
  ce/customer-service/developer/reference/entities/msdyn_decisionruleset.md
  ce/customer-service/developer/reference/entities/msdyn_liveworkstream.md
  ce/customer-service/developer/reference/entities/msdyn_liveworkstreamcapacityprofile.md
  ce/customer-service/developer/reference/entities/msdyn_ocliveworkitemcapacityprofile.md
  ce/customer-service/developer/reference/entities/msdyn_ocsitdskill.md
  ce/customer-service/developer/reference/entities/msdyn_ocsitrainingdata.md
  ce/customer-service/developer/reference/entities/queue.md
  ce/customer-service/developer/reference/entities/queueitem.md
Owners: @shubhadaj

updated entities
  ce/customer-service/developer/reference/entities/msdyn_masterentityroutingconfiguration.md
  ce/customer-service/developer/reference/entities/msdyn_routingrulesetsetting.md
  ce/customer-service/developer/reference/entities/msdyn_unifiedroutingsetuptracker.md
  ce/customer-service/developer/reference/entities/routingrule.md
Owners: @shubhadaj

Real-time marketing
  ce/marketing/media/quickstart-preview-tile.png
  ce/marketing/real-time-marketing-aggregate-analytics.md
  ce/marketing/real-time-marketing-asset-library.md
  ce/marketing/real-time-marketing-channel-analytics.md
  ce/marketing/real-time-marketing-compliance-settings.md
  ce/marketing/real-time-marketing-email-text-consent.md
  ce/marketing/real-time-marketing-email.md
  ce/marketing/real-time-marketing-event-based-journey.md
  ce/marketing/real-time-marketing-event-triggers.md
  ce/marketing/real-time-marketing-experimentation.md
  ce/marketing/real-time-marketing-gdpr.md
  ce/marketing/real-time-marketing-goal-analytics.md
  ce/marketing/real-time-marketing-known-issues.md
  ce/marketing/real-time-marketing-link-tracking-mechanics.md
  ce/marketing/real-time-marketing-outbound-consent.md
  ce/marketing/real-time-marketing-outbound-text-messaging.md
  ce/marketing/real-time-marketing-overview.md
  ce/marketing/real-time-marketing-push-notifications.md
  ce/marketing/real-time-marketing-quickstart.md
  ce/marketing/real-time-marketing-segment-based-journey.md
  ce/marketing/real-time-marketing-segments.md
  ce/marketing/real-time-marketing-single-journey-analytics.md
  ce/marketing/real-time-marketing-tile-reference.md
Owners: @shellyhaverkamp

converting TOC to yml format
  ce/mobile-app/TOC.md
  ce/mobile-app/toc.yml
Owners: @mduelae, @KumarVivek

updated entities
  ce/customer-service/developer/reference/entities/msdyn_assignmentconfiguration.md
  ce/customer-service/developer/reference/entities/msdyn_assignmentconfigurationstep.md
  ce/customer-service/developer/reference/entities/msdyn_capacityprofile.md
  ce/customer-service/developer/reference/entities/msdyn_decisioncontract.md
  ce/customer-service/developer/reference/entities/msdyn_decisionruleset.md
  ce/customer-service/developer/reference/entities/msdyn_ocliveworkitemcapacityprofile.md
  ce/customer-service/developer/reference/entities/msdyn_routingrulesetsetting.md
  ce/customer-service/developer/reference/entities/routingrule.md
Owners: @shubhadaj

updated entities
  ce/customer-service/developer/reference/entities/msdyn_routingconfiguration.md
  ce/customer-service/developer/reference/entities/msdyn_routingconfigurationstep.md
Owners: @shubhadaj

updated entities
  ce/customer-service/developer/reference/entities/msdyn_routingconfiguration.md
  ce/customer-service/developer/reference/entities/msdyn_routingconfigurationstep.md
Owners: @shubhadaj

updated entities
  ce/customer-service/developer/reference/entities/msdyn_bookableresourcecapacityprofile.md
  ce/customer-service/developer/reference/entities/msdyn_liveworkstreamcapacityprofile.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
