Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

edits
  ce/customer-service/configure-bot.md
Owners: @shubhadaj

ui lable update
  ce/teams-integration/enable-teams-chat.md
  ce/teams-integration/media/teams-settings.png
Owners: none

Update voice-channel-region-availability.md
  ce/customer-service/voice-channel-region-availability.md
Owners: @shubhadaj

Create voice-channel-region-availability.md
  ce/customer-service/voice-channel-region-availability.md
Owners: @shubhadaj

Update voice-channel-region-availability.md
  ce/customer-service/voice-channel-region-availability.md
Owners: @shubhadaj

For 2490008
  ce/customer-service/media/image23.png
  ce/customer-service/media/manage-omnichannel-summary.png
  ce/customer-service/media/rule-for-voice.png
  ce/customer-service/media/voice-channel-workstream-summary.png
  ce/customer-service/media/voice-workstream-configured.png
  ce/customer-service/voice-channel-agent-experience.md
  ce/customer-service/voice-channel-route-queues.md
  ce/customer-service/voice-consult-microsoft-teams-user.md
Owners: @shubhadaj

Update schedule-time-constraints.md
  ce/shared/urs/schedule-time-constraints.md
Owners: none

Update overview
  ce/marketing/media/overview-venn.png
  ce/marketing/media/overview-venn2.png
  ce/marketing/overview.md
Owners: @shellyhaverkamp

Update overview.md
  ce/marketing/overview.md
Owners: @shellyhaverkamp

For 2490008
  ce/customer-service/voice-channel-agent-experience.md
  ce/customer-service/voice-consult-microsoft-teams-user.md
Owners: @shubhadaj

Cross-ref correction
  ce/customer-service/voice-consult-microsoft-teams-user.md
Owners: @shubhadaj

Added to toc
  ce/customer-service/toc.yml
Owners: @shubhadaj

tech review
  ce/customer-service/voice-channel-outbound-calling.md
Owners: @shubhadaj

Add files via upload
  ce/customer-service/media/voice-closed-conversations.png
Owners: @shubhadaj

Update voice-channel-configure-transcripts.md
  ce/customer-service/voice-channel-configure-transcripts.md
Owners: @shubhadaj

Edits for clarity
  ce/customer-service/voice-channel-agent-experience.md
  ce/customer-service/voice-channel-route-queues.md
  ce/customer-service/voice-consult-microsoft-teams-user.md
Owners: @shubhadaj

Update voice-channel-survey.md
  ce/customer-service/voice-channel-survey.md
Owners: @shubhadaj

Update voice-channel-multi-language-contact-center.md
  ce/customer-service/voice-channel-multi-language-contact-center.md
Owners: @shubhadaj

Update voice-channel-monitor-calls.md
  ce/customer-service/voice-channel-monitor-calls.md
Owners: @shubhadaj

fra updated
  ce/sales/adaptive-sequence.md
  ce/sales/faqs-sales-insights.md
Owners: none

edits
  ce/customer-service/voice-channel-manage-phone-numbers.md
Owners: @shubhadaj

edit
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
  ce/customer-service/voice-channel-manage-phone-numbers.md
Owners: @shubhadaj

image updated
  ce/sales/media/sa-condition-enable-process-turn-on-adaptive-sequence-timeout-flow.png
Owners: none

typo fix
  ce/sales/adaptive-sequence.md
Owners: none

edits
  ce/customer-service/media/voice-channel-connection-string.png
  ce/customer-service/media/voice-channel-resource-name-ID.png
  ce/customer-service/media/voice-channel-select-use-existing-resource.png
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

For 2026556
  ce/customer-service/media/copy-app-id.png
  ce/customer-service/media/image66.png
  ce/customer-service/media/pva-omnichannel-bot-configuration.png
  ce/customer-service/media/register-application-azure.png
  ce/customer-service/voice-channel-ivr-bots.md
Owners: @shubhadaj

edits
  ce/customer-service/media/voice-channel-register-app.png
Owners: @shubhadaj

Added Persistent chat
  ce/customer-service/create-workstreams.md
Owners: @shubhadaj

edits
  ce/customer-service/media/voice-channel-application-ID.png
  ce/customer-service/media/voice-channel-tenant-ID.png
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

edits
  ce/customer-service/media/voice-channel-resource-ID.png
  ce/customer-service/media/voice-channel-resource-name-ID.png
  ce/customer-service/media/voice-channel-resource-name.png
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

For voice GA
  ce/customer-service/media/add-bot.png
  ce/customer-service/media/bot-in-workstream.png
  ce/customer-service/media/image35.png
  ce/customer-service/media/image36.png
  ce/customer-service/voice-channel-install.md
  ce/customer-service/voice-channel-ivr-bots.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

edits
  ce/customer-service/media/voice-channel-acs-connection.png
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

Updates to Toc
  ce/customer-service/toc.yml
  ce/customer-service/voice-channel-ivr-bots.md
Owners: @shubhadaj

ADO 2492982
  .openpublishing.redirection.json
Owners: none

edits
  ce/customer-service/media/voice-channel-eventgrid-registered.png
  ce/customer-service/media/voice-channel-resource-subscription.png
  ce/customer-service/media/voice-channel-system-topic-deployment.png
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

edits
  ce/customer-service/media/voice-channel-create-event-subscription-AAD-authentication.png
  ce/customer-service/media/voice-channel-create-event-subscription-recording.png
  ce/customer-service/media/voice-channel-recording-webhook-endpoint.png
  ce/customer-service/media/voice-channel-select-webhook-subscriber-endpoint.png
  ce/customer-service/media/voice-channel-sms-webhook-endpoint.png
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

edits
  ce/customer-service/media/voice-channel-create-event-subscription-sms-event-types.png
  ce/customer-service/media/voice-channel-event-subscription-recording-success.png
  ce/customer-service/media/voice-channel-event-subscription-sms-success.png
  ce/customer-service/voice-channel-create-new-use-existing-resource.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
