Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Update recurring-activity-bulk-delete.md
  ce/marketing/recurring-activity-bulk-delete.md
Owners: @shellyhaverkamp

daveFSMOffline
  ce/field-service/mobile-power-app-configure.md
  ce/field-service/mobile-power-app-get-started.md
Owners: @shellyhaverkamp

daveFSMOffline
  ce/field-service/media/IMG_3400_iphonexspacegrey_landscape.png
  ce/field-service/media/mobile-2020-offline-app0can-now-be-used-offline.png
  ce/field-service/media/mobile-2020-offline-complete.png
  ce/field-service/media/mobile-2020-offline-downloading.png
  ce/field-service/media/mobile-2020-offline-downloading2.png
  ce/field-service/media/mobile-2020-offline-initializing2.png
  ce/field-service/media/mobile-2020-offline-offline-update-complete.png
  ce/field-service/media/mobile-2020-offline-reconfigure.png
  ce/field-service/media/mobile-2020-offline-sitemap (2).png
  ce/field-service/media/mobile-2020-offline-sitemap.png
  ce/field-service/media/mobile-2020-offline-sync-admin.png
  ce/field-service/media/mobile-2020-offline-update-offline-data-entity-list.png
  ce/field-service/media/mobile-2020-offline-update-offline-data.png
  ce/field-service/media/mobile-2020-offline-update-offline-data2.png
  ce/field-service/mobile-power-app-get-started.md
Owners: @shellyhaverkamp

daveFSMOffline
  ce/field-service/mobile-power-app-configure.md
  ce/field-service/mobile-power-app-get-started.md
Owners: @shellyhaverkamp

daveFSMOffline
  ce/field-service/media/mobile-2020-offline-ppac-brb-custom-filter.png
  ce/field-service/media/mobile-2020-offline-ppac-options.png
  ce/field-service/media/mobile-2020-offline-profile-add-user.png
  ce/field-service/media/mobile-2020-offline-profile-ppac.png
  ce/field-service/media/offline-2020-ppac-mobile-configuration.png
  ce/field-service/media/offline-2020-ppac-settings.png
  ce/field-service/media/offline-2020-ppac.png
  ce/field-service/mobile-power-app-configure.md
  ce/field-service/mobile-power-app-get-started.md
Owners: @shellyhaverkamp

edits
  ce/field-service/field-service-mobile-app-user-guide.md
  ce/field-service/field-service-mobile-use.md
Owners: @shellyhaverkamp

fixing errors
  ce/field-service/field-service-mobile-overview.md
  ce/field-service/install-field-service.md
Owners: @shellyhaverkamp

Update field-service-mobile-overview.md
  ce/field-service/field-service-mobile-overview.md
Owners: @shellyhaverkamp

toc update
  ce/field-service/TOC.md
Owners: @shellyhaverkamp

adding add. note to analytics topics
  ce/field-service/analytics-predictive-work-duration.md
  ce/field-service/reports.md
  ce/field-service/scheduling-analytics-reports.md
Owners: @shellyhaverkamp

daveFSMOffline
  ce/field-service/mobile-power-app-configure.md
  ce/field-service/mobile-power-app-get-started.md
Owners: @shellyhaverkamp

Update mobile-power-app-configure.md
  ce/field-service/mobile-power-app-configure.md
Owners: @shellyhaverkamp

daveFSMOffline
  ce/field-service/media/mobile-2020-offline-refresh.png
  ce/field-service/mobile-power-app-configure.md
  ce/field-service/mobile-power-app-get-started.md
Owners: @shellyhaverkamp

daveFSMOffline
  ce/field-service/mobile-power-app-configure.md
  ce/field-service/mobile-power-app-get-started.md
Owners: @shellyhaverkamp

Update mobile-power-app-configure.md
  ce/field-service/mobile-power-app-configure.md
Owners: @shellyhaverkamp

SPF records
  ce/marketing/create-spf-record.md
  ce/marketing/get-ready-email-marketing.md
  ce/marketing/toc.md
Owners: @shellyhaverkamp

Update get-ready-email-marketing.md
  ce/marketing/get-ready-email-marketing.md
Owners: @shellyhaverkamp

Update mobile-power-app-get-started.md
  ce/field-service/mobile-power-app-get-started.md
Owners: @shellyhaverkamp

Add OS / version support matrix for FSM
  ce/field-service/mobile-power-app-get-started.md
Owners: @shellyhaverkamp

update
  ce/portals/configure-knowledge-categories-articles.md
Owners: @shubhadaj

Update create-spf-record.md
  ce/marketing/create-spf-record.md
Owners: @shellyhaverkamp

Update configure-automated-message.md
  ce/omnichannel/administrator/configure-automated-message.md
Owners: none

Revising for style and to match similar work done in the similar Power Apps topic
  ce/customerengagement/on-premises/customize/types-of-fields.md
Owners: none

Update lcw-startchat.md
  ce/omnichannel/developer/reference/events/lcw-startchat.md
Owners: none

Update lcw-onclose.md
  ce/omnichannel/developer/reference/events/lcw-onclose.md
Owners: none

Updated for bug 2001970
  ce/customer-service/automatically-create-update-records.md
Owners: @shubhadaj

Revising for style and to match similar work done in the similar Power Apps topic
  ce/customerengagement/on-premises/customize/types-of-fields.md
Owners: none

Update install-field-service.md
  ce/field-service/install-field-service.md
Owners: @shellyhaverkamp

Update videos.md
  ce/omnichannel/videos.md
Owners: none

Update inspections.md
  ce/field-service/inspections.md
Owners: @shellyhaverkamp

Add files via upload
  ce/customer-service/media/create-a-timeline-record-1.png
Owners: @shubhadaj

Delete create-a-timeline-record-1.png
  ce/customer-service/create-a-timeline-record-1.png
Owners: @shubhadaj

Update inspections.md
  ce/field-service/inspections.md
Owners: @shellyhaverkamp

Task 2065631
  ce/omnichannel/administrator/omnichannel-provision-license.md
Owners: none

Update automation-dictionary-keys.md
  ce/omnichannel/administrator/automation-dictionary-keys.md
Owners: none

Update automation-dictionary-keys.md
  ce/omnichannel/administrator/automation-dictionary-keys.md
Owners: none

fixing typo
  .openpublishing.redirection.json
Owners: none

fixing typo
  .openpublishing.redirection.json
Owners: none

Update troubleshoot-omnichannel-customer-service.md
  ce/omnichannel/troubleshoot-omnichannel-customer-service.md
Owners: none

Update troubleshoot-omnichannel-customer-service.md
  ce/omnichannel/troubleshoot-omnichannel-customer-service.md
Owners: none

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
