Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Additional TRI
  ce/customer-service/international-availability.md
  ce/customer-service/voice-channel-region-availability.md
  ce/customer-service/voice-channel.md
Owners: @shubhadaj

Update Omnichannel availability
  ce/customer-service/international-availability.md
Owners: @shubhadaj

updated ms.date
  ce/customer-service/set-up-queues-manage-activities-cases.md
Owners: @shubhadaj

updated for task 2559307
  ce/customer-service/voice-channel-block-number.md
Owners: @shubhadaj

Change in CS trial availability in EUR, APAC, AUS
  ce/customer-service/voice-channel-region-availability.md
Owners: @shubhadaj

add sp in See also links, re-evalate-->reevaluate
  ce/customer-service/troubleshoot-sla-issues.md
  ce/unified-service-desk/use-window-navigation-rules-unified-service-desk.md
  ce/unified-service-desk/walkthrough-create-custom-hosted-control-for-unified-service-desk.md
Owners: @shubhadaj

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

edit TASK 2559311
  ce/customer-service/voice-channel-block-number.md
Owners: @shubhadaj

edit
  ce/customer-service/voice-channel-block-number.md
Owners: @shubhadaj

Fixed broken links
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

Added section heading and metadata
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

edit
  ce/customer-service/set-up-queues-manage-activities-cases.md
Owners: @shubhadaj

task 2544909
  ce/customer-service/set-up-queues-manage-activities-cases.md
Owners: @shubhadaj

Corrected formatting
  ce/customer-service/configure-teams-chat.md
Owners: @shubhadaj

edits
  ce/customer-service/create-operating-hours.md
  ce/customer-service/queues-omnichannel.md
Owners: @shubhadaj

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

daveCustomizationForm
  ce/field-service/media/customization-form-add-custom-fields.png
  ce/field-service/media/customization-form-copy.png
  ce/field-service/media/customization-form-create-custom.png
  ce/field-service/media/customization-form-create-fields.png
  ce/field-service/media/customization-form-create-fields2.png
  ce/field-service/media/customization-form-field-choice-option-set.png
  ce/field-service/media/customization-form-field-display-name.png
  ce/field-service/media/customization-form-go-to-main.png
  ce/field-service/media/customization-form-hide-field.png
  ce/field-service/media/customization-form-hide-tab.png
  ce/field-service/media/customization-form-move-from-first-tab1.png
  ce/field-service/media/customization-form-move-from-first-tab2.png
  ce/field-service/media/customization-form-process.png
  ce/field-service/media/customization-form-work-order.png
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

daveCustomizationForms
  ce/field-service/field-service-customization-what-to-know.md
  ce/field-service/toc.yml
Owners: @shellyhaverkamp

Update field-service-customization-what-to-know.md
  ce/field-service/field-service-customization-what-to-know.md
Owners: @shellyhaverkamp

Update field-service-customization-what-to-know.md
  ce/field-service/field-service-customization-what-to-know.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

Update optimize-form-performance.md
  ce/customerengagement/on-premises/customize/optimize-form-performance.md
Owners: none

Update field-service-customize-forms.md
  ce/field-service/field-service-customize-forms.md
Owners: @shellyhaverkamp

updates ms.date
  ce/customer-service/voice-channel-block-number.md
Owners: @shubhadaj

updated ToC and topic heading
  ce/customer-service/toc.yml
  ce/customer-service/voice-channel-block-number.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-block-number.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-block-number.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-block-number.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-block-number.md
  ce/customer-service/voice-channel-multi-language-contact-center.md
Owners: @shubhadaj

edit
  ce/customer-service/voice-channel-multi-language-contact-center.md
Owners: @shubhadaj

Update teams-integration.md
  ce/teams-integration/teams-integration.md
Owners: none

Update teams-integration.md
  ce/teams-integration/teams-integration.md
Owners: none

Update deprecate.md
  ce/voice-of-customer/deprecate.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
