Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Update third-party-co-browse.md
  ce/customer-service/third-party-co-browse.md
Owners: @shubhadaj

Update mobile-2020-power-platform.md
  ce/field-service/mobile-2020-power-platform.md
Owners: @shellyhaverkamp

Update mobile-power-app-overview.md
  ce/field-service/mobile-power-app-overview.md
Owners: @shellyhaverkamp

Update mobile-power-app-get-started.md
  ce/field-service/mobile-power-app-get-started.md
Owners: @shellyhaverkamp

Update field-service-version-history-resource-scheduling-optimization.md
  ce/field-service/field-service-version-history-resource-scheduling-optimization.md
Owners: @shellyhaverkamp

Update mobile-powerapp-geofence.md
  ce/field-service/mobile-powerapp-geofence.md
Owners: @shellyhaverkamp

Additional corrections
  ce/customer-service/allow-agents-update-skills.md
  ce/customer-service/create-rules-automatically-route-cases.md
  ce/customer-service/role-persona-mapping.md
  ce/customer-service/set-up-skill-based-routing.md
Owners: @shubhadaj

Typo
  ce/customer-service/set-up-skill-based-routing.md
Owners: @shubhadaj

Updated publish date
  ce/customer-service/set-up-skill-based-routing.md
Owners: @shubhadaj

Update assets-functional-location.md
  ce/field-service/assets-functional-location.md
Owners: @shellyhaverkamp

Acrolinx score improved
  ce/customer-service/set-up-skill-based-routing.md
Owners: @shubhadaj

Update mobile-power-app-system-offline.md
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

RELEAE NOTES UPDATES- FIELD SERVICE
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update csw-search-knowledge-articles.md
  ce/customer-service/csw-search-knowledge-articles.md
Owners: @shubhadaj

ToC entry for search knowledge articles
  ce/customer-service/toc.yml
Owners: @shubhadaj

updated
  ce/sales-enterprise/add-activity-campaign-using-app-marketing-sales.md
  ce/sales-enterprise/add-kanban-control.md
Owners: @shubhadaj

SEO related updated 4
  ce/app-profile-manager/agent-scripts.md
  ce/app-profile-manager/macros.md
  ce/customer-service/configure-facebook-channel.md
  ce/customer-service/configure-sms-channel.md
  ce/customer-service/configure-wechat-channel.md
  ce/customer-service/create-chat-auth-settings.md
  ce/customer-service/create-operating-hours.md
  ce/customer-service/customize-kpis-intraday-insights.md
  ce/customer-service/customize-quick-view-form.md
  ce/customer-service/knowledge-management-oc.md
  ce/customer-service/oc-monitor-real-time-customer-sentiment-sessions.md
  ce/customer-service/overview-skill-work-distribution.md
  ce/customer-service/set-up-chat-widget.md
  ce/customer-service/set-up-entity-workstream.md
  ce/customer-service/supervisor-sentiment-monitoring.md
  ce/customer-service/teams-channel.md
  ce/customer-service/users-user-profiles.md
  ce/unified-service-desk/oc-customizer/configure-communication-panel.md
  ce/unified-service-desk/oc-customizer/create-agent-supervisor-configurations-unified-service-desk.md
  ce/unified-service-desk/oc-customizer/toastnotification-step4-add-action-calls-events.md
Owners: @shubhadaj

removed known issues info
  ce/unified-service-desk/admin/install-upgrade-unified-service-desk-client.md
Owners: @shubhadaj

removed rel notes topic from ToC
  ce/unified-service-desk/toc.yml
Owners: @shubhadaj

updated
  ce/sales-enterprise/add-products-enhanced-experience.md
  ce/sales-enterprise/add-products-opportunity.md
  ce/sales-enterprise/admin-guide.md
  ce/sales-professional/admin-guide.md
Owners: @shubhadaj

removed preview tag , updated See also link
  ce/unified-service-desk/admin/performance-enhancement-CRM-entity-page-loads.md
  ce/unified-service-desk/admin/recover-edge-webview2-process-instance.md
Owners: @shubhadaj

updated moniker range in metadata
  ce/unified-service-desk/admin/whats-new-unified-service-desk-administrators.md
  ce/unified-service-desk/release-history.md
  ce/unified-service-desk/what-s-new-in-unified-service-desk.md
Owners: @shubhadaj

changed Edge to Edge WebView2
  ce/unified-service-desk/admin/whats-new-unified-service-desk-administrators.md
  ce/unified-service-desk/what-s-new-in-unified-service-desk.md
Owners: @shubhadaj

minor edits
  ce/unified-service-desk/admin/overview-unified-service-desk.md
  ce/unified-service-desk/admin/recover-edge-webview2-process-instance.md
  ce/unified-service-desk/admin/whats-new-unified-service-desk-administrators.md
  ce/unified-service-desk/edge-webview2-process.md
  ce/unified-service-desk/what-s-new-in-unified-service-desk.md
Owners: @shubhadaj

Bug update
  ce/sales-enterprise/create-marketing-list-using-app-marketing-sales.md
  ce/sales-enterprise/developer/marketingformdisplayattributessetApi.md
Owners: @shubhadaj

Update create-marketing-list-using-app-marketing-sales.md
  ce/sales-enterprise/create-marketing-list-using-app-marketing-sales.md
Owners: @shubhadaj

minor edits
  ce/customer-service/routing-trigger.md
Owners: @shubhadaj

seo sales
  ce/sales-enterprise/create-edit-campaign-using-app-marketing-sales.md
  ce/sales-enterprise/create-edit-order-sales.md
  ce/sales-enterprise/create-marketing-list-using-app-marketing-sales.md
  ce/sales-enterprise/create-quote-pdf.md
  ce/sales-enterprise/define-lead-qualification-experience.md
  ce/sales-enterprise/enable-enhanced-add-product-experience.md
  ce/sales-enterprise/enable-pdf-generation-quote.md
  ce/sales-enterprise/enhanced-email.md
  ce/sales-enterprise/faqs-sales.md
Owners: @shubhadaj

For 2285347
  ce/customer-service/add-skill-control.md
  ce/customer-service/allow-agents-update-skills.md
  ce/customer-service/set-up-skill-based-routing.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

Update checklist-transition-unified-interface.md
  ce/customerengagement/on-premises/admin/checklist-transition-unified-interface.md
Owners: none

seo sales pro
  ce/sales-enterprise/add-marketing-list-sales-literature-product-campaign-using-app-marketing-sales.md
  ce/sales-enterprise/create-edit-campaign-using-app-marketing-sales.md
  ce/sales-enterprise/create-quote-pdf.md
  ce/sales-professional/activity-kanban-view-sp.md
  ce/sales-professional/add-activity-campaign-using-app-marketing-sp.md
  ce/sales-professional/add-kanban-control-sp.md
  ce/sales-professional/add-marketing-list-sales-literature-product-campaign-using-app-marketing-sp.md
  ce/sales-professional/add-products-enhanced-experience-sp.md
  ce/sales-professional/add-products-opportunity-sp.md
  ce/sales-professional/admin-guide.md
  ce/sales-professional/admin-settings-overview.md
  ce/sales-professional/configure-email.md
  ce/sales-professional/create-edit-campaign-using-app-marketing-sp.md
  ce/sales-professional/create-invoices.md
  ce/sales-professional/create-orders-sp.md
  ce/sales-professional/create-quick-campaign-using-app-marketing-sp.md
  ce/sales-professional/create-quote-pdf-sales-professional.md
  ce/sales-professional/customize-business-process-flows.md
  ce/sales-professional/customize-forms.md
  ce/sales-professional/define-lead-qualification-experience-sp.md
  ce/sales-professional/enable-automatic-generation-quotes-invoices.md
  ce/sales-professional/enable-enhanced-add-product-experience-sp.md
  ce/sales-professional/enable-opportunity-close-customization-sales-professional.md
  ce/sales-professional/enable-pdf-generation-quote-sales-professional.md
  ce/sales-professional/enhanced-email-sp.md
Owners: @shubhadaj

formatting stuff
  ce/field-service/field-service-work-hours-calendar-api.md
Owners: @shellyhaverkamp

Update mobile-2020-power-platform.md
  ce/field-service/mobile-2020-power-platform.md
Owners: @shellyhaverkamp

Update mobile-power-app-system-offline.md
  ce/field-service/mobile-power-app-system-offline.md
Owners: @shellyhaverkamp

Fixed date
  ce/customerengagement/on-premises/whats-new.md
Owners: none

Fixed date
  ce/customerengagement/on-premises/overview.md
Owners: none

Fixed date
  ce/customerengagement/on-premises/deploy/deploy-and-operate-dynamics-365-on-premises.md
Owners: none

Fixed date
  ce/customerengagement/on-premises/deploy/update-to-v91.md
Owners: none

minor topic edits
  ce/app-profile-manager/application-tab-templates.md
Owners: none

Addressed acrolinx scores
  ce/customer-service/allow-agents-update-skills.md
  ce/customer-service/set-up-skill-based-routing.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
