Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Update TOC.md
  ce/mobile-app/TOC.md
Owners: @mduelae, @KumarVivek

edits
  ce/field-service/field-service-version-history-mobile.md
Owners: @shellyhaverkamp

Update oc-notifications.md
  ce/omnichannel/agent/agent-oc/oc-notifications.md
Owners: none

Update oc-notifications.md
  ce/omnichannel/agent/agent-oc/oc-notifications.md
Owners: none

Update migration.md
  ce/mobile-app/migration.md
Owners: @mduelae, @KumarVivek

adds lots
  ce/field-service/inspections-advanced.md
Owners: @shellyhaverkamp

Update omnichannel-readme.md
  ce/omnichannel/omnichannel-readme.md
Owners: none

Update inspections-advanced.md
  ce/field-service/inspections-advanced.md
Owners: @shellyhaverkamp

Update dynamics-365-for-outlook.md
  ce/outlook-addin/admin-guide/dynamics-365-for-outlook.md
Owners: none

Update dynamics-365-for-outlook.md
  ce/outlook-addin/admin-guide/dynamics-365-for-outlook.md
Owners: none

Update dynamics-365-for-outlook.md
  ce/outlook-addin/admin-guide/dynamics-365-for-outlook.md
Owners: none

Update dynamics-365-for-outlook.md
  ce/outlook-addin/admin-guide/dynamics-365-for-outlook.md
Owners: none

Update dynamics-365-for-outlook.md
  ce/outlook-addin/admin-guide/dynamics-365-for-outlook.md
Owners: none

Update customer-voice.md
  ce/marketing/customer-voice.md
Owners: @shellyhaverkamp

Update version-history-ps.md
  ce/project-service/version-history-ps.md
Owners: @shellyhaverkamp

update
  ce/marketing/apply-updates.md
  ce/marketing/media/apply-updates-dynamics-365-apps.png
  ce/marketing/media/apply-updates-environment-name.png
  ce/marketing/media/apply-updates-environments.png
  ce/marketing/media/apply-updates-quick-setup2.png
  ce/marketing/media/apply-updates-settings2.png
  ce/marketing/media/apply-updates-update-available.png
  ce/marketing/media/apply-updates-version2.png
  ce/marketing/media/fre-re-run.png
  ce/marketing/media/fre-re-run2.png
  ce/marketing/purchase-setup.md
  ce/marketing/trial-signup.md
Owners: @shellyhaverkamp

Update re-run-setup.md
  ce/marketing/re-run-setup.md
Owners: @shellyhaverkamp

update
  ce/marketing/manage-marketing-instances.md
  ce/marketing/media/instances-everything-schemas.png
Owners: @shellyhaverkamp

update
  ce/marketing/manage-marketing-instances.md
  ce/marketing/media/instances-backup.png
  ce/marketing/media/instances-copy.png
  ce/marketing/media/instances-overwrite-support4.png
Owners: @shellyhaverkamp

instances to environment
  ce/marketing/admin-best-practices.md
  ce/marketing/admin-guide.md
  ce/marketing/apply-updates.md
  ce/marketing/help-hub.md
  ce/marketing/manage-marketing-environments.md
  ce/marketing/marketing-preview-features.md
  ce/marketing/power-platform-admin-center.md
  ce/marketing/re-run-setup.md
  ce/marketing/tenant-to-tenant.md
  ce/marketing/toc.md
  ce/marketing/transfer-data.md
  ce/marketing/transfer-solution.md
  ce/marketing/uninstall-marketing.md
Owners: @shellyhaverkamp

Update manage-marketing-environments.md
  ce/marketing/manage-marketing-environments.md
Owners: @shellyhaverkamp

fixing errors
  ce/marketing/portal-optional.md
  ce/marketing/uninstall-marketing.md
Owners: @shellyhaverkamp

update errors
  ce/marketing/apply-updates.md
  ce/marketing/power-platform-admin-center.md
  ce/marketing/transfer-data.md
  ce/marketing/transfer-solution.md
Owners: @shellyhaverkamp

metadata updated
  ce/omnichannel/omnichannel-readme.md
Owners: none

Corrected path
  ce/omnichannel/agent/agent-oc/oc-notifications.md
Owners: none

Update oc-notifications.md
  ce/omnichannel/agent/agent-oc/oc-notifications.md
Owners: none

Updated the documentation
  ce/omnichannel/developer/reference/methods/initializeNewConversation.md
Owners: none

Update faqs-sales.md
  ce/sales-enterprise/faqs-sales.md
Owners: @shubhadaj

Update mobile-faq.md
  ce/field-service/mobile-faq.md
Owners: @shellyhaverkamp

Update mobile-faq.md
  ce/field-service/mobile-faq.md
Owners: @shellyhaverkamp

Incorporated new changes in the screenshots and descriptions
  ce/customer-service/csw-view-ai-suggested-cases-knowledge-articles.md
  ce/customer-service/media/csw-annotated-smart-assist-ka.png
  ce/customer-service/media/csw-annotated-smart-assist-similar-cases.png
Owners: @shubhadaj

minor edits
  ce/customer-service/csw-view-ai-suggested-cases-knowledge-articles.md
Owners: @shubhadaj

Update search-knowledge-articles-csh.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Clarifying booking behavior when WO set to Closed-Posted
  ce/field-service/work-order-status-booking-status.md
Owners: @shellyhaverkamp

Update mobile-power-app-configure.md
  ce/field-service/mobile-power-app-configure.md
Owners: @shellyhaverkamp

Update work-order-status-booking-status.md
  ce/field-service/work-order-status-booking-status.md
Owners: @shellyhaverkamp

Add files via upload
  ce/customer-service/media/kb-management-settings.png
  ce/customer-service/media/kb-url-format.png
Owners: @shubhadaj

Update search-knowledge-articles-csh.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Update search-knowledge-articles-csh.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

Update search-knowledge-articles-csh.md
  ce/customer-service/search-knowledge-articles-csh.md
Owners: @shubhadaj

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
