Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Minor edits
  ce/customer-service/define-service-level-agreements.md
Owners: @shubhadaj

For 2277850
  ce/customer-service/data-access-consent.md
Owners: @shubhadaj

Tried a different method of documenting information
  ce/customer-service/media/home-button.png
  ce/customer-service/media/right-arrow.png
  ce/customer-service/media/step-1.png
  ce/customer-service/media/step-2.png
  ce/customer-service/media/step-3.png
  ce/customer-service/media/step-4.png
  ce/customer-service/media/step-5.png
  ce/customer-service/media/step-6.png
  ce/customer-service/provision-unified-routing.md
  ce/customer-service/set-up-record-routing.md
  ce/customer-service/set-up-routing-process.md
Owners: @shubhadaj

Update add-edit-form-navigation-related-entities.md
  ce/customerengagement/on-premises/customize/add-edit-form-navigation-related-entities.md
Owners: none

Replacing absolute with relative link
  ce/customerengagement/on-premises/customize/create-edit-views-app-designer.md
Owners: none

Update toc.yml
  ce/marketing/toc.yml
Owners: @shellyhaverkamp

Update entity-mapping.md
  ce/marketing/entity-mapping.md
Owners: @shellyhaverkamp

Update search-resource-availability-api.md
  ce/field-service/search-resource-availability-api.md
Owners: @shellyhaverkamp

Edits and metadata updates
  ce/customer-service/define-service-level-agreements.md
Owners: @shubhadaj

edits
  ce/customer-service/context-variables-for-bot.md
Owners: @shubhadaj

PM edits
  ce/customer-service/customer-service-hub-user-guide-basics.md
Owners: @shubhadaj

edits
  ce/customer-service/enable-knowledge-article-search-filters.md
Owners: @shubhadaj

edits
  ce/customer-service/enable-knowledge-article-search-filters.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-block-number.md
Owners: @shubhadaj

edits
  ce/customer-service/voice-channel-block-number.md
Owners: @shubhadaj

edits
  ce/customer-service/oc-manage-presence-status.md
  ce/customer-service/relevance-search-chat-transcript.md
Owners: @shubhadaj

typo, edits
  ce/customer-service/oc-conversation-control.md
Owners: @shubhadaj

Updated the appname for SP
  ce/sales-enterprise/add-kanban-control.md
  ce/sales-enterprise/goals-overview.md
  ce/sales-enterprise/security-roles-for-sales.md
  ce/sales-professional/activity-kanban-view-sp.md
  ce/sales-professional/add-kanban-control-sp.md
  ce/sales-professional/add-marketing-list-sales-literature-product-campaign-using-app-marketing-sp.md
  ce/sales-professional/add-product-quote-order-invoice-sp.md
  ce/sales-professional/add-products-enhanced-experience-sp.md
  ce/sales-professional/add-products-qoi-enhanced-sp.md
  ce/sales-professional/assign-records-sales-professional.md
  ce/sales-professional/create-edit-campaign-using-app-marketing-sp.md
  ce/sales-professional/create-invoices.md
  ce/sales-professional/create-marketing-list-using-app-marketing-sp.md
  ce/sales-professional/create-orders-sp.md
  ce/sales-professional/create-price-list.md
  ce/sales-professional/create-products.md
  ce/sales-professional/create-quick-campaign-using-app-marketing-sp.md
  ce/sales-professional/create-quote-pdf-sales-professional.md
  ce/sales-professional/create-quotes-sales-professional.md
  ce/sales-professional/create-unit-group-add-units.md
  ce/sales-professional/customize-add-products-dialog-box-sp.md
  ce/sales-professional/customize-opportunity-close-experience-sales-professional.md
  ce/sales-professional/define-lead-qualification-experience-sp.md
  ce/sales-professional/develop-sales-lead-to-cash-sales-professional.md
  ce/sales-professional/enable-automatic-generation-quotes-invoices.md
  ce/sales-professional/enable-creation-of-orders-from-quotes.md
  ce/sales-professional/enable-enhanced-add-product-experience-sp.md
  ce/sales-professional/enable-opportunity-close-customization-sales-professional.md
  ce/sales-professional/enable-pdf-generation-quote-sales-professional.md
  ce/sales-professional/export-data.md
  ce/sales-professional/gain-insights-dashboards-sales-professional.md
  ce/sales-professional/get-started-app-marketing-sp.md
  ce/sales-professional/import-data.md
  ce/sales-professional/make-price-list-optional-sp.md
  ce/sales-professional/manage-accounts-contacts.md
  ce/sales-professional/manage-activities.md
  ce/sales-professional/manage-leads-sales-professional.md
  ce/sales-professional/manage-opportunities-sales-professional.md
  ce/sales-professional/opportunity-kanban-view-sp.md
  ce/sales-professional/track-marketing-campaign-response-using-app-marketing-sp.md
Owners: @shubhadaj

correction
  ce/customer-service/markdown-formats-dev.md
Owners: @shubhadaj

fix
  ce/customerengagement/on-premises/admin/set-up-skype-or-skype-for-business.md
Owners: none

Release notes updates for Aug 20
  ce/field-service/version-history.md
Owners: @shellyhaverkamp

Update customize-phones-tablets.md
  ce/customerengagement/on-premises/customize/customize-phones-tablets.md
Owners: none

Update iframe-web-resource-support-dynamics-365-phones-tablets.md
  ce/customerengagement/on-premises/customize/iframe-web-resource-support-dynamics-365-phones-tablets.md
Owners: none

Update design-custom-business-apps-using-app-designer.md
  ce/customerengagement/on-premises/customize/design-custom-business-apps-using-app-designer.md
Owners: none

Update requirement map filter view description
  ce/shared/urs/schedule-board-tab-settings.md
Owners: none

Update create-edit-app.md
  ce/customerengagement/on-premises/customize/create-edit-app.md
Owners: none

Update create-site-map-app.md
  ce/customerengagement/on-premises/customize/create-site-map-app.md
Owners: none

Update add-edit-app-components.md
  ce/customerengagement/on-premises/customize/add-edit-app-components.md
Owners: none

Update manage-app-properties.md
  ce/customerengagement/on-premises/customize/manage-app-properties.md
Owners: none

Update validate-app.md
  ce/customerengagement/on-premises/customize/validate-app.md
Owners: none

Update publish-an-app.md
  ce/customerengagement/on-premises/customize/publish-an-app.md
Owners: none

Update manage-access-apps-security-roles.md
  ce/customerengagement/on-premises/customize/manage-access-apps-security-roles.md
Owners: none

Update export-import-remove-app.md
  ce/customerengagement/on-premises/customize/export-import-remove-app.md
Owners: none

Update accessibility-app-designer-site-map-designer-my-apps-page.md
  ce/customerengagement/on-premises/customize/accessibility-app-designer-site-map-designer-my-apps-page.md
Owners: none

Update guide-staff-through-common-tasks-processes.md
  ce/customerengagement/on-premises/customize/guide-staff-through-common-tasks-processes.md
Owners: none

Update business-process-flows-overview.md
  ce/customerengagement/on-premises/customize/business-process-flows-overview.md
Owners: none

Update create-business-process-flow.md
  ce/customerengagement/on-premises/customize/create-business-process-flow.md
Owners: none

Update enhance-business-process-flows-branching.md
  ce/customerengagement/on-premises/customize/enhance-business-process-flows-branching.md
Owners: none

Update add-ready-use-business-processes.md
  ce/customerengagement/on-premises/customize/add-ready-use-business-processes.md
Owners: none

Update create-mobile-task-flow.md
  ce/customerengagement/on-premises/customize/create-mobile-task-flow.md
Owners: none
