Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

Revised per 2152875
  ce/customerengagement/on-premises/admin/sharepoint-document-management-software-requirements.md
Owners: none

Revised per 2152875
  ce/customerengagement/on-premises/admin/sharepoint-document-management-software-requirements.md
Owners: none

Revised per 2152875
  ce/customerengagement/on-premises/admin/sharepoint-document-management-software-requirements.md
Owners: none

Update mobile-power-app-use.md
  ce/field-service/mobile-power-app-use.md
Owners: @shellyhaverkamp

Update overview.md
  ce/field-service/overview.md
Owners: @shellyhaverkamp

Update remote-assist-hololens.md
  ce/field-service/remote-assist-hololens.md
Owners: @shellyhaverkamp

Update view-user-accounts-security-roles.md
  ce/field-service/view-user-accounts-security-roles.md
Owners: @shellyhaverkamp

Update view-user-accounts-security-roles.md
  ce/field-service/view-user-accounts-security-roles.md
Owners: @shellyhaverkamp

daveFSMEndUser
  ce/field-service/media/mobile-2020-asset-properties.png
  ce/field-service/mobile-power-app-use.md
Owners: @shellyhaverkamp

daveFSMEndUser
  ce/field-service/media/mobile-2020-customer-asset-navigate.png
  ce/field-service/mobile-power-app-use.md
Owners: @shellyhaverkamp

Update teams-webinar.md
  ce/marketing/teams-webinar.md
Owners: @shellyhaverkamp

Update customer-insights-segments.md
  ce/marketing/customer-insights-segments.md
Owners: @shellyhaverkamp

Corrected broken link
  ce/customer-service/TOC.md
Owners: @shubhadaj

Corrected for technical accuracy for github issue 2110
  ce/customer-service/create-entitlement-define-support-terms-customer.md
Owners: @shubhadaj

Minor edits
  ce/customer-service/create-entitlement-define-support-terms-customer.md
Owners: @shubhadaj

commit
  ce/customer-service/add-chat-widget.md
  ce/customer-service/media/chat-widget.PNG
  ce/customer-service/persistent-chat.md
Owners: @shubhadaj

Addressed P1 issues
  ce/customer-service/multiple-ws-entity-record-routing.md
  ce/customer-service/set-up-entity-workstream.md
Owners: @shubhadaj

updated image
  ce/customer-service/media/chat-widget.PNG
Owners: @shubhadaj

commit
  ce/customer-service/add-chat-widget.md
  ce/customer-service/media/oc-chat-widget-basic-details-tab.png
  ce/customer-service/oc-manage-sessions.md
Owners: @shubhadaj

commit
  ce/customer-service/oc-manage-sessions.md
Owners: @shubhadaj

updated image
  ce/customer-service/create-chat-auth-settings.md
Owners: @shubhadaj

Added content for ownership a case in the queues.
  ce/customer-service/set-up-queues-manage-activities-cases.md
Owners: @shubhadaj

Edited the queue owner broken link
  ce/customer-service/set-up-queues-manage-activities-cases.md
Owners: @shubhadaj

commit
  ce/customer-service/multiple-ws-entity-record-routing.md
  ce/customer-service/set-up-entity-workstream.md
Owners: @shubhadaj

ToC changed
  ce/sales-enterprise/TOC.md
  ce/sales-enterprise/deprecations-sales.md
  ce/sales-enterprise/overview.md
  ce/sales-enterprise/whats-new.md
Owners: @shubhadaj

format
  ce/sales-enterprise/overview.md
  ce/sales-enterprise/whats-new.md
Owners: @shubhadaj

update
  ce/sales-enterprise/overview.md
Owners: @shubhadaj

Changed date
  ce/app-profile-manager/macros.md
Owners: none

Update fair-use-policy.md
  ce/marketing/fair-use-policy.md
Owners: @shellyhaverkamp

Added missing Runflow macro content
  ce/app-profile-manager/macros.md
  ce/customer-service/media/macro-flow-connector.PNG
Owners: @shubhadaj

Minor changes
  ce/app-profile-manager/macros.md
Owners: none

daveFSMEndUser
  ce/field-service/media/mobile-2020-customer-asset-navigate.png
  ce/field-service/media/mobile-2020-offline-navigate.png
  ce/field-service/media/mobile-2020-offline-refresh2.png
  ce/field-service/mobile-power-app-use.md
Owners: @shellyhaverkamp

Update analytics-predictive-work-duration.md
  ce/field-service/analytics-predictive-work-duration.md
Owners: @shellyhaverkamp

cleaning up
  ce/field-service/cfs-commands.md
  ce/field-service/cfs-device-categories.md
  ce/field-service/cfs-iot-overview.md
  ce/field-service/cfs-powerbi.md
  ce/field-service/cfs-troubleshoot.md
Owners: @shellyhaverkamp

Update cfs-iot-overview.md
  ce/field-service/cfs-iot-overview.md
Owners: @shellyhaverkamp

redirecting + combine topics
  .openpublishing.redirection.json
  ce/field-service/TOC.md
  ce/field-service/cfs-faq.md
  ce/field-service/cfs-troubleshoot.md
Owners: @shellyhaverkamp

daveFSMEnduser
  ce/field-service/media/cfs-device-readings-mobile.png
  ce/field-service/media/remote-assist-booking-deeplink.png
  ce/field-service/mobile-power-app-use.md
Owners: @shellyhaverkamp

Update TOC.md
  ce/mobile-app/TOC.md
Owners: @mduelae, @KumarVivek

Updates for github issue, missed TOC entries
  ce/customer-service/TOC.md
  ce/customer-service/create-entitlement-define-support-terms-customer.md
Owners: @shubhadaj

daveFSMEnduser
  ce/field-service/media/mobile-2020-menu-pin.png
  ce/field-service/mobile-power-app-use.md
Owners: @shellyhaverkamp

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
