Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

Update
  ce/marketing/trial-faq.md
  ce/marketing/trial-signup.md
  ce/shared/trials/trial-faq-platform.md
Owners: @shellyhaverkamp

Update sales-trial-faq.md
  ce/sales-enterprise/sales-trial-faq.md
Owners: @shubhadaj

Update toc.yml
  ce/marketing/toc.yml
Owners: @shellyhaverkamp

Update sign-up-for-sales-trial.md
  ce/sales-enterprise/sign-up-for-sales-trial.md
Owners: @shubhadaj

Update sign-up-for-sales-trial.md
  ce/sales-enterprise/sign-up-for-sales-trial.md
Owners: @shubhadaj

Update toc.yml
  ce/customer-service/toc.yml
Owners: @shubhadaj

TOC update
  ce/marketing/toc.yml
  ce/sales-enterprise/toc.yml
Owners: @shellyhaverkamp, @shubhadaj

Update trial-faq.md
  ce/customer-service/trial-faq.md
Owners: @shubhadaj

Update try-customer-service.md
  ce/customer-service/try-customer-service.md
Owners: @shubhadaj

Screenshot
  ce/marketing/email-bounce-categories.md
  ce/marketing/media/email-bounce-categories-errors.png
Owners: @shellyhaverkamp

Update customer-journeys-create-automated-campaigns.md
  ce/marketing/customer-journeys-create-automated-campaigns.md
Owners: @shellyhaverkamp

Removing confusing fields from sample JWT
  ce/customer-service/create-chat-auth-settings.md
Owners: @shubhadaj

Update toc.yml
  ce/customer-service/toc.yml
Owners: @shubhadaj

Update toc.yml
  ce/customer-service/toc.yml
Owners: @shubhadaj

Updates fpr 2322172
  ce/app-profile-manager/notification-templates.md
  ce/customer-service/media/notification-template-default-entity.png
  ce/customer-service/media/notification-template1.PNG
Owners: @shubhadaj

For Task 2322172
  ce/app-profile-manager/notification-templates.md
  ce/customer-service/oc-notifications.md
Owners: @shubhadaj

For accuracy
  ce/customer-service/oc-notifications.md
Owners: @shubhadaj

Personalization content
  ce/sales-enterprise/personalize-deal-manager.md
Owners: @shubhadaj

Added screenshot
  ce/customer-service/media/case-assignment-notification.png
  ce/customer-service/oc-notifications.md
Owners: @shubhadaj

TRI
  ce/app-profile-manager/notification-templates.md
  ce/customer-service/oc-notifications.md
Owners: @shubhadaj

Moved region question to app-specific section
  ce/marketing/trial-faq.md
  ce/shared/trials/trial-faq-platform.md
Owners: @shellyhaverkamp

Fixed a broken link and an incorrect link
  ce/shared/trials/trial-faq-platform.md
Owners: none

For task 2284105
  ce/customer-service/assignment-methods.md
  ce/customer-service/configure-work-classification.md
  ce/customer-service/queues-omnichannel.md
Owners: @shubhadaj

For 2269990, miscellaneous
  ce/app-profile-manager/overview.md
  ce/app-profile-manager/productivity-tools.md
  ce/app-profile-manager/templates-overview.md
  ce/customer-service/basics-service-service-scheduling.md
  ce/customer-service/channels.md
  ce/customer-service/queues-omnichannel.md
  ce/customer-service/work-with-queues.md
Owners: @shubhadaj

Redirections for Mints
  .openpublishing.redirection.json
  ce/customer-service/customer-service-hub-user-guide-email-convert-template.md
  ce/customer-service/customer-service-hub-user-guide-email-create-signature.md
  ce/customer-service/customer-service-hub-user-guide-email-create-template.md
  ce/customer-service/customer-service-hub-user-guide-email-insert-template.md
  ce/customer-service/customer-service-hub-user-guide-email-overview.md
  ce/customer-service/customer-service-hub-user-guide-timeline-overview.md
  ce/customer-service/email-faqs.md
  ce/customer-service/timeline-faqs.md
Owners: @shubhadaj

Interim
  ce/customer-service/work-with-queues.md
Owners: @shubhadaj

Marco's request
  ce/customer-service/csw-overview.md
Owners: @shubhadaj

Update test-and-troubleshoot-reports.md
  ce/customerengagement/on-premises/analytics/test-and-troubleshoot-reports.md
Owners: none

Update reporting-analytics-with-dynamics-365.md
  ce/customerengagement/on-premises/analytics/reporting-analytics-with-dynamics-365.md
Owners: none

Update get-started-writing-reports.md
  ce/customerengagement/on-premises/analytics/get-started-writing-reports.md
Owners: none

Update example-make-report-context-sensitive.md
  ce/customerengagement/on-premises/analytics/example-make-report-context-sensitive.md
Owners: none

Update improve-report-performance-by-using-filters.md
  ce/customerengagement/on-premises/analytics/improve-report-performance-by-using-filters.md
Owners: none

Update improve-performance-reports.md
  ce/customerengagement/on-premises/analytics/improve-performance-reports.md
Owners: none

Update create-a-new-report-using-sql-server-data-tools.md
  ce/customerengagement/on-premises/analytics/create-a-new-report-using-sql-server-data-tools.md
Owners: none

Update example-limit-number-items-displayed-chart.md
  ce/customerengagement/on-premises/analytics/example-limit-number-items-displayed-chart.md
Owners: none

Update rso-deployment.md
  ce/field-service/rso-deployment.md
Owners: @shellyhaverkamp

Update add-report-navigation.md
  ce/customerengagement/on-premises/analytics/add-report-navigation.md
Owners: none

Update reporting-considerations.md
  ce/customerengagement/on-premises/analytics/reporting-considerations.md
Owners: none

Update publish-reports.md
  ce/customerengagement/on-premises/analytics/publish-reports.md
Owners: none

Update example-display-top-x-values.md
  ce/customerengagement/on-premises/analytics/example-display-top-x-values.md
Owners: none
