Repository tebe372/Dynamics-365-Customer-Engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @Nkrb, @KumarVivek, @phecke, @mduelae, @ReneeW-CPub, @almostdunh

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @Nkrb @KumarVivek @phecke
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @KumarVivek @phecke	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @mduelae @KumarVivek
/ce/outlook-app/	                            @mduelae @KumarVivek
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @Nkrb @KumarVivek @phecke
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek @Nkrb
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh

deleted a file, updated ToC
  ce/customer-service/TOC.md
  ce/customer-service/configure-ongoing-conversations-dashbaord.md
  ce/customer-service/enable-supervisor-settings.md
Owners: @shubhadaj

ADO 2266829
  .openpublishing.redirection.json
Owners: none

Update enable-quick-create.png
  ce/sales-enterprise/sales-mobile/media/enable-quick-create.png
Owners: @shubhadaj

TRI
  ce/customer-service/create-workstreams.md
  ce/customer-service/migrate-workstreams.md
Owners: @shubhadaj

Minor updates
  ce/customer-service/migrate-workstreams.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

Added FAQs cross-reference
  ce/customer-service/migrate-workstreams.md
Owners: @shubhadaj

cross-references
  ce/customer-service/migrate-workstreams.md
  ce/customer-service/set-up-routing-process.md
  ce/customer-service/toc.yml
Owners: @shubhadaj

Update create-workstreams.md
  ce/customer-service/create-workstreams.md
Owners: @shubhadaj

Delete custom-table-before.png
  ce/outlook-app/media/custom-table-before.png
Owners: @mduelae, @KumarVivek

Delete custom-table-after.png
  ce/outlook-app/media/custom-table-after.png
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/custom-table-after.png
  ce/outlook-app/media/custom-table-before.png
Owners: @mduelae, @KumarVivek

Update add-a-custom-entity-to-quick-create.md
  ce/outlook-app/add-a-custom-entity-to-quick-create.md
Owners: @mduelae, @KumarVivek

Update add-a-custom-entity-to-quick-create.md
  ce/outlook-app/add-a-custom-entity-to-quick-create.md
Owners: @mduelae, @KumarVivek

Delete custom-table-after.png
  ce/outlook-app/media/custom-table-after.png
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/custom-table-after.png
Owners: @mduelae, @KumarVivek

Delete custom-table-after.png
  ce/outlook-app/media/custom-table-after.png
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/custom-table-after.png
Owners: @mduelae, @KumarVivek

Update add-a-custom-entity-to-quick-create.md
  ce/outlook-app/add-a-custom-entity-to-quick-create.md
Owners: @mduelae, @KumarVivek

Update add-a-custom-entity-to-quick-create.md
  ce/outlook-app/add-a-custom-entity-to-quick-create.md
Owners: @mduelae, @KumarVivek

Update add-a-custom-entity-to-quick-create.md
  ce/outlook-app/add-a-custom-entity-to-quick-create.md
Owners: @mduelae, @KumarVivek

Update reminders-arrival-time.md
  ce/field-service/reminders-arrival-time.md
Owners: @shellyhaverkamp

Update add-a-custom-entity-to-quick-create.md
  ce/outlook-app/add-a-custom-entity-to-quick-create.md
Owners: @mduelae, @KumarVivek

Update scheduling-self-customers.md
  ce/field-service/scheduling-self-customers.md
Owners: @shellyhaverkamp

Revising update naming per Aengus
  ce/customerengagement/on-premises/whats-new.md
Owners: none

Add files via upload
  ce/outlook-app/media/table-forms-tab.png
Owners: @mduelae, @KumarVivek

Update add-a-custom-entity-to-quick-create.md
  ce/outlook-app/add-a-custom-entity-to-quick-create.md
Owners: @mduelae, @KumarVivek

Update add-a-custom-entity-to-quick-create.md
  ce/outlook-app/add-a-custom-entity-to-quick-create.md
Owners: @mduelae, @KumarVivek

Update customize-the-track-regarding-card.md
  ce/outlook-app/customize-the-track-regarding-card.md
Owners: @mduelae, @KumarVivek

Update add-a-custom-entity-to-quick-create.md
  ce/outlook-app/add-a-custom-entity-to-quick-create.md
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/edit-apps-outlook.png
  ce/outlook-app/media/form-quick-create.png
Owners: @mduelae, @KumarVivek

Add files via upload
  ce/outlook-app/media/app-designer-add-table.png
Owners: @mduelae, @KumarVivek

Update add-a-custom-entity-to-quick-create.md
  ce/outlook-app/add-a-custom-entity-to-quick-create.md
Owners: @mduelae, @KumarVivek

Update add-a-custom-entity-to-quick-create.md
  ce/outlook-app/add-a-custom-entity-to-quick-create.md
Owners: @mduelae, @KumarVivek

Update add-a-custom-entity-to-quick-create.md
  ce/outlook-app/add-a-custom-entity-to-quick-create.md
Owners: @mduelae, @KumarVivek

Update add-a-custom-entity-to-quick-create.md
  ce/outlook-app/add-a-custom-entity-to-quick-create.md
Owners: @mduelae, @KumarVivek

Update add-a-custom-entity-to-quick-create.md
  ce/outlook-app/add-a-custom-entity-to-quick-create.md
Owners: @mduelae, @KumarVivek

Dates
  ce/marketing/real-time-marketing-analytics.md
  ce/marketing/real-time-marketing-asset-library.md
  ce/marketing/real-time-marketing-audience-data.md
  ce/marketing/real-time-marketing-business-goals.md
  ce/marketing/real-time-marketing-channel-optimization.md
  ce/marketing/real-time-marketing-ci-profile.md
  ce/marketing/real-time-marketing-compliance-settings.md
  ce/marketing/real-time-marketing-custom-events.md
  ce/marketing/real-time-marketing-developer-push.md
  ce/marketing/real-time-marketing-email-text-consent.md
  ce/marketing/real-time-marketing-email.md
  ce/marketing/real-time-marketing-event-based-journey.md
  ce/marketing/real-time-marketing-event-triggers.md
  ce/marketing/real-time-marketing-experimentation.md
  ce/marketing/real-time-marketing-faq.md
  ce/marketing/real-time-marketing-install.md
  ce/marketing/real-time-marketing-known-issues.md
  ce/marketing/real-time-marketing-link-tracking-mechanics.md
  ce/marketing/real-time-marketing-natural-language.md
  ce/marketing/real-time-marketing-outbound-text-messaging.md
  ce/marketing/real-time-marketing-overview.md
  ce/marketing/real-time-marketing-push-notifications.md
  ce/marketing/real-time-marketing-segment-based-journey.md
  ce/marketing/real-time-marketing-segments.md
  ce/marketing/real-time-marketing-tile-reference.md
  ce/marketing/real-time-marketing-user-guide.yml
  ce/marketing/toc.md
  ce/marketing/user-guide.md
Owners: @shellyhaverkamp

Update reminders-arrival-time.md
  ce/field-service/reminders-arrival-time.md
Owners: @shellyhaverkamp

Add files via upload
  ce/outlook-app/media/email-to-case.gif
Owners: @mduelae, @KumarVivek

Update auto-populate-data-into-quickcreate.md
  ce/outlook-app/auto-populate-data-into-quickcreate.md
Owners: @mduelae, @KumarVivek
